Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Change lse-logo
  app/javascript/app/assets/partners/lse-logo.png
Due: none

Fix card content
  app/javascript/app/components/card/card-component.jsx
  app/javascript/app/components/card/card-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add keys to Card component
  app/javascript/app/components/card/card-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rearrange dom in Slide cards
  app/javascript/app/components/slide-cards/slide-cards-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Wrap components with API data
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-styles.scss
  app/javascript/app/components/country/laws-and-policies/laws-and-policies.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use structured selector
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
  app/javascript/app/components/country/laws-and-policies/laws-and-policies.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix LawsAndPolicies provider
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider-actions.js
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Address CR fixes
  app/javascript/app/components/card/card-row/card-row-styles.scss
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/slide-cards/slide-cards-component.jsx
  app/javascript/app/components/slide-cards/slide-cards-styles.scss
  app/javascript/app/styles/sticky.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Improve code quality
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
  app/javascript/app/components/slide-cards/slide-cards-component.jsx
  app/javascript/app/components/slide-cards/slide-cards-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Ch ch changes
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add guards to selectors on laws and policies module
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Missing migrations moved to data_uploader gem
  db/migrate/20181026095003_create_platforms.data_uploader.rb
  db/migrate/20181026095004_create_sections.data_uploader.rb
  db/migrate/20181026095005_create_datasets.data_uploader.rb
  db/migrate/20181026095006_create_worker_logs.data_uploader.rb
  db/migrate/20181026095007_add_error_to_worker_logs.data_uploader.rb
  db/migrate/20181026095008_unique_constraints_on_platforms_sections_and_datasets.data_uploader.rb
  db/secondbase/structure.sql
  db/structure.sql
Due: none

Set app name through the gem initializer rather than pass through env var
  .env.sample
  Gemfile
  Gemfile.lock
  config/initializers/aws.rb
  config/initializers/data_uploader.rb
Due: none

Update description of laws and policies module
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get total laws and policies count from API to display on the GRI/LSE logo
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reorder text on LSE logo in legislation module
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update LSE api endpoint
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove extra slash in endpoint
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Don't retry fetching failed laws and policies request
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

remove old comment
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixed migration numbers
  db/migrate/20180926092216_create_platforms.data_uploader.rb
  db/migrate/20180926092245_create_sections.data_uploader.rb
  db/migrate/20180926092304_create_datasets.data_uploader.rb
  db/migrate/20181002152649_create_worker_logs.data_uploader.rb
  db/migrate/20181003090648_add_error_to_worker_logs.data_uploader.rb
  db/migrate/20181026095007_add_error_to_worker_logs.data_uploader.rb
  db/structure.sql
Due: none

Move fetching to separate service, add spec
  app/controllers/api/v1/lse_laws_and_policies_controller.rb
  app/services/single_record_fetcher.rb
  config/routes.rb
  fixtures/vcr_cassettes/laws_and_policies.yml
  spec/controllers/api/v1/lse_laws_and_policies_controller_spec.rb
Due: none

Add proxy endpoint for retrieving LSE data
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/lse_laws_and_policies_controller.rb
  config/routes.rb
Due: none

Update spec, fix single record fetcher service, update lse actions provider
  app/controllers/api/v1/lse_laws_and_policies_controller.rb
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider-actions.js
  app/services/single_record_fetcher.rb
  spec/services/single_record_fetcher_spec.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unused dependency
  Gemfile
  Gemfile.lock
Due: none

Improve specs for LSE proxy endpoint
  spec/controllers/api/v1/lse_laws_and_policies_controller_spec.rb
  spec/services/single_record_fetcher_spec.rb
Due: none

Updates deployment config
  Dockerfile
  k8s/staging/deployment.yaml
Due: none

TMP: recreate database
  entrypoint.sh
  k8s/staging/deployment.yaml
Due: none

Update migrations to avoid crashing if constants already exist
  db/migrate/20181026095008_unique_constraints_on_platforms_sections_and_datasets.data_uploader.rb
Due: none

Add tooltips to button group and info buttons
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/button/info-button/info-button-component.jsx
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
  app/javascript/app/styles/base.scss
  app/javascript/app/styles/global.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update db structura after migration
  db/secondbase/structure.sql
  db/structure.sql
Due: none

Match all tooltip styles
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/styles/base.scss
  app/javascript/app/styles/global.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change button text and remove year defaults
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix caching
  app/controllers/api/v1/lse_laws_and_policies_controller.rb
  app/services/single_record_fetcher.rb
  spec/controllers/api/v1/lse_laws_and_policies_controller_spec.rb
  spec/services/single_record_fetcher_spec.rb
Due: none

Update info window slugs. including ndc_cait
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change cache key
  app/services/single_record_fetcher.rb
Due: none

Fix column width to 100 in historical emissions
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use download dropdown instead of download all data button
  app/javascript/app/components/download-menu/download-menu-component.jsx
  app/javascript/app/components/download-menu/download-menu-styles.scss
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add All Selected option to dropdowns and update defaults and clear value
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters.js
  app/javascript/app/components/dropdown/dropdown.js
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix unit row line-height
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/table/table-styles.scss
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
