Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Temporarily hide the navbar 2025 NDC Tracker link
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove AbbrReplace from the 2025 NDC Tracker timeline Tooltips
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adjust 2025 NDC Tracker chart component hyperlinks
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix display of 2025 NDC tracker explore button (yellow)
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove polyfill.io Original one is compromised and is no longer of use
  app/views/layouts/application.html.erb
Due: none

Update about-permissions-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Switch NDCs faq last question to HTML
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add table section to the new 2025 NDC tracker
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/enhancements-2025-legend/enhancements-2025-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/enhancements-2025-legend/enhancements-2025-legend.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/enhancements-2025-legend/enhancements-2025-legend.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-cell-renderer.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/ndcs-enhancements-2025-sections/ndcs-enhancements-2025-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Open the ndc enhancement tracker's custom-compare link in a new page
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update about-faq-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

REMOVE: mocking call to countries_documents and apiWithCache in order to bypass local development limitations
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
  app/javascript/app/services/api.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: INDC importer
  app/services/import_indc.rb
Due: none

Create initial 2025 NDC Tracker page
  app/javascript/app/data/seo.js
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-selectors.js
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-styles.scss
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create intro for the new 2025 NDC Tracker page
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix embed url generation for components embedded with the old contained url
  app/javascript/app/components/modal-share/modal-share.js
  app/javascript/app/layouts/embed/embed-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Disable max-length linting for the new 2025 NDC tracker page's description
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add map section to the new 2025 NDC tracker
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-tooltip/ndcs-enhancements-2025-tooltip-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-tooltip/ndcs-enhancements-2025-tooltip.jsx
  app/javascript/app/routes/app-routes/ndcs-enhancements-2025-sections/ndcs-enhancements-2025-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Approximate 2025 map section to the original designs
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update ndcs-explore-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add NDC 2025 timeline component to the intro
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-actions.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-reducers.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-styles.scss
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/timeline.json
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Bring back the 2025 tracker chart component section
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/mockup.json
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
  app/javascript/app/routes/app-routes/ndcs-enhancements-2025-sections/ndcs-enhancements-2025-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove 2025 NDCS enhancements disclaimer - no longer needed
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add ndc-2025-provider used by the 2025 ndc timeline
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-actions.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-reducers.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider.js
  app/javascript/app/providers/ndc-2025-provider/timeline.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert "REMOVE: mocking call to countries_documents and apiWithCache in order to bypass local development limitations"
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
  app/javascript/app/services/api.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

feat: NDC timeline implementation
  app/controllers/api/v1/data/ndc_content/timelines_controller.rb
  app/models/indc/timeline.rb
  app/serializers/api/v1/data/ndc_content/timeline_serializer.rb
  app/services/import_indc.rb
  config/routes.rb
  db/migrate/20240924080237_create_indc_timelines.rb
  db/structure.sql
  spec/controllers/api/v1/data/ndc_content/timelines_controller_spec.rb
  spec/factories/indc_timelines.rb
  spec/models/indc/timeline_spec.rb
  spec/services/import_indc_spec.rb
  spec/support/schemas/api/v1/data/ndc_content_timelines.json
Due: none

Mock countries_documents call to production; broken on staging
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove hardcoded baseUrl from apiWithCache
  app/javascript/app/services/api.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

mocked dat from table
  .github/workflows/tests.yml
  Dockerfile
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/mock.json
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-actions.js
  app/javascript/app/providers/ndcs-provider/ndcs-provider-actions.js
  app/javascript/app/services/api.js
  db/structure.sql
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

hardcoded API removed
  Dockerfile
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-component.jsx
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unused buttons and header from the 2025 map
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update table legend
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/enhancements-2025-legend/enhancements-2025-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-chart-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-actions.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-reducers.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider.js
  app/javascript/app/providers/ndc-2025-timeline-provider/timeline.json
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Get real data into the charts and map - WIP
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-chart-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove log
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-actions.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add utility buttons
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-actions.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/timeline.json
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-chart-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
  app/javascript/app/providers/ndc-2025-provider/mockup.json
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-actions.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-reducers.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-actions.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider.js
  app/javascript/app/reducers.js
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: New data uploader definition
  config/data_uploader.yml
Due: none

Remove unused 2025 providers, add endpoint to ndc timeline
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-actions.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/providers/ndc-2025-provider/mockup.json
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-actions.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-reducers.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-actions.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-reducers.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix table data
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-cell-renderer.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add actions and reducers for timeline
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-actions.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-reducers.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fiz timeline
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-actions.js
  app/javascript/app/providers/ndc-2025-timeline-provider/timeline.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
