Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Add path parser function
  app/javascript/app/components/footer/footer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use margin bottom also for mobile
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix overflow fix
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
  app/javascript/app/pages/country/country-styles.scss
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Dont auto sort in Linkages dropdown (Its already sorted)
  app/javascript/app/components/dropdown/dropdown.js
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix legend selector z-index
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Dont use extra prop for center mobile. Use custom center from parent
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds apostrophe
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reduce list of featured tags, limit pinned to two items
  app/javascript/app/components/stories/stories-actions.js
  app/models/story.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update mixins with vertical grid
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Layout update
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Stories styles with xy grid
  app/javascript/app/components/stories/stories-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Delete inner layout styles on nav component
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add grid to navbar component
  app/javascript/app/components/navbar/navbar-component.jsx
  app/javascript/app/components/navbar/navbar-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix lint errors
  app/javascript/app/components/navbar/navbar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add grid to navbar mobile
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add grid direction to columns mixin
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

minor padding fixes
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-styles.scss
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

1.3.0
  package-lock.json
  package.json
Due: none

Linter fix
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix css details
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

1.3.1
  package-lock.json
  package.json
Due: none

Navigation styles fixes
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/navbar/navbar-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Grid mixin vertical columns
  app/javascript/app/components/navbar/navbar-styles.scss
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

linter fixes
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

recover original home component structure
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show disclaimer only once in country GHG emissions
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
  app/javascript/app/components/country/country-ghg/country-ghg-styles.scss
  app/javascript/app/components/disclaimer/disclaimer-component.jsx
  app/javascript/app/components/disclaimer/disclaimer-styles.scss
  app/javascript/app/components/disclaimer/disclaimer.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add flex basis to nav items
  app/javascript/app/components/navbar/navbar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add disclaimer to country ghg info modal. Use target="_blank"
  app/javascript/app/components/disclaimer/disclaimer-component.jsx
  app/javascript/app/components/disclaimer/disclaimer-styles.scss
  app/javascript/app/components/modal-metadata/modal-metadata-component.jsx
  app/javascript/app/pages/country/country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Close modals on click outside and fix wrong Proptype
  app/javascript/app/components/modal-metadata/modal-metadata-component.jsx
  app/javascript/app/components/modal/modal-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update home images markup
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix bottom bar break on mobile
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add navbar padding mixin
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change grid on country section
  app/javascript/app/pages/country/country-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add classes on country component
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update header background handling
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/components/header/header-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Extract gradient from layout on anchor nav
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add xy grid to ghg emissions
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country/country-ghg/country-ghg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix linter complain
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country/country-ghg/country-ghg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update vulnerability cards grid
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/country/country-climate-vulnerability/prep-card/prep-card.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix linter complains
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss
