Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated formating function
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add colon
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Createw user report component and add it to homepage
  app/javascript/app/components/user-report/user-report-component.jsx
  app/javascript/app/components/user-report/user-report-styles.scss
  app/javascript/app/components/user-report/user-report.js
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update button styles
  app/javascript/app/components/user-report/user-report-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add USER_REPORT_ID to production and dev environments
  .env.sample
  Dockerfile
  Dockerfile-dev
  app/javascript/app/components/user-report/user-report-component.jsx
  config/webpack/production.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add break by metric dropdown filter
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-data.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph.js
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Implement metric filter
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Refactor
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/utils/defaults.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Replace local 'metrics' array with 'METRIC_OPTIONS' from utils
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-data.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/utils/defaults.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove commented code from agriculture selectors
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add suffix to GHG left axis
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change download button tooltip text
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add variables to jenkinsfile and webpack development
  Dockerfile
  Jenkinsfile
  config/webpack/development.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix problem with links after sort in NDC content table
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds keys to k8
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

Use METRIC_OPTIONS from constants.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/utils/defaults.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Check conflicts in gases and sector selectors and rephrase info text
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make subscribe section responsive
  app/javascript/app/pages/home/subscribe-section/input-theme.scss
  app/javascript/app/pages/home/subscribe-section/subscribe-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make description in video player section responsive
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Layout & mobile
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update styles on context by country
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Make user cases section responsive
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make latest updates section responsive
  app/javascript/app/components/tile/tile-component.jsx
  app/javascript/app/components/tile/tile-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use right key name to test
  Jenkinsfile
Due: none

add user_report_key on jenkins
  Jenkinsfile
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

fixes syntax error
  Jenkinsfile
Due: none

Add chart
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix mobile styles
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change the phrasing
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Linter
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make carousel section responsive
  app/javascript/app/components/tile/tile-styles.scss
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update cw-components
  package.json
  yarn.lock
Due: none

Cleaning
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix responsive padding for latest updates and users cases sections
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add responsive fixes to carusel section
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Default to ALL GHG when gases dropdown is cleared
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-providers.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Substitute navive flat for lodash flatten avoid android chrome crash
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Capitalize SDG
  app/admin/global_cw_platform/sdgs.rb
Due: none

Adds ndc_sdg_targets config files and admin file
  app/admin/global_cw_platform/ndc_sdg_targets.rb
  config/data_uploader.yml
Due: none

fix typo in section name
  app/admin/global_cw_platform/ndc_sdg_targets.rb
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
