Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

upps fix countries documents
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

remove security schedule check
  .github/workflows/security.yml
Due: none

update dependencies, ruby and bundler versions
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  config/deploy.rb
  infrastructure/templates/server_setup.sh.tpl
Due: none

WIP - accordion order by value id, show all indicator - values
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
  app/serializers/api/v1/indc/indicator_serializer.rb
  app/serializers/api/v1/indc/value_serializer.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add separator for definition list
  app/javascript/app/components/definition-list/definition-list-component.jsx
  app/javascript/app/components/definition-list/definition-list-styles.scss
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update bundle
  Gemfile.lock
Due: none

Update about-faq-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update about-permissions-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

update sec issues
  Gemfile.lock
Due: none

energy and employment data files
  app/services/import_country_profile.rb
  config/data_uploader.yml
  spec/services/import_country_profile_spec.rb
Due: none

change re_employment to be time series
  app/services/import_country_profile.rb
  spec/services/import_country_profile_spec.rb
Due: none

change indicator name
  app/services/import_country_profile.rb
  spec/services/import_country_profile_spec.rb
Due: none

Add hotjar to application erb
  app/javascript/app/components/hot-jar-script/hot-jar-script-component.jsx
  app/javascript/app/components/hot-jar-script/hot-jar-script.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/views/layouts/application.html.erb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix no country and document selected message for ndcs custom compare
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

update links to new custom ndc compare page, default selected document should be latest ndc
  app/javascript/app/components/compare/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/home/carousel-section/carousel-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

better naming
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

do not show empty rows in custom compare
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add id to indicator serializer when locations_documents provided
  app/models/indc/indicator.rb
Due: none

adds tooltip with ranking in ranking bar
  app/javascript/app/pages/country/country-header/country-header-component.jsx
  app/javascript/app/pages/country/country-header/country-header-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adds consistent rounding and 2 decimals to country scores
  app/javascript/app/pages/country/country-header/country-header-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

better responsive for country commitments
  app/javascript/app/components/country/country-climate-commitments/country-climate-commitments-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

update texts for commitments
  app/javascript/app/components/country/country-climate-commitments/country-climate-commitments-component.jsx
  app/javascript/app/components/country/country-climate-commitments/country-climate-commitments-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

climate enhancements: updates title + improves responsive
  app/javascript/app/components/country/country-climate-enhancements/country-climate-enhancements-component.jsx
  app/javascript/app/components/country/country-climate-enhancements/country-climate-enhancements-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

sort by document frontend
  app/javascript/app/providers/ndcs-explore-provider/ndcs-explore-provider-actions.js
  app/javascript/app/utils/indctransform.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

move sorting to the backend
  app/controllers/api/v1/ndcs_controller.rb
  app/javascript/app/providers/ndcs-explore-provider/ndcs-explore-provider-actions.js
  app/javascript/app/utils/indctransform.js
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix ndc 2020 tracker
  app/javascript/app/utils/indctransform.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix gh actions
  .github/workflows/frontend tests.yml
  .github/workflows/tests.yml
Due: none

include Adaptation NDC metadata info in ndcs explore page
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg emissions: fixes color for land use and forestry sector
  app/javascript/app/components/country/emission-sources-chart/emission-sources-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg emissions: updates tooltip text
  app/javascript/app/components/country/emission-sources-chart/emission-sources-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

emission drivers: updates section title
  app/javascript/app/components/country/country-emission-drivers/country-emission-drivers-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

emission drivers: no data available
  app/javascript/app/components/card-graph/card-graph-component.jsx
  app/javascript/app/components/card-graph/card-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

vulnerability and readiness: adds tooltip to snapshot icons
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

refactor, add separator and multiple indicator values function for custom compare
  app/javascript/app/components/compare-definition-list/compare-definition-list-component.jsx
  app/javascript/app/components/compare-definition-list/compare-definition-list-styles.scss
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
  app/models/indc/indicator.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
  app/serializers/api/v1/indc/value_serializer.rb
  app/services/import_indc.rb
  db/migrate/20220519084239_add_group_index_to_indc_values.rb
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

subnational actions: updates title
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

subnational actions: cities chart - tooltip parse
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

small refactor, speed up indc import
  app/services/import_indc.rb
Due: none

subnational actions: adds external link icon
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

subnational actions: subtitle typo
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
