Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix wrong div order
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Delete unnecesary wrapper div on sdg table
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add margin and max width to sdg wrapper
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix footer partners
  app/javascript/app/components/footer/footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

1.2.0
  package-lock.json
  package.json
Due: none

Fix timeline z-index and width
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
  app/javascript/app/pages/country/country-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix legend and make compare button clickable
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
  app/javascript/app/pages/country/country-styles.scss
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Hide legend options selection cursor
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix redux-tools library using local version for now
  app/javascript/app/components/my-climate-watch/my-insights/my-insights-actions.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-actions.js
  app/javascript/app/providers/login-provider/login-provider-actions.js
  app/javascript/app/reducers.js
  app/javascript/app/utils/redux-tools/createAction.js
  app/javascript/app/utils/redux-tools/createThunkAction.js
  app/javascript/app/utils/redux-tools/handleAction.js
  app/javascript/app/utils/redux-tools/handleActions.js
  app/javascript/app/utils/redux-tools/handleModule.js
  app/javascript/app/utils/redux-tools/index.js
  app/javascript/app/utils/redux-tools/ownKeys.js
  app/javascript/app/utils/redux.js
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Mirror dropdown to show all options on mobile
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove margin left from the vulnerabilities list
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Only mirror dropdown on the second selected legend tag
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove full lenght in geographical coverage, smaller rows
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix text typos
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show full description in ESP table scenarios, dont cut the text with the border, enlarge a bit the columns
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add mobile styles and behavior to navbar on tablet landscape
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/layouts/app/app-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Avoid contact us wrap
  app/javascript/app/components/contact/contact-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add partners title
  app/javascript/app/components/footer/footer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Clear Ndc full selection on unmount
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix sticky margins
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix margins in map and
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Changed variable styles name
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Undo responsive menu styling (waiting for design proposal)
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/layouts/app/app-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated footer styles
  app/javascript/app/components/contact/contact-styles.scss
  app/javascript/app/components/footer/footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix margin - Little adjust to align start map to text (36 instead of 40)
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add logos alphabetical sort
  app/javascript/app/components/footer/footer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix rows in mobile
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Min height for no results
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add grid fixed width to footer items
  app/javascript/app/components/footer/footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add mobile navbar to medium screens
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/layouts/app/app-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix selector font size and button border
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/pages/country-compare/country-compare-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix title and buttons z index
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix map grid gutter
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix title and selectors bottom margin
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Remove full screen . Fix section paddings
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix pathways hash navigation offset
  app/javascript/app/pages/country/country-styles.scss
  app/javascript/app/pages/emission-pathways/emission-pathways-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update screenshots
  app/javascript/app/assets/screenshots/country-bg-screenshot.jpg
  app/javascript/app/assets/screenshots/ndc-explore-bg-screenshot.jpg
  app/javascript/app/assets/screenshots/ndc-sdg-bg-screenshot.jpg
Due: none

Fixed selectors margin
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Include row and column mixin to catch em all
  app/javascript/app/components/contact/contact-styles.scss
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/navbar/navbar-component.jsx
  app/javascript/app/components/navbar/navbar-styles.scss
  app/javascript/app/components/section/section-component.jsx
  app/javascript/app/components/section/section-styles.scss
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/styles/layout.scss
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Include fix in stylelint
  .lintstagedrc
Due: none
