Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

fix: on mount component not fetching
  app/javascript/app/pages/ndc-search/ndc-search-actions.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Added location object to full text search response
  app/serializers/api/v1/location_nano_serializer.rb
  app/serializers/api/v1/ndc_full_text_search_result_serializer.rb
  app/serializers/api/v1/ndc_full_text_serializer.rb
Due: none

Filter out any extra documents per country temporarily
  app/controllers/api/v1/ndc_full_texts_controller.rb
Due: none

redner correct country name in result list
  app/javascript/app/components/ndcs-search-map/ndcs-search-map-selectors.js
  app/javascript/app/components/result-card/result-card-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

add background image to ndcs
  app/javascript/app/pages/ndcs/ndcs-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

remove extra id from div, eslint disable remove
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: full results from new location data
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: history and related props in search not getting from props
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix tooltips before data fetch
  app/javascript/app/components/ndcs-map/ndcs-map.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

change autocomplete to use dropdwon for better interaction, update styles on home page
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/autocomplete-search/autocomplete-search-selectors.js
  app/javascript/app/components/autocomplete-search/autocomplete-search.js
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/pages/country/country-selectors.js
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Rename migration to fix typo
  db/migrate/20170907105915_rename_historical_emissions_tables.rb
Due: none

Update import process
  app/services/import_historical_emissions.rb
  db/migrate/20170913132252_add_annex_type_to_historical_emissions_sectors.rb
  db/schema.rb
  spec/services/import_historical_emissions_spec.rb
Due: none

Add `date_before` and `date_after` query params
  app/controllers/api/v1/historical_emissions_controller.rb
  app/serializers/api/v1/historical_emissions/record_serializer.rb
Due: none

Fix spec
  app/services/import_historical_emissions.rb
  spec/factories/historical_emissions_records.rb
  spec/services/import_historical_emissions_spec.rb
Due: none

Make rubocop happy
  app/serializers/api/v1/historical_emissions/record_serializer.rb
  app/services/import_historical_emissions.rb
Due: none

Use oj (fast json parser) gem
  Gemfile
  Gemfile.lock
  config/initializers/oj.rb
Due: none

Refactor Hash[] usage
  app/controllers/api/v1/historical_emissions_controller.rb
Due: none

Add OTHER field to emissions endpoint
  app/controllers/api/v1/historical_emissions_controller.rb
  app/serializers/api/v1/historical_emissions/record_serializer.rb
Due: none

update auto complete to dropdown
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

About page styles and links
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/about/about-styles.scss
  app/javascript/app/pages/about/about.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Get user country location
  app/javascript/app/actions.js
  app/javascript/app/data/country-codes.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-selectors.js
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/home/home.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider-actions.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider-component.jsx
  app/javascript/app/providers/geolocation-provider/geolocation-provider-reducers.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove robot font
  app/javascript/app/components/accordion/accordion-styles.scss
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/components/result-card/result-card-styles.scss
  app/javascript/app/components/results-list/results-list-styles.scss
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
  app/javascript/app/components/search/search-styles.scss
  app/javascript/app/styles/content.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

add arrow icon on hover to dropdown component
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Make rubocop happy
  app/controllers/api/v1/historical_emissions_controller.rb
Due: none

Update historical emissions import spec
  spec/services/import_historical_emissions_spec.rb
Due: none

Update historical emissions fixture factories
  spec/factories/data_sources.rb
  spec/factories/gases.rb
  spec/factories/historical_emissions.rb
  spec/factories/historical_emissions_data_sources.rb
  spec/factories/historical_emissions_gases.rb
  spec/factories/historical_emissions_records.rb
  spec/factories/historical_emissions_sectors.rb
  spec/factories/sectors.rb
Due: none

Fix spec for historical emissions models
  spec/models/data_source_spec.rb
  spec/models/historical_emissions/data_source_spec.rb
  spec/models/historical_emissions/gas_spec.rb
  spec/models/historical_emissions/record_spec.rb
  spec/models/historical_emissions/sector_spec.rb
Due: none

Add /emissions endpoint
  app/controllers/api/v1/historical_emissions_controller.rb
  app/serializers/api/v1/historical_emissions/record_serializer.rb
  config/routes.rb
Due: none

Add spec for historical emissions controller
  spec/controllers/api/v1/historical_emissions_controller_spec.rb
Due: none

Make rubocop happier
  app/services/import_historical_emissions.rb
Due: none

change schema, models and import process
  app/models/data_source.rb
  app/models/gas.rb
  app/models/historical_emission.rb
  app/models/historical_emissions.rb
  app/models/historical_emissions/data_source.rb
  app/models/historical_emissions/gas.rb
  app/models/historical_emissions/record.rb
  app/models/historical_emissions/sector.rb
  app/models/location.rb
  app/models/sector.rb
  app/services/import_historical_emissions.rb
  db/migrate/20170907105915_rename_historical_emisisons_tables.rb
  db/schema.rb
Due: none

set option link arrow to show only on focused
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
