Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix title attribute
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Inscrease size of the columns on the custom-compare page
  app/javascript/app/components/definition-list/definition-list-styles.scss
  app/javascript/app/pages/custom-compare/custom-compare-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix unit and scale depending on calculations
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-table-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Start right table on the end
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

include LSE data on the ndcs filtered response
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

use underscore instead of hifens
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/indc/countries_documents_serializer.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

forgot to change in some places
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

filter by normalized_slug
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Fix Compare-all-targets table for selected sectoral/framework documents
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

filter out the data that are not for specific laws
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

handle booleans, filter non economy wide
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

Remove tag from cards update from NCD country
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove LTS tracker and LTS feature tag
  .env.sample
  Dockerfile
  Jenkinsfile
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table.js
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz.js
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-lts/ndcs-lts-actions.js
  app/javascript/app/pages/ndcs-lts/ndcs-lts-component.jsx
  app/javascript/app/pages/ndcs-lts/ndcs-lts-reducers.js
  app/javascript/app/pages/ndcs-lts/ndcs-lts-styles.scss
  app/javascript/app/pages/ndcs-lts/ndcs-lts.js
  app/javascript/app/reducers.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/lts-tracker-sections/lts-tracker-sections.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix table, missing guard
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add redirect from lts tracker
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Always filter content by document
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Select last ndc country accordion doc and filter the call
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-actions.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix default documents selection for sectoral/framework groups
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/routes/app-routes/custom-compare-routes/custom-compare-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix error
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Guard on ghg_sources
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Conditionally render Back button
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix document slugs parsing
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change constant name
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sort explore-ndcs/-lts table data on load
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update text and capitalize 'Parties'
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set production k8s resource quotas
  k8s/production/deployment.yaml
Due: none

Fetch only needed indicators
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section.js
  app/javascript/app/pages/ndcs/ndcs-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix second_ndc calculations on the NDCS-explore page
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

avoid N+1 calls for these types of objects
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

Always pick the last document
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Order donut chart data by value
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Filter out second_ndc documents without submission data on the ndc-country page
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

include document_slug for ndc_content overview
  app/serializers/api/v1/indc/value_overview_serializer.rb
Due: none

Fix hover over legend and map interaction with the donut chart
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
  app/javascript/app/components/ndcs/shared/legend-item/legend-item-component.jsx
  app/javascript/app/components/ndcs/shared/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds filtering by subcategory, and improves the filtering code a bit
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Overview text and indicator updates
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
