Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Update pathway path in seo helper
  app/helpers/seo_helper.rb
Due: none

Add map tooltip theme styles
  app/javascript/app/styles/themes/map-tooltip/map-tooltip.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add theme to ndc-sdg map
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add country to map state
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete tooltip styles from ndc-sdg
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update tooltip info
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Put country compare selector inside country compare folder
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-selectors.js
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-styles.scss
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add component to vulnerability section
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/routes/app-routes/country-compare-sections/country-compare-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create vunerability component
  app/javascript/app/components/country-compare/country-compare-climate-vulnerability/country-compare-climate-vulnerability-component.jsx
  app/javascript/app/components/country-compare/country-compare-climate-vulnerability/country-compare-climate-vulnerability.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

small flag for embed config
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/render-chart/render-chart-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Get stories from API
  app/javascript/app/components/stories/stories-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Nil values have been introduced, check for them before trying to import
  app/services/import_ndc_sdg_targets.rb
Due: none

Show chart, filter and Calculation options WIP
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart.js
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/providers/emissions-provider/emissions-provider-actions.js
  app/javascript/app/providers/emissions-provider/emissions-provider-reducers.js
  app/javascript/app/providers/emissions-provider/emissions-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Bring Ghg emissions and Pathways to the first nav level
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add vulnerability descriptions to constants
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add border to selector
  app/javascript/app/pages/country-compare/country-compare-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix country selector - It was deleting other params
  app/javascript/app/components/country-compare-selector/country-compare-selector.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix calculation charts - WIP
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix location name and export calculatedRatio to utils
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/utils/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add some conditions to fix errrors
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/utils/ghg-emissions.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix IE
  app/javascript/app/app.jsx
  app/javascript/app/components/hamburger/hamburger-actions.js
  app/javascript/app/components/hamburger/hamburger-reducers.js
  app/javascript/app/components/hamburger/hamburger.js
  app/javascript/app/reducers.js
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove x from legend, fix loading
  app/javascript/app/components/charts/chart/chart-component.jsx
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixed legend colors
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Give min height to chart
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change path for circle on circular chart
  app/javascript/app/components/circular-chart/circular-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

delete country compare vulnerability component
  app/javascript/app/components/country-compare/country-compare-climate-vulnerability/country-compare-climate-vulnerability-component.jsx
  app/javascript/app/components/country-compare/country-compare-climate-vulnerability/country-compare-climate-vulnerability.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add sticky header color to country-compare page
  app/javascript/app/styles/sticky.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add climate vulnerability to compare sections
  app/javascript/app/routes/app-routes/country-compare-sections/country-compare-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add link and prepare for responsive
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart.js
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add styles to circular chart
  app/javascript/app/components/circular-chart/circular-chart-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update climate vulnerability selector to accept search params
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix selector style
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/country-compare-selector/country-compare-selector-styles.scss
  app/javascript/app/components/dropdown/dropdown-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix embed and embed route
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add circular and line charts updates
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix anchornav, adjust selector
  app/javascript/app/components/country-compare-selector/country-compare-selector-styles.scss
  app/javascript/app/styles/sticky.scss
Due: stylelint --syntax=scss ./src/**/*.scss

WIP adding charts to editor
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-actions.js
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-component.jsx
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-initial-state.js
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-reducers.js
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-styles.scss
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/components/charts/line/line.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/components/charts/line/utils.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/components/selectable-list/selectable-list-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/components/selectable-list/selectable-list-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/components/selectable-list/selectable-list.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/viz-creator-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/viz-creator-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/viz-creator-initial-state.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/viz-creator-reducers.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/viz-creator-selectors.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/viz-creator-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/_viz-creator/viz-creator.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/barchart/barchart-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/components/widget-picker/widget-picker-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updates Rails version
  Gemfile
  Gemfile.lock
Due: none

Remove ghg emission reducer. Use provider instead
  app/javascript/app/components/ghg-emissions/ghg-emissions-actions.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-reducers.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove x axis base line to highlight the 0 when we have negative values
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
