Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

make all links exact
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Include map zoom
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map-styles.scss
  app/javascript/app/components/ndc/ndc-component.jsx
  package.json
  yarn.lock
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

On country press and computed map styles
  app/javascript/app/components/map/map-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

basic search input with onChange function as prop
  app/javascript/app/components/other/other-component.jsx
  app/javascript/app/components/search/search-component.jsx
  app/javascript/app/components/search/search-styles.scss
  app/javascript/app/components/search/search.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add search icon to bar
  app/javascript/app/components/search/search-component.jsx
  app/javascript/app/components/search/search-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update placeholder and set search icon padding
  app/javascript/app/components/other/other-component.jsx
  app/javascript/app/components/search/search-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add search list component
  app/javascript/app/components/search-list/search-list-component.jsx
  app/javascript/app/components/search-list/search-list-styles.scss
  app/javascript/app/components/search-list/search-list.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

basic styles with text data for list
  app/javascript/app/components/other/other-component.jsx
  app/javascript/app/components/search-list/search-list-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

basic styles and link interaction on list
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/search-list/search-list-component.jsx
  app/javascript/app/components/search-list/search-list-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

link to correct country endpoint
  app/javascript/app/components/other/other-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

add prop for enabling hover interaction on list
  app/javascript/app/components/other/other-component.jsx
  app/javascript/app/components/search-list/search-list-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

add tools-nav component and basic styles
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/components/tools-nav/tools-nav.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

change display none to opacity for better performance, render list based on search props
  app/javascript/app/components/other/other-actions.js
  app/javascript/app/components/other/other-component.jsx
  app/javascript/app/components/other/other-reducers.js
  app/javascript/app/components/other/other.js
  app/javascript/app/components/search-list/search-list-styles.scss
  app/javascript/app/components/search/search-component.jsx
  app/javascript/app/data/initial-state.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

sync search bar with search list and allow to stay open without search
  app/javascript/app/components/other/other-component.jsx
  app/javascript/app/components/search-list/search-list-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

change search list to results list, update opacity hover on select list
  app/javascript/app/components/results-list/results-list-component.jsx
  app/javascript/app/components/results-list/results-list-styles.scss
  app/javascript/app/components/results-list/results-list.js
  app/javascript/app/components/search-list/search-list.js
  app/javascript/app/components/search/search-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Param example in computed styles
  app/javascript/app/components/map/map-component.jsx
  yarn.lock
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

add debounce to type in input
  app/javascript/app/components/search/search-component.jsx
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

install react-collapse for accordion
  package.json
Due: none

Fix debounce
  .eslintrc.yml
  app/javascript/app/components/search/search-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Use button components in map
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

basic react collapse comp
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion-styles.scss
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/components/other/other-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Header with countries
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map-styles.scss
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/ndc/ndc-component.jsx
  app/javascript/app/data/world-50m-paths.js
  app/javascript/app/data/world-50m-topo.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

logic to decide which panel is open based on query from url
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/components/other/other-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

open/close accordion based on url, with qs query builder
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

basic accordion styles
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion-styles.scss
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

move data to initial state to test, and check in comp if button should be disabled
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/components/ndc-country/ndc-country-actions.js
  app/javascript/app/components/ndc-country/ndc-country-component.jsx
  app/javascript/app/components/ndc-country/ndc-country-reducers.js
  app/javascript/app/components/ndc-country/ndc-country.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

set children in header proptypes correctly
  app/javascript/app/components/header/header-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

remove accordion from home page
  app/javascript/app/components/home/home-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

set compare state of accordion from url and render table like view
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion-styles.scss
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/data/initial-state.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

remove uneccassary div for flex
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

set compare button in ndc countries container to demonstrate alternating from compare
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion-styles.scss
  app/javascript/app/components/header/header-styles.scss
  app/javascript/app/components/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Docker and jenkins
  Dockerfile
  Jenkinsfile
  docker-compose.yml
  k8s/production/deployment.yaml
  k8s/services/service.yaml
  k8s/staging/deployment.yaml
Due: none

Fix arrow styles
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion-styles.scss
  yarn.lock
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Replace history and adds section close option
  app/javascript/app/components/accordion/accordion-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

NDC data request actions
  app/javascript/app/actions.js
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/components/ndc-country/ndc-country-actions.js
  app/javascript/app/components/ndc-country/ndc-country-component.jsx
  app/javascript/app/components/ndc-country/ndc-country-reducers.js
  app/javascript/app/components/ndc-country/ndc-country.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/data/iso-countries.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Put country search, filter and map together
  .eslintrc.yml
  app/javascript/app/actions.js
  app/javascript/app/components/countries-select/countries-select-actions.js
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-reducers.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/results-list/results-list-component.jsx
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
  package-lock.json
  package.json
  yarn.lock
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Move navbar logic to the store
  app/javascript/app/actions.js
  app/javascript/app/components/nav/nav-actions.js
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-reducers.js
  app/javascript/app/components/nav/nav.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Move map logic to the store
  app/javascript/app/actions.js
  app/javascript/app/components/map/map-actions.js
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map-reducers.js
  app/javascript/app/components/map/map.js
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

deburrUpper util
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-reducers.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Simplify reducer
  app/javascript/app/components/nav/nav-reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
