Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Allow embed x frame options
  app/controllers/application_controller.rb
Due: none

Fix x axis scale
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Error handling and display error message in Esp graph
  app/javascript/app/components/charts/chart/chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-reducers.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/providers/esp-indicators-provider/esp-indicators-provider-reducers.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-actions.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-reducers.js
  app/javascript/app/providers/esp-models-provider/esp-models-provider-reducers.js
  app/javascript/app/providers/esp-scenarios-provider/esp-scenarios-provider-reducers.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-actions.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add title sanitizer and link split.
  app/services/import_stories.rb
Due: none

Delete image from serializer
  app/serializers/api/v1/story_serializer.rb
  app/services/import_stories.rb
Due: none

Migrate DB to remove image from stories
  db/migrate/20180123085343_remove_image_from_stories.rb
Due: none

Update error msg
  app/javascript/app/components/charts/chart/chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix basename import
  app/javascript/app/app.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add domain part to construct URL in blog link
  app/services/import_stories.rb
  db/schema.rb
Due: none

add example use case
  app/javascript/app/pages/home/home-component.jsx
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete unused method
  app/services/import_stories.rb
Due: none

Remove hardcoded string and get it from feed
  app/services/import_stories.rb
Due: none

Add font variables and mediaqueries
  app/javascript/app/components/responsive/responsive.js
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add x domain to Line Charts to fix offset in graph
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update default indicator columns in ESP table
  app/javascript/app/components/charts/chart/chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add category column to scenarios in ESP table
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update default indicator for the graph and add second best
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove 't' for not CO2 indicators
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add breakpoints and give more declarative names. Change country select layout
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/responsive/responsive.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set default at subcategory level
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change breakpoint names. Add autofocus to input on country select page
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/responsive/responsive.js
  app/javascript/app/components/search/search-component.jsx
  app/javascript/app/pages/country-index/country-index-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add search box title in small screen sizes
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix list span on grid
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add new yaxis label, espGraph bool, change format to 'd' and fix margins
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change decimal or exponent format and fix next to 0 value
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add gradients and overflow before merging responsive setup
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/about/about-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix not camelcased class name
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add overflow hiden to footer and navbar. Add device width meta tag
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/navbar/navbar-styles.scss
  app/javascript/app/pages/about/about-styles.scss
  app/views/layouts/application.html.erb
Due: stylelint --syntax=scss ./src/**/*.scss

Update header meta tag
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/navbar/navbar-styles.scss
  app/views/layouts/application.html.erb
Due: stylelint --syntax=scss ./src/**/*.scss

simplify viz-creator logic
  .env.sample
  app/javascript/app/components/my-climate-watch/my-insights/my-insights-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-initial-state.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-lenses.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
  db/schema.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix gradient padding
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/pages/about/about-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

style modal header
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal-header-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/selectable-list/selectable-list-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
  app/javascript/app/styles/base.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix linter
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add mediaqueries from settins.scss
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/pages/about/about-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

section styles
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/card-content/card-content-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/selectable-list/selectable-list-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add navbar mobile component. First styles
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile.js
  app/javascript/app/components/navbar/navbar-styles.scss
  app/javascript/app/components/teaser/teaser-styles.scss
  app/javascript/app/layouts/app/app-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add hamburger component
  app/javascript/app/components/hamburger/hamburger-actions.js
  app/javascript/app/components/hamburger/hamburger-component.jsx
  app/javascript/app/components/hamburger/hamburger-reducers.js
  app/javascript/app/components/hamburger/hamburger.js
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add hamburger component actions and reducers
  app/javascript/app/components/hamburger/hamburger-component.jsx
  app/javascript/app/components/hamburger/hamburger-initial-state.js
  app/javascript/app/components/hamburger/hamburger-styles.scss
  app/javascript/app/components/hamburger/hamburger.js
  app/javascript/app/reducers.js
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add vectorsize redux-tools to allow handleModule
  app/javascript/app/components/hamburger/hamburger-component.jsx
  app/javascript/app/components/hamburger/hamburger-reducers.js
  app/javascript/app/components/navbar/navbar-component.jsx
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add icons to hamburger component
  app/javascript/app/assets/icons/hamburger.svg
  app/javascript/app/components/hamburger/hamburger-component.jsx
  app/javascript/app/components/hamburger/hamburger-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
