Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update UNFCCC to handle multiple sectors by default
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: show disclaimer when present
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Provider for ESP locations
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-actions.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-reducers.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ESP Time series provider
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-actions.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-reducers.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add thmr to anchor nav - WIP
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/styles/themes/anchor-nav/anchor-nav-light.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove query menu, use hash in selector and render anchor-nav
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
  app/javascript/app/components/query-menu/query-menu-component.jsx
  app/javascript/app/components/query-menu/query-menu.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Simple emissions graph component
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-component.jsx
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-styles.scss
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Duplicate graph selectors and container
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Always use map state to props when using a selector
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix empty sections
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change dot color when BAU
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Trying to improve deployment time
  Dockerfile
Due: none

Fix table component routes
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper-component.jsx
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper-selectors.js
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper-styles.scss
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-styles.scss
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Anchor nav theming fixed
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper-component.jsx
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/styles/themes/anchor-nav/anchor-nav-light.scss
  app/javascript/app/styles/themes/anchor-nav/anchor-nav-regular.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add parent sector information to accordion
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add sorting by sector name and sub-sector name
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create Esp models provider
  app/javascript/app/providers/esp-models-provider/esp-models-provider-actions.js
  app/javascript/app/providers/esp-models-provider/esp-models-provider-reducers.js
  app/javascript/app/providers/esp-models-provider/esp-models-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds some basic metatags
  app/views/layouts/application.html.erb
Due: none

Fetch data and parse scneario to graph
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-component.jsx
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-styles.scss
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-actions.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-reducers.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create esp indicators and scenarios providers
  app/javascript/app/providers/esp-indicators-provider/esp-indicators-provider-actions.js
  app/javascript/app/providers/esp-indicators-provider/esp-indicators-provider-reducers.js
  app/javascript/app/providers/esp-indicators-provider/esp-indicators-provider.js
  app/javascript/app/providers/esp-scenarios-provider/esp-scenarios-provider-actions.js
  app/javascript/app/providers/esp-scenarios-provider/esp-scenarios-provider-reducers.js
  app/javascript/app/providers/esp-scenarios-provider/esp-scenarios-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix lost query params on route change
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper-selectors.js
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper.js
  app/javascript/app/pages/emission-pathways/emission-pathways-selectors.js
  app/javascript/app/pages/emission-pathways/emission-pathways.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move routes to the emission pathways page instead of nesting them
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper-component.jsx
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper-selectors.js
  app/javascript/app/components/emission-pathways-table-wrapper/emission-pathways-table-wrapper.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-selectors.js
  app/javascript/app/pages/emission-pathways/emission-pathways.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unecessary error and withRouter calls
  app/javascript/app/providers/esp-indicators-provider/esp-indicators-provider-reducers.js
  app/javascript/app/providers/esp-indicators-provider/esp-indicators-provider.js
  app/javascript/app/providers/esp-models-provider/esp-models-provider-reducers.js
  app/javascript/app/providers/esp-models-provider/esp-models-provider.js
  app/javascript/app/providers/esp-scenarios-provider/esp-scenarios-provider-reducers.js
  app/javascript/app/providers/esp-scenarios-provider/esp-scenarios-provider.js
  db/schema.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update providers to match others
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-actions.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-reducers.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-actions.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-reducers.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

clean up
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-component.jsx
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Populate and filter table, hide filters and search
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP: set up filters for graph
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-component.jsx
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-actions.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-reducers.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-actions.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider-reducers.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Removes garbage from html
  app/views/layouts/application.html.erb
Due: none

Add search funcionality to table in every field
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add sortBy - Right now just the first attribute shown
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix scroll to top when using the menu
  app/javascript/app/components/scroll-to-top/scroll-to-top.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change the border stroke width for the selected country
  app/javascript/app/components/country-ghg-map/country-ghg-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rename Wrapper component to Menu
  app/javascript/app/components/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
  app/javascript/app/components/emission-pathways-table-menu/emission-pathways-table-menu.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix renaming
  app/javascript/app/components/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make placeholder dynamic
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Dont pass whole state to the selector
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add indicator and model dropdowns, simplify selector change action
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-component.jsx
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
