Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Implement text reviews for DoE section
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-styles.scss
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Implement text reviews for agriculture
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/land-area/land-area-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-component.jsx
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update text for water withdrawal
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set smaller font size of labels for employment chart
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Sub tag tweak for piechart
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Enable water withdrawal chart & set custom message for no data for indcators card & fix navigation to ghg emissions bug
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Prettier format changes
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Renaming & fixing indendation
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix passing year and and update switch option after click on map in Countries Context section
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

cw-components upgrade
  package.json
  yarn.lock
Due: none

Add percentage emission for agriculture to agriculture page description
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/ghg-metadata-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove space before coma in agriculture description text
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use total including LUCF as total emission value
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix calculation of agriculture emissions in pie chart
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix paths
  app/admin/global_cw_platform/timeline.rb
Due: none

Set filters menu as sticky menu for explore by country section
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fixes path
  app/admin/global_cw_platform/timeline.rb
Due: none

Enable embed link for agriculture emissions pie chart
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/ghg-metadata-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/location-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/ghg-metadata-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/location-selectors.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix explore emissions button
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/location-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add embed styles to agriculture pie chart
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove unused query params from embed link for agriculture emission pie-chart
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/share-menu/share-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix fetching percentage emission for Agriculture page description
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/ghg-metadata-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix navigation bug in `Explore emissions` button
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add UNEP partner logo to footer
  app/javascript/app/assets/partners/partners-UNEP.png
  app/javascript/app/components/footer/footer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add UNEP logo to CW Partners page
  app/javascript/app/components/about/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Increase size of UNEP logo in faq/partners page
  app/javascript/app/components/about/about-partners/about-partners-styles.scss
  app/javascript/app/components/about/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Scroll to top after click on country on NDC map
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set default year for each indicator Expolore by Indicator section
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix performance issue in countries context
  app/models/agriculture_profile/country_context.rb
Due: none

Pass category and sector params to data explorer link in NDCS actions section
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Removes N+1 queries
  app/models/agriculture_profile/emission.rb
Due: none

Remmove htmlfor attribute from checkbox-input-component label
  app/javascript/app/components/check-input/check-input-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add subcategory filter to Agriculture/Pathways
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Style tweaks
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Reset filter params after current location change in Agriculture/Pathways
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rename option text GDP to Absolute in Countries Context
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Exclude contained routes from search engines indexing
  app/views/layouts/application.html.erb
Due: none

ghg-module: download chart data csv
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  config/webpack/development.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

update cw-components
  package.json
  yarn.lock
Due: none

download ghg chart table csv refactor
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/utils/csv.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
