Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use modal internal way to close when clicked outside
  app/javascript/app/components/modal/modal-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change value to gutter-padding
  app/javascript/app/components/disclaimer/disclaimer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add countries select missing styles
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix top mobile padding
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update table grid styles
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Small map controls fixes
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update linkages layout
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix country vulnerability and NDC overview grid
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add innerGutters boolean to row mixin
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-styles.scss
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix columns bug
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

FIx navbar in mobile (was hiding behind modal)
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add extra breakpoint for linkages cards and fix gutters
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix spacing between columns
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add new grid layout to footer
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Put explicit className in layout divs
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Extract localStore string to a constant in the constants file
  app/javascript/app/components/disclaimer/disclaimer.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add margin to Explore button
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move modal title that contains the disclaimer git to a constant
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/data/constants.js
  app/javascript/app/pages/country/country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

remove unused header theme
  app/javascript/app/styles/themes/header/header.scss
Due: stylelint --syntax=scss ./src/**/*.scss

handle inner gutters outside mixins
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-styles.scss
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add header styles
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Remove unused imports
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update header style function
  app/javascript/app/components/header/header-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Trigger show disclaimer from action instead of selecting from the object
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/modal-metadata/modal-metadata-component.jsx
  app/javascript/app/components/modal-metadata/modal-metadata-reducers.js
  app/javascript/app/components/modal-metadata/modal-metadata.js
  app/javascript/app/data/constants.js
  app/javascript/app/pages/country/country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix bottom bar
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Get layout.content out of anchorNav
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/pages/emission-pathways/emission-pathways-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Include custom ndc script
  app/views/layouts/application.html.erb
Due: none

Pathways page grid update
  app/javascript/app/components/button-group/button-group-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-styles.scss
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Pathways model grid update - WIP
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-styles.scss
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix modal metadata in country ghg embed
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include projection scale to fit map in viewBox
  app/javascript/app/components/map/map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Review styles and use grid in country select
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/styles/themes/results-list/results-list-light.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix model page
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add compare anchor nav layout
  app/javascript/app/pages/country-compare/country-compare-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Linter fixes
  app/javascript/app/pages/country-compare/country-compare-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update Pathways scenario page. Remove unneded code
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-styles.scss
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update chart and actions layout
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update country selectors
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-styles.scss
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update intro styles
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
