Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Add cache for ndcs requests
  app/javascript/app/pages/lts-explore/lts-explore-actions.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-actions.js
  app/javascript/app/pages/ndcs/ndcs-actions.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-provider-actions.js
  app/javascript/app/services/api.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add info button to compare all
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update overview text
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update 'net zero' on overview
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds caching to the /api/v1/ndcs endpoint
  app/controllers/api/v1/ndcs_controller.rb
  app/models/indc/indicator.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

Use slugs in URL in data-explorer
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Commit state of work
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix slugs for the Historical Emissions/Gases filter
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove code comment
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix noModel field error after refresh
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix noModel and year fields bugs
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Tweak download url in content pages
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-get.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Commit - Work in progress
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix DataExplorer download link on Pathways page
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/pathway-selector-utils/pathway-selector-utils.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Tweak ghg download links
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/pathway-selector-utils/pathway-selector-utils.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-get.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix `Visualize in..` button for lts- and ndc-content
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove commented code
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix "Visualize in..." feature for Historical Emissions section
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add first parent indicator as the default
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

avoid duplicated names for subsectors, and hook to importer
  app/services/import_indc.rb
Due: none

Fix gas slug parsing in GHG Emissions page
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/utils/ghg-emissions.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

remove exception for EUU
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

move generation out of the transaction
  app/services/import_indc.rb
Due: none

Use right iso for location default on non annex i source
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

switch default for UNFCCC Non Annex I source
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix legend chart crash
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

filter out locations that don't belong here
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

Fix ndc count on overview and ndc-explore
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-overview-section/question-card/question-card-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix country overview in Country page
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix overview emissions
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Default document as first_ndc for NDC fetches
  app/javascript/app/pages/ndcs/ndcs-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Dont default first_ndc
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
  app/javascript/app/pages/ndcs/ndcs-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix param
  app/javascript/app/pages/ndcs/ndcs-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Linter changes
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds link to Climate Laws at end of each target for nrm_summary
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

Add LSE data to Overview with new provider
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-component.jsx
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
  app/javascript/app/components/ndcs/ndcs-overview-section/question-card/question-card-selectors.js
  app/javascript/app/providers/lse-provider/lse-provider-actions.js
  app/javascript/app/providers/lse-provider/lse-provider-reducers.js
  app/javascript/app/providers/lse-provider/lse-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show link only once
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

points to the production link
  app/javascript/app/providers/lse-provider/lse-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Improve values rounding on the tooltip on the GHG chart
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix rounding typo
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
