Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix style
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Extracted logic into a seo module to be used as a component
  app/javascript/app/components/seo/seo-component.jsx
  app/javascript/app/components/seo/seo.js
  app/javascript/app/data/SEO.js
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndcs/ndcs-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix loading and selectors logic
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add truncateDecimals to utils
  app/javascript/app/pages/country/country-selectors.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Force two decimals in ESP graph tooltip
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix indicator selection
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include dots in lines for ghg
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use indicator unit in tooltip
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Avoid mutations
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Addressed requirements document text corrections
  app/javascript/app/components/about/about-description/about-description-component.jsx
  app/javascript/app/components/about/about-partners/about-partners-styles.scss
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/pages/country/country-selectors.js
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Include list of right to left countries to ndc full text
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

env.sample back to life :)
  .env.sample
Due: none

Clear indicator when subcategory changes
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rotate nav links arrow icons on active and inactive states
  app/javascript/app/components/nav-nested-menu/nav-nested-menu-styles.scss
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Reinstate only indicators with data selection
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Hide top navigation 'display:none' to avoid opening menu lag perception
  app/javascript/app/components/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/components/nav-nested-menu/nav-nested-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Recovered and commented countryIndex route and page
  app/javascript/app/components/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/components/nav-nested-menu/nav-nested-menu-styles.scss
  app/javascript/app/components/nav-nested-menu/nav-nested-menu.js
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/navbar/navbar-component.jsx
  app/javascript/app/pages/country-index/country-index-component.jsx
  app/javascript/app/pages/country-index/country-index.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP. Deleted footer nav logic
  app/javascript/app/components/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/navbar/navbar-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add SocialMetadata to required pages
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndcs/ndcs-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Added logic on country names
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add component close behavior on route path change
  app/javascript/app/components/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix zoom leven on country select change
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/map/map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Recover esp overview modal
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/components/modal-overview/modal-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move to nav folder and fix interaction
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu-styles.scss
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix bottom nav link
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use geolocation service by https
  app/javascript/app/pages/home/home-selectors.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider-actions.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix broken routes file
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adapt selectors to new response structure
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix line too long
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Splited routes.js in app and embed folders
  app/javascript/app/app.jsx
  app/javascript/app/routes.js
  app/javascript/app/routes/app-routes/NDCCompare-routes/NDCCompare-routes.js
  app/javascript/app/routes/app-routes/NDCCountry-routes/NDCCountry-routes.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/about-routes/about-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/emission-pathways-model-routes/emission-pathways-model-routes.js
  app/javascript/app/routes/app-routes/emission-pathways-routes/emission-pathways-routes.js
  app/javascript/app/routes/app-routes/sections-anchors/country-sections/country-sections.js
  app/javascript/app/routes/app-routes/sections-anchors/emission-pathways-model-sections/emission-pathways-model-sections.js
  app/javascript/app/routes/app-routes/sections-anchors/emission-pathways-scenario-sections/emission-pathways-scenario-sections.js
  app/javascript/app/routes/app-routes/sections-anchors/emission-pathways-sections/emission-pathways-sections.js
  app/javascript/app/routes/embed-routes/embed-routes.js
  app/javascript/app/routes/routes.js
  config/webpack/shared.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rename columns, add fulltext functionality and chente default model columns
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update blacklist
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Home page and country text review
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/card/card-component.jsx
  app/javascript/app/components/card/card-styles.scss
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/country/country-timeline/country-timeline-component.jsx
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/styles/base.scss
  app/javascript/app/styles/settings.scss
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update scenario-indicators name attr, and default columns
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sanitize array, make columns even, increase height of scenarios rows to fit content
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix dropdown collapse after nav simple menu clicking
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

About and ghg emissions review
  app/javascript/app/components/about/about-contact/about-contact-styles.scss
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Flaten app-routes folder content. Routes and sections in the same level
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/country-sections/country-sections.js
  app/javascript/app/routes/app-routes/emission-pathways-model-sections/emission-pathways-model-sections.js
  app/javascript/app/routes/app-routes/emission-pathways-scenario-sections/emission-pathways-scenario-sections.js
  app/javascript/app/routes/app-routes/emission-pathways-sections/emission-pathways-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reinstate blacklist in table
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix on multiselect z-index and import path typo
  app/javascript/app/components/multiselect/multiselect-styles.scss
  app/javascript/app/routes/app-routes/emission-pathways-sections/emission-pathways-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
