Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use grid foundation for filters layout
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set 100% dropdown width (Countries Actions)
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Remove commented code again :(
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/land-area/land-area-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Remove commented code
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Set 100% dropdon width (Meat Consumption)
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Set 100% dropdown width on mobiles (Countries Context)
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Eslint fixes
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Set max width of section decription & change 'switch' breakpoint in Country Actions section
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add icon to dataexplorer
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update routes
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/layouts/app/app.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

render dataexplorer link on tools nav
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use handleActions on myCW reducers to avoid crashing
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add closeMenu on click
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update navigation mobile styles
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Replace subscribe form with link to external form
  app/javascript/app/pages/home/subscribe-section/input-theme.scss
  app/javascript/app/pages/home/subscribe-section/subscribe-section-component.jsx
  app/javascript/app/pages/home/subscribe-section/subscribe-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add barchart config to selectors
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update card text
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Avoid same key error
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add loader
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context.js
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Extract barchart to function
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create indicator cards component
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Avoid crashing when no years data for a given country
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update percentage round funtion to drecrease precision
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add components and styles
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add worl bank data guard
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add worl bank data guard on legend
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update year sorting on context by country
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add indicatorsCards component to context by country
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add UserReport component to App layout
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix intro title align center
  app/javascript/app/components/intro/intro-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix h2 central align bug
  app/javascript/app/pages/home/subscribe-section/subscribe-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Show ABOUT nav with nested menu
  app/javascript/app/routes/app-routes/about-nested-routes/about-nested-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds Data Explorer section to page carrousel
  app/javascript/app/assets/home/CW_homemockups_dataexplorer.png
  app/javascript/app/assets/home/CW_homemockups_dataexplorer@2x.png
  app/javascript/app/pages/home/carousel-section/carousel-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates cw-components
  package.json
  yarn.lock
Due: none

small text change
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove link to NDC Funding Navigator
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update header for countries context
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates total label for agriculture emissions
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Link to sectoral information page
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update analytics tracking text
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
