Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Remove unneded import, fix loading
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show No data as tooltip text when the country has no data
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add missing custom sortBy prop
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add unit and sort by category
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sort ESP table indicators by category
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add link to name and trend line
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table.js
  app/javascript/app/components/table/cell-renderer-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix pointer cursor
  app/javascript/app/components/table/table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Added a json with the error message for unauthorized access to my cw
  app/controllers/api/v1/my_cw_controller.rb
Due: none

FIx warning
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix selector margin when opened and embed margin
  app/javascript/app/components/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/country-compare-selector/country-compare-selector-styles.scss
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adjust min-heights to avoid loading jumps
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add modalMetadata to country compare
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix sticky anchornav
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add first and last columns to indicator table data
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add hazards list dot styles
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Use link instead of <a> tag
  app/javascript/app/components/table/cell-renderer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add data format handling on vulnerability graph
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Extract logic to container on circular chart
  app/javascript/app/components/circular-chart/circular-chart-component.jsx
  app/javascript/app/components/circular-chart/circular-chart.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add data getters and formatters on vulnerablity selectors
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Normalize param name from iso to code as in other routes
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  config/routes.rb
Due: none

Improve routes syntax and rename param
  app/controllers/api/v1/socioeconomics_controller.rb
  config/routes.rb
Due: none

Refactors socioeconomics endpoint to work more like the other endpoints
  app/controllers/api/v1/socioeconomics_controller.rb
  app/javascript/app/providers/socioeconomics-provider/socioeconomics-provider-actions.js
  app/models/location.rb
  config/routes.rb
  spec/controllers/api/v1/socioeconomics_controller_spec.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds latest endpoint to socioeconomics and supporting methods
  app/controllers/api/v1/socioeconomics_controller.rb
  app/models/location.rb
  config/routes.rb
  spec/models/location_spec.rb
Due: none

Updates frontend code to use new endpoint and new way of sharing data
  app/javascript/app/pages/country/country-selectors.js
  app/javascript/app/providers/socioeconomics-provider/socioeconomics-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Appease hound and quotes thing
  app/models/location.rb
Due: none

Revert "Get stories from API"
  app/javascript/app/components/stories/stories-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

reduce size of method, move query to Socioeconomic::Indicator model
  app/models/location.rb
  app/models/socioeconomic/indicator.rb
Due: none

Clear indicator on category dropdown change
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Always sort the dropdowns by the label
  app/javascript/app/components/dropdown/dropdown.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove country selector on mobile and make it sticky
  app/javascript/app/components/country-compare-selector/country-compare-selector-styles.scss
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

delete border styles on selector
  app/javascript/app/pages/country-compare/country-compare-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Create component and add link to ndc compare
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-selectors.js
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview.js
  app/javascript/app/routes/app-routes/country-compare-sections/country-compare-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add unique id's to section data
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create ndc content overview provider
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-actions.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-reducers.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix typo
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Removes method and fetchs more pinned...
  app/models/story.rb
  spec/models/story_spec.rb
Due: none

Updates join syntax
  app/models/socioeconomic/indicator.rb
Due: none
