Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix crash on data-explorer
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Always use share button
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/modal-share/modal-share-styles.scss
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/themes/tools-nav/mobile-tools-nav.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix arrows
  app/javascript/app/assets/icons/arrow-down-tiny.svg
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/styles/themes/nav/mobile-menu-nav.scss
  app/javascript/app/styles/themes/tools-nav/mobile-tools-nav.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove share from menu
  app/javascript/app/app.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix crash on staging
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

New styles
  app/javascript/app/components/contact/contact-component.jsx
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-component.jsx
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/themes/nav/mobile-menu-nav.scss
  app/javascript/app/styles/themes/tools-nav/mobile-tools-nav.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add route and update constants
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/routes/app-routes/data-explorer-routes/data-explorer-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove commented code
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Disable auto sort in custom-compare dropdowns
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add arrows, style and colons
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-component.jsx
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-styles.scss
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/styles/themes/nav/mobile-menu-nav.scss
  app/javascript/app/styles/themes/tools-nav/mobile-tools-nav.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix active item
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-component.jsx
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adds lts_content api v1 data controllers
  app/controllers/api/v1/data/lts_content/categories_controller.rb
  app/controllers/api/v1/data/lts_content/data_sources_controller.rb
  app/controllers/api/v1/data/lts_content/indicators_controller.rb
  app/controllers/api/v1/data/lts_content/sectors_controller.rb
  app/controllers/api/v1/data/lts_content_controller.rb
  app/models/indc/source.rb
  config/routes.rb
Due: none

Filter LTS indicators from ndc_content
  app/controllers/api/v1/data/ndc_content/categories_controller.rb
  app/controllers/api/v1/data/ndc_content/data_sources_controller.rb
  app/controllers/api/v1/data/ndc_content/indicators_controller.rb
Due: none

rubocop concerns
  app/controllers/api/v1/data/lts_content/categories_controller.rb
  app/controllers/api/v1/data/ndc_content/categories_controller.rb
Due: none

Fix scope naming
  app/controllers/api/v1/data/ndc_content/categories_controller.rb
  app/controllers/api/v1/data/ndc_content_controller.rb
Due: none

Adds specs for the new lts_content api controllers
  spec/controllers/api/v1/data/lts_content/categories_controller_spec.rb
  spec/controllers/api/v1/data/lts_content/data_sources_controller_spec.rb
  spec/controllers/api/v1/data/lts_content/indicators_controller_spec.rb
  spec/controllers/api/v1/data/lts_content/sectors_controller_spec.rb
  spec/controllers/api/v1/data/lts_content_controller_spec.rb
  spec/support/shared_contexts/lts_content/categories.rb
  spec/support/shared_contexts/lts_content/indicators.rb
  spec/support/shared_contexts/lts_content/labels.rb
  spec/support/shared_contexts/lts_content/sectors.rb
  spec/support/shared_contexts/lts_content/sources.rb
  spec/support/shared_contexts/lts_content/values.rb
Due: none

Correct LTS padding and fix slug
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz.js
  app/javascript/app/components/ndcs/shared/explore-map-tooltip/explore-map-tooltip-styles.scss
  app/javascript/app/styles/themes/map-tooltip/map-tooltip.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update ndc explore and specil lts case
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

[Custom Comparison] - Fix css grid layout on Internet Explorer
  app/javascript/app/pages/custom-compare/custom-compare-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

[Home - Stories] - Tweak css grid layout on IE
  app/javascript/app/pages/home/stories/stories-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add missing import
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix ndc routes
  app/javascript/app/routes/app-routes/NDCCompare-routes/NDCCompare-routes.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix about menu
  app/javascript/app/routes/app-routes/about-nested-routes/about-nested-routes.js
  app/javascript/app/routes/app-routes/about-routes/about-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use inheritance as methods are all very similar
  app/controllers/api/v1/data/lts_content/categories_controller.rb
  app/controllers/api/v1/data/lts_content/data_sources_controller.rb
  app/controllers/api/v1/data/lts_content/indicators_controller.rb
  app/controllers/api/v1/data/lts_content/sectors_controller.rb
  app/controllers/api/v1/data/lts_content_controller.rb
  app/controllers/api/v1/data/ndc_content/categories_controller.rb
  app/controllers/api/v1/data/ndc_content/data_sources_controller.rb
  app/controllers/api/v1/data/ndc_content/indicators_controller.rb
  app/controllers/api/v1/data/ndc_content_controller.rb
Due: none

using wrong method
  app/controllers/api/v1/data/lts_content/categories_controller.rb
Due: none

Add lts documentation
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
  app/javascript/app/routes/app-routes/data-explorer-routes/data-explorer-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix visualize button and anchor nav style
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/styles/themes/anchor-nav/anchor-nav-light.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Filter sectors by source
  app/controllers/api/v1/data/lts_content/sectors_controller.rb
  app/controllers/api/v1/data/ndc_content/sectors_controller.rb
Due: none

Add share "copy embed code" to the share modal & fix "copy embed link" option
  app/javascript/app/components/modal-share/modal-share-styles.scss
  app/javascript/app/components/modal-share/modal-share.js
  app/javascript/app/components/modal/modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update metadata and links to data explorer
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Skip submission import if location doesn't exist
  app/services/import_indc.rb
Due: none
