Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Logo should always show on navbar
  app/javascript/app/components/nav/nav-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change Methodology label in tabs to Sources
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Extract logo component
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/legend/legend-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/legend/logo-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/legend/logo-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set download survey flag on data explorer
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update download menu component with download surevey flag
  app/javascript/app/components/download-menu/download-menu-component.jsx
  app/javascript/app/components/download-menu/download-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update dockerfile with data survey flag
  Dockerfile
Due: none

Update jenkins file with data survey flag
  Jenkinsfile
Due: none

Update .env.sample
  .env.sample
Due: none

Remove quantifications flag add user_survey_spreadsheet
  .env.sample
Due: none

Added the forced stream closing to the Streamable concern
  app/controllers/concerns/streamable.rb
Due: none

Include app signal key in jenkins
  Dockerfile
  Jenkinsfile
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

Remove unneded style
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use proper env for staging
  Jenkinsfile
  k8s/staging/deployment.yaml
Due: none

Update yarn.lock
  yarn.lock
Due: none

Create mapCategories on ndcs reducer
  app/javascript/app/pages/ndcs/ndcs-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use mapCategories on map selectors
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update placeholder text
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix crash when no data
  app/javascript/app/utils/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Hide clear selection when only one country compare selected
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-selectors.js
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use object spread instead of duplicating
  app/javascript/app/pages/ndcs/ndcs-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Allow fetch when locations turns from empty to one country
  app/javascript/app/providers/socioeconomics-provider/socioeconomics-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix crash when no data
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show warning only in development
  app/javascript/app/components/dropdown/dropdown.js
  config/webpack/shared.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show only map indicators on ndc page
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map.js
  app/javascript/app/pages/ndcs/ndcs-actions.js
  app/javascript/app/pages/ndcs/ndcs-reducers.js
  app/javascript/app/pages/ndcs/ndcs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

1.13.0
  package.json
Due: none

Update future submission link and text
  app/javascript/app/components/country/country-timeline/country-timeline-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Speed up years query using a materialised view
  app/models/historical_emissions/normalised_record.rb
  app/models/historical_emissions/record.rb
  app/services/api/v1/data/historical_emissions_filter.rb
  db/migrate/20180720105038_create_historical_emissions_normalised_records_mview.rb
  db/structure.sql
  db/views/historical_emissions_normalised_records_v01.sql
  spec/controllers/api/v1/data/historical_emissions_controller_spec.rb
  spec/services/api/v1/data/historical_emissions_filter_spec.rb
Due: none

1.13.1
  package-lock.json
  package.json
Due: none

Custom default selection for table and map
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add id prop to checkinput component
  app/javascript/app/components/check-input/check-input-component.jsx
  app/javascript/app/components/check-input/check-input-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add testUser toggle to modal
  app/javascript/app/components/modal-download/modal-download-component.jsx
  app/javascript/app/components/modal-download/modal-download-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Ensure all default selection in ndc map and table
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add error text prop and styles to check-input
  app/javascript/app/components/check-input/check-input-component.jsx
  app/javascript/app/components/check-input/check-input-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add error text to checkboxes on download survey form
  app/javascript/app/components/modal-download/modal-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove / from texts - use one liners
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/sectors/sectors-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove repeated to
  app/javascript/app/components/country/country-timeline/country-timeline-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add capitalize function to utils
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add section label to data explorer content props
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Changed label on pathways route
  app/javascript/app/routes/app-routes/data-explorer-routes/data-explorer-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add section names labels relation on constants
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
