Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Using ActiveRecord instead of just plain old SQL
  app/models/location.rb
  app/models/socioeconomic/indicator.rb
Due: none

removes unnecessary param. fixes identation
  app/models/location.rb
  app/models/socioeconomic/indicator.rb
Due: none

Updated dot styles
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add query countries as props to vulnerability component
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix reducer, add text and links
  app/javascript/app/assets/icons/document.svg
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-selectors.js
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-actions.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-reducers.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix reducer, add text and links
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-selectors.js
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-actions.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-reducers.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updated selectors to get countries data
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add tooltip to line graph
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add header for mobile and color to icon
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-selectors.js
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Style adjustments to appease rubocop and hound
  app/models/socioeconomic/indicator.rb
  spec/controllers/api/v1/historical_emissions_controller_spec.rb
  spec/controllers/api/v1/socioeconomics_controller_spec.rb
  spec/models/location_spec.rb
Due: none

style change
  spec/controllers/api/v1/historical_emissions_controller_spec.rb
Due: none

Add id to tooltip to avoid double tooltip on first visit
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Small styles changes
  app/javascript/app/components/circular-chart/circular-chart-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Hide chart legend
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Show compare button on mobile
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change reducer for provider, fix updating of provider
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-actions.js
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-reducers.js
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-reducers.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update gfw api env
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

Sort tooltip by value as in ESP
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixed listgraph bug when no data available
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix login error handle
  app/javascript/app/providers/login-provider/login-provider-reducers.js
  app/javascript/app/reducers.js
  app/javascript/app/services/api.js
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add name to location and extract common selectors
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart.js
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-selectors.js
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview.js
  app/javascript/app/ghg-emissions.js
  app/javascript/app/selectors/compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds delete atomic
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-actions.js
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-component.jsx
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-initial-state.js
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-reducers.js
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker-styles.scss
  app/javascript/app/components/my-climate-watch/_widget-picker/widget-picker.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fixes tag
  app/javascript/app/components/stories/stories-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add border bottom to section
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix Link url and vulnerability crash
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix actions mess
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-actions.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/render-chart/render-chart-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/render-chart/render-chart-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin.js
  app/javascript/app/utils/draft.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP editing embedded chart
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Vulnerability graphs mobile styles
  app/javascript/app/components/circular-chart/circular-chart-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add country selector footer
  app/javascript/app/components/country-selector-footer/country-selector-footer-component.jsx
  app/javascript/app/components/country-selector-footer/country-selector-footer-selectors.js
  app/javascript/app/components/country-selector-footer/country-selector-footer-styles.scss
  app/javascript/app/components/country-selector-footer/country-selector-footer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add country footer to compare page
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

handle error on list graph
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix linkages scroll and style title
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

WIP toolbar fixing
  app/javascript/app/assets/icon-pngs/monete.png
  app/javascript/app/assets/icons/delete.svg
  app/javascript/app/assets/icons/edit.svg
  app/javascript/app/assets/icons/graph.svg
  app/javascript/app/components/no-content/no-content-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/src/blockTypeSelectStyles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/src/buttonStyles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/src/components/BlockTypeSelect/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/src/components/DefaultBlockTypeSelect/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/src/components/Toolbar/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/side-toolbar-plugin.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/side-toolbar-theme.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/sidebar-toolbar-plugin-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/themes/side-toolbar-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add icon to multiselct component
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
  app/javascript/app/components/multiselect/multiselect-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove scrollbars and scroll in landscape view - timeline and mitigation
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add footer styles and logic
  app/javascript/app/components/country-selector-footer/country-selector-footer-component.jsx
  app/javascript/app/components/country-selector-footer/country-selector-footer-styles.scss
  app/javascript/app/components/country-selector-footer/country-selector-footer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix styles
  app/javascript/app/components/country-selector-footer/country-selector-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fixed sticky styles
  app/javascript/app/styles/sticky.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Create download menu and links
  app/javascript/app/components/download-menu/download-menu-component.jsx
  app/javascript/app/components/download-menu/download-menu-styles.scss
  app/javascript/app/components/download-menu/download-menu.js
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add bucket name to dockerfile
  Dockerfile
  Dockerfile-dev
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none
