Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix loading when meta is not still fetched
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add toleration to deploy in differen pool
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

update tolerant
  k8s/staging/deployment.yaml
Due: none

Use cursor pointer on clickable dot
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix linting
  app/serializers/api/v1/ndc_sdg/target_serializer.rb
Due: none

Add link to tag component
  app/javascript/app/components/tag/tag-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add url key to data config on tag
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add url creation on pathways chart config
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add prevent default click behavior to allow tag removal
  app/javascript/app/components/tag/tag-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add title to legend tags
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/tag/tag-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add dropdown and remove tabs
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
  app/javascript/app/pages/ndc-search/ndc-search.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Display tooltip instead of title
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/tag/tag-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix header style and intro
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add document label to result when all documents selected
  app/javascript/app/components/result-card/result-card-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add language to results and fix key warning
  app/javascript/app/components/result-card/result-card-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update info to display on pathways overview
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix styles of selector in Full document page
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show results in the map with all documents
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add number handling to utils sanitize
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update minimum height on pathways table rows
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

wip modal styles
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add included countries message on top of the map
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Css lint
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add modal styles
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add theme styles on vis modal
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use link in dot and big dot component refactor
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/sdg-card/dot/dot-component.jsx
  app/javascript/app/components/sdg-card/dot/dot-styles.scss
  app/javascript/app/components/sdg-card/dot/dot.js
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add margin bottom to tablet-portrait
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

No more conflicts with eslint and prettier with operations
  .eslintrc.yml
Due: none

Avoid innecesary find using the previous scenario selector
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Improve tooltip on remove tag and reuse tag content
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
  app/javascript/app/components/tag/tag-component.jsx
  app/javascript/app/components/tag/tag-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Tag tooltip id by props
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/tag/tag-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Not scroll on page when modal open
  app/javascript/app/components/modal/modal-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Use document options as a constant
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include Url link in pathways overview
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Sync tag component with mycw branch
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/charts/legend-chart/legend-chart.js
  app/javascript/app/components/country-selector-footer/country-selector-footer-component.jsx
  app/javascript/app/components/tag/tag-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove vscode config
  app/javascript/app/.vscode/launch.json
Due: none

Add extended color palette to charts
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/data/constants.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update chart title definition
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add document_type and language to targets in locations
  app/serializers/api/v1/ndc_sdg/goal_overview_serializer.rb
Due: none

Add document to links and adapt to new response format
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
