Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show the name of total emission indicator on the legend in emission chart
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add link "Other Sectors Coming Soon" to sectors path
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/sectors-routes/sectors-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Cleaning
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rename constant
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove `Total include/exclude LUCF' sectors from drivers PieChart
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add tooltip to countries top ten chart
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Center horizontally
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add ellipsis to country names
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Center card content
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Remove sentences when no water data
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Migrate database
  db/structure.sql
Due: none

Add click handler and update tooltip
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Check if isCountryIncluded
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set country name overflow only for landscape resolutions in top 10 countries chart.
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update explore pathways url with subcategory
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix country actions counter
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update link destination
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix typo
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Link to NDCPartnership
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Capitalize E
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove a coma
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix space in 'What is Climate Watch header'
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update faq text
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update tooltip to only show selection
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/tooltip/tooltip-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update default selection and legendChange
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Small text changes
  app/javascript/app/pages/home/carousel-section/carousel-section-data.js
  app/javascript/app/pages/home/user-cases-section/user-cases-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Default select first year with data
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add render options func
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add new component SimpleTable to faq section
  app/javascript/app/components/about/about-faq/about-faq-component.jsx
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/components/simple-table/simple-table-component.jsx
  app/javascript/app/components/simple-table/simple-table-styles.scss
  app/javascript/app/components/simple-table/simple-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix position of 'Explore here' link in Latest Updates section
  app/javascript/app/components/tile/tile-component.jsx
  app/javascript/app/components/tile/tile-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update text for water withdrawal
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set smaller font size of labels for employment chart
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Sub tag tweak for piechart
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix missing constant and bug with undefined location in agriculture profile
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

re-run data uploader generate
  app/admin/global_cw_platform/agriculture_profile.rb
  app/admin/global_cw_platform/historical_emissions.rb
  app/admin/global_cw_platform/indc.rb
  app/admin/global_cw_platform/locations.rb
  app/admin/global_cw_platform/locations_members.rb
  app/admin/global_cw_platform/ndc_sdgs_targets.rb
  app/admin/global_cw_platform/quantifications.rb
  app/admin/global_cw_platform/sdgs.rb
  app/admin/global_cw_platform/socioeconomics.rb
  app/admin/global_cw_platform/timeline.rb
  app/admin/global_cw_platform/wb_extra.rb
  app/admin/global_cw_platform/wri_metadata.rb
Due: none

Remove duplicated file, fix path
  app/admin/global_cw_platform/ndc_sdg_targets.rb
  app/admin/global_cw_platform/ndc_sdgs_targets.rb
Due: none

Hide country platforms links temporarily
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update title
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
