Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix text review
  app/javascript/app/assets/icons/download.svg
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix ndcs map opacity
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Includeo category selector and fix api _ids changes
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/providers/esp-time-series-provider/esp-time-series-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix model and category selection
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/providers/esp-indicators-provider/esp-indicators-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

FIx problems in model and scenario pages
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix view model button
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add scenario_ids to model blacklist
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add seo_helper
  app/controllers/application_controller.rb
  app/helpers/seo_helper.rb
  app/views/layouts/application.html.erb
Due: none

Upper only first in indicator name
  app/javascript/app/providers/esp-indicators-provider/esp-indicators-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add images folder
  app/helpers/seo_helper.rb
  public/images/compare-screenshot.jpg
  public/images/country-screenshot.jpg
  public/images/emission-pathways-screenshot.jpg
  public/images/ndc-explore-screenshot.jpg
  public/images/ndc-sdg-screenshot.jpg
  public/images/sectors-screenshot.jpg
Due: none

Avoid flatten objects to avoid mutations
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix info modal links
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix developed_by rename and add url to model defaults
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP. refactoring
  app/helpers/seo_helper.rb
Due: none

Make possible to have several links in a table and update titleLinks
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-selectors.js
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Extract and refactor cell renderer
  app/javascript/app/components/table/cell-renderer-component.jsx
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Code refactor. Images paths fixed
  app/helpers/seo_helper.rb
  app/views/layouts/application.html.erb
  public/images/compare-screenshot.jpg
  public/images/country-screenshot.jpg
  public/images/emission-pathways-screenshot.jpg
  public/images/ndc-explore-screenshot.jpg
  public/images/ndc-sdg-screenshot.jpg
  public/images/sectors-screenshot.jpg
  public/images/social-NDCs-SDGs.png
  public/images/social-NDCs.png
  public/images/social-about.png
  public/images/social-country.png
  public/images/social-emission-pathways.png
  public/images/social-historical-emissions.png
  public/images/social-home.png
Due: none

Fetch available models and show them
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Freeze constants to make houndCI happy
  app/helpers/seo_helper.rb
Due: none

DB migration to add image and tags to stories. Updated stories import and serializer
  app/serializers/api/v1/story_serializer.rb
  app/services/import_stories.rb
  db/migrate/20180121203501_add_details_to_stories.rb
  db/schema.rb
Due: none

Update fetchStories actions to call the API
  app/javascript/app/components/stories/stories-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change feed adress to rss 2
  app/services/import_stories.rb
Due: none

Dont clean the indicator when location changes and add custom no data message
  app/javascript/app/components/charts/chart/chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change default indicator
  app/javascript/app/components/charts/chart/chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set home as default
  app/helpers/seo_helper.rb
Due: none

Fix graph not showing
  app/javascript/app/components/charts/chart/chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include embed and fix loading
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add simple-rss gem
  Gemfile
  Gemfile.lock
  app/services/import_stories.rb
Due: none

Add suffix t only if the unit is CO2
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete print fro debugging
  app/services/import_stories.rb
Due: none

Add react-responsive library as dependency
  package-lock.json
  package.json
Due: none

Prevent parent scroll on dropdowns
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix not all indicators being displayed
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add responsive component
  app/javascript/app/components/responsive/responsive.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix ESP graph embed url link
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete simple-rss; Update import_stories to to save background image
  Gemfile
  Gemfile.lock
  app/javascript/app/components/stories/stories-component.jsx
  app/services/import_stories.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

New contained layout
  app/javascript/app/layouts/contained/contained-component.jsx
  app/javascript/app/layouts/contained/contained-styles.scss
  app/javascript/app/layouts/contained/contained.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Include contained basename and use its layout
  app/javascript/app/app.jsx
  app/javascript/app/routes/routes.js
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reset search when the table menu is changed
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Simplify the search query reset
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu.js
  app/javascript/app/pages/emission-pathways/emission-pathways-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
