Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix link exceeding end of line
  app/javascript/app/components/about/about-permissions/about-permissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix attribute in link
  app/javascript/app/layouts/embed/embed-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adjust mobile layout margins and use as much space for chart as possible
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/styles/layout.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix tooltip for responsive
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Dropdowns not searchable by default and add prop for it
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add layout styles only if tablet or bigger
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change grid ordering
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-list/ndc-sdg-linkages-list-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add responsive map styles
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add responsive stand alone map to header
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
  app/javascript/app/styles/themes/header/header.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Hide map from linkages content on mobile
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix layout on table portrait
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix datatype missmoatch
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix jumpy validating fields (to be approved)
  app/javascript/app/components/fieldset/fieldset-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change section gradient to home styles
  app/javascript/app/components/section/section-styles.scss
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change webpacker yaml server host to public ip
  config/webpacker.yml
Due: none

General styles changes
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/styles/themes/intro/intro-dark.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add white background on mobile dropdown selector
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add bottom bar on mobile
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
  app/javascript/app/layouts/app/app-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Font size changes
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/styles/themes/intro/intro-dark.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change webpacker yaml dev server host
  config/webpacker.yml
Due: none

Delete mobileConstrain prop and reorganize classes
  app/javascript/app/components/section/section-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix mobile and tablet portrait padding
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Include about sticky and fix sticky desktop bg
  app/javascript/app/app.jsx
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-styles.scss
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-styles.scss
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-styles.scss
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-styles.scss
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/styles/sticky.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set same image background color to avoid flashes
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Embed styles review
  app/javascript/app/layouts/embed/embed-component.jsx
  app/javascript/app/layouts/embed/embed-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show y axis with SI format
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reorder components on tablet
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix shared dropdown menu in button group
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add styles and classes to header and map
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content.js
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update map styles on goal selected change
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content.js
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Delete map outside content component
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add linkages table responsive floats
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add on tap handler
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content.js
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add default goal selected
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

polish styles && fix some functionalities
  app/javascript/app/components/fieldset/fieldset-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/legend/legend-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/selectable-list/selectable-list-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
  app/javascript/app/styles/themes/button/buttons.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Country responsive styles review
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country/country-ghg/country-ghg-styles.scss
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix subcategories API call
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

refactor steps into components
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-one.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-two.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

replace dot with semi-colon
  app/javascript/app/components/about/about-description/about-description-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
