Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix countries compare button
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change SEO structure
  app/javascript/app/components/seo/seo-component.jsx
  app/javascript/app/components/seo/seo.js
  app/javascript/app/data/SEO.js
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/layouts/contained/contained-component.jsx
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-explore/lts-explore-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
  app/javascript/app/pages/net-zero/net-zero-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

change module names per request
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update titles and dynamic part. Rename seo component
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-component.jsx
  app/javascript/app/components/seo-tags/seo-tags-component.jsx
  app/javascript/app/components/seo-tags/seo-tags.js
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-explore/lts-explore-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
  app/javascript/app/pages/net-zero/net-zero-component.jsx
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
  app/javascript/app/pages/sectors/sectors-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix import
  app/javascript/app/components/seo-tags/seo-tags.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Pathways SEO update
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add preview_image_url column for key visualizations, change importer
  app/services/import_key_visualizations.rb
  db/migrate/20201113113501_add_preview_image_url_to_key_visualizations.rb
  db/structure.sql
  spec/factories/key_visualizations.rb
  spec/services/import_key_visualizations_spec.rb
Due: none

Key visualization card.
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card-component.jsx
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card-selectors.js
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card-styles.scss
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card.js
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Key viz card styling.
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card-styles.scss
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card.js
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Geos multiselect.
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-selectors.js
  app/javascript/app/components/key-visualizations/key-visualizations-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixed subtitle.
  app/javascript/app/pages/key-visualizations/key-visualizations-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

select filtering.
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Selected viz state.
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card-component.jsx
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card-styles.scss
  app/javascript/app/components/key-visualizations/key-visualization-preview/key-visualization-preview-component.jsx
  app/javascript/app/components/key-visualizations/key-visualization-preview/key-visualization-preview-styles.scss
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-selectors.js
  app/javascript/app/components/key-visualizations/key-visualizations-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Selected checkmark.
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card-component.jsx
  app/javascript/app/components/key-visualizations/key-visualization-card/key-visualization-card-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Margin tweak.
  app/javascript/app/components/key-visualizations/key-visualizations-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update remaining titles
  app/javascript/app/components/about/about-contact/about-contact-component.jsx
  app/javascript/app/components/about/about-contact/about-contact.js
  app/javascript/app/components/about/about-description/about-description-component.jsx
  app/javascript/app/components/about/about-description/about-description.js
  app/javascript/app/components/about/about-faq/about-faq-component.jsx
  app/javascript/app/components/about/about-faq/about-faq.js
  app/javascript/app/components/about/about-partners/about-partners-component.jsx
  app/javascript/app/components/about/about-partners/about-partners.js
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions.js
  app/javascript/app/components/seo-tags/seo-tags-component.jsx
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix h1 and h2s
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-two.jsx
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update robots.txt and sitemap
  public/robots.txt
  public/sitemap.xml
Due: none

Viz preview component.
  app/javascript/app/components/key-visualizations/key-visualization-preview/key-visualization-preview-component.jsx
  app/javascript/app/components/key-visualizations/key-visualization-preview/key-visualization-preview-styles.scss
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Render link and description.
  app/javascript/app/components/key-visualizations/key-visualization-preview/key-visualization-preview-component.jsx
  app/javascript/app/components/key-visualizations/key-visualization-preview/key-visualization-preview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set row properly.
  app/javascript/app/components/key-visualizations/key-visualization-preview/key-visualization-preview-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

change seo to seo-data
  app/javascript/app/components/about/about-contact/about-contact-component.jsx
  app/javascript/app/components/about/about-description/about-description-component.jsx
  app/javascript/app/components/about/about-faq/about-faq-component.jsx
  app/javascript/app/components/about/about-partners/about-partners-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-component.jsx
  app/javascript/app/components/seo-tags/seo-tags-component.jsx
  app/javascript/app/data/seo-data.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-explore/lts-explore-component.jsx
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
  app/javascript/app/pages/sectors/sectors-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change back to seo (Fix uppercase)
  app/javascript/app/components/about/about-contact/about-contact-component.jsx
  app/javascript/app/components/about/about-description/about-description-component.jsx
  app/javascript/app/components/about/about-faq/about-faq-component.jsx
  app/javascript/app/components/about/about-partners/about-partners-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-component.jsx
  app/javascript/app/components/seo-tags/seo-tags-component.jsx
  app/javascript/app/data/seo.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-explore/lts-explore-component.jsx
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
  app/javascript/app/pages/sectors/sectors-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update net zero actions and reducers
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map.js
  app/javascript/app/components/ndcs/net-zero-table/net-zero-table-selectors.js
  app/javascript/app/components/ndcs/net-zero-table/net-zero-table.js
  app/javascript/app/pages/net-zero/net-zero-actions.js
  app/javascript/app/pages/net-zero/net-zero-reducers.js
  app/javascript/app/pages/net-zero/net-zero.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

revise the api documentation
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update dependencies
  package.json
  yarn.lock
Due: none

Fix typo
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add nz_source indicator fetch
  app/javascript/app/pages/net-zero/net-zero-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Start data explorer for net zero
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-component.jsx
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/routes/app-routes/data-explorer-routes/data-explorer-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix table emissions and dimensions
  app/javascript/app/components/ndcs/net-zero-table/net-zero-table-component.jsx
  app/javascript/app/components/ndcs/net-zero-table/net-zero-table-selectors.js
  app/javascript/app/components/ndcs/net-zero-table/net-zero-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove net zero data explorer section if we dont have it active
  app/javascript/app/routes/app-routes/data-explorer-routes/data-explorer-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add link from overview to local net zero
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

FIx source link on table and data explorer link
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
  app/javascript/app/components/ndcs/net-zero-table/net-zero-table-selectors.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert webpack-dev-server update
  package.json
Due: none

add data sources column for key visualizations
  app/services/import_key_visualizations.rb
  db/migrate/20201119151517_add_data_sources_to_key_visualizations.rb
  db/structure.sql
  spec/factories/key_visualizations.rb
  spec/services/import_key_visualizations_spec.rb
  yarn.lock
Due: none

Add checkbox to ndc-explore
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map.js
  app/javascript/app/components/ndcs/shared/explore-map/explore-map-selectors.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add net zero data explorer endpoints
  app/controllers/api/v1/data/lts_content_controller.rb
  app/controllers/api/v1/data/ndc_content/categories_controller.rb
  app/controllers/api/v1/data/ndc_content/data_sources_controller.rb
  app/controllers/api/v1/data/ndc_content/indicators_controller.rb
  app/controllers/api/v1/data/ndc_content/sectors_controller.rb
  app/controllers/api/v1/data/ndc_content_controller.rb
  app/controllers/api/v1/data/net_zero_content/categories_controller.rb
  app/controllers/api/v1/data/net_zero_content/data_sources_controller.rb
  app/controllers/api/v1/data/net_zero_content/indicators_controller.rb
  app/controllers/api/v1/data/net_zero_content/sectors_controller.rb
  app/controllers/api/v1/data/net_zero_content_controller.rb
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/data-explorer-constants.js
  app/models/indc/source.rb
  app/services/api/v1/data/ndc_content/zipped_download.rb
  config/routes.rb
  spec/controllers/api/v1/data/net_zero_content/categories_controller_spec.rb
  spec/controllers/api/v1/data/net_zero_content/data_sources_controller_spec.rb
  spec/controllers/api/v1/data/net_zero_content/indicators_controller_spec.rb
  spec/controllers/api/v1/data/net_zero_content_controller_spec.rb
  spec/support/shared_contexts/net_zero_content/categories.rb
  spec/support/shared_contexts/net_zero_content/indicators.rb
  spec/support/shared_contexts/net_zero_content/labels.rb
  spec/support/shared_contexts/net_zero_content/sources.rb
  spec/support/shared_contexts/net_zero_content/values.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

language change re: 2020 NDC
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

update summary text per request
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

update sitemap
  public/sitemap.xml
Due: none
