Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Show countries select with styles
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move logic to container
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Include reselect
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/utils/map.js
  package-lock.json
  package.json
  yarn.lock
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Move map logic to container
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

BONUS: component generator
  app/javascript/app/components/component-generator.zip
Due: none

Update eslint
  .eslintrc.yml
  package.json
  yarn.lock
Due: none

Create pages folder structure
  app/javascript/app/actions.js
  app/javascript/app/app.jsx
  app/javascript/app/components/ndc/ndc-actions.js
  app/javascript/app/components/ndc/ndc-reducers.js
  app/javascript/app/components/ndc/ndc.js
  app/javascript/app/page/page-styles.scss
  app/javascript/app/pages/container/container-styles.scss
  app/javascript/app/pages/container/container.jsx
  app/javascript/app/pages/ndc/ndc-component.jsx
  app/javascript/app/pages/ndc/ndc-styles.scss
  app/javascript/app/pages/ndc/ndc.js
  app/javascript/app/routes.js
  app/javascript/app/styles/base.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Docker working!
  .env.sample
  Dockerfile
  Gemfile
  config/database.yml
  docker-compose.yml
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
  package.json
Due: none

move handleOnClick from component to container
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

move query parse to container and pass as prop to pure component
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

add simple example of css grid for home page buttons
  app/javascript/app/components/button-group/button-group-styles.scss
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Changes to countries template
  doc/upload_template_specs.md
Due: none

Added more columns to locations table & csv template
  app/models/location.rb
  app/services/import_ndc_content.rb
  db/data/locations.csv
  db/migrate/20170822114607_add_iso_code3_rename_iso_code2.rb
  db/migrate/20170822124135_add_location_type_and_show_in_cw.rb
  db/schema.rb
  lib/tasks/locations.rake
  spec/factories/locations.rb
  spec/models/location_spec.rb
  spec/services/import_ndc_content_spec.rb
Due: none

create autocomplete component
  app/javascript/app/components/autocomplete-search/autocomplete-search-actions.js
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/autocomplete-search/autocomplete-search-reducers.js
  app/javascript/app/components/autocomplete-search/autocomplete-search-selectors.js
  app/javascript/app/components/autocomplete-search/autocomplete-search-styles.scss
  app/javascript/app/components/autocomplete-search/autocomplete-search.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Moved locations import file to csv, moved import logic to a service object
  app/services/import_locations.rb
  db/data/locations.csv
  lib/tasks/locations.rake
  spec/rails_helper.rb
  spec/services/import_locations_spec.rb
Due: none

reusable section component
  app/javascript/app/assets/backgrounds/home-section-1.png
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/components/section/section-component.jsx
  app/javascript/app/components/section/section-styles.scss
  app/javascript/app/components/section/section.js
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

set sections on home page with theme styles
  app/javascript/app/assets/backgrounds/home-section-1.png
  app/javascript/app/assets/backgrounds/home_bg_1.jpg
  app/javascript/app/assets/backgrounds/home_bg_2.jpg
  app/javascript/app/assets/backgrounds/home_bg_3.jpg
  app/javascript/app/assets/backgrounds/home_image_1.jpg
  app/javascript/app/assets/backgrounds/home_image_2.jpg
  app/javascript/app/assets/backgrounds/home_image_3.jpg
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/components/home/home-styles.scss
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/components/section/section-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Global imports for styles sass
  app/javascript/app/components/accordion/accordion-styles.scss
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/button-group/button-group-styles.scss
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/header/header-styles.scss
  app/javascript/app/components/icon/icon-styles.scss
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/components/map/map-styles.scss
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/results-list/results-list-styles.scss
  app/javascript/app/components/search/search-styles.scss
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/components/topbar/topbar-styles.scss
  config/webpack/loaders/sass.js
  package-lock.json
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Moved specify css to component instead in global
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/components/home/home-styles.scss
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove map util as wasn't neccesary
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/utils/map.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

set cw logo, remove in header when at home, update styles and images
  app/javascript/app/assets/backgrounds/home_image_1.jpeg
  app/javascript/app/assets/backgrounds/home_image_2.jpg
  app/javascript/app/assets/backgrounds/home_image_2.png
  app/javascript/app/assets/backgrounds/home_image_3.jpg
  app/javascript/app/assets/backgrounds/home_image_3.png
  app/javascript/app/assets/icons/cw-logo-white.svg
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/components/home/home-styles.scss
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav.js
  app/javascript/app/components/results-list/results-list-styles.scss
  app/javascript/app/components/section/section-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

yellow button
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/components/section/section-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

buttons for home page on grid layout
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/components/home/home-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix arrow first open bug
  app/javascript/app/components/accordion/accordion-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Include migrations in npm start command
  package.json
Due: none

update all components needed to pages
  app/javascript/app/components/error-page/error-page.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country.js
  app/javascript/app/pages/error/error-component.jsx
  app/javascript/app/pages/error/error.js
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/home/home.js
  app/javascript/app/pages/ndc-country/ndc-country-actions.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-reducers.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add video player frame and button
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add a links option to button comp, navigate when country selected from dropdown
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/home/home-actions.js
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-reducers.js
  app/javascript/app/pages/home/home.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

remove unneccassary reducers and actions
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/home/home-actions.js
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-reducers.js
  app/javascript/app/pages/home/home.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Move initial states to components
  app/javascript/app/actions.js
  app/javascript/app/components/countries-select/countries-select-reducers.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/country-explorer/country-explorer-actions.js
  app/javascript/app/components/country-explorer/country-explorer-component.jsx
  app/javascript/app/components/country-explorer/country-explorer-reducers.js
  app/javascript/app/components/country-explorer/country-explorer-styles.scss
  app/javascript/app/components/country-explorer/country-explorer.js
  app/javascript/app/components/country/country-component.jsx
  app/javascript/app/components/country/country.js
  app/javascript/app/components/map/map-reducers.js
  app/javascript/app/components/map/map.js
  app/javascript/app/components/nav/nav-reducers.js
  app/javascript/app/components/nav/nav.js
  app/javascript/app/components/ndc-country/ndc-country-reducers.js
  app/javascript/app/components/ndc-country/ndc-country.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
  package-lock.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix imports
  app/javascript/app/actions.js
  app/javascript/app/reducers.js
  package-lock.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fixes for proptypes and scss
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/section/section-component.jsx
  app/javascript/app/components/section/section-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

set search list data and filterS
  app/javascript/app/components/autocomplete-search/autocomplete-search-actions.js
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/autocomplete-search/autocomplete-search-reducers.js
  app/javascript/app/components/autocomplete-search/autocomplete-search-styles.scss
  app/javascript/app/components/autocomplete-search/autocomplete-search.js
  app/javascript/app/components/home/home-component.jsx
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Importer for country groupings
  app/models/location.rb
  app/models/location_member.rb
  app/services/import_location_members.rb
  db/migrate/20170823121414_create_location_members.rb
  db/schema.rb
  lib/tasks/locations.rake
  spec/factories/location_members.rb
  spec/models/location_spec.rb
  spec/rails_helper.rb
  spec/services/import_location_members_spec.rb
  spec/services/import_locations_spec.rb
Due: none

Updated template spec
  doc/upload_template_specs.md
Due: none

move intro theme to styles folder for clearer home page
  app/javascript/app/assets/backgrounds/home_image_1.jpeg
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/nav/nav.js
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/styles/themes/intro-light.scss
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix error with loading from pages in initial state
  app/javascript/app/data/initial-state.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix page change import
  app/javascript/app/data/initial-state.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Use env variables in docker
  Dockerfile
  docker-compose.yml
Due: none

Clear query on component unmount
  app/javascript/app/components/autocomplete-search/autocomplete-search.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix
