Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Show tabs
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Increased performance, interaction fixes
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

New selectors for parsing sectors and indicators
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: filter IPCCC version correctly
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

improve loading experience
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include ranges in quantifications
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reset action on menu close
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make rubocop happy
  .rubocop.yml
  app/controllers/api/v1/ndc_texts_controller.rb
  app/models/ndc_sdg/goal.rb
  app/models/ndc_sdg/sector.rb
  app/models/ndc_sdg/target.rb
Due: none

fix linter issues
  app/javascript/app/components/editor/components/barchart/barchart-component.jsx
  app/javascript/app/components/editor/components/barchart/barchart.js
  app/javascript/app/components/editor/components/draft-button/draft-button-component.jsx
  app/javascript/app/components/editor/components/draft-button/draft-button.js
  app/javascript/app/components/editor/components/draft-plugin/draft-plugin.js
  app/javascript/app/components/editor/components/widget-picker/widget-picker-component.jsx
  app/javascript/app/components/editor/components/widget-picker/widget-picker-styles.scss
  app/javascript/app/components/editor/components/widget-picker/widget-picker.js
  app/javascript/app/components/editor/editor-styles.scss
  app/javascript/app/components/editor/editor.jsx
  app/javascript/app/components/editor/focus-theme.scss
  app/javascript/app/routes.js
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Clear accordion selection when changing tab
  app/javascript/app/pages/ndc-compare/ndc-compare-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: show country data in correct column, add no content -
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Bridge null values in area chart
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Includes multiple values for same year
  .eslintrc.yml
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add emission pathways header, intro and section anchor links
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-selectors.js
  app/javascript/app/pages/emission-pathways/emission-pathways.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add endpoint to return ndc target csv file
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/models/ndc_sdg/ndc_target.rb
  config/routes.rb
Due: none

Disable for now stories section
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add spec
  app/models/ndc_sdg/ndc_target.rb
  spec/controllers/api/v1/ndc_sdgs_controller_spec.rb
Due: none

Fixes broken link and updates text
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix empty last range
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Manage scrolling of page when changing routes
  app/javascript/app/app.jsx
  app/javascript/app/components/scroll-to-top/scroll-to-top.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: show ghg emissions axes correctly
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

box shadow for sub menus
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Include line when no quantifiable target
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

allow console.log in logstate action
  app/javascript/app/components/editor/components/draft-button/draft-button-component.jsx
  app/javascript/app/components/editor/components/draft-button/draft-button.js
  app/javascript/app/components/editor/editor-actions.js
  app/javascript/app/components/editor/editor-component.jsx
  app/javascript/app/components/editor/editor-initial-state.js
  app/javascript/app/components/editor/editor-reducers.js
  app/javascript/app/components/editor/editor.js
  app/javascript/app/components/editor/editor.jsx
  app/javascript/app/reducers.js
  app/javascript/app/utils/draft.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change country graph to step stacked area
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix bug that trims ndcs text when filtering by goal target or sector
  app/controllers/api/v1/ndc_texts_controller.rb
Due: none

add title and orchestrate focuses
  .eslintrc.yml
  app/javascript/app/components/editor/editor-actions.js
  app/javascript/app/components/editor/editor-component.jsx
  app/javascript/app/components/editor/editor-initial-state.js
  app/javascript/app/components/editor/editor-reducers.js
  app/javascript/app/components/editor/editor-styles.scss
  app/javascript/app/components/editor/editor.js
  app/javascript/app/styles/base.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add toolbar plugins
  app/javascript/app/components/editor/editor-component.jsx
  app/javascript/app/components/editor/editor-styles.scss
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Hides quantifications and sectoral information before deploying to prod
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Search linkage text in all available ndc docs
  app/services/import_ndc_sdg_targets.rb
  spec/services/import_ndc_sdg_targets_spec.rb
Due: none

Add translated field to ndc entity
  app/serializers/api/v1/ndc_text_search_result_serializer.rb
  app/serializers/api/v1/ndc_text_serializer.rb
  app/services/import_ndc_texts.rb
  db/migrate/20171109140033_change_ndcs.rb
  db/schema.rb
  yarn.lock
Due: none

Add disclaimer to frontend
  app/javascript/app/components/ndc-translation-disclaimer/ndc-translation-disclaimer-component.jsx
  app/javascript/app/components/ndc-translation-disclaimer/ndc-translation-disclaimer-styles.scss
  app/javascript/app/components/ndc-translation-disclaimer/ndc-translation-disclaimer.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Refactor rake task logging
  app/lib/timed_logger.rb
  lib/tasks/adaptation.rake
  lib/tasks/db.rake
  lib/tasks/historical_emissions.rake
  lib/tasks/indc.rake
  lib/tasks/locations.rake
  lib/tasks/ndc_sdg_targets.rake
  lib/tasks/ndcs.rake
  lib/tasks/quantifications.rake
  lib/tasks/sdgs.rake
  lib/tasks/socioeconomics.rake
  lib/tasks/stories.rake
  lib/tasks/timeline.rake
  lib/tasks/wb_extra.rake
  lib/tasks/wri_metadata.rake
Due: none

Tweak rubocop.yml
  .rubocop.yml
Due: none

Refactor to make rubocop happy
  app/controllers/api/v1/ndc_texts_controller.rb
  app/controllers/api/v1/ndcs_controller.rb
  app/controllers/application_controller.rb
  app/models/indc/category.rb
  app/models/ndc_sdg/ndc_target.rb
  app/serializers/api/v1/quantification/value_serializer.rb
  app/services/import_adaptation.rb
  app/services/import_indc.rb
  app/services/import_ndc_sdg_targets.rb
  app/views/layouts/application.html.erb
  spec/models/socioeconomic/indicator_spec.rb
  spec/services/import_historical_emissions_spec.rb
  spec/services/import_quantifications_spec.rb
Due: none

Made rubocop settings less permissive
  .rubocop.yml
  app/controllers/api/v1/ndcs_controller.rb
  app/services/import_indc.rb
  app/services/import_quantifications.rb
Due: none

Create Emissions Pathways Table - WIP
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-styles.scss
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
  app/javascript/app/components/query-menu/query-menu-component.jsx
  app/javascript/app/components/query-menu/query-menu-styles.scss
  app/javascript/app/components/query-menu/query-menu.js
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-selectors.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Page crash when no document content for NDC overview
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

remove unecessary styles
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update styles
  app/javascript/app/components/ndc-translation-disclaimer/ndc-translation-disclaimer-component.jsx
  app/javascript/app/components/ndc-translation-disclaimer/ndc-translation-disclaimer-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
