Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Add sticky dropdowns in lts explore
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
  app/javascript/app/components/ndcs/shared/donut-tooltip/donut-tooltip.jsx
  app/javascript/app/styles/override/sticky.scss
  db/secondbase/structure.sql
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linting
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add sticky to NDC explore
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add labels to icons dropdown
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add sticky dropdowns in lts explore
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
  app/javascript/app/components/ndcs/shared/donut-tooltip/donut-tooltip.jsx
  app/javascript/app/styles/override/sticky.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use white variable
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Move indicator id to the end of the table
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add document link in LTS country
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-country/lts-country-selectors.js
  app/javascript/app/pages/lts-country/lts-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix F-gas in KYOTO gases aggregates
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change Parties text on tooltip and legend if EUU
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
  app/javascript/app/components/ndcs/shared/donut-tooltip/donut-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change progress bars border-radius
  app/javascript/app/components/progress/progress-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add external Link Icon
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-country/lts-country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

remove slackSend command as no longer installed
  Jenkinsfile
Due: none

Enable parsing html in modals
  app/javascript/app/components/metadata-text/metadata-text-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add again 2020 ndc tracker for production
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove back button on production
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds new table and new references
  app/models/indc/document.rb
  app/models/indc/value.rb
  db/migrate/20200317204602_create_indc_documents.rb
  db/migrate/20200317210227_add_document_id_to_indc_values.rb
  db/migrate/20200317210928_add_multiple_versions_to_indc_indicators.rb
  db/secondbase/structure.sql
  db/structure.sql
  spec/factories/indc_documents.rb
  spec/models/indc/document_spec.rb
Due: none

Update files naming for indc import
  config/data_uploader.yml
Due: none

adds missing file
  config/data_uploader.yml
Due: none

Filters indcs by document slug
  app/controllers/api/v1/data/ndc_content/documents_controller.rb
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/data/ndc_content/document_serializer.rb
  app/serializers/api/v1/indc/value_serializer.rb
  app/services/import_indc.rb
  config/routes.rb
Due: none

Filter also the ndcs content overview
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Fixes specs and allways return the non document linked indicators
  app/controllers/api/v1/ndcs_controller.rb
  spec/services/import_indc_spec.rb
Due: none

update travis postgres addon
  .travis.yml
Due: none

fighting with postgresql versions
  .travis.yml
Due: none

removed GBR from EU in this place we missed before
  app/services/import_locations.rb
Due: none

Adds new endpoint to fetch documents
  app/controllers/api/v1/ndc_documents_controller.rb
  app/models/indc/document.rb
  app/serializers/api/v1/indc/countries_documents_serializer.rb
  app/serializers/api/v1/indc/country_document_serializer.rb
  config/routes.rb
Due: none

Allow the ndcs-explore not to find the emissionsIndicator
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

exclude created_at and updated_at
  app/models/indc/document.rb
Due: none

rubocop complain
  app/models/indc/document.rb
Due: none

Get document options from document endpoint
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-actions.js
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-reducers.js
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/data/constants.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update lts slug and meta
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove emission value from the map tooltip on the Explore LTS/NDC
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
  app/javascript/app/components/ndcs/shared/explore-map-tooltip/explore-map-tooltip-styles.scss
  app/javascript/app/components/ndcs/shared/explore-map-tooltip/explore-map-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add tooltips to the filter dropdowns on the Explore NDC and LTS pages
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change cursor on the LTS/NDC explore map
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add document dropdown
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show selected document title and fix selectors
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-selectors.js
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change data depending on document
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-selectors.js
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-actions.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add document provider. Fix country accordion
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-selectors.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-actions.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion.js
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/providers/documents-provider/documents-provider-actions.js
  app/javascript/app/providers/documents-provider/documents-provider-reducers.js
  app/javascript/app/providers/documents-provider/documents-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix styles
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
