Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

linter
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add google search console file for verification purposes
  public/googlee0a877d9688bc5bc.html
Due: none

Adds info and fixes identation
  public/sitemap.xml
Due: none

removing references of gwp in the data explorer
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/utils/data-explorer.js
  app/services/api/v1/data/historical_emissions/filter.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix dependencies
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Filter sectors based on datasource
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make accordions closed by default as requested
  app/javascript/app/components/accordion/accordion-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include iso_code3 in the response, and allow filtering by iso_code3
  app/models/agriculture_profile/country_context.rb
  app/serializers/api/v1/data/agriculture_profile/country_context_serializer.rb
Due: none

Fixes bug with filtering by iso_code3
  app/models/agriculture_profile/country_context.rb
Due: none

Enable filtering by iso_code3, and include iso_code3 in responses
  app/controllers/api/v1/data/agriculture_profile/emissions_controller.rb
  app/models/agriculture_profile/area.rb
  app/models/agriculture_profile/emission.rb
  app/models/agriculture_profile/meat_consumption.rb
  app/models/agriculture_profile/meat_production.rb
  app/models/agriculture_profile/meat_trade.rb
  app/serializers/api/v1/data/agriculture_profile/area_serializer.rb
  app/serializers/api/v1/data/agriculture_profile/meat_consumption_serializer.rb
  app/serializers/api/v1/data/agriculture_profile/meat_production_serializer.rb
  app/serializers/api/v1/data/agriculture_profile/meat_trade_serializer.rb
Due: none

updates filters in docs
  docs/data_explorer.md
Due: none

Implement basic routing for agriculture sector
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions.js
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions.js
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-component.jsx
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action.js
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-styles.scss
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/sectors-agriculture-sections/sectors-agriculture-sections.js
  app/javascript/app/styles/sticky.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add child routes to sectors & remove old sectors teaser component
  app/javascript/app/pages/sectors/sectors-component.jsx
  app/javascript/app/pages/sectors/sectors-styles.scss
  app/javascript/app/pages/sectors/sectors.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/sectors-routes/sectors-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add new background image for agriculture sector
  app/javascript/app/assets/headers/sectors-agriculture.jpg
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-styles.scss
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/styles/sticky.scss
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Implement basic routing for agriculture sector
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-styles.scss
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/styles/sticky.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add new background image for agriculture sector
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-styles.scss
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/styles/sticky.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add child routes to sectors & remove old sectors teaser component
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add FEATURE_AGRICULTURE flag to .env file
  app/javascript/app/pages/sectors/sectors-component.jsx
  app/javascript/app/pages/sectors/sectors-styles.scss
  app/javascript/app/pages/sectors/sectors.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove comments
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add Resources for Action section to Agriculture
  app/javascript/app/assets/partners/partners-CGIAR.png
  app/javascript/app/assets/partners/partners-FAOSTAT.png
  app/javascript/app/assets/partners/partners-GAEZ.png
  app/javascript/app/assets/partners/partners-partnership-on-resilience.png
  app/javascript/app/assets/partners/partners-resourcewatch.png
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-component.jsx
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add unique keys for divs in Resource for action
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-component.jsx
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change button to a tag
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unused function
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add emissions pathways graph for Agriculture profile
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-actions.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-reducers.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add new background image for agriculture sector
  app/javascript/app/routes/app-routes/app-routes.js
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Implement basic routing for agriculture sector
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-styles.scss
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/styles/sticky.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add new background image for agriculture sector
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-styles.scss
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/styles/sticky.scss
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Quick commit
  .env.sample
  app/javascript/app/app.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider-actions.js
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider-reducers.js
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider.js
  app/javascript/app/reducers.js
  app/javascript/app/styles/settings.scss
  db/secondbase/structure.sql
  db/structure.sql
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add child routes to sectors & remove old sectors teaser component
  app/javascript/app/pages/sectors/sectors-component.jsx
  app/javascript/app/pages/sectors/sectors-styles.scss
  app/javascript/app/pages/sectors/sectors.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add countries contexts section
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context.js
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update dependencies
  package.json
  yarn.lock
Due: none

Update provider
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider-actions.js
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Small fixes
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add guard
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
