Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

unnecessary variable setting
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

Tweak accordion styles & use routes for rendering the Custom compare page sections
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-accordion/custom-compare-accordion-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-accordion/custom-compare-accordion-styles.scss
  app/javascript/app/pages/custom-compare/custom-compare-accordion/custom-compare-accordion.js
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/routes/app-routes/custom-compare-routes/custom-compare-routes.js
  app/javascript/app/styles/themes/accordion/sub-accordion-custom-compare.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Revert "Remove LTS tracker and redirect to LTS explore"
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table.js
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz.js
  app/javascript/app/pages/ndcs-lts/ndcs-lts-actions.js
  app/javascript/app/pages/ndcs-lts/ndcs-lts-component.jsx
  app/javascript/app/pages/ndcs-lts/ndcs-lts-reducers.js
  app/javascript/app/pages/ndcs-lts/ndcs-lts-styles.scss
  app/javascript/app/pages/ndcs-lts/ndcs-lts.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/lts-tracker-sections/lts-tracker-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Restore LTS tracker
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get and display data from new endpoint
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-reducers.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

LTS is a narrow column too
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add targets row (Dummy). Fix table styles
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
  app/javascript/app/styles/themes/table/compare-table-theme.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Linting
  app/javascript/app/styles/themes/table/compare-table-theme.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Remove FEATURE_LTS_UPDATED_DATA
  .env.sample
  Dockerfile
  Jenkinsfile
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add category to table
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Restore LTS flag just for lts submission on LTS tracker map
  .env.sample
  Dockerfile
  Jenkinsfile
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move "custom-compare-accordion" component to the components folder
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-component.jsx
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-styles.scss
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
  app/javascript/app/routes/app-routes/custom-compare-routes/custom-compare-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix typo
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Enables comparison betweeen locations-documents
  app/controllers/api/v1/ndcs_controller.rb
  app/models/indc/indicator.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

updates params
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Add new clear button and make table taller
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change class name
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update answerLabel
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Preserve target search params when changing section on Custom comparison page
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create custom-compare-accordion provider & use documents slugs in target URL param
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider-actions.js
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider-reducers.js
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider.js
  app/javascript/app/providers/custom-comparison-provider/ndc-country-accordion-provider-actions.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add countries count to NDC explore summary
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update description
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update search placeholder
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix extra 'Not submitted' on donut
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use list parsing for definition list and unify
  app/javascript/app/components/country/country-lts-overview/country-lts-overview-component.jsx
  app/javascript/app/components/country/country-lts-overview/country-lts-overview-styles.scss
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/definition-list-legacy/definition-list-legacy-component.jsx
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linting
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add themr to legend chart component
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update legend styles
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Use project chart component and legend
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update action name
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/components/modal-png-download/modal-png-download-actions.js
  app/javascript/app/components/modal-png-download/modal-png-download-reducers.js
  app/javascript/app/components/modal-png-download/modal-png-download.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Feed custom compare page with data (overview, mitigation, adaptation)
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-component.jsx
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-styles.scss
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
  app/javascript/app/data/country-documents.js
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-component.jsx
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Feed custom compare page with data (Sectoral information) & Tweak no-data and loading messages,
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-component.jsx
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-styles.scss
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove unused provider files
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-styles.scss
  app/javascript/app/providers/custom-comparison-provider/ndc-country-accordion-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update dependencies
  package.json
  yarn.lock
Due: none

Add browser detection utils
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add download
  app/javascript/app/components/modal-png-download/modal-png-download-component.jsx
  app/javascript/app/components/modal-png-download/modal-png-download.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add inline svg logo
  app/javascript/app/components/modal-png-download/modal-png-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix bug for the same country-documents & filter out categories without sectors
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider-actions.js
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Cleaning
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-component.jsx
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-styles.scss
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add clarification comment
  app/javascript/app/components/modal-png-download/modal-png-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
