Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Linting
  app/javascript/app/components/data-explorer-content/data-explorer-content-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Select metadata depending on source. Add Source+Version options
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Keep query when changing from data to meta
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add info icon to dropdown and multiselect component
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update mycw selector to handle new selectors api
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add info to sectors dropdown
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add pathways and ghg mobile images
  app/javascript/app/assets/screenshots/ghg-mobile-screenshot@2x.png
  app/javascript/app/assets/screenshots/pathways-mobile-screenshot@2x.png
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update pathways and delete unneeded pictures
  app/javascript/app/assets/screenshots/country-bg-screenshot.jpg
  app/javascript/app/assets/screenshots/country-sm-screenshot.jpg
  app/javascript/app/assets/screenshots/country-sm-screenshot@2x.jpg
  app/javascript/app/assets/screenshots/emission-pathways-screenshot.jpg
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@1x.png
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@2x.png
  app/javascript/app/assets/screenshots/pathways-screenshot@2x.png
Due: none

Standardize query and send it to data fetch
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix queries and update on change filters
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider.js
  app/javascript/app/utils/data-explorer.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix NDC content indicators filter
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

CAIT only has AR2 version
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix NDC-SDG targets filter
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update styles to handle retina images
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Linter
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Move filter parsing to the selector
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fixes backslashes
  app/models/ndc.rb
Due: none

Add query to download link
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rename methodology data container in store
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Disable filters while loading. Fix error while loading
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix target filter
  app/javascript/app/utils/data-explorer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update disabled filters for methodology data
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sort sectors and update hasTooltipData function
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add conditional compare button rendering
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix methodology Linkages and add goal number to filter
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Correct order for Goals and Targets dropdowns
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update no search message
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
  app/javascript/app/pages/ndc-search/ndc-search.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update message styles
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

1.9.0
  package-lock.json
  package.json
Due: none

Add default image to stories
  app/javascript/app/assets/backgrounds/stories-default.jpg
  app/javascript/app/components/stories/stories-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Don't show search box on overview section
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include how to release doc
  docs/releases.md
Due: none

Added NDC content source filter
  app/services/api/v1/data/historical_emissions_filter.rb
  app/services/api/v1/data/ndc_content_filter.rb
  docs/data_explorer.md
  spec/controllers/api/v1/data/ndc_content_controller_spec.rb
Due: none

Make quantifications available on production
  Jenkinsfile
Due: none

Add new chart colors to UI
  app/javascript/app/components/circular-chart/circular-chart-component.jsx
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-component.jsx
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-selectors.js
  app/javascript/app/components/country-selector-footer/country-selector-footer-component.jsx
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add years and add styles
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update stories import to return nil instead of empty string
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/services/import_stories.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use reduce to avoid nulls
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create multi-dropdown - WIP
  app/javascript/app/assets/icons/arrow-down.svg
  app/javascript/app/assets/icons/close.svg
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/item.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/menu.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/selector.jsx
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown-component.jsx
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown-styles.scss
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown.js
  app/javascript/app/components/dropdown/multi-dropdown/themes/dropdown-button.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/styles/settings.scss
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
