Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix migrations, schema, models and specs
  app/models/cait_indc.rb
  app/models/cait_indc/category.rb
  app/models/cait_indc/chart.rb
  app/models/cait_indc/indicator.rb
  app/models/cait_indc/label.rb
  app/models/cait_indc/submission.rb
  app/models/cait_indc/value.rb
  app/models/global_indc.rb
  app/models/global_indc/category.rb
  app/models/global_indc/indicator.rb
  app/models/indc/category.rb
  app/models/indc/sector.rb
  app/models/location.rb
  app/models/wb_indc.rb
  app/models/wb_indc/category.rb
  app/models/wb_indc/indicator.rb
  app/models/wb_indc/indicator_type.rb
  app/models/wb_indc/sector.rb
  app/models/wb_indc/value.rb
  db/migrate/20171027155954_drop_old_indc_tables_and_views.rb
  db/migrate/20171027164658_create_new_indc_categories.rb
  db/migrate/20171027164708_create_new_indc_sectors.rb
  db/schema.rb
  spec/factories/global_indc_categories.rb
  spec/factories/global_indc_indicators.rb
  spec/factories/indc_categories.rb
  spec/factories/indc_sectors.rb
  spec/models/global_indc/category_spec.rb
  spec/models/global_indc/indicator_spec.rb
  spec/models/indc/sector_spec.rb
Due: none

Add new INDC models
  app/models/indc/category.rb
  app/models/indc/category_type.rb
  app/models/indc/indicator.rb
  app/models/indc/label.rb
  app/models/indc/sector.rb
  app/models/indc/source.rb
  app/models/indc/submission.rb
  app/models/indc/value.rb
Due: none

Fix models and factories so specs work
  app/models/indc/label.rb
  app/models/indc/source.rb
  app/models/indc/submission.rb
  spec/factories/indc_categories.rb
  spec/factories/indc_indicators.rb
  spec/factories/indc_labels.rb
  spec/models/indc/indicator_spec.rb
  spec/models/indc/label_spec.rb
  spec/models/indc/submission_spec.rb
Due: none

Add test case for category import
  spec/services/import_indc.rb
Due: none

Add integer conversion
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix frontend by adding integer conversion
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add up to date schema.rb
  db/schema.rb
Due: none

Fix import process
  app/services/import_indc.rb
Due: none

Change indicator slug creation
  app/controllers/api/v1/ndcs_controller.rb
  app/services/import_indc.rb
Due: none

Add new indc import process
  app/services/import_cait_indc.rb
  app/services/import_global_indc.rb
  app/services/import_indc.rb
  app/services/import_wb_indc.rb
  lib/tasks/db.rake
  lib/tasks/indc.rake
  spec/services/import_cait_indc_spec.rb
  spec/services/import_global_indc_spec.rb
  spec/services/import_indc.rb
  spec/services/import_wb_indc_spec.rb
Due: none

Make rubocop happy
  app/controllers/api/v1/ndcs_controller.rb
  app/services/import_indc.rb
  lib/tasks/indc.rake
  spec/factories/indc_categories.rb
  spec/factories/indc_category_types.rb
  spec/factories/indc_indicators.rb
  spec/factories/indc_labels.rb
  spec/factories/indc_sources.rb
  spec/models/indc/submission_spec.rb
Due: none

Update indc endpoint and serializers
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/indc/category_serializer.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
  app/serializers/api/v1/indc/label_serializer.rb
  spec/controllers/api/v1/ndcs_controller_spec.rb
  spec/factories/indc_indicators.rb
Due: none

Update main db import task
  lib/tasks/db.rake
Due: none

Remove code added by rebase
  lib/tasks/cait_indc.rake
  lib/tasks/global_indc.rake
  lib/tasks/wb_indc.rake
Due: none

Update browser list to match internet explorer
  .babelrc
  .postcssrc
Due: none

Include polyfils
  app/views/layouts/application.html.erb
Due: none

GA code
  app/javascript/app/pages/root/root.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Correctly order targets
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add parent category to category model, db and import process
  app/models/indc/category.rb
  app/services/import_indc.rb
  db/migrate/20171027164658_create_new_indc_categories.rb
  db/schema.rb
Due: none

Update import process and ndcs controller
  app/controllers/api/v1/ndcs_controller.rb
  app/services/import_indc.rb
Due: none

Update frontend selectors
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-selectors.js
  app/javascript/app/components/ndcs-table/ndcs-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update NDC import process and controller
  app/controllers/api/v1/ndcs_controller.rb
  app/services/import_indc.rb
Due: none

Avoid crashing when there's no label to match value
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: change to button on NDCs when only one document, update to select ANNEXI for UNFCCC
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

remove broken sorting of SDG targets
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix ie 11 crashes
  app/views/layouts/application.html.erb
Due: none

Hide sectoral for now
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move function to utils and rename regex
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Display lines only if data available
  app/javascript/app/pages/country/country-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix firefox infitnite height
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Shorter deploy time caching gems
  Dockerfile
  Dockerfile-dev
Due: none

Make compareIndex generic by object key
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix UNFCCC data for gases and sectors not fetching due to lack of WORLD param
  app/javascript/app/components/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add loader for GHG graph
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix country map in firefox
  app/javascript/app/components/country-ghg-map/country-ghg-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add no content for ghg graph if data no present
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change gdp scale
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use scale constant
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

BONUS: fix buttons in ndcs country page header when only one doc
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
