Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: Reset tab index on close
  app/javascript/app/components/modal-metadata/modal-metadata-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Esp model table routes and WIP of the table
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-component.jsx
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-styles.scss
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table.js
  app/javascript/app/components/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-selectors.js
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove commented code until we need it
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add viz assets
  app/javascript/app/assets/visualisations/barchart.png
Due: none

temporary API mocks
  public/mocks/data.json
  public/mocks/my-visualisations.json
Due: none

WIP viz selection workflow
  .gitignore
  app/javascript/app/components/card/card-component.jsx
  app/javascript/app/components/editor/components/widget-picker/widget-picker-actions.js
  app/javascript/app/components/editor/components/widget-picker/widget-picker-component.jsx
  app/javascript/app/components/editor/components/widget-picker/widget-picker-initial-state.js
  app/javascript/app/components/editor/components/widget-picker/widget-picker-reducers.js
  app/javascript/app/components/editor/components/widget-picker/widget-picker-styles.scss
  app/javascript/app/components/editor/components/widget-picker/widget-picker.js
  app/javascript/app/components/editor/editor-component.jsx
  app/javascript/app/components/header/header.js
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/reducers.js
  app/javascript/app/utils/utils.js
  package-lock.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Populate model show table with correct data, fix table without links
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-component.jsx
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table.js
  app/javascript/app/components/emission-pathways-overview/emission-pathways-overview-selectors.js
  app/javascript/app/components/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-selectors.js
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Always redirect to scenarios route from main show page
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Style links on index table
  app/javascript/app/components/table/table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add borders to sections
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-styles.scss
  app/javascript/app/pages/emission-pathways/emission-pathways-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add padding to section
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix sticky nav styles
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix: show column selector with padding from column titles
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove indicator table links
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move custom styles to table component
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
  app/javascript/app/styles/themes/dropdown/multi-select-table.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: show table when no default columns supplied
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make slugs param type indifferent and remove unneded code
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/components/modal-metadata/modal-metadata-actions.js
  app/javascript/app/components/modal-metadata/modal-metadata-reducers.js
  app/javascript/app/components/modal/modal-header-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove bunker fuels
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country-ghg-map/country-ghg-map-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

visualisation popup ready: to be design-reviewed
  app/javascript/app/components/editor/components/widget-picker/widget-picker-component.jsx
  app/javascript/app/components/editor/components/widget-picker/widget-picker-styles.scss
  app/javascript/app/components/editor/editor-component.jsx
  app/javascript/app/components/editor/editor-initial-state.js
  app/javascript/app/styles/layout.scss
  app/javascript/app/styles/settings.scss
  public/mocks/my-visualisations.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add black list to stop un renderable fields
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: include excluded sectors on dropdown options logic
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

per Capita and per GDP total calc
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add button to ndc-sdg linkages
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated countries menu styles
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/styles/themes/results-list/results-list-light.scss
  app/javascript/app/styles/themes/search/search-countries.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: hover on line chart to country map
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add link styles to table and accordion when rendering html
  app/javascript/app/components/definition-list/definition-list-styles.scss
  app/javascript/app/components/table/table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

button groups to sdg linkages map
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set map background to gray on ndcs search
  app/javascript/app/components/result-card/result-card-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: fetch on mount when already has meta data
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: persistence of params for ghg emissions
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add fail safe for countries and ndc-sdgs provider
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/providers/ndcs-documents-meta-provider/ndcs-documents-meta-provider-actions.js
  app/javascript/app/providers/ndcs-sdgs-data-provider/ndcs-sdgs-data-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add errors to some more reducers
  app/javascript/app/providers/ndcs-documents-meta-provider/ndcs-documents-meta-provider-reducers.js
  app/javascript/app/providers/ndcs-sdgs-data-provider/ndcs-sdgs-data-provider-reducers.js
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider-actions.js
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix condition - Tired of the eventual prettify nonsense
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP add creation workflow
  app/javascript/app/components/editor/components/viz-creator/viz-creator-actions.js
  app/javascript/app/components/editor/components/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/editor/components/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/editor/components/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/editor/components/widget-picker/widget-picker-component.jsx
  app/javascript/app/components/editor/draft-js-side-toolbar-plugin/postcss.config.js
  app/javascript/app/components/editor/draft-js-side-toolbar-plugin/src/components/BlockTypeSelect/index.js
  app/javascript/app/components/editor/draft-js-side-toolbar-plugin/src/components/DefaultBlockTypeSelect/index.js
  app/javascript/app/components/editor/draft-js-side-toolbar-plugin/src/components/Toolbar/index.js
  app/javascript/app/components/editor/draft-js-side-toolbar-plugin/src/index.js
  app/javascript/app/components/editor/draft-js-side-toolbar-plugin/src/utils/__test__/createStore.js
  app/javascript/app/components/editor/draft-js-side-toolbar-plugin/src/utils/createStore.js
  app/javascript/app/components/editor/draft-js-side-toolbar-plugin/webpack.config.js
  app/javascript/app/components/editor/editor-component.jsx
  app/javascript/app/components/editor/editor-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Only show filters that are required for data fetched
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add domain prop to line charts, set to 0 for countries and ghg emissions
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: allow users to go back to table view in history for sdg map
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Dont show if we dont have targetData and refactor
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Dont use errors, just check for empty data
  app/javascript/app/components/country-ghg-map/country-ghg-map-selectors.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/providers/ndcs-documents-meta-provider/ndcs-documents-meta-provider-actions.js
  app/javascript/app/providers/ndcs-documents-meta-provider/ndcs-documents-meta-provider-reducers.js
  app/javascript/app/providers/ndcs-sdgs-data-provider/ndcs-sdgs-data-provider-actions.js
  app/javascript/app/providers/ndcs-sdgs-data-provider/ndcs-sdgs-data-provider-reducers.js
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider-actions.js
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
