Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Remove y axis label
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/labels/labels-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unused file
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update Readme
  README.md
Due: none

Good boy, Hound
  app/serializers/api/v1/ndc_sdg/goal_overview_serializer.rb
Due: none

Add delete button to insights card
  app/javascript/app/.vscode/launch.json
  app/javascript/app/components/my-climate-watch/my-insights/my-cw-insight-card/my-cw-insight-card-component.jsx
  app/javascript/app/components/my-climate-watch/my-insights/my-cw-insight-card/my-cw-insight-card-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Check if numbers exists first
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change waste bin color on editor card
  app/javascript/app/assets/icons/delete.svg
  app/javascript/app/components/my-climate-watch/my-insights/my-cw-insight-card/my-cw-insight-card-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update labels as requested
  app/javascript/app/routes/app-routes/NDCCompare-routes/NDCCompare-routes.js
  app/javascript/app/routes/app-routes/NDCCountry-routes/NDCCountry-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add sorting on multiselect
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reverse non line chart tooltip to mirror stack order
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tooltip/tooltip-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Send message when scroll is triggered
  app/javascript/app/components/scroll-to-highlight-index/scroll-to-highlight-index.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Search component should have the query as a value
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add placehoder selector
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-initial-state.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reset to initial state on open viz creation reducer
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add placeholder selector
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change input prop name for value
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/search/search-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Dont show 0 when there are no results
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete yAxis lines on linechart
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Value is the right prop name for Search component
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Install whenever and schedule stories import
  Dockerfile
  config/schedule.rb
Due: none

Sanitize urls to add protocol if needed
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add dots and delete unused yAxis label
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Don't use startCase in CO2
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-overview/modal-overview/modal-overview-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/modal-overview/modal-overview-component.jsx
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
  app/javascript/app/components/table/table.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Run whenever after copy resources
  Dockerfile
Due: none

Remove animation to make dots visible
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert "Install whenever and schedule stories import"
  Dockerfile
  config/schedule.rb
Due: none

Small tooltip styles fixes
  app/javascript/app/styles/themes/chart-tooltip/chart-tooltip.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Calculate included documents and rephrase
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add stackOffset to barchart to handle negative values
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add total_count metadata and update specs
  app/controllers/api/v1/ndc_texts_controller.rb
  spec/controllers/api/v1/ndc_texts_controller_spec.rb
Due: none

Fix response format and add total documents to phrase
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map.js
  app/javascript/app/pages/ndc-search/ndc-search-reducers.js
  app/javascript/app/pages/ndc-search/ndc-search.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix ndcs documents meta provider
  app/javascript/app/providers/ndcs-documents-meta-provider/ndcs-documents-meta-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Go for it, Hound
  app/controllers/api/v1/ndc_texts_controller.rb
  spec/controllers/api/v1/ndc_texts_controller_spec.rb
Due: none

Add grid to vis cards layout
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Remove whenever task from docker
  Dockerfile
Due: none

Fix not aligned tooltip in ESP and use only 3 decimals
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/styles/themes/chart-tooltip/chart-tooltip.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

https gfw env
  k8s/production/deployment.yaml
Due: none

Update steps styles
  app/javascript/app/components/my-climate-watch/my-cw-placeholder-card/my-cw-placeholder-card-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/selectable-list/selectable-list-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-one.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-two.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Satisfy linter
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

1.6.0
  package-lock.json
  package.json
Due: none
