Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP vizCreator with customizable Line
  app/javascript/app/components/editor/charter.jsx
  app/javascript/app/components/editor/components/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/editor/components/viz-creator/components/charts/line/line.js
  app/javascript/app/components/editor/components/viz-creator/components/charts/line/utils.js
  app/javascript/app/components/editor/components/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/editor/components/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/editor/components/viz-creator/viz-creator.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/routes.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP vizCreator with customizable Line
  app/javascript/app/components/editor/components/viz-creator/viz-creator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix react warning same key of paths
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Export actions correctly to import them in reducers
  app/javascript/app/providers/esp-scenarios-provider/esp-scenarios-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix select indicators with available data
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Improve performance in indicator options and make scenario label error safe
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Only fetch locations with time series
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-component.jsx
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-actions.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Improve ndc sdg import
  app/lib/text_normalizer.rb
  app/services/import_ndc_sdg_targets.rb
  app/services/import_ndc_texts.rb
Due: none

Make rubocop happy
  app/lib/text_normalizer.rb
  app/services/import_ndc_sdg_targets.rb
Due: none

Remove toggle info and place new info buttons
  app/javascript/app/components/button/info-button/info-button-component.jsx
  app/javascript/app/components/button/info-button/info-button-styles.scss
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-actions.js
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-reducers.js
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability.js
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-actions.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-reducers.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adapt layout padding to design
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add new topojson with little countries and EU28
  app/javascript/app/data/world-50m-topo.json
Due: none

Reorder json to show all EU countries and highlight EU28 when selected in the list
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/data/world-50m-topo.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update slugs for metadata modals and add missing functionality for info buttons
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix modal padding
  app/javascript/app/components/modal/modal-styles.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Correct slugs for metadata
  app/javascript/app/components/country-ndc-overview/country-ndc-overview.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Display islands and points when necessary filtering path layers
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/country-ghg-map/country-ghg-map-selectors.js
  app/javascript/app/components/country-ghg-map/country-ghg-map.js
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/ndcs-search-map/ndcs-search-map-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/world-50m-topo.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix hover interaction
  app/javascript/app/components/button/info-button/info-button-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add box-shadow to info button
  app/javascript/app/components/button/info-button/info-button-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix transition
  app/javascript/app/components/button/info-button/info-button-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

hide quantification metadata from prod
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Split text into two columns
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Enables accessing metadata info on the NDCS module
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs-map/ndcs-map.js
  app/javascript/app/pages/ndcs/ndcs-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Enables metadata info window for ndc-sdgs linkages page
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map.js
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Correct title alignment with buttons
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Display only available models in the graph - WIP
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-actions.js
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-reducers.js
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
  app/javascript/app/providers/esp-locations-provider/esp-locations-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

update industrial processes sector in constants
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix scenarios filter
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: only show valid sectors in country emissions legend
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

disable esp
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert "disable esp"
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert "Select country menu - WIP"
  app/javascript/app/components/countries-menu/countries-menu-actions.js
  app/javascript/app/components/countries-menu/countries-menu-component.jsx
  app/javascript/app/components/countries-menu/countries-menu-reducers.js
  app/javascript/app/components/countries-menu/countries-menu-styles.scss
  app/javascript/app/components/countries-menu/countries-menu.js
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/pages/country-index/country-index-component.jsx
  app/javascript/app/pages/country-index/country-index.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change gutter-padding value and use it instead of grid-gap variable
  app/javascript/app/styles/layout.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Parse html in description
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix modal padding
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add box-shadow and only show not selected items in graph legend
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move modal-overview to components and add tabs as is going to be reused
  app/javascript/app/components/emission-pathways-overview/emission-pathways-overview-component.jsx
  app/javascript/app/components/emission-pathways-overview/emission-pathways-overview.js
  app/javascript/app/components/modal-overview/modal-overview-actions.js
  app/javascript/app/components/modal-overview/modal-overview-component.jsx
  app/javascript/app/components/modal-overview/modal-overview-reducers.js
  app/javascript/app/components/modal-overview/modal-overview-styles.scss
  app/javascript/app/components/modal-overview/modal-overview.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Hide instead of removing multiselect to avoid unmounted setState
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Make it possible to remove all scenarios to select the first one
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add info modal for esp graph
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-component.jsx
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph-selectors.js
  app/javascript/app/components/emission-pathway-graph/emission-pathway-graph.js
  app/javascript/app/components/modal-overview/modal-overview-component.jsx
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
