Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Rename new shared NDCS selectors/functions to make it clearer what they do
  app/javascript/app/components/ndcs/shared/selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add shared NDCS selector so that we know whether EU countries are displayed
  app/javascript/app/components/ndcs/shared/selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

NDCS/LTS/Net-Zero tables now synced with the respective maps
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-selectors.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
  app/javascript/app/components/ndcs/net-zero-table/net-zero-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add comments to shared EU/Map shared NDCS selectors to better detail their function
  app/javascript/app/components/ndcs/shared/selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rename EU related Map NDCS shared selectors to be more descriptive
  app/javascript/app/components/ndcs/shared/selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

chore: Adding sidekiq-failures gem
  Gemfile
  Gemfile.lock
Due: none

feat: Adding ISO code to NDC Content zip file
  app/services/api/v1/data/ndc_content/filter_columns.rb
Due: none

feat: Adding ISO code to NDC SDG downloaded zip file
  app/services/api/v1/data/column_helpers.rb
  app/services/api/v1/data/ndc_sdg/csv_content.rb
  app/services/api/v1/data/ndc_sdg/filter_columns.rb
Due: none

Update circle_state_config.htm
  public/visualizations/top-emitters-2018/circle_state_config.htm
Due: none

Revert "Update circle_state_config.htm"
  public/visualizations/top-emitters-2018/circle_state_config.htm
Due: none

Refactor getCountriesAndParties to not count EUU as a country
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

EUU was missing from the WORLD selection as a country
  app/javascript/app/components/ndcs/shared/selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Added a Story on per capita emissions
  public/visualizations/per-capita-charts-2019/14591/v11/index.html
  public/visualizations/per-capita-charts-2019/14591/v11/static/README.txt
  public/visualizations/per-capita-charts-2019/14591/v11/static/bundle.css
  public/visualizations/per-capita-charts-2019/14591/v11/static/bundle.css.map
  public/visualizations/per-capita-charts-2019/14591/v11/static/choices/icons/cross-inverse.svg
  public/visualizations/per-capita-charts-2019/14591/v11/static/choices/icons/cross.svg
  public/visualizations/per-capita-charts-2019/14591/v11/static/choices/styles/css/choices.min.css
  public/visualizations/per-capita-charts-2019/2106/v5/index.html
  public/visualizations/per-capita-charts-2019/2106/v5/static/README.txt
  public/visualizations/per-capita-charts-2019/2106/v5/static/style.css
  public/visualizations/per-capita-charts-2019/2106/v5/static/style.css.map
  public/visualizations/per-capita-charts-2019/2106/v5/static/style.unminified.css
  public/visualizations/per-capita-charts-2019/2106/v5/static/style.unminified.css.map
  public/visualizations/per-capita-charts-2019/2677/v21/index.html
  public/visualizations/per-capita-charts-2019/2677/v21/static/README.txt
  public/visualizations/per-capita-charts-2019/2677/v21/static/choices/icons/cross-inverse.svg
  public/visualizations/per-capita-charts-2019/2677/v21/static/choices/icons/cross.svg
  public/visualizations/per-capita-charts-2019/2677/v21/static/choices/styles/css/choices.min.css
  public/visualizations/per-capita-charts-2019/2677/v21/static/style.css
  public/visualizations/per-capita-charts-2019/2677/v21/static/style.css.map
  public/visualizations/per-capita-charts-2019/flourish.embed.js
  public/visualizations/per-capita-charts-2019/fonts/fontawesome-webfont.eot
  public/visualizations/per-capita-charts-2019/fonts/fontawesome-webfont.svg
  public/visualizations/per-capita-charts-2019/fonts/fontawesome-webfont.ttf
  public/visualizations/per-capita-charts-2019/fonts/fontawesome-webfont.woff
  public/visualizations/per-capita-charts-2019/fonts/fontawesome-webfont.woff2
  public/visualizations/per-capita-charts-2019/fonts/source-sans-pro/OTF/SourceSansPro-Bold.otf
  public/visualizations/per-capita-charts-2019/fonts/source-sans-pro/OTF/SourceSansPro-Regular.otf
  public/visualizations/per-capita-charts-2019/fonts/source-sans-pro/TTF/SourceSansPro-Bold.ttf
  public/visualizations/per-capita-charts-2019/fonts/source-sans-pro/TTF/SourceSansPro-Regular.ttf
  public/visualizations/per-capita-charts-2019/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff
  public/visualizations/per-capita-charts-2019/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff
  public/visualizations/per-capita-charts-2019/how_to_embed_me.txt
  public/visualizations/per-capita-charts-2019/index.html
  public/visualizations/per-capita-charts-2019/story_player.css
  public/visualizations/per-capita-charts-2019/story_player.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update index.html
  public/visualizations/per-capita-charts-2019/index.html
Due: none

Update GHG Emissions 's US emissions metadata key
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adjust getIndicatorEmissionsData to show correct percentages
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert code for testing
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use same solution on Net-Zero
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
  app/javascript/app/components/ndcs/shared/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix regions and source parsing
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use ndce_ghg to calculate emissions on LTS explore
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/pages/lts-explore/lts-explore-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add not found emissions as no document submitted
  app/javascript/app/components/ndcs/shared/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix regional values percentage calculation
  app/javascript/app/components/ndcs/shared/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix TOP and countries in table. Fix regions selection parsing
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters-component.jsx
  app/javascript/app/components/data-explorer-content/pathway-selector-utils/pathway-selector-utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adding Sankey 2020
  public/visualizations/sankey-global-2020/flourish.embed.js
  public/visualizations/sankey-global-2020/how_to_embed_me.txt
  public/visualizations/sankey-global-2020/index.html
  public/visualizations/sankey-global-2020/style.css
  public/visualizations/sankey-global-2020/style.css.map
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add metadata provider
  app/javascript/app/providers/metadata-provider/metadata-provider-actions.js
  app/javascript/app/providers/metadata-provider/metadata-provider-reducers.js
  app/javascript/app/providers/metadata-provider/metadata-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

HandIconInfo to accept children instead of text
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-component.jsx
  app/javascript/app/components/ndcs/shared/hand-icon-info/hand-icon-info.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add date of last update to the NDC Explorer
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add date of last update to the Net Zero tracker
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-component.jsx
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-styles.scss
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Minor tweak to the Net Zero tracker styling
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add date of last update to the LTS Explorer
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add date of last update to the NDC Enhancement Tracker
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Do not return metadata when loading in order to prevent incorrect display when changing views
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix bug about empty subsectors showing up in indicator list for sectoral mitigation measures
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change every mention of LUCF to LULUCF
  app/javascript/app/components/abbr-replace/abbr-replace-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/components/country/country-emission-drivers/country-emission-drivers-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/pages/country/country-header/country-header-selectors.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: INDC importer
  app/services/import_indc.rb
Due: none

refactoring: Renaming LUCF to LULUCF at BE
  public/visualizations/per-capita-charts-2019/index.html
  public/visualizations/top-emitters-2018/circle_state_config.htm
  public/visualizations/top-emitters-2018/circle_state_config_german.htm
  spec/services/import_historical_emissions_spec.rb
  spec/support/schemas/api/v1/data/historical_emissions_sectors.json
  spec/support/shared_contexts/historical_emissions/sectors.rb
Due: none

Update about-faq-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update about-permissions-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update ndcs-explore-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
