Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Prevent indicators without values or labels from creeping in
  app/services/import_indc.rb
Due: none

modified download menu, added download modal
  app/javascript/app/components/download-menu/download-menu-component.jsx
  app/javascript/app/components/download-menu/download-menu.js
  app/javascript/app/components/modal-download/modal-download-actions.js
  app/javascript/app/components/modal-download/modal-download-component.jsx
  app/javascript/app/components/modal-download/modal-download-reducers.js
  app/javascript/app/components/modal-download/modal-download-styles.scss
  app/javascript/app/components/modal-download/modal-download.js
  app/javascript/app/reducers.js
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add update method to users controller
  app/controllers/api/v1/my_cw/users_controller.rb
Due: none

Add update route to mycw users
  config/routes.rb
Due: none

Add new fields to account view
  app/javascript/app/components/my-climate-watch/my-account/my-account-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update text input component and styles
  app/javascript/app/components/text-input/text-input-component.jsx
  app/javascript/app/styles/themes/input/text-input-theme.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add my-account styles
  app/javascript/app/components/my-climate-watch/my-account/my-account-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add temporal patch and props to my-account
  app/javascript/app/components/my-climate-watch/my-account/my-account.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adding legend logo
  .eslintrc.yml
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Following a request by WRI reverting to calling it NDC Content
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/NDCSContent-routes/NDCSContent-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add area of work to users table on the DB
  app/javascript/app/components/my-climate-watch/my-account/my-account-component.jsx
  db/migrate/20180612074749_add_area_of_work_to_users.rb
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add Crazyegg script to header
  app/views/layouts/application.html.erb
Due: none

Fix id on request
  app/javascript/app/components/my-climate-watch/my-account/my-account.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add area of work as permitted param
  app/controllers/api/v1/my_cw/users_controller.rb
Due: none

logo adjustments
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

add logo to the data flow
  app/javascript/app/components/charts/chart/chart-component.jsx
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

margin fixes
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

add logo to model overview
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

added unstyled form
  app/javascript/app/components/download-menu/download-menu.js
  app/javascript/app/components/modal-download/modal-download-component.jsx
  app/javascript/app/components/modal-download/modal-download-reducers.js
  app/javascript/app/components/modal-download/modal-download-styles.scss
  app/javascript/app/components/modal-download/modal-download.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

adding https protocol to the img url
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

use Mainteiner like title instead of Logo
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

JSON API and CSV download for NDC content data
  app/controllers/api/v1/data/ndc_content_controller.rb
  app/serializers/api/v1/data/ndc_content/ndc_content_serializer.rb
  app/services/api/v1/data/ndc_content_csv_content.rb
  app/services/api/v1/data/ndc_content_filter.rb
  config/routes.rb
  docs/data_explorer.md
  spec/controllers/api/v1/data/ndc_content_controller_spec.rb
  spec/factories/indc_categories.rb
  spec/factories/indc_category_types.rb
  spec/factories/indc_indicators.rb
  spec/factories/indc_labels.rb
  spec/factories/indc_sources.rb
  spec/support/schemas/api/v1/data/ndc_content.json
  spec/support/shared_contexts/ndc_content/categories.rb
  spec/support/shared_contexts/ndc_content/indicators.rb
  spec/support/shared_contexts/ndc_content/labels.rb
  spec/support/shared_contexts/ndc_content/sectors.rb
  spec/support/shared_contexts/ndc_content/sources.rb
  spec/support/shared_contexts/ndc_content/values.rb
Due: none

Metadata endpoints for NDC content data
  app/controllers/api/v1/data/ndc_content/categories_controller.rb
  app/controllers/api/v1/data/ndc_content/data_sources_controller.rb
  app/controllers/api/v1/data/ndc_content/indicators_controller.rb
  app/controllers/api/v1/data/ndc_content/labels_controller.rb
  app/controllers/api/v1/data/ndc_content/sectors_controller.rb
  app/serializers/api/v1/data/ndc_content/category_serializer.rb
  app/serializers/api/v1/data/ndc_content/data_source_serializer.rb
  app/serializers/api/v1/data/ndc_content/indicator_serializer.rb
  app/serializers/api/v1/data/ndc_content/label_serializer.rb
  app/serializers/api/v1/data/ndc_content/sector_serializer.rb
  config/routes.rb
  docs/data_explorer.md
  spec/controllers/api/v1/data/ndc_content/categories_controller_spec.rb
  spec/controllers/api/v1/data/ndc_content/data_sources_controller_spec.rb
  spec/controllers/api/v1/data/ndc_content/indicators_controller_spec.rb
  spec/controllers/api/v1/data/ndc_content/labels_controller_spec.rb
  spec/controllers/api/v1/data/ndc_content/sectors_controller_spec.rb
  spec/support/schemas/api/v1/data/ndc_content_categories.json
  spec/support/schemas/api/v1/data/ndc_content_data_sources.json
  spec/support/schemas/api/v1/data/ndc_content_indicators.json
  spec/support/schemas/api/v1/data/ndc_content_labels.json
  spec/support/schemas/api/v1/data/ndc_content_sectors.json
Due: none

Add actions and reducers to login provider
  app/javascript/app/providers/login-provider/login-provider-actions.js
  app/javascript/app/providers/login-provider/login-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add provider to myAccount component
  app/javascript/app/components/my-climate-watch/my-account/my-account-component.jsx
  app/javascript/app/components/my-climate-watch/my-account/my-account.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add value prop to inputs
  app/controllers/api/v1/my_cw/users_controller.rb
  app/javascript/app/components/my-climate-watch/my-account/my-account-component.jsx
  app/javascript/app/components/text-input/text-input-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete debounce rate
  app/javascript/app/components/text-input/text-input-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update nav, create flag and start data explorer routes and components
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-styles.scss
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer-styles.scss
  app/javascript/app/pages/data-explorer/data-explorer.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/data-explorer-routes/data-explorer-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove session timeout from structure.sql
  db/structure.sql
Due: none

renamed spec file
  spec/services/import_indc_spec.rb
Due: none

matching postgres version in travis.yml with production
  .travis.yml
Due: none

restore 9.6 postgres flag
  README.md
  db/structure.sql
Due: none

Ndcs menu was active when Submenu NDC-SDG Linkages was selected
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix header styles
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer-styles.scss
  app/javascript/app/styles/themes/anchor-nav/anchor-nav-theme-color.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix active links in toolsnav and anchor nav
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/styles/themes/anchor-nav/anchor-nav-theme-color.scss
Due: stylelint --syntax=scss ./src/**/*.scss

small refactoring
  app/javascript/app/components/modal-download/modal-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix highlighting active menu in navtools
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/pages/my-climate-watch/my-climate-watch-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add new fields to user table
  db/migrate/20180613114503_remove_name_and_area_of_work_from_users.rb
  db/migrate/20180613114709_add_first_name_last_name_country_and_sector_to_users.rb
  db/migrate/20180613124118_add_data_usage_and_tester_to_users.rb
  db/structure.sql
Due: none

Permit new params on users controller
  app/controllers/api/v1/my_cw/users_controller.rb
Due: none

Add selectors and new data to my account component
  app/javascript/app/components/my-climate-watch/my-account/my-account-selectors.js
  app/javascript/app/components/my-climate-watch/my-account/my-account.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
