Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix topojson break
  app/javascript/app/providers/countries-provider/countries-provider-reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Use pure components to better performance on router changes
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/pages/root/root-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: actually fix child conflicts on prop key
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fetch countryNDC data from api endpoint
  app/javascript/app/data/ndc-country-accordion.json
  app/javascript/app/data/ndc-country.json
  app/javascript/app/pages/ndc-country/ndc-country-actions.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: return obj for indicators to get correct category key
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

only filter ndcs if search present
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

create full ndc view
  app/javascript/app/actions.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-selectors.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
  db/schema.rb
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Rename link to anchor and use selector
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/pages/ndcs/ndcs-selectors.js
  app/javascript/app/pages/ndcs/ndcs.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Support anchor nav link
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  package-lock.json
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix npm versions
  package-lock.json
  package.json
Due: none

Countries anchor links with components
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-selectors.js
  app/javascript/app/pages/country/country-styles.scss
  app/javascript/app/pages/country/country.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

global body content styles for html rendered content
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
  app/javascript/app/styles/content.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update styles to match all text
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/styles/content.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix json parse on new endpoint migration
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix header styles
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/components/header/header-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  package-lock.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Sticky anchor nav
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-styles.scss
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: get countries from new endpoint on home page selector
  app/javascript/app/pages/home/home-selectors.js
  app/javascript/app/pages/home/home.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Country select in its own page
  app/javascript/app/actions.js
  app/javascript/app/components/nav/nav-actions.js
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-reducers.js
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/nav/nav.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/country-index/country-index-component.jsx
  app/javascript/app/pages/country-index/country-index.js
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix deleted action
  app/javascript/app/components/nav/nav-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Return error payload when not found
  app/controllers/api/v1/ndc_full_texts_controller.rb
Due: none

basic sdg card
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
  app/javascript/app/components/sdg-card/sdg-card.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/styles/settings.scss
  db/schema.rb
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Made Chart and Category relations optional
  app/models/cait_indc/indicator.rb
  spec/models/cait_indc/indicator_spec.rb
Due: none

Tables, models and spec for the cait indc dataset
  app/models/cait_indc.rb
  app/models/cait_indc/category.rb
  app/models/cait_indc/chart.rb
  app/models/cait_indc/indicator.rb
  app/models/cait_indc/indicator_type.rb
  app/models/cait_indc/indicator_value.rb
  app/models/cait_indc/location_datum.rb
  app/models/cait_indc/location_indicator_value.rb
  db/migrate/20170828124239_create_cait_indc_charts.rb
  db/migrate/20170828124324_create_cait_indc_indicator_types.rb
  db/migrate/20170828124328_create_cait_indc_categories.rb
  db/migrate/20170828124339_create_cait_indc_indicators.rb
  db/migrate/20170828124731_create_cait_indc_indicator_values.rb
  db/migrate/20170828124737_create_cait_indc_location_indicator_values.rb
  db/migrate/20170828124741_create_cait_indc_location_data.rb
  db/schema.rb
  spec/factories/cait_indc_categories.rb
  spec/factories/cait_indc_charts.rb
  spec/factories/cait_indc_indicator_types.rb
  spec/factories/cait_indc_indicator_values.rb
  spec/factories/cait_indc_indicators.rb
  spec/factories/cait_indc_location_data.rb
  spec/factories/cait_indc_location_indicator_values.rb
  spec/models/cait_indc/category_spec.rb
  spec/models/cait_indc/chart_spec.rb
  spec/models/cait_indc/indicator_spec.rb
  spec/models/cait_indc/indicator_type_spec.rb
  spec/models/cait_indc/indicator_value_spec.rb
  spec/models/cait_indc/location_datum_spec.rb
  spec/models/cait_indc/location_indicator_value_spec.rb
Due: none

Add slug to category
  app/lib/slug.rb
  app/models/cait_indc/indicator.rb
  app/services/import_cait_indc.rb
  db/migrate/20170828124328_create_cait_indc_categories.rb
  db/schema.rb
Due: none

Add default category to import process
  app/services/import_cait_indc.rb
Due: none

Add spec to NdcsController
  spec/controllers/api/v1/ndcs_controller_spec.rb
  spec/factories/cait_indc_values.rb
Due: none

Refactor custom serialization
  app/lib/indexed_serializer.rb
  app/serializers/api/v1/cait_indc/indicator_serializer.rb
  app/serializers/api/v1/cait_indc/ndc_indicators_serializer.rb
Due: none

Import cait indc data into database
  app/services/import_cait_indc.rb
  app/services/s3_csv_reader.rb
  spec/services/import_cait_indc_spec.rb
Due: none

Fix spec for `/ndcs`
  app/services/import_cait_indc.rb
  spec/controllers/api/v1/ndcs_controller_spec.rb
  spec/factories/cait_indc_categories.rb
  spec/factories/cait_indc_indicators.rb
Due: none

Change serialization of `/ndc` endpoint
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/cait_indc/category_serializer.rb
  app/serializers/api/v1/cait_indc/indicator_serializer.rb
  app/serializers/api/v1/cait_indc/ndc_indicators_serializer.rb
  app/serializers/api/v1/cait_indc/value_serializer.rb
Due: none

Add logging if location matching fails
  app/services/import_cait_indc.rb
Due: none

Add location information to endpoint response
  app/controllers/api/v1/ndcs_controller.rb
  app/models/location.rb
  app/serializers/api/v1/cait_indc/location_datum_serializer.rb
  app/serializers/api/v1/cait_indc/ndc_indicators_serializer.rb
Due: none

Refactored some code to please Rubocop
  app/models/cait_indc/category.rb
  app/models/cait_indc/chart.rb
  app/models/cait_indc/indicator.rb
  app/models/cait_indc/indicator_label.rb
  app/models/cait_indc/indicator_type.rb
  app/models/cait_indc/location_datum.rb
  app/models/cait_indc/value.rb
Due: none

Refactor rubocop suggestions
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Import cait indc data into database WIP
  app/services/import_cait_indc.rb
  lib/tasks/cait_indc.rake
Due: none

Add filters to `/ndcs` endpoint
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Add /ndcs endpoint to list complete ndc info
  app/controllers/api/v1/ndcs_controller.rb
  app/models/cait_indc/indicator.rb
  app/models/location.rb
  app/serializers/api/v1/cait_indc/category_serializer.rb
  app/serializers/api/v1/cait_indc/indicator_label_serializer.rb
  app/serializers/api/v1/cait_indc/indicator_serializer.rb
  app/serializers/api/v1/cait_indc/value_serializer.rb
  config/routes.rb
Due: none

Rename `indicator_label` table and model to `label`
  app/controllers/api/v1/ndcs_controller.rb
  app/models/cait_indc/indicator.rb
  app/models/cait_indc/label.rb
  app/models/cait_indc/value.rb
  app/serializers/api/v1/cait_indc/indicator_serializer.rb
  app/serializers/api/v1/cait_indc/label_serializer.rb
  app/serializers/api/v1/cait_indc/value_serializer.rb
  app/services/import_cait_indc.rb
  db/migrate/20170828124731_create_cait_indc_labels.rb
  db/migrate/20170828124737_create_cait_indc_values.rb
  db/schema.rb
  spec/factories/cait_indc_labels.rb
  spec/factories/cait_indc_values.rb
  spec/models/cait_indc/label_spec.rb
Due: none

Made IndicatorValue relation optional
  db/migrate/20170828124339_create_cait_indc_indicators.rb
  db/migrate/20170828124737_create_cait_indc_location_indicator_values.rb
  db/schema.rb
Due: none

Import cait indc data into database WIP
  app/models/cait_indc/indicator.rb
  app/models/cait_indc/location_indicator_value.rb
  app/services/import_cait_indc.rb
Due: none
