Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Troubleshooting issue with data/label_id pairing
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Expand is_contained to the embed route
  app/controllers/application_controller.rb
Due: none

Hiding menu items when NDCS feature flags are false
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Upgrade react version and filter out empty objects is NDCS-routes
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adds env vars to jenkins
  Jenkinsfile
Due: none

Include args env vars in dockerfile
  Dockerfile
Due: none

Fix for horizontal scroll in tables
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixing responsive spacing for factoids/charts
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Ambiguous Intent country shading
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-viz/ndcs-lts-viz-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

LTS tracker text and layout fixes
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-component.jsx
  app/javascript/app/pages/ndcs-lts/ndcs-lts-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Ambiguous Intent shading
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Text/layout updates per WRI request
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set feature flags for production
  Jenkinsfile
Due: none

Prep for new column name for GHG Emissions
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Enable trackers on both developers
  Jenkinsfile
Due: none

Switching to column ID method for identifying table columns so column label changes don't break NDCs tables
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table.js
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Removing click action from Enhancements map
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Changing map color for 'Submitted' countries
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adding tooltips to chart labels
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixing text error in chart label definition
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixing typo
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Style tweak to text label definition tooltip
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

remove height constraint so that hosts can manage iframes height
  app/javascript/app/layouts/embed/embed-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Don't allow space for footer if there's no footer
  app/javascript/app/layouts/embed/embed-component.jsx
  app/javascript/app/layouts/embed/embed-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updating URL for 2020 NDC Tracker
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adding third figure to summary data
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
  db/secondbase/structure.sql
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

European Union country labeling
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

updates schemas
  db/secondbase/structure.sql
  db/structure.sql
Due: none

Spacing/layout tweak for factoids
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Check for empty scenariosInChart and avoid page crash - guard
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates DIE to NDC Explorer
  app/services/import_indc.rb
Due: none

Fixing display of legend categories after removal of Ambiguous Intent category
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Changing LTS Tracker URL
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/lts-tracker-sections/lts-tracker-sections.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updating calculation and label to reflect EU as 28 countries
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change contained styles. Remove headers
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-styles.scss
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/pages/ndcs/ndcs-styles.scss
  app/javascript/app/styles/themes/anchor-nav/anchor-nav-contained.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove FEATURE_NDCS_LTS flag and add new flag and menu item
  .env.sample
  Dockerfile
  Jenkinsfile
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update prettier
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
