Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Adapt socioeconomics provider to several locations and style component
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-component.jsx
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-selectors.js
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-styles.scss
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics.js
  app/javascript/app/providers/socioeconomics-provider/socioeconomics-provider-actions.js
  app/javascript/app/providers/socioeconomics-provider/socioeconomics-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix loading and no data messages
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-component.jsx
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-styles.scss
  app/javascript/app/providers/socioeconomics-provider/socioeconomics-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix dockerfile conflict
  Dockerfile
Due: none

Use blue for BAU even if its negative and refactor a bit
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Frame not quantifiable into data min and max and huge refactor
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/charts/stacked-area/stacked-area-selectors.js
  app/javascript/app/components/charts/stacked-area/stacked-area.js
  app/javascript/app/utils/stacked-area.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add missing space
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix domain
  app/javascript/app/components/charts/stacked-area/stacked-area-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Smooth stacked area except for UNFCCC
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change Line type to monotone
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix display of quantifications with 0 value
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make it easier to people
  Jenkinsfile
Due: none

be more explicit
  Jenkinsfile
Due: none

Fix wrong operator parsing the quantification value
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix key when no quantifiable
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add active sections action and reducer from anchor nav component
  app/javascript/app/components/anchor-nav/anchor-nav-actions.js
  app/javascript/app/components/anchor-nav/anchor-nav-reducers.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Consume active section state from anchor nav
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/anchor-nav/anchor-nav.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update active section state from country component
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update section active from country compare
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/pages/country-compare/country-compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add sticky country selector, extract js style constants and css colors
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/styles/constants.js
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/sticky.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Force context update on connected anchor nav
  app/javascript/app/components/anchor-nav/anchor-nav.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update active section from pathways
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use correct data to display the tooltip sectors text
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change waypoint offset on country compare
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add fireOnRapidScroll bool to waypoints to avoid unwanted behaviour
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use time scale in xAxis
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add mobile version for socioeconomics compare
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-component.jsx
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-selectors.js
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-styles.scss
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update waypoint props
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Tweak length limits
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add padding while still selecting data so we see the full dropdown
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Allow Bunker fields sector in GHG chart
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Connect vis-card with store, add actions and add delete button
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add card styles
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add flag on app-routes to determine my-insights-component rendering
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete my insights route instead of flag on .env
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/my-cw-routes/my-cw-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix visualization page breaking
  app/javascript/app/components/tag/tag-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix socioeconomics mobile error
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-component.jsx
  app/javascript/app/components/compare/compare-socioeconomics/compare-socioeconomics-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Added json-schema gem
  Gemfile
  Gemfile.lock
Due: none

Fix bug with fetching data from Jenkins command
  Dockerfile
Due: none
