Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Small formatting
  app/javascript/app/components/country/country-timeline/country-timeline-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixed logo width
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/legend/legend-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/legend/legend-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Logout: delete token cookie, data and redirect
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
  app/javascript/app/pages/my-climate-watch/my-climate-watch.js
  app/javascript/app/providers/login-provider/login-provider-actions.js
  app/javascript/app/providers/login-provider/login-provider-reducers.js
  app/javascript/app/utils/cookies.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixed font size
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/legend/legend-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Updated domain to work on negative axis
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete cookie in rails side
  app/controllers/api/v1/auth_controller.rb
  app/javascript/app/data/constants.js
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
  app/javascript/app/providers/login-provider/login-provider-actions.js
  app/javascript/app/utils/cookies.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add cancel button to close modal
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update buffer function
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix broken tooltip
  app/javascript/app/styles/themes/chart-tooltip/chart-tooltip.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix meta call, change icon name, DRY for some text
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation-component.jsx
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add miviscreator explorer fallback
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linter
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add cancel button on vis creation
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Expose pagination & link headers for CORS requests
  app/controllers/api/v1/api_controller.rb
Due: none

Update package.json
  package.json
Due: none

Update API docs, remove mocked ESP meta, disable pagination in methodo
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/data/constants.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix sources filter change
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix typo
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixed tab changing issue, improved page param flow and fixed no data
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change active page color and number of pages displayed in pagination
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

First version of the the streamable concern.
  app/controllers/api/v1/data/historical_emissions_controller.rb
  app/controllers/concerns/streamable.rb
  app/services/api/v1/data/historical_emissions_csv_content.rb
Due: none

Fix eslint errors and warnings
  .eslintrc.yml
  app/assets/javascripts/cable.js
  app/javascript/app/components/about/about-partners/about-partners.js
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
  app/javascript/app/components/result-card/result-card-component.jsx
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/sectors/sectors-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Added streamable for all the download actions
  app/controllers/api/v1/data/ndc_content_controller.rb
  app/controllers/api/v1/data/ndc_sdg_controller.rb
  app/services/api/v1/data/ndc_content_csv_content.rb
  app/services/api/v1/data/ndc_sdg_csv_content.rb
Due: none

Bug fix in the specs for the downloads
  spec/controllers/api/v1/data/historical_emissions_controller_spec.rb
  spec/controllers/api/v1/data/ndc_content_controller_spec.rb
  spec/controllers/api/v1/data/ndc_sdg_controller_spec.rb
Due: none

Enabled filtering historical emissions by top level locations
  app/services/api/v1/data/historical_emissions_filter.rb
  spec/services/api/v1/data/historical_emissions_filter_spec.rb
  spec/support/shared_contexts/historical_emissions/records.rb
  spec/support/shared_contexts/locations.rb
Due: none

FIx page change and update per_page to 20
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/data/constants.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rubocop fixes
  app/controllers/concerns/streamable.rb
  app/services/api/v1/data/ndc_content_csv_content.rb
Due: none

Ignore multiline warnings
  app/javascript/app/components/about/about-partners/about-partners.js
  app/javascript/app/data/SEO.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Always sort table by first column
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add placeholder for multi-dropdown
  app/javascript/app/components/dropdown/multi-dropdown/components/selector.jsx
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown-component.jsx
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add button to download all data and change buttons text
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer-styles.scss
  app/javascript/app/pages/data-explorer/data-explorer.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix mobile header
  app/javascript/app/pages/data-explorer/data-explorer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Linting
  app/javascript/app/pages/data-explorer/data-explorer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change link to module label
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use download modal for download all data button too and abstract to util
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer.js
  app/javascript/app/utils/data-explorer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update view in module label
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updated node engine version on package.json
  package.json
  yarn.lock
Due: none

Remove full text option and add country page link as requested
  app/javascript/app/components/autocomplete-search/autocomplete-search-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix location filter in Pathways
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/utils/data-explorer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update legend label
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
