Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

fixes typo
  lib/tasks/agriculture_profile.rake
Due: none

and another typo :(
  lib/tasks/agriculture_profile.rake
Due: none

Reduce one query
  app/services/import_agriculture_profile.rb
Due: none

Speed up import of agriculture profile data with bulk_import
  Gemfile
  Gemfile.lock
  app/services/import_agriculture_profile.rb
  yarn.lock
Due: none

Give it a little more memory
  k8s/staging/deployment.yaml
Due: none

Fixes path to files
  app/services/import_agriculture_contexts.rb
  app/services/import_agriculture_emissions.rb
  app/services/import_agriculture_metadata.rb
  app/services/import_agriculture_profile.rb
Due: none

ghg_table: change unit for absolute_value
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

agriculture: group ghg emissions locations dropdown
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/location-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

First sprint
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table.js
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-actions.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-reducers.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-selectors.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-styles.scss
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements.js
  app/javascript/app/reducers.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/NDCSEnhancements-routes/NDCSEnhancements-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

First sprint
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-actions.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use metadata from API on countries contexts
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds australian government to partners
  app/javascript/app/assets/partners/australian_government.png
  app/javascript/app/components/about/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates ndc context intro
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

If there's no yearData for GDP indicator, don't show total GDP
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixes bug with accessing wrong column name
  app/services/import_agriculture_profile.rb
Due: none

Avoid creating too many objects...
  app/services/import_agriculture_profile.rb
Due: none

Enable upsert on importing
  app/services/import_agriculture_profile.rb
Due: none

Fixes bug with showing the right selection
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show no data when data is null
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Exclude source from the processed row
  app/services/import_agriculture_contexts.rb
Due: none

Hide other countries when in per capita filter
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove partners logos as requested
  app/javascript/app/assets/partners/climate-action-tracker.png
  app/javascript/app/assets/partners/climate-action-tracker@2x.png
  app/javascript/app/assets/partners/climate-action-tracker@3x.png
  app/javascript/app/assets/partners/climate-analytics.png
  app/javascript/app/components/about/about-partners/about-partners.js
  app/javascript/app/components/footer/footer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

agriculture: simple bullet list for fertilizers
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

agriculture: hist emissions, get unit from api, refactor total emissions
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/providers/agriculture-emissions-provider/agriculture-emissions-provider-reducers.js
  app/serializers/api/v1/data/agriculture_profile/emission_subcategory_serializer.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

agriculture: only absolute value for Agriculture emissions intensity
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add unit to agriculture total emissions
  app/javascript/app/data/constants.js
  app/javascript/app/providers/agriculture-emissions-provider/agriculture-emissions-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

move agriculture total emission to backend, import emissions once again
  app/javascript/app/providers/agriculture-emissions-provider/agriculture-emissions-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

unify units between agriculture ghg section and the rest of the platform
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/tooltip/tooltip.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/utils/ghg-emissions.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

agriculture: drivers of emission filter out locations without any data
  app/controllers/api/v1/data/agriculture_profile/emissions_controller.rb
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/location-selectors.js
  app/javascript/app/providers/agriculture-emissions-provider/agriculture-emissions-provider-reducers.js
  app/models/agriculture_profile/emission.rb
  docs/data_explorer.md
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make email mandatory
  app/javascript/app/components/modal-download/modal-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

small refactor, agriculture total emissions
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Don't forget the error message
  app/javascript/app/components/modal-download/modal-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update more stories link
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update memory for sidekiq in prod
  k8s/production/deployment.yaml
Due: none

updates link for 2020 dot on timeline
  app/javascript/app/components/country/country-timeline/country-timeline-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update NO DATA VALUE string
  app/controllers/api/v1/ndcs_controller.rb
Due: none

agriculture: add units for meat bar charts
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

agriculture pie chart including and excluding LUCF percentage
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
