Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Simplify infrastructure; add elastic ip
  README.md
  config/deploy/production.rb
  infrastructure/main.tf
  infrastructure/modules/lb/main.tf
  infrastructure/modules/lb/outputs.tf
  infrastructure/modules/postgresql/main.tf
  infrastructure/modules/postgresql/variables.tf
  infrastructure/modules/server/main.tf
  infrastructure/modules/server/outputs.tf
  infrastructure/modules/server/variables.tf
  infrastructure/outputs.tf
  infrastructure/templates/server_setup.sh.tpl
Due: none

Redis config on TF
  Capfile
  Gemfile
  config/deploy.rb
  infrastructure/main.tf
  infrastructure/modules/redis/main.tf
  infrastructure/modules/redis/outputs.tf
  infrastructure/modules/redis/variables.tf
  infrastructure/outputs.tf
  infrastructure/templates/server_setup.sh.tpl
Due: none

Merge shared db strucutre into main db
  Gemfile
  Gemfile.lock
  app/models/admin_user.rb
  config/database.yml
  db/migrate/20210916120344_devise_create_admin_users.rb
  db/migrate/20210916121403_add_role_to_admin_user.rb
  db/secondbase/structure.sql
  db/structure.sql
Due: none

update gemfile.lock following dep removal
  Gemfile.lock
Due: none

Initial implementation of EB using TF
  .gitignore
  .ruby-version
  Capfile
  Dockerfile
  Gemfile
  Gemfile.lock
  config/deploy.rb
  config/deploy/production.rb
  infrastructure/.terraform.lock.hcl
  infrastructure/data.tf
  infrastructure/keys.tf
  infrastructure/locals.tf
  infrastructure/main.tf
  infrastructure/modules/bootstrap/main.tf
  infrastructure/modules/bootstrap/outputs.tf
  infrastructure/modules/bootstrap/variables.tf
  infrastructure/modules/lb/main.tf
  infrastructure/modules/lb/outputs.tf
  infrastructure/modules/lb/variables.tf
  infrastructure/modules/postgresql/iam_policy_secrets_read.json.tpl
  infrastructure/modules/postgresql/main.tf
  infrastructure/modules/postgresql/outputs.tf
  infrastructure/modules/postgresql/variables.tf
  infrastructure/modules/server/main.tf
  infrastructure/modules/server/outputs.tf
  infrastructure/modules/server/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  infrastructure/modules/vpc/variable.tf
  infrastructure/outputs.tf
  infrastructure/templates/server_setup.sh.tpl
  infrastructure/variables.tf
  infrastructure/vars/terraform.tfvars
  infrastructure/versions.tf
Due: none

Add dotenv to all envs; additional capistrano config
  Gemfile
  config/deploy.rb
Due: none

Additional capistrano depoyment config
  .gitignore
  config/environments/production.rb
  infrastructure/main.tf
  infrastructure/modules/postgresql/main.tf
  infrastructure/modules/postgresql/variables.tf
  infrastructure/templates/server_setup.sh.tpl
  k8s/production/deployment.yaml
Due: none

fine tune SGs
  infrastructure/modules/lb/main.tf
  infrastructure/modules/server/main.tf
Due: none

Set correct branches on deploy config; fix bug on staging lb sg
  config/deploy/production.rb
  config/deploy/staging.rb
  infrastructure/main.tf
Due: none

Config for https on ALB and staging env
  config/deploy/staging.rb
  infrastructure/locals.tf
  infrastructure/main.tf
  infrastructure/modules/lb/main.tf
  infrastructure/modules/lb/outputs.tf
  infrastructure/modules/lb/variables.tf
  infrastructure/modules/server/main.tf
  infrastructure/modules/server/variables.tf
  infrastructure/outputs.tf
  infrastructure/variables.tf
  infrastructure/vars/terraform.tfvars
Due: none

Cleanup
  .gitignore
Due: none

bump GH actions postgres version
  .github/workflows/frontend tests.yml
  .github/workflows/tests.yml
Due: none

Attempt to fix https://github.com/sass/sassc-ruby/issues/146
  Gemfile
  Gemfile.lock
Due: none

Attempt to add staging rails env
  config/database.yml
  config/environments/staging.rb
Due: none

Attempt to add staging rails env
  config/webpack/staging.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Attempt to make capistrano/webpack happy
  Gemfile
  Gemfile.lock
  config/deploy/staging.rb
  infrastructure/modules/server/main.tf
Due: none

Attempt to make capistrano/webpack happy
  Gemfile
  Gemfile.lock
Due: none

Attempt to make capistrano/webpack happy
  Gemfile
  Gemfile.lock
  config/webpacker.yml
Due: none

Attempt to make capistrano/webpack happy
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/webpacker.yml
Due: none

Secrets section for staging
  config/secrets.yml
Due: none

try to make webpacker happy
  app/controllers/application_controller.rb
  app/views/layouts/application.html.erb
Due: none

Added cache_path to webpacker config
  config/webpacker.yml
Due: none

set NODE_ENV on staging deploy
  config/deploy/staging.rb
Due: none

Restore staging branch in staging deployment for capistrano
  config/deploy/staging.rb
Due: none

try to make webpacker happy
  app/controllers/application_controller.rb
Due: none

try to make webpacker happy
  config/deploy/staging.rb
  config/webpacker.yml
Due: none

Fix/webpacker deploy issue (#1504)
  app/controllers/application_controller.rb
  app/views/layouts/application.html.erb
  config/deploy/staging.rb
  config/secrets.yml
  config/webpacker.yml
Due: none

Remove duplicated line on webpacker config
  config/webpacker.yml
Due: none

Remove staging deployment config to k8s cluster
  Jenkinsfile
  k8s/staging/deployment.yaml
  k8s/staging/service.yaml
Due: none

Update comparison subcategory and change ordering
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-component.jsx
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/providers/ndcs-previous-comparison-provider/ndcs-previous-comparison-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Finalize infrastructure config
  Jenkinsfile
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/modules/lb/main.tf
  infrastructure/modules/lb/outputs.tf
  k8s/production/deployment.yaml
  k8s/production/hpa.yaml
  k8s/production/service.yaml
Due: none

Start conditional rendering of ndc status column and add tooltip
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-cell-renderer.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Style country climate commitments. Change icons
  app/javascript/app/assets/icons/enhancement/icon-missing.png
  app/javascript/app/assets/icons/enhancement/icon-missing.svg
  app/javascript/app/assets/icons/enhancement/icon-no-document.png
  app/javascript/app/assets/icons/enhancement/icon-no-previous.png
  app/javascript/app/assets/icons/enhancement/icon-no-revision.png
  app/javascript/app/assets/icons/enhancement/icon-w-missing.png
  app/javascript/app/assets/icons/enhancement/icon-w-missing.svg
  app/javascript/app/assets/icons/enhancement/icon-w-no-document.png
  app/javascript/app/assets/icons/enhancement/icon-w-no-previous.png
  app/javascript/app/assets/icons/enhancement/icon-w-no-revision.png
  app/javascript/app/components/country/country-climate-commitments/country-climate-commitments-component.jsx
  app/javascript/app/components/country/country-climate-commitments/country-climate-commitments-selectors.js
  app/javascript/app/components/country/country-climate-commitments/country-climate-commitments-styles.scss
  app/javascript/app/components/country/country-climate-commitments/country-climate-commitments.js
  app/javascript/app/components/previous-submission-icon/previous-submission-icon-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove unused generatos
  app/javascript/generators/component/index.js
  app/javascript/generators/page/index.js
  app/javascript/generators/plopfile.js
  app/javascript/generators/templates/actions.js.hbs
  app/javascript/generators/templates/component.jsx.hbs
  app/javascript/generators/templates/index-connected.js.hbs
  app/javascript/generators/templates/index.js.hbs
  app/javascript/generators/templates/reducers.js.hbs
  app/javascript/generators/templates/selectors.js.hbs
  app/javascript/generators/templates/styles.scss.hbs
  app/javascript/generators/utils/componentExists.js
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create arc of ambition
  app/javascript/app/assets/home/arc-of-ambition-1.png
  app/javascript/app/assets/home/arc-of-ambition-2.png
  app/javascript/app/assets/home/arc-of-ambition-3.png
  app/javascript/app/assets/home/arc-of-ambition-4.png
  app/javascript/app/assets/home/arc-of-ambition-5.png
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-component.jsx
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-data.js
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-styles.scss
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section.js
  app/javascript/app/pages/home/intro-section/intro-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix height
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update arc of ambition text
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-data.js
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Changed Net-Zero Tracker data source to Net_Zero
  app/javascript/app/pages/net-zero/net-zero-actions.js
  app/models/indc/source.rb
  app/services/import_indc.rb
  spec/support/shared_contexts/net_zero_content/sources.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Simplify enhancements indicator fetch
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-actions.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-reducers.js
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix indc transform operation on enhancements fetch
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/pages/lts-explore/lts-explore-actions.js
  app/javascript/app/pages/net-zero/net-zero-actions.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-provider-actions.js
  app/javascript/app/providers/ndcs-explore-provider/ndcs-explore-provider-actions.js
  app/javascript/app/providers/ndcs-previous-comparison-provider/ndcs-previous-comparison-provider-actions.js
  app/javascript/app/providers/ndcs-provider/ndcs-provider-actions.js
  app/javascript/app/utils/indctransform.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
