Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add more specs for admin part
  spec/controllers/admin/notifications_controller_spec.rb
  spec/factories/admin_users.rb
  spec/models/notification_spec.rb
  spec/rails_helper.rb
Due: none

add id_column, hide upload tool in trix
  app/admin/notifications.rb
  app/assets/stylesheets/active_admin.scss
Due: stylelint --syntax=scss ./src/**/*.scss

rerun model annotations, add hint about notification date
  app/admin/notifications.rb
  spec/factories/notifications.rb
  spec/models/notification_spec.rb
Due: none

proxy newsletter signup to bypass cors problems
  app/controllers/newsletter_controller.rb
  app/javascript/app/components/modal-download/modal-download-actions.js
  config/routes.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

use csrf token
  app/controllers/newsletter_controller.rb
  app/javascript/app/components/modal-download/modal-download-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create notification button
  app/javascript/app/assets/icons/bell.svg
  app/javascript/app/components/icon/icon-component.jsx
  app/javascript/app/components/navbar/navbar-component.jsx
  app/javascript/app/components/navbar/navbar-styles.scss
  app/javascript/app/components/notification-bell/notification-bell-component.jsx
  app/javascript/app/components/notification-bell/notification-bell-styles.scss
  app/javascript/app/components/notification-bell/notification-bell.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fetch notifications
  app/javascript/app/components/notification-bell/notification-bell-actions.js
  app/javascript/app/components/notification-bell/notification-bell-component.jsx
  app/javascript/app/components/notification-bell/notification-bell-reducers.js
  app/javascript/app/components/notification-bell/notification-bell-selectors.js
  app/javascript/app/components/notification-bell/notification-bell.js
  app/javascript/app/reducers.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add notification modal
  app/javascript/app/components/notification-bell/notification-bell-component.jsx
  app/javascript/app/components/notification-bell/notification-bell-reducers.js
  app/javascript/app/components/notification-bell/notification-bell-styles.scss
  app/javascript/app/components/notification-bell/notification-bell.js
  app/javascript/app/components/notification-modal/notification-modal-component.jsx
  app/javascript/app/components/notification-modal/notification-modal-styles.scss
  app/javascript/app/components/notification-modal/notification-modal.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove 9 notification limit
  app/controllers/api/v1/notifications_controller.rb
  spec/controllers/api/v1/notifications_controller_spec.rb
Due: none

Styling modal
  app/javascript/app/components/notification-bell/notification-bell-component.jsx
  app/javascript/app/components/notification-bell/notification-bell-styles.scss
  app/javascript/app/components/notification-modal/notification-modal-component.jsx
  app/javascript/app/components/notification-modal/notification-modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add tooltip and open automatically
  app/javascript/app/components/icon/icon-component.jsx
  app/javascript/app/components/notification-bell/notification-bell-component.jsx
  app/javascript/app/components/notification-bell/notification-bell-styles.scss
  app/javascript/app/components/notification-bell/notification-bell.js
  app/javascript/app/components/notification-modal/notification-modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change summary order, add separator, refactor styles
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Order legend
  app/javascript/app/components/map-legend/map-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove Isos from title
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add title ending
  app/javascript/app/components/seo-tags/seo-tags-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix canonical
  app/javascript/app/data/seo.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update sitemap
  public/sitemap.xml
Due: none

Handle tooltip has shown on hover
  app/javascript/app/components/notification-bell/notification-bell-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add no-cors to not break download form, until we have better solution
  app/javascript/app/components/modal-download/modal-download-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update tags. Improve tags rendering
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-component.jsx
  app/javascript/app/components/seo-tags/seo-tags-component.jsx
  app/javascript/app/data/seo.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add footer. Fix styles
  app/javascript/app/components/notification-bell/notification-bell-component.jsx
  app/javascript/app/components/notification-bell/notification-bell-styles.scss
  app/javascript/app/components/notification-bell/notification-bell.js
  app/javascript/app/components/notification-modal/notification-modal-component.jsx
  app/javascript/app/components/notification-modal/notification-modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Optimize pictures
  app/javascript/app/assets/backgrounds/stories-default.jpg
  app/javascript/app/assets/home/CW_homemockups_GHG@2x.png
  app/javascript/app/assets/home/CW_homemockups_NDC@2x.png
  app/javascript/app/assets/home/CW_homemockups_NDC_SDG@2x.png
  app/javascript/app/assets/home/CW_homemockups_country_profile@2x.png
  app/javascript/app/assets/home/CW_homemockups_dataexplorer@2x.png
  app/javascript/app/assets/home/CW_homemockups_pathways@2x.png
  app/javascript/app/assets/home/activist@2x.jpg
  app/javascript/app/assets/home/activist@2x.png
  app/javascript/app/assets/home/government@2x.jpg
  app/javascript/app/assets/home/researcher@2x.jpg
  app/javascript/app/assets/home/researcher@2x.png
  app/javascript/app/assets/home/video_background.png
  app/javascript/app/assets/home/videobg@2x.png
  app/javascript/app/pages/home/user-cases-section/user-cases-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Bell ringing
  app/javascript/app/components/notification-bell/notification-bell-component.jsx
  app/javascript/app/components/notification-bell/notification-bell-styles.scss
  app/javascript/app/components/notification-modal/notification-modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Notification ring tweaking
  app/javascript/app/components/notification-bell/notification-bell-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update ndcs-enhancements-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update server rendered seo
  app/helpers/seo_helper.rb
Due: none

Fix ndcFull seo
  app/javascript/app/components/seo-tags/seo-tags-component.jsx
  app/javascript/app/data/seo.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add internal link
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create feature flag
  .env.sample
  Dockerfile
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-viz-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-viz.js
  app/javascript/app/routes/app-routes/ndcs-enhancements-sections/ndcs-enhancements-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Recover legacy code
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-legacy-viz.js
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-viz-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-viz-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Linting
  app/javascript/app/components/ndcs/ndcs-enhancements-legacy-viz/ndcs-enhancements-viz-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update jenkinsfile
  Jenkinsfile
Due: none

Update to webpack 5 - WIP
  bin/webpack
  bin/webpack-dev-server
  config/webpack/configuration.js
  config/webpack/development.js
  config/webpack/loaders/sass.js
  config/webpack/production.js
  config/webpack/shared.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

still test pardot but dismiss any errors coming from it
  app/javascript/app/components/modal-download/modal-download-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Upgrade mimemagic
  Gemfile
  Gemfile.lock
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
