Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Updates db/schema
  db/schema.rb
Due: none

Fix comparision crash
  app/javascript/app/pages/ndc-compare/ndc-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Disable button if not onClick, add svg disable color, remove hardcoded fill on svgs
  app/javascript/app/assets/icons/add-to-user.svg
  app/javascript/app/assets/icons/download.svg
  app/javascript/app/assets/icons/share.svg
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/button/button-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update import process to latest ver. of dataset
  app/services/import_adaptation.rb
Due: none

WIP
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-actions.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-component.jsx
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-reducers.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-selectors.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-styles.scss
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updates video URL
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Style about pages and remove the ones out of scope
  app/javascript/app/components/about-contact/about-contact-component.jsx
  app/javascript/app/components/about-contact/about-contact-styles.scss
  app/javascript/app/components/about-contact/about-contact.js
  app/javascript/app/components/about-description/about-description-component.jsx
  app/javascript/app/components/about-partners/about-partners-component.jsx
  app/javascript/app/components/about-partners/about-partners-styles.scss
  app/javascript/app/components/about-partners/about-partners.js
  app/javascript/app/components/about-permissions/about-permissions-component.jsx
  app/javascript/app/components/about-permissions/about-permissions-styles.scss
  app/javascript/app/components/about-permissions/about-permissions.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add contact form iframe and update text
  app/javascript/app/components/about-contact/about-contact-component.jsx
  app/javascript/app/components/about-contact/about-contact-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

added db schema and a model
  app/models/socioeconomic.rb
  app/models/socioeconomic/indicator.rb
  db/migrate/20171030145609_create_socioeconomic_indicators.rb
  db/schema.rb
  spec/factories/socioeconomic_indicators.rb
  spec/models/socioeconomic/indicator_spec.rb
Due: none

WIP: reduce comp
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-actions.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-component.jsx
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-reducers.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-selectors.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion.js
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove global on full search
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Changes type of graph from circular to linear as requested
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change iframe to https
  app/javascript/app/components/about-contact/about-contact-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Includes maximum value on the ranking object. uses that on the front end
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/serializers/api/v1/adaptation/value_serializer.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Removes ranking bit from circular charts
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get maximum number of countries from the endpoint, removes the need for countriesCount
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Puts maximum at top level instead of inside each rank
  app/serializers/api/v1/adaptation/value_serializer.rb
  app/serializers/api/v1/adaptation/variable_serializer.rb
Due: none

Use only countries from the API
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/ndcs-map/ndcs-map.js
  app/javascript/app/utils/utils.js
  db/schema.rb
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Moves query to variable model
  app/models/adaptation/variable.rb
  app/serializers/api/v1/adaptation/variable_serializer.rb
Due: none

Adjust column size
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adds new route /emission-pathways with teaser about section
  app/javascript/app/assets/screenshots/emission-pathways-screenshot.jpg
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-styles.scss
  app/javascript/app/pages/emission-pathways/emission-pathways.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show coming soon title in disabled btns
  app/javascript/app/components/button/button-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update image and box shadow
  app/javascript/app/assets/screenshots/emission-pathways-screenshot.jpg
  app/javascript/app/components/teaser/teaser-styles.scss
  app/javascript/app/routes.js
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move calculation options to a constants file
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country-ghg-map/country-ghg-map-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

search is an object if empty
  app/javascript/app/components/country-ghg/country-ghg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Export namespaced constants
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country-ghg-map/country-ghg-map-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix crash when no default calculation
  app/javascript/app/components/country-ghg-map/country-ghg-map-selectors.js
  app/javascript/app/components/country-ghg/country-ghg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Uses document_type and language to enable switching from docs of the same type
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include country name tooltip by default in map
  app/javascript/app/components/map/map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix size to icons and update with new design
  app/javascript/app/assets/partners/cc.png
  app/javascript/app/assets/partners/cc@2x.png
  app/javascript/app/assets/partners/cc@3x.png
  app/javascript/app/assets/partners/climate-analytics.png
  app/javascript/app/assets/partners/climate-analytics@2x.png
  app/javascript/app/assets/partners/climate-analytics@3x.png
  app/javascript/app/assets/partners/the-world-bank.png
  app/javascript/app/assets/partners/the-world-bank@2x.png
  app/javascript/app/assets/partners/the-world-bank@3x.png
  app/javascript/app/assets/partners/unfccc.jpg
  app/javascript/app/components/about-partners/about-partners-styles.scss
  app/javascript/app/components/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Filter options to remove duplicates
  app/javascript/app/pages/ndc-country-full/ndc-country-full-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Pass null instead of function. Warning for react
  app/javascript/app/components/vulnerability-graph/vulnerability-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

added import service
  app/services/import_socioeconomics.rb
  lib/tasks/socioeconomics.rake
  spec/factories/socioeconomic_indicators.rb
  spec/services/import_socioeconomics_spec.rb
Due: none

fixed code style
  app/models/socioeconomic/indicator.rb
  app/services/import_socioeconomics.rb
Due: none

Match countries name with wri_standard_names
  app/javascript/app/data/world-50m-topo.json
Due: none

Get quantification data from API
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-actions.js
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

capitalize title
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update content of sectoral sectors
  app/javascript/app/pages/sectors/sectors-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates site title
  app/views/layouts/application.html.erb
Due: none

Update email and link to licensing
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
  app/javascript/app/components/footer/footer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
