Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Text adjustments on compare countries
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Capitalize title
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Removes title from empty goal
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates ndc-sdg linkages legend
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

NDC Full text styles
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/themes/content.scss
  db/schema.rb
  yarn.lock
Due: stylelint --syntax=scss ./src/**/*.scss

WIP: set pages
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-actions.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-component.jsx
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-reducers.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-selectors.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-styles.scss
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion.js
  app/javascript/app/pages/ndc-compare/ndc-compare-actions.js
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-reducers.js
  app/javascript/app/pages/ndc-compare/ndc-compare-selectors.js
  app/javascript/app/pages/ndc-compare/ndc-compare.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updates partners links and descriptions as requested
  app/javascript/app/components/about-description/about-description-component.jsx
  app/javascript/app/components/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Capitalize and fixe paragraphs on contact us
  app/javascript/app/components/about-contact/about-contact-component.jsx
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Link to creative commons license
  app/javascript/app/components/about-permissions/about-permissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Pass point values to graph
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

body work and paint
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-timeline/country-timeline-styles.scss
  app/javascript/app/components/tag/tag-styles.scss
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Refine some table styles
  app/javascript/app/components/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-actions.js
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-component.jsx
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-selectors.js
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix metadata slug
  app/javascript/app/components/modal-metadata/modal-metadata-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fetch data on selector change
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create share menu with links to share current page
  app/javascript/app/assets/icons/facebook.svg
  app/javascript/app/assets/icons/link.svg
  app/javascript/app/assets/icons/mail.svg
  app/javascript/app/assets/icons/twitter.svg
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
  app/javascript/app/components/simple-menu/simple-menu.js
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/components/tools-nav/tools-nav.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add click outside functionality
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fetch country data on selector change
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion-styles.scss
  app/javascript/app/components/ndc-country-accordion/ndc-country-accordion.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change homepage stories links
  app/javascript/app/components/stories/stories-actions.js
  app/javascript/app/components/stories/stories-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates email address
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixes URL
  app/javascript/app/components/about-description/about-description-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixes issues with matching ndcs and sectors
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
  app/services/import_ndc_sdg_targets.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds link to download zipped data
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Routes for ndcs county page tabs
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Block body scroll on modal open
  app/javascript/app/components/modal/modal-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Show values in accordion from selector filter
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-actions.js
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-reducers.js
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-selectors.js
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-styles.scss
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion.js
  app/javascript/app/pages/ndc-compare/ndc-compare-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country-actions.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Polish search for ndc country
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set loaders and content heights
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix compare temp
  app/javascript/app/pages/ndc-compare/ndc-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: only fetch ndc overview when not already
  app/javascript/app/components/country-ndc-overview/country-ndc-overview.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove back button
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show tabs in compare page
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-selectors.js
  app/javascript/app/pages/ndc-compare/ndc-compare.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fetch country data on compare tab change
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-actions.js
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-reducers.js
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-styles.scss
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion.js
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: crash when no locations
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion.js
  app/javascript/app/components/search/search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Keep selection on mouse leave
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Decrease interaction time
  app/javascript/app/pages/ndc-sdg/ndc-sdg.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

added socioeconomics endpoint
  app/controllers/api/v1/socioeconomics_controller.rb
  app/serializers/api/v1/socioeconomic/indicator_serializer.rb
  config/routes.rb
  spec/controllers/api/v1/quantifications_controller_spec.rb
  spec/controllers/api/v1/socioeconomics_controller_spec.rb
Due: none

Clear target on close
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fixed hound complaints
  app/controllers/api/v1/socioeconomics_controller.rb
  app/services/import_socioeconomics.rb
  spec/services/import_socioeconomics_spec.rb
Due: none

Make accordion truely resuable by adding dynamic open param values
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
