Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Updates scale for fertilizers map
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

agriculture: format money in gdp indicators
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

agr: meat consumption import/export only absolute values
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

small text changes
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-component.jsx
  app/javascript/app/routes/app-routes/sectors-agriculture-sections/sectors-agriculture-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Enable Agriculture profile in prod, while still keeping the flag
  Jenkinsfile
Due: none

agriculture: add units for meat bar charts
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/meat-data/meat-data-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

agriculture pie chart including and excluding LUCF percentage
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

K8s - Namespace resources
  k8s/production/deployment.yaml
  k8s/production/hpa.yaml
  k8s/production/service.yaml
  k8s/staging/deployment.yaml
  k8s/staging/service.yaml
Due: none

Add cookie consent banner
  app/javascript/app/components/cookie-consent/cookie-consent-component.jsx
  app/javascript/app/components/cookie-consent/cookie-consent-styles.scss
  app/javascript/app/components/cookie-consent/cookie-consent.js
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/layouts/app/app-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Apply different styles to cookie banner
  app/javascript/app/components/cookie-consent/cookie-consent-component.jsx
  app/javascript/app/components/cookie-consent/cookie-consent-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add namespace to kubectl commands in the Jenkinsfile
  Jenkinsfile
Due: none

Have fixed resources on redis services
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

Downsize HPA
  k8s/production/hpa.yaml
Due: none

Remove duplicated var from k8s config
  k8s/production/deployment.yaml
Due: none

Update intro text from Agriculture
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds agriculture profile to footer
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add slug column to indc_labels table and aknowledge it in importer
  app/services/import_indc.rb
  db/migrate/20190725143552_add_slug_to_indc_labels.rb
  db/structure.sql
Due: none
