Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Filter out other category types than "overview" through provider
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove the FEATURE_NEW_GHG from the id to slug changes
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use new cw-components version to fix table and adjust margins
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-component.jsx
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update placeholder text
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Flags should be false
  Jenkinsfile
Due: none

Refactoring the NDCS Enhancements map tooltip component
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

adds new normalized fields to indc_indicators table
  config/data_uploader.yml
  db/migrate/20200503165104_add_normalized_slug_and_normalized_label_to_indc_indicators.rb
  db/structure.sql
Due: none

Import comparison data as normalized slugs and indicators
  app/services/import_indc.rb
Due: none

Adds fetching of normalized indicators and their values
  app/controllers/api/v1/ndcs_controller.rb
  app/models/indc/indicator.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

Adds simple specs
  spec/controllers/api/v1/ndcs_controller_spec.rb
  spec/factories/indc_documents.rb
  spec/factories/indc_values.rb
Due: none

Upgrade downshift dependency
  package.json
  yarn.lock
Due: none

Get array of regions objects instead of strings
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Avoid nonarray mapping crash on sendToAnalytics
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create top emitters region countries objects cons
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

create new dropdown component
  app/javascript/app/components/ghg-multiselect-dropdown/ghg-multiselect-dropdown-styles.scss
  app/javascript/app/components/ghg-multiselect-dropdown/ghg-multiselect-dropdown.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add dropdown to ghg emissions
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-multiselect-dropdown/ghg-multiselect-dropdown.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

only send indicators for the relevant categories
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Calculate cumulative
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add two new options
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

First year of percentage change should be 'n/a'
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add percentage change calculation
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  db/secondbase/structure.sql
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Calculate cumulative values only from data zoom min year
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-actions.js
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-reducers.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-get.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix smae value for differnet documents from the same country bug
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix wrong europeSlug import
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove source from custom compare provider
  app/javascript/app/providers/custom-compare-accordion-provider/custom-compare-accordion-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix broke link underline on the compare-all-targets table
  app/javascript/app/styles/themes/table/compare-table-theme.scss
Due: stylelint --syntax=scss ./src/**/*.scss

updates comment
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Fixing code lint/syntax errors
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix document options on ndc and full ndc documents
  app/javascript/app/pages/ndc-country-full/ndc-country-full-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider.js
  app/javascript/app/providers/ndcs-sdgs-data-provider/ndcs-sdgs-data-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updating tooltip markup and style to remove incorrect tags
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix ghg share link
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Only show normalized data if we are comparing countries
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

Revert lts-tracker embed route
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Resize all borders on zoom
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include total submitters on the countries_documents endpoint
  app/models/indc/document.rb
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

avoid double counting
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

Add regionCountries to topemmiters
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add regionCountries to regionOptions
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add box styles
  app/javascript/app/components/ghg-multiselect-dropdown/ghg-multiselect-dropdown-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Split container and component
  app/javascript/app/components/ghg-multiselect-dropdown/ghg-multiselect-dropdown-component.jsx
  app/javascript/app/components/ghg-multiselect-dropdown/ghg-multiselect-dropdown.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
