Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove uneccessary actions, sync search with external input, clear values when selector chosen
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/components/search/search-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Style description and update links
  app/javascript/app/components/about-description/about-description-component.jsx
  app/javascript/app/components/about-description/about-description-styles.scss
  app/javascript/app/components/about-partners/about-partners-component.jsx
  app/javascript/app/components/about-partners/about-partners.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Disable sahara country interaction
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/ndcs-map/ndcs-map.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add sticky header
  app/javascript/app/components/scroll-to-highlight-index/scroll-to-highlight-index.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Clip box-shadow bottom
  app/javascript/app/components/teaser/teaser-component.jsx
  app/javascript/app/components/teaser/teaser-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Blue border for document selector
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove ndc-sdg linkages fetch now we have a provider
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-actions.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-reducers.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update icons
  app/javascript/app/assets/partners/cc.jpg
  app/javascript/app/assets/partners/climate-analytics.png
  app/javascript/app/assets/partners/climate-analytics@2x.png
  app/javascript/app/assets/partners/climate-analytics@3x.png
  app/javascript/app/assets/partners/giz.jpg
  app/javascript/app/assets/partners/google.png
  app/javascript/app/assets/partners/google@2x.png
  app/javascript/app/assets/partners/google@3x.png
  app/javascript/app/assets/partners/ndcp.png
  app/javascript/app/assets/partners/ndcp@2x.png
  app/javascript/app/assets/partners/ndcp@3x.png
  app/javascript/app/assets/partners/the-world-bank.png
  app/javascript/app/assets/partners/the-world-bank@2x.png
  app/javascript/app/assets/partners/the-world-bank@3x.png
  app/javascript/app/components/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix height for icons
  app/javascript/app/components/about-partners/about-partners-component.jsx
  app/javascript/app/components/about-partners/about-partners-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Don't show unfinished about pages
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change country/ndc-sdg i text and style selector
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add subtitle to ndc-sdg-linkages page
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: fetch global search correctly
  app/javascript/app/pages/ndc-search/ndc-search-actions.js
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
  db/schema.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Added DB migrations and models
  app/models/quantification.rb
  app/models/quantification/label.rb
  app/models/quantification/value.rb
  db/migrate/20171027121507_create_quantification_labels.rb
  db/migrate/20171027123608_create_quantification_values.rb
  db/schema.rb
  spec/factories/quantification_labels.rb
  spec/factories/quantification_values.rb
  spec/models/quantification/label_spec.rb
  spec/models/quantification/value_spec.rb
Due: none

replaced double quotes with single quotes
  spec/factories/quantification_values.rb
Due: none

added import service
  app/models/quantification/label.rb
  app/models/quantification/value.rb
  app/services/import_quantifications.rb
  lib/tasks/quantifications.rake
  spec/models/quantification/label_spec.rb
  spec/models/quantification/value_spec.rb
Due: none

replaced double quotes with single quotes
  spec/models/quantification/label_spec.rb
Due: none

replaced double quotes with single quotes
  app/services/import_quantifications.rb
Due: none

added specs to the import service
  spec/services/import_quantifications_spec.rb
Due: none

resolved conflicts
  db/schema.rb
Due: none

display html on ndcs-table
  app/javascript/app/components/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add ndcs search component to global search and fix bugs with actions
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/components/result-card/result-card-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: styles for label
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use calculation for map and pass search prop to force rerender
  app/javascript/app/components/country-ghg-map/country-ghg-map-selectors.js
  app/javascript/app/components/country-ghg/country-ghg-component.jsx
  app/javascript/app/components/country-ghg/country-ghg.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert "Update icons"
  app/javascript/app/assets/partners/cc.jpg
  app/javascript/app/assets/partners/climate-analytics.png
  app/javascript/app/assets/partners/climate-analytics@2x.png
  app/javascript/app/assets/partners/climate-analytics@3x.png
  app/javascript/app/assets/partners/giz.jpg
  app/javascript/app/assets/partners/google.png
  app/javascript/app/assets/partners/google@2x.png
  app/javascript/app/assets/partners/google@3x.png
  app/javascript/app/assets/partners/ndcp.png
  app/javascript/app/assets/partners/ndcp@2x.png
  app/javascript/app/assets/partners/ndcp@3x.png
  app/javascript/app/assets/partners/the-world-bank.png
  app/javascript/app/assets/partners/the-world-bank@2x.png
  app/javascript/app/assets/partners/the-world-bank@3x.png
  app/javascript/app/components/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert "Fix height for icons"
  app/javascript/app/components/about-partners/about-partners-component.jsx
  app/javascript/app/components/about-partners/about-partners-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Open video in Full Screen - WIP
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Capitalize title
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Amends PREP text to include month and year
  app/javascript/app/components/country-climate-vulnerability/prep-card/prep-card.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change google link
  app/javascript/app/components/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Pass idx param correctly
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show video 100% w and h in full screen
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP: routes for tabs
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

added quantification endpoint
  app/controllers/api/v1/quantifications_controller.rb
  app/serializers/api/v1/quantification/value_serializer.rb
  config/routes.rb
  spec/controllers/api/v1/quantifications_controller_spec.rb
Due: none

replaced double quotes with single quotes
  spec/controllers/api/v1/quantifications_controller_spec.rb
Due: none

preferring if modifier over if statement
  app/controllers/api/v1/quantifications_controller.rb
Due: none

making lines shorter, using meaningful heredoc delimiters
  config/database.yml
  spec/services/import_quantifications_spec.rb
Due: none

Do not use spaces between -> and opening brace in lambda literals
  spec/services/import_quantifications_spec.rb
Due: none

Fix: clear search results when loading, update map based on tab and search correctly
  app/javascript/app/components/ndcs-search-map/ndcs-search-map-selectors.js
  app/javascript/app/components/ndcs-search-map/ndcs-search-map.js
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
