Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

small changes, bulk import labels
  app/services/import_indc.rb
Due: none

ndc-sdg linkages: updates section title
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fixes invalid return
  app/javascript/app/components/card-graph/card-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

value.id as order is not needed anymore
  app/models/indc/indicator.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
  app/serializers/api/v1/indc/value_serializer.rb
Due: none

add group indicator slug to indc indicators, update API, use grouping_indicator for separators
  app/controllers/api/v1/ndcs_controller.rb
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
  app/serializers/api/v1/indc/indicator_serializer.rb
  app/services/import_indc.rb
  db/migrate/20220520090514_add_group_indicator_slug_to_indc_indicators.rb
  db/structure.sql
  spec/services/import_indc_spec.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

NDC accordions: place subsectors with general word in name first
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add ndc_adaptation source to data explorer for ndc content
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

make sure to validate indc labels
  app/services/import_indc.rb
Due: none

ghg: default data source
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-emissions: adds missing color, fixes country ranking
  app/javascript/app/components/country/emission-sources-chart/emission-sources-chart-component.jsx
  app/javascript/app/components/country/emission-sources-chart/emission-sources-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ndcs custom compare: fix comparing documents from the same country
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

update nokogiri
  Gemfile.lock
Due: none

solar-wind costs chart
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-component.jsx
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-selectors.js
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-styles.scss
  app/javascript/app/pages/country/country-component.jsx
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

employment per technologies chart
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-component.jsx
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-selectors.js
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

adds no data message for employment and costs charts
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-component.jsx
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-selectors.js
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

country climate enhancements: aligns enhancements to left
  app/javascript/app/components/country/country-climate-enhancements/country-climate-enhancements-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

employment-costs: removes previos axis before render new one
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

prevents storing old indicator values
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

subnational actions: updates tooltip value formatting
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

employment-costs chart: dynamic chart height
  app/javascript/app/components/country/country-employment-and-costs/country-employment-and-costs-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add sector type to indc sectors
  app/models/indc/sector.rb
  app/services/import_indc.rb
  db/migrate/20220420150714_add_sector_type_to_indc_sectors.rb
  db/structure.sql
Due: none

create adaptation actions table and import the data
  app/models/indc/adaptation_action.rb
  app/models/indc/adaptation_action_sector.rb
  app/services/import_indc.rb
  db/migrate/20220420152331_create_indc_adaptation_actions.rb
  db/structure.sql
  spec/factories/indc_sectors.rb
Due: none

small refactor of indc import
  app/models/indc/sector.rb
  app/services/import_indc.rb
  config/routes.rb
  db/structure.sql
Due: none

more refactoring
  app/services/import_indc.rb
Due: none

add ndc adaptation actions controller
  app/controllers/api/v1/ndc_adaptation_actions_controller.rb
  app/models/indc/sector.rb
  spec/controllers/api/v1/ndc_adaptation_actions_controller_spec.rb
  spec/factories/indc_adaptation_actions.rb
  spec/factories/indc_sectors.rb
Due: none

fix duplicated indc sectors
  app/services/import_indc.rb
Due: none

add missing model annotations, change action to title column name, changes to controller
  app/controllers/api/v1/ndc_adaptation_actions_controller.rb
  app/models/country_profile/indicator.rb
  app/models/country_profile/value.rb
  app/models/indc/adaptation_action.rb
  app/models/indc/adaptation_action_sector.rb
  app/models/indc/indicator.rb
  app/models/indc/sector.rb
  app/models/indc/value.rb
  app/models/my_cw/user_story.rb
  app/models/my_cw/visualization.rb
  app/models/zip_file.rb
  app/services/import_indc.rb
  db/migrate/20220420152331_create_indc_adaptation_actions.rb
  db/structure.sql
  spec/factories/indc_adaptation_actions.rb
  spec/factories/indc_indicators.rb
  spec/factories/indc_sectors.rb
  spec/factories/indc_values.rb
  spec/factories/zip_files.rb
  spec/models/country_profile/indicator_spec.rb
  spec/models/country_profile/value_spec.rb
  spec/models/indc/indicator_spec.rb
  spec/models/indc/sector_spec.rb
  spec/models/indc/value_spec.rb
Due: none

change adaptation actions controller to be able to get actions for multiple locations
  app/controllers/api/v1/ndc_adaptation_actions_controller.rb
  config/routes.rb
  spec/controllers/api/v1/ndc_adaptation_actions_controller_spec.rb
Due: none

fix not available text in gca sectors
  app/services/import_indc.rb
Due: none

fix rack vulnerabilities
  Gemfile.lock
Due: none

add document_slug to quantifications, annotate models
  app/models/quantification/value.rb
  app/serializers/api/v1/quantification/value_serializer.rb
  app/services/import_quantifications.rb
  db/migrate/20220527093456_add_document_slug_to_quantification_values.rb
  db/structure.sql
  spec/factories/quantification_values.rb
  spec/models/quantification/value_spec.rb
  spec/services/import_quantifications_spec.rb
Due: none

add latest flag to quantifications api
  app/controllers/api/v1/quantifications_controller.rb
  app/models/indc/submission.rb
  app/serializers/api/v1/quantification/value_serializer.rb
Due: none

remove guard from import quantifications, empty year should result with error
  app/services/import_quantifications.rb
Due: none

ndcs: merges lts and net-zero indicators
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-selectors.js
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/routes/app-routes/country-sections/country-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

replaces feature flag
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/routes/app-routes/country-sections/country-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ndcs: adds lts param to compare link
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-selectors.js
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ndc: fix and improve performance of generated map indicators
  app/services/import_indc.rb
Due: none

addresses feedback
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert "fix duplicated indc sectors"
  app/services/import_indc.rb
Due: none

API NDC: return only value for latest document if filter=map
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
