Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Switch NDCs faq last question to HTML
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Open the ndc enhancement tracker's custom-compare link in a new page
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix embed url generation for components embedded with the old contained url
  app/javascript/app/components/modal-share/modal-share.js
  app/javascript/app/layouts/embed/embed-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update about-faq-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update about-permissions-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update ndcs-explore-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

History of CO2 Scrolly telling visual
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/38356/v22/index.html
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/38356/v22/static/README.txt
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/38356/v22/static/bundle.css
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/38356/v22/static/bundle.css.map
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/38356/v22/static/choices/icons/cross-inverse.svg
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/38356/v22/static/choices/icons/cross.svg
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/38356/v22/static/choices/styles/css/choices.min.css
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/CO2-scrolly.html
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/flourish.embed.js
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/fontawesome-webfont.eot
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/fontawesome-webfont.svg
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/fontawesome-webfont.ttf
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/fontawesome-webfont.woff
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/fontawesome-webfont.woff2
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/source-sans-pro/OTF/SourceSansPro-Bold.otf
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/source-sans-pro/OTF/SourceSansPro-Regular.otf
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/source-sans-pro/TTF/SourceSansPro-Bold.ttf
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/source-sans-pro/TTF/SourceSansPro-Regular.ttf
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/fonts/source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/how_to_embed_me.txt
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/index.html
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/story_player.css
  public/visualizations/history-of-CO2-emissions-1850-2022-scrolly/story_player.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove polyfill.io Original one is compromised and is no longer of use
  app/views/layouts/application.html.erb
Due: none

Fix LULUCF chart colors not displaying correctly
  app/javascript/app/styles/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Increase label width for the EmissionSourcesChart in order to fit the new bigger LULUCF text
  app/javascript/app/components/country/emission-sources-chart/emission-sources-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Increase allowed width for the ChartTooltip to account for LULUCF renaming
  app/javascript/app/styles/themes/chart-tooltip/chart-tooltip.scss
Due: stylelint --syntax=scss ./src/**/*.scss

routes
  app/javascript/app/routes/ndc-2025-sections/ndc-2025-sections.js
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ndc-2025-tracker routes and static data
  app/javascript/app/components/country/emission-sources-chart/emission-sources-chart-styles.scss
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-actions.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-reducers.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-styles.scss
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/timeline.json
  app/javascript/app/components/ndcs/ndc-2025-tracker-chart/mockup.json
  app/javascript/app/components/ndcs/ndc-2025-tracker-chart/ndc-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-tracker-chart/ndc-2025-tracker-chart-styles.scss
  app/javascript/app/components/ndcs/ndc-2025-tracker-chart/ndc-2025-tracker-chart.js
  app/javascript/app/pages/ndc-2025-tracker/ndc-2025-tracker-actions.js
  app/javascript/app/pages/ndc-2025-tracker/ndc-2025-tracker-component.jsx
  app/javascript/app/pages/ndc-2025-tracker/ndc-2025-tracker-reducers.js
  app/javascript/app/pages/ndc-2025-tracker/ndc-2025-tracker-styles.scss
  app/javascript/app/pages/ndc-2025-tracker/ndc-2025-tracker.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-actions.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-reducers.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider.js
  app/javascript/app/providers/ndc-2025-provider/timeline.json
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/ndc-2025-sections/ndc-2025-sections.js
  app/javascript/app/styles/constants.js
  app/javascript/app/styles/themes/chart-tooltip/chart-tooltip.scss
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create initial 2025 NDC Tracker page
  app/javascript/app/data/seo.js
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-selectors.js
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-styles.scss
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create intro for the new 2025 NDC Tracker page
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

REMOVE: mocking call to countries_documents and apiWithCache in order to bypass local development limitations
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
  app/javascript/app/services/api.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Disable max-length linting for the new 2025 NDC tracker page's description
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add table section to the new 2025 NDC tracker
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/enhancements-2025-legend/enhancements-2025-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/enhancements-2025-legend/enhancements-2025-legend.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/enhancements-2025-legend/enhancements-2025-legend.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-cell-renderer.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/ndcs-enhancements-2025-sections/ndcs-enhancements-2025-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add map section to the new 2025 NDC tracker
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-tooltip/ndcs-enhancements-2025-tooltip-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-tooltip/ndcs-enhancements-2025-tooltip.jsx
  app/javascript/app/routes/app-routes/ndcs-enhancements-2025-sections/ndcs-enhancements-2025-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Approximate 2025 map section to the original designs
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add NDC 2025 timeline component to the intro
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-actions.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-reducers.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-styles.scss
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/timeline.json
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add ndc-2025-provider used by the 2025 ndc timeline
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-actions.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-reducers.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider.js
  app/javascript/app/providers/ndc-2025-provider/timeline.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove 2025 NDCS enhancements disclaimer - no longer needed
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Bring back the 2025 tracker chart component section
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/mockup.json
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
  app/javascript/app/routes/app-routes/ndcs-enhancements-2025-sections/ndcs-enhancements-2025-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove unused buttons and header from the 2025 map
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

mocked dat from table
  .github/workflows/tests.yml
  Dockerfile
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/mock.json
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-actions.js
  app/javascript/app/providers/ndcs-provider/ndcs-provider-actions.js
  app/javascript/app/services/api.js
  db/structure.sql
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

hardcoded API removed
  Dockerfile
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-component.jsx
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert "REMOVE: mocking call to countries_documents and apiWithCache in order to bypass local development limitations"
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
  app/javascript/app/services/api.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove hardcoded baseUrl from apiWithCache
  app/javascript/app/services/api.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Mock countries_documents call to production; broken on staging
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

feat: NDC timeline implementation
  app/controllers/api/v1/data/ndc_content/timelines_controller.rb
  app/models/indc/timeline.rb
  app/serializers/api/v1/data/ndc_content/timeline_serializer.rb
  app/services/import_indc.rb
  config/routes.rb
  db/migrate/20240924080237_create_indc_timelines.rb
  db/structure.sql
  spec/controllers/api/v1/data/ndc_content/timelines_controller_spec.rb
  spec/factories/indc_timelines.rb
  spec/models/indc/timeline_spec.rb
  spec/services/import_indc_spec.rb
  spec/support/schemas/api/v1/data/ndc_content_timelines.json
Due: none

Update table legend
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/enhancements-2025-legend/enhancements-2025-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-chart-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-actions.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-reducers.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider.js
  app/javascript/app/providers/ndc-2025-timeline-provider/timeline.json
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add utility buttons
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-actions.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-selectors.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline.js
  app/javascript/app/components/ndcs/ndc-2025-timeline/timeline.json
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-chart-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
  app/javascript/app/providers/ndc-2025-provider/mockup.json
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-actions.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider-reducers.js
  app/javascript/app/providers/ndc-2025-provider/ndc-2025-provider.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider-actions.js
  app/javascript/app/providers/ndc-2025-timeline-provider/ndc-2025-timeline-provider.js
  app/javascript/app/reducers.js
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
