Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Refactor module and add changes in behavior
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/serializers/api/v1/ndc_sdg/goal_meta_serializer.rb
  app/serializers/api/v1/ndc_sdg/meta_serializer.rb
  app/serializers/api/v1/ndc_sdg/ndc_serializer.rb
  app/serializers/api/v1/ndc_sdg/sdgs_serializer.rb
  app/serializers/api/v1/ndc_sdg/sector_meta_serializer.rb
  app/serializers/api/v1/ndc_sdg/target_meta_serializer.rb
  app/serializers/api/v1/ndc_sdg/target_serializer.rb
Due: none

Changed literals from string to int for consistency
  README.md
  spec/controllers/api/v1/wb_extra_country_data_controller.rb
Due: none

Add wb country data provider
  app/javascript/app/actions.js
  app/javascript/app/components/country-ghg/country-ghg-component.jsx
  app/javascript/app/data/initial-state.js
  app/javascript/app/providers/wb-country-data-provider/wb-country-data-provider-actions.js
  app/javascript/app/providers/wb-country-data-provider/wb-country-data-provider-reducers.js
  app/javascript/app/providers/wb-country-data-provider/wb-country-data-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change y value depending on selected calculation
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Auto generate reducers, bind actions and set initialState for redux modules
  app/javascript/app/actions.js
  app/javascript/app/components/autocomplete-search/autocomplete-search.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/country-ghg-map/country-ghg-map.js
  app/javascript/app/components/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/components/map/map.js
  app/javascript/app/components/modal-metadata/modal-metadata.js
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/components/other/other-actions.js
  app/javascript/app/components/other/other-component.jsx
  app/javascript/app/components/other/other-reducers.js
  app/javascript/app/components/other/other.js
  app/javascript/app/components/stories/stories.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/country/country.js
  app/javascript/app/pages/ndc-compare/ndc-compare.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/pages/ndc-sdg/ndc-sdg.js
  app/javascript/app/pages/ndc-search/ndc-search.js
  app/javascript/app/pages/ndcs/ndcs.js
  app/javascript/app/pages/root/root-component.jsx
  app/javascript/app/pages/root/root.js
  app/javascript/app/providers/countries-provider/countries-provider.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider.js
  app/javascript/app/providers/ghg-emissions-meta-provider/ghg-emissions-meta-provider.js
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider.js
  app/javascript/app/providers/regions-provider/regions-provider.js
  app/javascript/app/reducers.js
  app/javascript/app/utils/redux.js
  app/javascript/packs/main.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update generator to use new redux exports
  app/javascript/generators/templates/component.jsx.hbs
  app/javascript/generators/templates/index-connected.js.hbs
Due: none

Handle countries without calculation data
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Style polishing - Should check out responsive or mobile
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg/country-ghg-styles.scss
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Don't show years without calculation value
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add schema, models and model specs
  app/models/unfccc.rb
  app/models/unfccc/document.rb
  app/models/unfccc/note.rb
  app/models/unfccc/record.rb
  db/migrate/20171023110320_create_unfccc_documents.rb
  db/migrate/20171023110325_create_unfccc_records.rb
  db/migrate/20171023110328_create_unfccc_notes.rb
  db/schema.rb
  spec/factories/unfccc_documents.rb
  spec/factories/unfccc_notes.rb
  spec/factories/unfccc_records.rb
  spec/models/unfccc/document_spec.rb
  spec/models/unfccc/note_spec.rb
  spec/models/unfccc/record_spec.rb
Due: none

Create Country climate vulnerability component, connect to redux and start styling
  app/javascript/app/actions.js
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-actions.js
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-reducers.js
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create adaptations provider
  app/javascript/app/actions.js
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/data/initial-state.js
  app/javascript/app/providers/adaptations-provider/adaptations-provider-actions.js
  app/javascript/app/providers/adaptations-provider/adaptations-provider-reducers.js
  app/javascript/app/providers/adaptations-provider/adaptations-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add import process and spec
  app/models/unfccc/record.rb
  app/services/import_unfccc.rb
  lib/tasks/db.rake
  lib/tasks/unfccc.rake
  spec/services/import_unfccc_spec.rb
Due: none

Add overlooked 'language' column
  app/services/import_unfccc.rb
  db/migrate/20171023110325_create_unfccc_records.rb
  db/schema.rb
Due: none

Create vulnerability graph component - WIP
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph.js
  app/javascript/app/providers/adaptations-provider/adaptations-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Rename modules tables and classes
  app/models/timeline.rb
  app/models/timeline/document.rb
  app/models/timeline/note.rb
  app/models/timeline/source.rb
  app/models/unfccc/document.rb
  app/models/unfccc/record.rb
  app/services/import_timeline.rb
  db/migrate/20171023110320_create_timeline_sources.rb
  db/migrate/20171023110320_create_unfccc_documents.rb
  db/migrate/20171023110325_create_timeline_documents.rb
  db/migrate/20171023110328_create_timeline_notes.rb
  db/migrate/20171023110328_create_unfccc_notes.rb
  db/schema.rb
  lib/tasks/db.rake
  lib/tasks/timeline.rake
  lib/tasks/unfccc.rake
  spec/factories/timeline_documents.rb
  spec/factories/timeline_notes.rb
  spec/factories/timeline_source.rb
  spec/factories/unfccc_documents.rb
  spec/factories/unfccc_notes.rb
  spec/models/timeline/document_spec.rb
  spec/models/timeline/note_spec.rb
  spec/models/timeline/source_spec.rb
  spec/models/unfccc/note_spec.rb
  spec/models/unfccc/record_spec.rb
  spec/services/import_timeline_spec.rb
Due: none

New templates structure for component - WIP
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add endpoint and spec
  app/controllers/api/v1/timeline_controller.rb
  app/serializers/api/v1/timeline/document_serializer.rb
  config/routes.rb
  spec/controllers/api/v1/timeline_controller_spec.rb
Due: none

Make rubocop happy
  app/controllers/api/v1/timeline_controller.rb
  app/models/timeline.rb
  app/models/timeline/document.rb
  app/models/timeline/note.rb
  app/models/timeline/source.rb
  app/serializers/api/v1/timeline/document_serializer.rb
  app/services/import_timeline.rb
  spec/controllers/api/v1/timeline_controller_spec.rb
  spec/factories/timeline_documents.rb
  spec/factories/timeline_notes.rb
  spec/factories/timeline_source.rb
  spec/models/timeline/document_spec.rb
  spec/models/timeline/note_spec.rb
  spec/models/timeline/source_spec.rb
  spec/services/import_timeline_spec.rb
Due: none

Export by default instead inside redux obj
  app/javascript/app/components/autocomplete-search/autocomplete-search.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/country-ghg-map/country-ghg-map.js
  app/javascript/app/components/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/components/map/map.js
  app/javascript/app/components/modal-metadata/modal-metadata.js
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/components/stories/stories.js
  app/javascript/app/pages/ndc-compare/ndc-compare.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/pages/ndc-sdg/ndc-sdg.js
  app/javascript/app/pages/ndc-search/ndc-search.js
  app/javascript/app/pages/ndcs/ndcs.js
  app/javascript/app/providers/countries-provider/countries-provider.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider.js
  app/javascript/app/providers/ghg-emissions-meta-provider/ghg-emissions-meta-provider.js
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider.js
  app/javascript/app/providers/regions-provider/regions-provider.js
  app/javascript/app/reducers.js
  app/javascript/generators/templates/index-connected.js.hbs
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create circular chart component
  app/javascript/app/components/circular-chart/circular-chart-component.jsx
  app/javascript/app/components/circular-chart/circular-chart-styles.scss
  app/javascript/app/components/circular-chart/circular-chart.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Abstract info icon component
  app/javascript/app/components/info-icon/info-icon-component.jsx
  app/javascript/app/components/info-icon/info-icon-styles.scss
  app/javascript/app/components/info-icon/info-icon.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create vulnerability selector, pass data to switch in graph component and render circular chart
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/data/country-codes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix selectors change
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix indc endpoint serialization
  app/lib/indexed_serializer.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
Due: none

Point to the staging database instead of the production one
  k8s/staging/deployment.yaml
Due: none

Update references to s3 bucket files
  app/services/import_adaptation.rb
  app/services/import_cait_indc.rb
  app/services/import_historical_emissions.rb
  app/services/import_location_members.rb
  app/services/import_locations.rb
  app/services/import_ndc_sdg_targets.rb
  app/services/import_ndc_texts.rb
  app/services/import_sdgs.rb
  app/services/import_timeline.rb
  app/services/import_wb_extra.rb
  app/services/import_wb_indc.rb
  app/services/import_wri_metadata.rb
  config/initializers/aws.rb
  spec/services/import_adaptation_spec.rb
  spec/services/import_cait_indc_spec.rb
  spec/services/import_historical_emissions_spec.rb
  spec/services/import_ndc_texts_spec.rb
  spec/services/import_sdgs_spec.rb
  spec/services/import_timeline_spec.rb
  spec/services/import_wb_extra_spec.rb
  spec/services/import_wb_indc_spec.rb
  spec/services/import_wri_metadata_spec.rb
Due: none

Make rubocop happier
  app/services/import_adaptation.rb
  app/services/import_cait_indc.rb
  app/services/import_historical_emissions.rb
  app/services/import_ndc_sdg_targets.rb
  app/services/import_ndc_texts.rb
  app/services/import_wb_indc.rb
  app/services/import_wri_metadata.rb
  spec/services/import_historical_emissions_spec.rb
Due: none

Remove unused route definition
  config/routes.rb
Due: none

Get list data and render list graph, render line graph
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/data/country-codes.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add sorting in cases where it makes sense
  app/controllers/api/v1/locations/countries_controller.rb
  app/controllers/api/v1/locations/regions_controller.rb
  app/controllers/api/v1/metadata_controller.rb
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Add prep link component, fix absolute circular value style
  app/javascript/app/assets/backgrounds/prep-planet.jpeg
  app/javascript/app/assets/icons/prep-logo.svg
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/prep-link/prep-link-component.jsx
  app/javascript/app/components/prep-link/prep-link-styles.scss
  app/javascript/app/components/prep-link/prep-link.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix cards height
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix description and wrapper style
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
  app/javascript/app/components/icon/icon-styles.scss
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/components/modal-metadata/modal-metadata-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add loader, fix round line meter
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability.js
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix padding
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Take care of no data cases and pad the Loader
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move info icon classes to external component and more no data case fixing
  app/javascript/app/components/info-icon/info-icon-component.jsx
  app/javascript/app/components/info-icon/info-icon-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Calculate countries count
  app/javascript/app/components/info-icon/info-icon-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph.js
  app/javascript/app/data/country-codes.js
  app/javascript/app/providers/countries-provider/countries-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove actions file
  app/javascript/app/actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
