Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Eslint fixes
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make countries' actions section responsive
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/components/sectors-agriculture/resources-for-action/resources-for-action-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set smaller cell width for mobile resolutions in table component
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use grid foundation for filters layout
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-actions/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Make country context/indicator section responsive
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

rename maintainer_institute to maintained_by
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Enable ndc2 for ndcs full text document type
  app/models/ndc.rb
Due: none

Small text changes and typos fixed
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Increase height a little
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update navigation mobile styles
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update routes
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/layouts/app/app.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

render dataexplorer link on tools nav
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set max width of section decription & change 'switch' breakpoint in Country Actions section
  app/javascript/app/components/sectors-agriculture/countries-actions/countries-actions-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

wip
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/utils/navigation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update clear selection function
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add closeMenu on click
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/components/tools-nav/tools-nav.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use handleActions on myCW reducers to avoid crashing
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove console logs
  app/javascript/app/utils/navigation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update card text
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add barchart config to selectors
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add components and styles
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Extract barchart to function
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Avoid same key error
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP: trying with sectors has and belongs to many sectors
  app/controllers/api/v1/historical_emissions_controller.rb
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/providers/ghg-emissions-meta-provider/ghg-emissions-meta-provider-actions.js
  app/models/historical_emissions/sector.rb
  app/serializers/api/v1/historical_emissions/metadata_serializer.rb
  app/services/import_historical_emissions.rb
  config/data_uploader.yml
  db/migrate/20190219190427_create_historical_emissions_sector_subsectors.rb
  db/migrate/20190220134430_add_is_aggregation_to_emission_sectors.rb
  db/secondbase/structure.sql
  db/structure.sql
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-emissions: expand one aggregated sector
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-providers.js
  app/javascript/app/providers/ghg-emissions-meta-provider/ghg-emissions-meta-provider-actions.js
  app/models/historical_emissions/sector.rb
  app/serializers/api/v1/historical_emissions/metadata_serializer.rb
  app/services/import_historical_emissions.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

remove not needed is aggregation migration
  db/migrate/20190220134430_add_is_aggregation_to_emission_sectors.rb
  db/structure.sql
Due: none

Replace subscribe form with link to external form
  app/javascript/app/pages/home/subscribe-section/input-theme.scss
  app/javascript/app/pages/home/subscribe-section/subscribe-section-component.jsx
  app/javascript/app/pages/home/subscribe-section/subscribe-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update percentage round funtion to drecrease precision
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Avoid crashing when no years data for a given country
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create indicator cards component
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add indicatorsCards component to context by country
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add loader
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context.js
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update year sorting on context by country
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

changing development webpack to work with linked cw-components
  config/webpack/development.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

switching custom multidropdown to cw-components multileveldropdown
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/multi-dropdown/components/item.jsx
  app/javascript/app/components/multi-dropdown/components/menu.jsx
  app/javascript/app/components/multi-dropdown/components/selector.jsx
  app/javascript/app/components/multi-dropdown/multi-dropdown-component.jsx
  app/javascript/app/components/multi-dropdown/multi-dropdown-styles.scss
  app/javascript/app/components/multi-dropdown/multi-dropdown.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

ghg-emissions: one expandsTo option common for all filters
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-providers.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-emissions: add sector conflict when overlapping sectors selected then disable chart selector
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add worl bank data guard
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add worl bank data guard on legend
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: database changes
  app/models/historical_emissions/sector.rb
  app/services/import_historical_emissions.rb
  db/migrate/20190219190427_create_historical_emissions_sector_aggregations.rb
  db/structure.sql
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
