Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update title
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix structure files
  db/secondbase/structure.sql
  db/structure.sql
Due: none

Update User report key for prod
  Jenkinsfile
Due: none

Build arguments were growing too much, made it nicer to review
  Jenkinsfile
Due: none

Use ipstack on staging as well
  Jenkinsfile
Due: none

Use https now that we have certificates fixed
  app/javascript/app/providers/geolocation-provider/geolocation-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Enable water withdrawal chart & set custom message for no data for indcators card & fix navigation to ghg emissions bug
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Prettier format changes
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Renaming & fixing indendation
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/indicator-card/indicator-card-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix passing year and and update switch option after click on map in Countries Context section
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg: fix default selection, fix break by sector if single selected
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-providers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: allow empty filters, display message for the user
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-get.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-providers.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/providers/emissions-provider/emissions-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

ghg-module: expand gas selection if only one gas selected and break by gas
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-providers.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds Indonesia to footer sitemap
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

little refactor shouldExpand selectors
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: tooltip for multiselect options
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: move tooltip to cw-components
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

As we can't use ipstack free version we decided to remove it
  Dockerfile
  Jenkinsfile
  app/javascript/app/pages/home/carousel-section/carousel-section-component.jsx
  app/javascript/app/pages/home/carousel-section/carousel-section-data.js
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/carousel-section/carousel-section.js
  app/javascript/app/pages/home/home-selectors.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider-actions.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider-reducers.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

cw-components upgrade
  package.json
  yarn.lock
Due: none

Adds download for NDC-SDG Linkages
  app/javascript/app/components/download-menu/download-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: for per capita and gdp do not show data for yeasr where there is no population and gdp info
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: fix others value calculation
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: Kyoto GHG aggregate, fix gas conflicts
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: fix no metric data calculations
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

ghg-module: filter out years without any value
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove space before coma in agriculture description text
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add percentage emission for agriculture to agriculture page description
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/ghg-metadata-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture-component.jsx
  app/javascript/app/pages/sectors-agriculture/sectors-agriculture.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use total including LUCF as total emission value
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix calculation of agriculture emissions in pie chart
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Enable platforms in the menu
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Hide country platforms links temporarily
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Tweak text
  app/javascript/app/components/countries-select/countries-select.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
