Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add legend to the embed chart
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

show xAxis on stack bars charts
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show links and logo image. Put logo the last
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/metadata-text/metadata-text-component.jsx
  app/javascript/app/components/metadata-text/metadata-text-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add required and optional to dropdown
  app/javascript/app/components/check-input/check-input-styles.scss
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move to constants, parse low dash, parse CAIT AR4
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Solve double fetching issue
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Finally fix double fetch
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update mycw my account component and updated login flow with local state
  app/javascript/app/components/my-climate-watch/my-account/my-account-component.jsx
  app/javascript/app/providers/login-provider/login-provider-actions.js
  app/javascript/app/providers/login-provider/login-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update Pathways links and download
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Autocomplete url params from param selection
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Substitute div for Fragment to avoid UI breacking
  app/javascript/app/components/download-menu/download-menu-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create saveSurvey thunk
  app/javascript/app/components/modal-download/modal-download-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add required fields logic
  app/javascript/app/components/modal-download/modal-download-component.jsx
  app/javascript/app/components/modal-download/modal-download-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

delete unused actions on login provider
  app/javascript/app/providers/login-provider/login-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Small style changes
  app/javascript/app/components/modal-download/modal-download-styles.scss
  app/javascript/app/components/text-input/text-input-component.jsx
  app/javascript/app/styles/themes/input/text-input-theme.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

clean modal-download.js
  app/javascript/app/components/modal-download/modal-download.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change variable name and move function to utils
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix locations query replacement
  app/javascript/app/utils/data-explorer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Unicode subscript 2 in MtCO2e
  app/serializers/api/v1/data/historical_emissions/record_serializer.rb
  app/services/api/v1/data/historical_emissions_filter.rb
Due: none

Filter by parent selection and standardise source variable name
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update spreadsheet url
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Parse country in link to Pathways module
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

not show size info in case undefined
  app/javascript/app/components/modal-download/modal-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update react modal library
  package-lock.json
  package.json
Due: none

Disable toogle in case there is no email
  app/javascript/app/components/check-input/check-input-component.jsx
  app/javascript/app/components/modal-download/modal-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update routes to show download and mycw on toolsnav
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Display icon and modal on mobile navigation
  app/javascript/app/components/modal/modal-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Spreadsheet url on env
  app/javascript/app/components/modal-download/modal-download-actions.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove feature flag for my climate watch, as it's ready to release
  .env.sample
  Jenkinsfile
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

VisualiZation instead of visualiSation
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove dlag from dockerfile
  Dockerfile
Due: none

Close modal after request
  app/javascript/app/components/modal-download/modal-download-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change forEach for some loop
  app/javascript/app/components/modal-download/modal-download-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix typo
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove tabindex attribute from modal
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Added TODO comment
  app/javascript/app/components/modal/modal.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix info modals
  app/javascript/app/components/metadata-text/metadata-text-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Libya page was missing some data and crashing
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-timeline/country-timeline-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

1.10.0
  package-lock.json
  package.json
Due: none

1.11.0
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
