Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add local storage dir to gitignore
  .gitignore
  Gemfile.lock
Due: none

gem update
  Gemfile.lock
Due: none

Remove workers in favour of generic worker from gem
  Gemfile
  Gemfile.lock
  app/admin/global_cw_platform/adaptation.rb
  app/admin/global_cw_platform/historical_emissions.rb
  app/admin/global_cw_platform/indc.rb
  app/admin/global_cw_platform/locations.rb
  app/admin/global_cw_platform/locations_members.rb
  app/admin/global_cw_platform/quantifications.rb
  app/admin/global_cw_platform/sdgs.rb
  app/admin/global_cw_platform/timeline.rb
  app/admin/global_cw_platform/wb_extra.rb
  app/admin/global_cw_platform/wri_metadata.rb
  app/workers/import_adaptation_worker.rb
  app/workers/import_historical_emissions_worker.rb
  app/workers/import_indc_worker.rb
  app/workers/import_location_member_worker.rb
  app/workers/import_locations_worker.rb
  app/workers/import_ndc_sdg_targets_worker.rb
  app/workers/import_quantifications_worker.rb
  app/workers/import_sdgs_worker.rb
  app/workers/import_socioeconomics_worker.rb
  app/workers/import_timeline_worker.rb
  app/workers/import_wb_extra_worker.rb
  app/workers/import_wri_metadata_worker.rb
  config/data_uploader.yml
Due: none

Update data uploader gem
  Gemfile
  Gemfile.lock
Due: none

Add CW_FILES_PREFIX to .env.sample - used for determining folder in S3 bucket
  .env.sample
Due: none

Updated cw_data_uploader
  Gemfile
  Gemfile.lock
Due: none

Remove redundant info from data_uploader.yml file
  config/data_uploader.yml
Due: none

Update admin pages to use CW_FILES_PREFIX instead of the test one
  app/admin/global_cw_platform/adaptation.rb
  app/admin/global_cw_platform/historical_emissions.rb
  app/admin/global_cw_platform/indc.rb
  app/admin/global_cw_platform/locations.rb
  app/admin/global_cw_platform/locations_members.rb
  app/admin/global_cw_platform/ndc_texts.rb
  app/admin/global_cw_platform/quantifications.rb
  app/admin/global_cw_platform/sdgs.rb
  app/admin/global_cw_platform/timeline.rb
  app/admin/global_cw_platform/wb_extra.rb
  app/admin/global_cw_platform/wri_metadata.rb
Due: none

Add missing page in admin panel
  app/admin/global_cw_platform/socioeconomics.rb
  config/data_uploader.yml
Due: none

Update occurrences of S3_BUCKET_NAME with CW_FILES_PREFIX -> related to moving files to different s3 bucket, update deployment scripts
  app/javascript/app/components/download-menu/download-menu.js
  config/initializers/aws.rb
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unused code
  app/admin/india_platform/historical_emissions.rb
  app/admin/india_platform/locations.rb
  app/admin/indonesia_platform/historical_emissions.rb
  app/admin/indonesia_platform/timeline.rb
Due: none

Add CW_FILES_PREFIX to deployment scripts
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

Add staging to .env.sample
  .env.sample
Due: none

Adds missing config to k8s deploy
  k8s/staging/deployment.yaml
Due: none

Updates path to import file
  app/services/import_location_members.rb
Due: none

Updates cw_data_uploader
  Gemfile
  Gemfile.lock
Due: none

Add count of national policies in dropdown options
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set economy-wide as a default section
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update text in the dropdown
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds description to data explorer section
  app/javascript/app/pages/data-explorer/data-explorer-component.jsx
  app/javascript/app/pages/data-explorer/data-explorer-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updates title of data download purpose section
  app/javascript/app/components/modal-download/modal-download-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix first fetching
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove extra padding
  app/javascript/app/pages/data-explorer/data-explorer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Updates text for future submissions
  app/javascript/app/components/country/country-timeline/country-timeline-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add checks for existence
  db/secondbase/migrate/20180917120344_devise_create_admin_users.rb
  db/secondbase/migrate/20181004091403_add_role_to_admin_user.rb
  db/secondbase/structure.sql
  db/structure.sql
Due: none

[LSE] Remove matches text from dropdown label, make options with targets inside in bold and black
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update data uploader gem, instal missing migration, update admin pages
  Gemfile
  Gemfile.lock
  app/admin/global_cw_platform/adaptation.rb
  app/admin/global_cw_platform/historical_emissions.rb
  app/admin/global_cw_platform/indc.rb
  app/admin/global_cw_platform/locations.rb
  app/admin/global_cw_platform/locations_members.rb
  app/admin/global_cw_platform/quantifications.rb
  app/admin/global_cw_platform/sdgs.rb
  app/admin/global_cw_platform/socioeconomics.rb
  app/admin/global_cw_platform/timeline.rb
  app/admin/global_cw_platform/wb_extra.rb
  app/admin/global_cw_platform/wri_metadata.rb
  db/migrate/20181114113643_add_user_email_to_worker_logs.data_uploader.rb
  db/structure.sql
Due: none

Satisfy rubocop
  app/admin/global_cw_platform/adaptation.rb
  app/admin/global_cw_platform/historical_emissions.rb
  app/admin/global_cw_platform/indc.rb
  app/admin/global_cw_platform/locations.rb
  app/admin/global_cw_platform/locations_members.rb
  app/admin/global_cw_platform/quantifications.rb
  app/admin/global_cw_platform/sdgs.rb
  app/admin/global_cw_platform/socioeconomics.rb
  app/admin/global_cw_platform/timeline.rb
  app/admin/global_cw_platform/wb_extra.rb
  app/admin/global_cw_platform/wri_metadata.rb
Due: none

Update data uploader gem to display data uploader guidance
  Gemfile
  Gemfile.lock
  app/admin/dashboard.rb
Due: none

Remove dependency on hardcoded year for sorting
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change yarn start alias function to start both servers
  package.json
Due: none

Adds LSE&GRI logo to about page
  app/javascript/app/components/about/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates section title
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
  app/javascript/app/routes/app-routes/country-sections/country-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates intro text
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates no matches messages
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Link to contained version in visualized link
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates title of laws and policies cards
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
  app/javascript/app/components/slide-cards/slide-cards-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update text next to selector
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

count unique laws, adjust text
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
