Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

fix wrong API endpoint
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove flattening of data in model to fix missing category values
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get titleLinks after filtering data
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show full name instead of abbr in esp graph dropdown
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix anchor nav padding
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix titles when editing
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add blur and focus events and responsive logic ro map component
  app/javascript/app/components/map/map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add tooltip and styles to ndc-sdg map
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add padding to search box
  app/javascript/app/components/autocomplete-search/autocomplete-search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Delete map padding on mobile
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add icon to tooltip link on mobile
  app/javascript/app/assets/icons/accordion-arrow.svg
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

adds fallback color when we dont have enough in the pallette
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get header out of modal, better sticky solution
  app/javascript/app/components/emission-pathways/emission-pathways-overview/modal-overview/modal-overview-component.jsx
  app/javascript/app/components/modal-metadata/modal-metadata-component.jsx
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal-header-component.jsx
  app/javascript/app/components/modal/modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add npm dependencies
  package-lock.json
Due: none

Addd color to tags on chart
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adds placeholder charts and config logic base
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/charts.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adds placeholder charts and config logic base
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fixes z-index conflict
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update default
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make ESP graph and table menu responsive
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Responsive model page
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-styles.scss
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/components/map/map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fixed typo on legend chart key
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add color theme cache to country ghg chart
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add color theme cache to ghg emissions
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add color theme cache to emission pathway
  app/javascript/app/components/emission-pathways/emission-pathway-graph/emission-pathway-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Deleted font size reset from base.scss
  app/javascript/app/styles/base.scss
Due: stylelint --syntax=scss ./src/**/*.scss

css fixes
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
  app/javascript/app/styles/base.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add color theme cache to charts config
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathway-graph/emission-pathway-graph-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix proptype warning
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix crash
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Responsive scenario page and little details
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-styles.scss
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add color to tags on legend-chart
  app/javascript/app/components/charts/legend-chart/legend-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add filtering by tag logic to stories import
  app/services/import_stories.rb
Due: none

Find a better solution with flexbox. Button inside modal. Header in prop
  app/javascript/app/components/emission-pathways/emission-pathways-overview/modal-overview/modal-overview-component.jsx
  app/javascript/app/components/modal-metadata/modal-metadata-component.jsx
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal-header-component.jsx
  app/javascript/app/components/modal/modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create collapse component and style button and collapse content
  app/javascript/app/assets/icons/filter.svg
  app/javascript/app/components/collapse/collapse-component.jsx
  app/javascript/app/components/collapse/collapse-styles.scss
  app/javascript/app/components/collapse/collapse.js
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-styles.scss
  app/javascript/app/styles/themes/icon/icon-default.scss
  app/javascript/app/styles/themes/icon/icon-white.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add arrow
  app/javascript/app/components/collapse/collapse-styles.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Show collapse on smaller than landscape
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add scroll to table and fix column selector
  app/javascript/app/components/responsive/responsive.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Migration to set stories tags as array
  db/migrate/20180208091437_remove_tags_from_stories.rb
  db/migrate/20180208091529_add_tags_to_stories.rb
  db/schema.rb
Due: none

Add filtering logic to stories controller
  app/controllers/api/v1/stories_controller.rb
Due: none
