Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Hide rank in non-ranking variables
  app/serializers/api/v1/adaptation/value_serializer.rb
Due: none

Add relative and absolute rank fields to endpoint
  app/serializers/api/v1/adaptation/value_serializer.rb
  app/services/import_adaptation.rb
  db/migrate/20170914191538_create_adaptation_values.rb
  db/schema.rb
Due: none

Model and import adaptation dataset
  app/models/adaptation.rb
  app/models/adaptation/value.rb
  app/models/adaptation/variable.rb
  app/services/import_adaptation.rb
  db/migrate/20170914191532_create_adaptation_variables.rb
  db/migrate/20170914191538_create_adaptation_values.rb
  db/schema.rb
  lib/tasks/adaptation.rake
Due: none

Add spec to adaptation endpoints
  spec/controllers/api/v1/adaptations_controller_spec.rb
  spec/factories/adaptation_variable.rb
Due: none

Filter nil variable values
  app/models/adaptation/value.rb
  app/serializers/api/v1/adaptation/value_serializer.rb
  app/serializers/api/v1/adaptation/variable_serializer.rb
Due: none

Add adaptation endpoint (`/adaptations`)
  app/controllers/api/v1/adaptations_controller.rb
  app/serializers/api/v1/adaptation/value_serializer.rb
  app/serializers/api/v1/adaptation/variable_serializer.rb
  config/routes.rb
Due: none

Add spec for adaptation models
  spec/factories/adaptation_value.rb
  spec/factories/adaptation_variable.rb
  spec/models/adaptation/value_spec.rb
  spec/models/adaptation/variable_spec.rb
Due: none

Make rubocop happy
  app/models/adaptation/value.rb
  app/serializers/api/v1/adaptation/variable_serializer.rb
  app/services/import_adaptation.rb
  spec/services/import_adaptation_spec.rb
Due: none

Add location filter
  app/controllers/api/v1/adaptations_controller.rb
Due: none

Use sequence instead of random in factory
  spec/factories/adaptation_variable.rb
Due: none

Disable rubocop warning
  app/services/import_adaptation.rb
Due: none

Use Rails logger instead of puts
  app/services/import_adaptation.rb
Due: none

Move string class monkey patch to a proper place
  app/lib/extensions/string.rb
  app/services/import_adaptation.rb
  config/initializers/extensions.rb
Due: none

Add adaptations import to global import task
  lib/tasks/db.rake
Due: none

Fix showing variables with no values
  app/services/import_adaptation.rb
Due: none

Request regions and fix countries endpoint
  app/javascript/app/actions.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/root/root.js
  app/javascript/app/providers/countries-provider/countries-provider-actions.js
  app/javascript/app/providers/regions-provider/regions-provider-actions.js
  app/javascript/app/providers/regions-provider/regions-provider-reducers.js
  app/javascript/app/providers/regions-provider/regions-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

set styles for tooltip
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-actions.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-reducers.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Sort options, fix tooltip and clean reducer logic
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-reducers.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Set no content msg in container
  app/javascript/app/components/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/ndcs-table/ndcs-table.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Change geolocation and regions to container component and render when needed
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/pages/root/root.js
  app/javascript/app/providers/geolocation-provider/geolocation-provider-component.jsx
  app/javascript/app/providers/geolocation-provider/geolocation-provider.js
  app/javascript/app/providers/regions-provider/regions-provider-actions.js
  app/javascript/app/providers/regions-provider/regions-provider.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

small fix for autocomplete search not having correct path for countries
  app/javascript/app/components/autocomplete-search/autocomplete-search-selectors.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

change schema, models and import process
  app/models/data_source.rb
  app/models/gas.rb
  app/models/historical_emission.rb
  app/models/historical_emissions.rb
  app/models/historical_emissions/data_source.rb
  app/models/historical_emissions/gas.rb
  app/models/historical_emissions/record.rb
  app/models/historical_emissions/sector.rb
  app/models/location.rb
  app/models/sector.rb
  app/services/import_historical_emissions.rb
  db/migrate/20170907105915_rename_historical_emisisons_tables.rb
  db/schema.rb
Due: none

Rename migration to fix typo
  db/migrate/20170907105915_rename_historical_emissions_tables.rb
Due: none

Make rubocop happier
  app/services/import_historical_emissions.rb
Due: none

Add /emissions endpoint
  app/controllers/api/v1/historical_emissions_controller.rb
  app/serializers/api/v1/historical_emissions/record_serializer.rb
  config/routes.rb
Due: none

Make rubocop happy
  app/controllers/api/v1/historical_emissions_controller.rb
Due: none

Add spec for historical emissions controller
  spec/controllers/api/v1/historical_emissions_controller_spec.rb
Due: none

Update historical emissions fixture factories
  spec/factories/data_sources.rb
  spec/factories/gases.rb
  spec/factories/historical_emissions.rb
  spec/factories/historical_emissions_data_sources.rb
  spec/factories/historical_emissions_gases.rb
  spec/factories/historical_emissions_records.rb
  spec/factories/historical_emissions_sectors.rb
  spec/factories/sectors.rb
Due: none

Fix spec for historical emissions models
  spec/models/data_source_spec.rb
  spec/models/historical_emissions/data_source_spec.rb
  spec/models/historical_emissions/gas_spec.rb
  spec/models/historical_emissions/record_spec.rb
  spec/models/historical_emissions/sector_spec.rb
Due: none

Update historical emissions import spec
  spec/services/import_historical_emissions_spec.rb
Due: none

Refactor Hash[] usage
  app/controllers/api/v1/historical_emissions_controller.rb
Due: none

Update import process
  app/services/import_historical_emissions.rb
  db/migrate/20170913132252_add_annex_type_to_historical_emissions_sectors.rb
  db/schema.rb
  spec/services/import_historical_emissions_spec.rb
Due: none

Make rubocop happy
  app/serializers/api/v1/historical_emissions/record_serializer.rb
  app/services/import_historical_emissions.rb
Due: none

Fix spec
  app/services/import_historical_emissions.rb
  spec/factories/historical_emissions_records.rb
  spec/services/import_historical_emissions_spec.rb
Due: none

Use oj (fast json parser) gem
  Gemfile
  Gemfile.lock
  config/initializers/oj.rb
Due: none

Add `date_before` and `date_after` query params
  app/controllers/api/v1/historical_emissions_controller.rb
  app/serializers/api/v1/historical_emissions/record_serializer.rb
Due: none

Add `/emissions/meta` endpoint
  app/controllers/api/v1/historical_emissions_controller.rb
  app/serializers/api/v1/historical_emissions/metadata_serializer.rb
  config/routes.rb
Due: none

fix: remove unneccessary getHtmlContent func
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: active section slug not updating on first click without param in accordion
  app/javascript/app/components/accordion/accordion.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: maintain country position in ndc compare when changing dropdown
  app/javascript/app/components/accordion/accordion-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-selectors.js
  app/javascript/app/pages/ndc-compare/ndc-compare.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
