Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Add chart container styles
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update header styles
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix chart button width
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/side-toolbar-theme.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update editor paragraphs styles
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update chart and add chart button styles
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/side-toolbar-theme.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix button padding
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/side-toolbar-theme.scss
Due: stylelint --syntax=scss ./src/**/*.scss

1.6.1
  package-lock.json
  package.json
Due: none

Add cleanup task to SDGs goals and targets import.
  app/services/import_sdgs.rb
Due: none

Change force format to number of decimals
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Filter available countries by selected document
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sort NDC search results also by country
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix ndc compare update
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add styles to insights chart
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add responsive cards styles
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Sort first by matches and then by name
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add responsive styles to viz creator
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Linter happiness
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add disclaimer in embedded version
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
  app/javascript/app/components/country/country-ghg/country-ghg-styles.scss
  app/javascript/app/components/country/country-ghg/country-ghg.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move timeline to last year on start
  app/javascript/app/components/country/country-timeline/country-timeline-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix wrong selection of document when none is specified
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

1.6.2
  package-lock.json
  package.json
Due: none

Update README
  README.md
Due: none

Filter vulnerability section and anchor link if is contained
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/layouts/contained/contained-component.jsx
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/pages/country-compare/country-compare-selectors.js
  app/javascript/app/pages/country-compare/country-compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update steps styles to have the bottom borders take full width
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-one.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-two.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Hapy linter :)
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add definitioin on pathways indicators default columns
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Insert draftJs data-blocks on layout to include cursor
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Create multiselect dropdown for sectors
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update filter by sector
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix UNFCCC allowed sectors
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Force All sectors selected if the calculation is not absolute value
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix z-index of country selector - Was hiding sector selector
  app/javascript/app/styles/sticky.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix NaN in tooltip total in UNFCC chart
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add isContained prop on contained component
  app/javascript/app/layouts/contained/contained-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add isContainec on country component
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change the map paths depending on the document type
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show total document count depending on document type
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Return ndc and indc document count in meta and update specs
  app/controllers/api/v1/ndc_texts_controller.rb
  spec/controllers/api/v1/ndc_texts_controller_spec.rb
Due: none

Add isPageContained to navigation utils
  app/javascript/app/utils/navigation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add isContained conditional quantification rendering on ghg emissions
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
