Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Show bars negative and customize ticks in stacked chart
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unnecessary file
  app/javascript/app/ghg-emissions.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Disable removal when only one country selected
  app/javascript/app/components/country-selector-footer/country-selector-footer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use font size variable
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Review styles
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu-styles.scss
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix nav menu close
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix country selector crash
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix country selector crash
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update some text
  app/javascript/app/components/about/about-partners/about-partners.js
  app/javascript/app/components/share-menu/share-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix country select result list
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Align logo and navbar in mobile
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix openCeator logic
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add new logos pngs
  app/javascript/app/assets/partners/acts_simple.png
  app/javascript/app/assets/partners/die_simple.jpg
  app/javascript/app/assets/partners/fmencbns_simple.png
  app/javascript/app/assets/partners/giz_simple.png
  app/javascript/app/assets/partners/swiss_simple.jpg
  app/javascript/app/assets/partners/the-world-bank_simple.png
  app/javascript/app/assets/partners/unfccc_simple.jpg
  app/javascript/app/assets/partners/wri_simple.png
Due: none

Add new footer styles
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change footer component
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include app in login url
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add offset to AnchorNav and use original git source
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP saving stories: needs UX work
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-initial-state.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-reducers.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/multi-chart-plugin/multi-chart-plugin.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/src/components/Toolbar/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/side-toolbar-plugin.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/side-toolbar-theme.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/sidebar-toolbar-plugin-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP saving stories: needs UX work
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix timeline tooltip in landscape
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
  app/javascript/app/pages/country/country-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add new founders logos
  app/javascript/app/assets/partners/bmz.png
  app/javascript/app/assets/partners/irish_aid.jpg
Due: none

Add new founders to about page
  app/javascript/app/components/about/about-partners/about-partners.js
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove repeated border in add button
  app/javascript/app/components/charts/legend-chart/legend-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add footer to contained
  app/javascript/app/layouts/contained/contained-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add styles to footer elements
  app/javascript/app/components/contact/contact-styles.scss
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/footer/footer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add footer to responsive app layout
  app/javascript/app/layouts/app/app-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add copy code action and fix padding
  app/javascript/app/assets/icons/code.svg
  app/javascript/app/components/share-menu/share-menu.js
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP saves/delete insights
  .eslintrc.yml
  app/controllers/api/v1/my_cw/user_stories_controller.rb
  app/javascript/app/components/my-climate-watch/my-insights/my-insights-component.jsx
  app/javascript/app/components/my-climate-watch/my-insights/my-insights.js
  app/javascript/app/pages/my-climate-watch/crud-cw-editor/my-cw-editor-actions.js
  app/javascript/app/pages/my-climate-watch/crud-cw-editor/my-cw-editor-component.jsx
  app/javascript/app/pages/my-climate-watch/crud-cw-editor/my-cw-editor-reducers.js
  app/javascript/app/pages/my-climate-watch/crud-cw-editor/my-cw-editor-selectors.js
  app/javascript/app/pages/my-climate-watch/crud-cw-editor/my-cw-editor-styles.scss
  app/javascript/app/pages/my-climate-watch/crud-cw-editor/my-cw-editor.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/charter.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-actions.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-initial-state.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-reducers.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/.babelrc
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/.gitignore
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/.npmignore
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/CHANGELOG.md
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/LICENSE
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/README.md
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/package.json
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/postcss.config.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/blockTypeSelectStyles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/buttonStyles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/components/BlockTypeSelect/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/components/DefaultBlockTypeSelect/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/components/Toolbar/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/toolbarStyles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/utils/__test__/createStore.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/src/utils/createStore.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/draft-js-side-toolbar-plugin/webpack.config.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/themes/block-type-select-styles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/themes/focus-theme.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/vis.svg
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Autofocus on landscape menu open
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/nav/nav-nested-menu/nav-nested-menu-component.jsx
  app/javascript/app/components/search/search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Align results to top
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Dont pan map and fix cursor
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update columns and add link
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove NDC file until we have the data in production
  app/javascript/app/components/download-menu/download-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add foundation-sites to dependencies
  package-lock.json
  package.json
Due: none

Fix stroke line between countries when filtered
  app/javascript/app/components/countries-select/countries-select-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include border top on timeline link on scroll
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
  package-lock.json
Due: stylelint --syntax=scss ./src/**/*.scss

Add columns mixin and import foundation
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add custom breakpoints to foundation settings
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

first grid styles on home page
  app/javascript/app/components/section/section-styles.scss
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update placeholder
  app/javascript/app/components/countries-select/countries-select-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
