Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

[CUSTOM COMPARE] Add back button and remove unused css
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

[CUSTOM COMPARE] Add custom compare page to the main menu
  app/javascript/app/pages/custom-compare/custom-compare-styles.scss
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/custom-compare-routes/custom-compare-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

[CUSTOM COMPARE] Revert ndc-search in main menu
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

[CUSTOM COMPARE] Tweak back-button import
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add legend and dummy compare button
  app/javascript/app/assets/icons/compare-intends.svg
  app/javascript/app/assets/icons/compare-not-submitted.svg
  app/javascript/app/assets/icons/compare-submitted.svg
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

[PROGRESS BAR] Tweak overlapping progress bar with border
  app/javascript/app/components/progress/progress-component.jsx
  app/javascript/app/components/progress/progress-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Start table and populate it
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-actions.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-reducers.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix styles, mobile included
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update comment with missing fields
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix loader and padding on top
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use Helmet with props instead of children
  app/javascript/app/components/seo/seo-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix button width
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix line breaking
  app/javascript/app/components/ndcs/shared/hand-icon-info/hand-icon-info-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Table selection icons and fix search
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/themes/table/compare-table-theme.scss
  app/javascript/app/styles/themes/table/explore-table-theme.scss
  app/javascript/app/utils/utils.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix wrong export name
  app/javascript/app/components/countries-select/countries-select.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix links
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update links to and from custom compare
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix query to custom compare and extract table
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-styles.scss
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-styles.scss
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add loader until iframe loads
  app/javascript/app/components/about/about-contact/about-contact-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add dot to overview title number and remove it from the end of the title
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-component.jsx
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Don't auto capitalize button text
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add min height for loader
  app/javascript/app/components/about/about-contact/about-contact-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

min height for no content
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add filters components to the Custom-compare page
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-styles.scss
  app/javascript/app/styles/themes/dropdown/dropdown-compare.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add minAngle to pie charts
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update NDC explore tooltip with new data
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix sudan NDC page crash
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Extract explore map tooltip
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
  app/javascript/app/components/ndcs/shared/explore-map-tooltip/explore-map-tooltip-styles.scss
  app/javascript/app/components/ndcs/shared/explore-map-tooltip/explore-map-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update LTS tooltip and improve selector
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
  app/javascript/app/components/ndcs/shared/explore-map-tooltip/explore-map-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add country filters to custom compare page & extract all-targets provider to the 'providers' folder
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-actions.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-reducers.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix extra no document submitted
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix ndcp embed
  app/javascript/app/layouts/embed/embed-component.jsx
  app/javascript/app/layouts/embed/embed-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Custom compare page - commit state of work
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Implement document filters
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare-styles.scss
  app/javascript/app/pages/custom-compare/custom-compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use ndc-compare-all-targets provider in compare-all page
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-actions.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-provider-actions.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-provider-reducers.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-provider.js
  app/javascript/app/providers/ndc-compare-all-targets-provider/ndc-compare-all-targets-reducers.js
  app/javascript/app/reducers.js
  app/javascript/app/styles/themes/dropdown/dropdown-compare.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show other decimal if value > 0.1
  app/javascript/app/components/ndcs/shared/donut-custom-label/donut-custom-label.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix and change menu styles
  app/javascript/app/assets/icons/contact.svg
  app/javascript/app/components/contact/contact-component.jsx
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/styles/themes/nav/mobile-menu-nav.scss
  app/javascript/app/styles/themes/tools-nav/mobile-tools-nav.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Extract share modal and fix button
  app/javascript/app/app.jsx
  app/javascript/app/components/button/share-button/share-button-component.jsx
  app/javascript/app/components/button/share-button/share-button-styles.scss
  app/javascript/app/components/button/share-button/share-button.js
  app/javascript/app/components/modal-share/modal-share-actions.js
  app/javascript/app/components/modal-share/modal-share-component.jsx
  app/javascript/app/components/modal-share/modal-share-reducers.js
  app/javascript/app/components/modal-share/modal-share-styles.scss
  app/javascript/app/components/modal-share/modal-share.js
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add letter spacing variables
  app/javascript/app/components/contact/contact-styles.scss
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
  app/javascript/app/pages/home/stories/stories-styles.scss
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/ui-extends.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add separator. Fix links with icon styles
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/styles/themes/tools-nav/mobile-tools-nav.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
