Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Updated navigation on mobile
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Allow clicking whole linkages map
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix paddings
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix extra padding on ndc country page
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add hex to rgba function
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Always use AR4 if possible
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include missing dependency
  package-lock.json
  package.json
Due: none

Add a prop for a emptyValueLabel and include it in Pathways tables
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/table/cell-renderer-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Simplify draft plugin
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/.babelrc
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/.gitignore
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/.npmignore
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/CHANGELOG.md
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/LICENSE
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/README.md
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/blockTypeSelectStyles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/buttonStyles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/components/BlockTypeSelect/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/components/DefaultBlockTypeSelect/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/components/Toolbar/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/index.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/package.json
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/postcss.config.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/toolbarStyles.scss
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/utils/__test__/createStore.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/utils/createStore.js
  app/javascript/app/pages/my-climate-watch/my-cw-editor/plugins/side-toolbar-plugin/draft-js-side-toolbar-plugin/webpack.config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove styles to match with the empty data coming from the database
  app/javascript/app/components/table/cell-renderer-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix crash when no data
  app/javascript/app/components/my-climate-watch/my-insights/my-cw-insight-card/my-cw-insight-card-component.jsx
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adapt definition list component to new grid
  app/javascript/app/components/definition-list/definition-list-component.jsx
  app/javascript/app/components/definition-list/definition-list-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update ghs emissions grid
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix grid on ndcs country
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use the caching of getVersionSelected
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix proptype and remove defaultprop
  app/javascript/app/components/table/cell-renderer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get back the style of the emptyValue
  app/javascript/app/components/table/cell-renderer-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix ndc full actions grid
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix loader positioning
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Increase stylelint version to fix vscode plugin
  package-lock.json
  package.json
Due: none

Grid cleaning up before merge
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
  app/javascript/app/components/country/country-ghg/country-ghg-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/components/teaser/teaser-styles.scss
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/pages/country-compare/country-compare-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use named params to keep category
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-actions.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix scrollbar in NDCs
  app/javascript/app/components/table/table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix ndcs map tooltip bugs
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix ndcs-linkages tooltip bug
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Delete explore ndcs on ndcs
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Expand scroll functionality to Edge too
  app/javascript/app/components/scroll-to-highlight-index/scroll-to-highlight-index.js
  app/javascript/app/utils/scroll.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

FIx for very little height screens
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix warning about duplicated key
  app/javascript/app/components/definition-list/definition-list-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix pacakge versions
  package-lock.json
  package.json
Due: none

Remove stories feature flag
  Dockerfile
  Jenkinsfile
  app/javascript/app/components/stories/stories-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use index to scroll to desired target
  app/javascript/app/components/scroll-to-highlight-index/scroll-to-highlight-index.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use Lato always for nav menu
  app/javascript/app/components/nav/nav-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Easier releases
  package-lock.json
  package.json
Due: none

1.4.0
  package.json
Due: none

Fix release version
  package-lock.json
  package.json
Due: none

Avoid map highlighting when clicking on mobile
  app/javascript/app/components/map/map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Never connect nulls in line charts
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix anchor nav styles in my-cw
  app/javascript/app/pages/my-climate-watch/my-climate-watch-component.jsx
  app/javascript/app/pages/my-climate-watch/my-climate-watch-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
