Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update Content overview grid
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update ghg chart and actions
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix IE styles
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-styles.scss
  app/javascript/app/components/search/search-styles.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix anchor navs and details
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/pages/ndcs/ndcs-styles.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

About styles update grid
  app/javascript/app/components/about/about-contact/about-contact-component.jsx
  app/javascript/app/components/about/about-contact/about-contact-styles.scss
  app/javascript/app/components/about/about-description/about-description-component.jsx
  app/javascript/app/components/about/about-description/about-description-styles.scss
  app/javascript/app/components/about/about-partners/about-partners-component.jsx
  app/javascript/app/components/about/about-partners/about-partners-styles.scss
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions-styles.scss
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/about/about-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Pick intro and anchor nav from Pathways branch
  app/javascript/app/components/about/about-partners/about-partners-styles.scss
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Pathways - Search always on the right and fix padding-text
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update NDC content grid
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/pages/ndcs/ndcs-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix simple-select input with opacity 0
  app/javascript/app/components/multiselect/multiselect-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix sticky values on desktop
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update grid on selectors
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Linter fixes
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Delete unneeded padding on anchor nav
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add grid to compare footer tags
  app/javascript/app/components/country-selector-footer/country-selector-footer-component.jsx
  app/javascript/app/components/country-selector-footer/country-selector-footer-styles.scss
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix ndcs anchor and button group
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/pages/ndcs/ndcs-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Ndcs country, full and search grid
  app/javascript/app/components/accordion/accordion-styles.scss
  app/javascript/app/components/header/header-styles.scss
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add gutters to country full actions
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change gutter type to padding
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Intro two fold change on landscape
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix bottom border an selectors alignment
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/country-compare/country-compare-selector/country-compare-selector-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix empty columns creation and button group size
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Delete empty columns and update button styles
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-component.jsx
  app/javascript/app/components/compare-ndc-content-overview/compare-ndc-content-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move padding top to app level
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/layouts/app/app-styles.scss
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/about/about-styles.scss
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-styles.scss
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-styles.scss
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-styles.scss
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-styles.scss
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/pages/ndcs/ndcs-styles.scss
  app/javascript/app/styles/layout.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix action import
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/pages/my-climate-watch/my-cw-editor/my-cw-editor-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix getChartData and extract some functions
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix error when adding/removing countries
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete extra right gutter on mobile selectors
  app/javascript/app/components/country-selector-footer/country-selector-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

linter fixes
  app/javascript/app/components/country-selector-footer/country-selector-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Use Lato always for nav menu
  app/javascript/app/components/nav/nav-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Don't connect nulls in Compare graph
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix overflows in explorer
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/country/country-timeline/country-timeline-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add ndc search layout styles
  app/javascript/app/layouts/app/app-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linter fixes
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

delete extra padding
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add background gradient
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Force long URL wrap on results
  app/javascript/app/components/result-card/result-card-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change name of column to maintainer institute and filter only by countrygst
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Min height for no content
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add sticky bottom boundary
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
