Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix rubocop
  app/admin/latest_updates.rb
Due: none

Create data file and update styles
  app/javascript/app/pages/home/user-cases-section/user-cases-section-component.jsx
  app/javascript/app/pages/home/user-cases-section/user-cases-section-data.js
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix no geolocation link
  app/javascript/app/pages/home/carousel-section/carousel-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Format date in the updates serializer
  app/serializers/api/v1/update_serializer.rb
Due: none

Remove stories component
  app/javascript/app/components/stories/stories-actions.js
  app/javascript/app/components/stories/stories-component.jsx
  app/javascript/app/components/stories/stories-reducers.js
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/components/stories/stories.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Format date to give month in short form
  app/serializers/api/v1/update_serializer.rb
Due: none

Create stories reducer
  app/javascript/app/providers/stories-provider/stories-actions.js
  app/javascript/app/providers/stories-provider/stories-provider.js
  app/javascript/app/providers/stories-provider/stories-reducers.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update dependencies (d3 time format & react player)
  package.json
  yarn.lock
Due: none

Add video section
  app/javascript/app/assets/home/video_background.png
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated underline styling and avoid key errors
  app/javascript/app/pages/home/user-cases-section/user-cases-section-component.jsx
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linter
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add stories section
  app/javascript/app/assets/icons/yellow-wri-logo.svg
  app/javascript/app/data/constants.js
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/home/stories/stories-component.jsx
  app/javascript/app/pages/home/stories/stories-styles.scss
  app/javascript/app/pages/home/stories/stories.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change image to background, relative units on underlines
  app/javascript/app/pages/home/user-cases-section/user-cases-section-component.jsx
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix height on desktop
  app/javascript/app/pages/home/stories/stories-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

add site map
  app/javascript/app/components/site-map-footer/site-map-footer-component.jsx
  app/javascript/app/components/site-map-footer/site-map-footer-data.js
  app/javascript/app/components/site-map-footer/site-map-footer-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linter
  app/javascript/app/components/site-map-footer/site-map-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Created new component structure
  app/javascript/app/components/site-map-footer/site-map-footer-component.jsx
  app/javascript/app/components/site-map-footer/site-map-footer-styles.scss
  app/javascript/app/components/site-map-footer/site-map-footer.js
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated styles
  app/javascript/app/pages/home/stories/stories-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add info tile component
  app/javascript/app/assets/icons/tail-right-outline-16.svg
  app/javascript/app/components/tiles-section/tile-component.jsx
  app/javascript/app/components/tiles-section/tile-styles.scss
  app/javascript/app/components/tiles-section/tile.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add animation and layout features to tile-components
  app/javascript/app/assets/icons/arrow-tail-right.svg
  app/javascript/app/components/tiles-section/tile-component.jsx
  app/javascript/app/components/tiles-section/tile-styles.scss
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update story title max width
  app/javascript/app/pages/home/stories/stories-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Integrate Latest updates section with api
  app/javascript/app/components/tile/tile-component.jsx
  app/javascript/app/components/tile/tile-styles.scss
  app/javascript/app/components/tile/tile.js
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-selectors.js
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/home/intro-section/intro-section-component.jsx
  app/javascript/app/pages/home/intro-section/intro-section-styles.scss
  app/javascript/app/pages/home/intro-section/intro-section.js
  app/javascript/app/pages/home/latest-updates-section/latest-updates-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section.js
  app/javascript/app/pages/home/latest-updates-section/latest-updates-styles.scss
  app/javascript/app/pages/home/latest-updates-section/latest-updates.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider-actions.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Prepare latest-updates provider for fetching data from api
  app/javascript/app/components/tiles-section/tile-component.jsx
  app/javascript/app/components/tiles-section/tile-styles.scss
  app/javascript/app/pages/home/home-selectors.js
  app/javascript/app/pages/home/latest-updates-section/latest-updates-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-styles.scss
  app/javascript/app/pages/home/latest-updates-section/latest-updates.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider-actions.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider-reducers.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add focus effet to tiles
  app/javascript/app/components/tile/tile-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Updated footer with site map
  app/javascript/app/assets/icons/RW_logo.svg
  app/javascript/app/assets/icons/RW_text.svg
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/footer/site-map-footer/site-map-footer-component.jsx
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
  app/javascript/app/components/footer/site-map-footer/site-map-footer-styles.scss
  app/javascript/app/components/footer/site-map-footer/site-map-footer.js
  app/javascript/app/data/constants.js
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move border outside of layout
  app/javascript/app/components/footer/footer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add subscribe section
  app/javascript/app/assets/home/subscription-background.png
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/subscribe-section/input-theme.scss
  app/javascript/app/pages/home/subscribe-section/subscribe-section-component.jsx
  app/javascript/app/pages/home/subscribe-section/subscribe-section-styles.scss
  app/javascript/app/pages/home/subscribe-section/subscribe-section.js
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix loading component position
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix scope of h2 styles in latest-updates section
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix south africa url typo
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use NavLink instead of anchor tag for local links in site map
  app/javascript/app/components/footer/site-map-footer/site-map-footer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

removes legacy component
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

removes unnecessary divs
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add subscription success message
  app/javascript/app/pages/home/subscribe-section/subscribe-section-component.jsx
  app/javascript/app/pages/home/subscribe-section/subscribe-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Open sitemap links that refer to internal page in this same tab
  app/javascript/app/components/footer/site-map-footer/site-map-footer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move dotenv outside dev, test group on gemfile
  Gemfile
Due: none

Update JS dependencies
  package.json
  yarn.lock
Due: none

Update webpack configs
  config/webpack/development.js
  config/webpack/loaders/sass.js
  config/webpack/production.js
  config/webpack/shared.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Restore secret_key_base on prduction block
  config/secrets.yml
Due: none
