Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update document slugs with 'sectoral' and 'framework'
  app/javascript/app/data/country-documents.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Tweak "Compare all targets" table sizing
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Filter by indicators slugs
  app/controllers/api/v1/ndcs_controller.rb
Due: none

Fix calculation of EUU emissions in lts question
  app/javascript/app/components/ndcs/ndcs-overview-section/question-card/question-card-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use data zoom years to filter the table and fix ndc table
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add metadata to the CSV
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/utils/csv.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Tweak ghg download links
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/pathway-selector-utils/pathway-selector-utils.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-get.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update text
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds ghg_sources information to regions endpoint
  app/controllers/api/v1/locations/regions_controller.rb
  app/models/location.rb
  app/serializers/api/v1/location_serializer.rb
Due: none

Enable filtering by multiple locations instead of just one
  app/controllers/api/v1/ndc_documents_controller.rb
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

revert change to param name to avoid breaking changes
  app/controllers/api/v1/ndc_documents_controller.rb
Due: none

Fix `Visualize in..` button for lts- and ndc-content
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Split data selectors and use tablet data without Others
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-get.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-table-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix z-index
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.scss
  app/javascript/app/styles/themes/chart/legend-chart.scss
Due: stylelint --syntax=scss ./src/**/*.scss

show the scope value instead of sector as it has more details
  app/javascript/app/components/country/laws-and-policies/laws-and-policies-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix "Visualize in..." feature for Historical Emissions section
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fixed bug with accessing countries data object
  app/javascript/app/components/country/laws-and-policies/laws-and-policies.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Integrate sectoral & framework data with the custom compare filters
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adds second_ndc without submission_date if country intends to submit
  app/models/indc/label.rb
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

adds comment and ensure we're looking at the right indicator
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

Use multi-level-dropdown for displaying the sectoral and framework options on the custom compare page
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix CountriesDocuments provider bug
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change order of 'Others' selection (calculation => sort => others)
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-table-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add links to description
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Linting
  app/javascript/app/pages/ghg-emissions/ghg-emissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Custom compare: Use Multilevel dropdown & fix url params parsing
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Custom compare: change filter document list order & disable filters when loading
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
  app/javascript/app/styles/themes/dropdown/multi-level-dropdown-custom-compare.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

FIx legend item selection and remove unneded png prop
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix other documents category
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/styles/themes/dropdown/multi-level-dropdown-custom-compare.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fetch data sources from members if none available for location
  app/models/historical_emissions/data_source.rb
  app/serializers/api/v1/location_serializer.rb
Due: none

Change header from pledges to pledge
  app/javascript/app/data/country-documents.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Render Intends to submit icon
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

updates slug for frameworks and sectorals
  app/serializers/api/v1/indc/countries_documents_serializer.rb
Due: none

Remove commented code
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

reference right namespace
  app/serializers/api/v1/location_serializer.rb
Due: none

Tweak custom compare url for updated document slug format
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Filter regions and region members by ghg source
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/providers/regions-provider/regions-provider-actions.js
  app/javascript/app/providers/regions-provider/regions-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add zoom to 2020 ndc tracker and show it on menu
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make multi level dropdown higher when opened
  app/javascript/app/styles/themes/dropdown/multi-level-dropdown.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Linting
  app/javascript/app/styles/themes/dropdown/multi-level-dropdown.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
