Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Make rubocop happy
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/services/import_ndc_sdg_targets.rb
Due: none

removes length method which was left by mistake
  app/controllers/api/v1/ndc_sdgs_controller.rb
Due: none

Fix bug on graph first load
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix ndc map styles
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/pages/ndcs/ndcs-styles.scss
  app/javascript/app/utils/map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

change screenshot for homepage ndc content
  app/javascript/app/assets/screenshots/ndc-explore.jpg
  db/schema.rb
Due: none

New section sdgs for homepage
  app/javascript/app/assets/screenshots/ndc-sdg.jpg
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

NDC content cards with dummy data
  app/javascript/app/components/card/card-styles.scss
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set links to ndcs
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country-ndc-overview/country-ndc-overview.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set map height and width dynamically and limit height for taller screens
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg-map/country-ghg-map-component.jsx
  app/javascript/app/components/country-ghg-map/country-ghg-map-styles.scss
  app/javascript/app/components/country-ghg/country-ghg-styles.scss
  app/javascript/app/styles/settings.scss
  db/schema.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use year in local state for map performance improvemment
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/country-ghg-map/country-ghg-map.js
  app/javascript/app/components/country-ghg/country-ghg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: border for content section
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg-map/country-ghg-map-styles.scss
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Move map selectors on ndcs to top
  app/javascript/app/components/button-group/button-group-styles.scss
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs-map/ndcs-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix jenkins deploy
  Jenkinsfile
Due: none

Add endpoint with global linkage information
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/models/ndc_sdg/sector.rb
  app/models/ndc_sdg/target.rb
  app/serializers/api/v1/ndc_sdg/meta_serializer.rb
  app/serializers/api/v1/ndc_sdg/sector_serializer.rb
  app/serializers/api/v1/ndc_sdg/target_serializer.rb
  config/routes.rb
Due: none

Sort and remove duplicates on target sector_ids
  app/serializers/api/v1/ndc_sdg/target_serializer.rb
Due: none

Ndcs Sdgs meta provider
  app/javascript/app/actions.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider-actions.js
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update sdg linkages comp to filter meta data correctly
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/providers/ndcs-sdgs-meta-provider/ndcs-sdgs-meta-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add modal component
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal-styles.scss
  app/javascript/app/components/modal/modal.js
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Optimize /ndcs/sdgs
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/serializers/api/v1/ndc_sdg/target_serializer.rb
Due: none

Place doc params in url
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-selectors.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: btn group box shadow
  app/javascript/app/components/button-group/button-group-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix: set disabled state on selector for document
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

swap state direction for cleaner function
  app/javascript/app/providers/regions-provider/regions-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Undo all changes done by feature/change-linkage-relation-to-location
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/models/location.rb
  app/models/ndc_sdg/ndc_target.rb
  app/serializers/api/v1/ndc_sdg/location_serializer.rb
  app/services/import_ndc_sdg_targets.rb
  db/migrate/20171010131139_remove_location_id_from_ndc_sdg_ndc_targets.rb
  db/schema.rb
Due: none

Fix foreign key cascading in sdg tables
  db/migrate/20171010171130_change_sdgs_tables_foreign_keys.rb
  db/schema.rb
Due: none

Scroll to idx value from param in url
  app/javascript/app/components/scroll-to-highlight-index/scroll-to-highlight-index.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: multiselect for GHG emissions couldn't accept ISO param in URL
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add db migrations and models
  app/models/wb_indc.rb
  app/models/wb_indc/category.rb
  app/models/wb_indc/indicator.rb
  app/models/wb_indc/indicator_type.rb
  app/models/wb_indc/sector.rb
  app/models/wb_indc/value.rb
  db/migrate/20171002162700_create_wb_indc_indicator_types.rb
  db/migrate/20171002162758_create_wb_indc_indicators.rb
  db/migrate/20171002162804_create_wb_indc_categories.rb
  db/migrate/20171002162808_create_wb_indc_indicators_categories.rb
  db/migrate/20171002162810_create_wb_indc_sectors.rb
  db/migrate/20171002162814_create_wb_indc_values.rb
  db/schema.rb
Due: none

Add import process spec
  spec/services/import_wb_indc_spec.rb
Due: none

Add import process and rake task
  app/services/import_wb_indc.rb
  lib/tasks/wb_indc.rake
Due: none

Add model spec
  spec/factories/wb_indc_categories.rb
  spec/factories/wb_indc_indicator_types.rb
  spec/factories/wb_indc_indicators.rb
  spec/factories/wb_indc_sectors.rb
  spec/factories/wb_indc_values.rb
  spec/models/wb_indc/category_spec.rb
  spec/models/wb_indc/indicator_spec.rb
  spec/models/wb_indc/indicator_type_spec.rb
  spec/models/wb_indc/sector_spec.rb
  spec/models/wb_indc/value_spec.rb
Due: none

Add slug to wb category
  db/migrate/20171002162804_create_wb_indc_categories.rb
Due: none

Add materialized views to /ndcs
  Gemfile
  Gemfile.lock
  db/migrate/20171010180335_create_indc_indicators.rb
  db/migrate/20171010180740_create_indc_categories.rb
  db/migrate/20171010180840_create_indc_values.rb
  db/migrate/20171010184352_create_indc_indicators_categories.rb
  db/migrate/20171011110704_create_indc_labels.rb
  db/migrate/20171011122332_create_indc_materialized_views_indexes.rb
  db/schema.rb
  db/views/indc_categories_v01.sql
  db/views/indc_indicators_categories_v01.sql
  db/views/indc_indicators_v01.sql
  db/views/indc_labels_v01.sql
  db/views/indc_values_v01.sql
Due: none

Add models for indc materialized views
  app/models/indc.rb
  app/models/indc/category.rb
  app/models/indc/indicator.rb
  app/models/indc/label.rb
  app/models/indc/value.rb
Due: none

Modify /indc endpoint to use Indc mat. views
  app/controllers/api/v1/ndcs_controller.rb
  app/lib/indexed_serializer.rb
  app/serializers/api/v1/cait_indc/location_datum_serializer.rb
  app/serializers/api/v1/indc/category_serializer.rb
  app/serializers/api/v1/indc/indicator_serializer.rb
  app/serializers/api/v1/indc/label_serializer.rb
  app/serializers/api/v1/indc/ndc_indicators_serializer.rb
  app/serializers/api/v1/indc/value_serializer.rb
  app/services/import_cait_indc.rb
  app/services/import_wb_indc.rb
Due: none

ndc search temp multi document
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/result-card/result-card-component.jsx
  app/javascript/app/components/result-card/result-card-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add slug to wb part of categories mview query
  db/schema.rb
  db/views/indc_categories_v01.sql
Due: none

Add wb sectors to indc endpoint
  app/controllers/api/v1/ndcs_controller.rb
  app/models/indc/sector.rb
  app/models/indc/value.rb
  app/serializers/api/v1/indc/ndc_indicators_serializer.rb
  app/serializers/api/v1/indc/sector_serializer.rb
  app/serializers/api/v1/indc/value_serializer.rb
  app/services/import_wb_indc.rb
  db/migrate/20171011134822_create_indc_sectors.rb
  db/schema.rb
  db/views/indc_sectors_v01.sql
  db/views/indc_values_v01.sql
Due: none

Add tabs to search page to allow switching between doc types
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/result-card/result-card-component.jsx
  app/javascript/app/components/scroll-to-highlight-index/scroll-to-highlight-index.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-selectors.js
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-selectors.js
  app/javascript/app/pages/ndc-search/ndc-search.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Refactor materialized view refresh
  app/lib/materialized_view.rb
  app/models/indc/category.rb
  app/models/indc/indicator.rb
  app/models/indc/label.rb
  app/models/indc/value.rb
  app/services/import_cait_indc.rb
  app/services/import_wb_indc.rb
Due: none
