Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix: Fix search and Table title padding
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adapt selector for updates in the structure, get data from espIndicators and refactor
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Round the numbers
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Always render dropdown, condition fix
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Put WRI in right position
  app/javascript/app/components/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

removes duplicate
  app/javascript/app/components/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

temporarily removes Vizz's logo
  app/javascript/app/components/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Don't fetch quantifications on the ghg emissions graph of the country pages
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get scenarios and indicators data from their own state and flatten attributes in model table
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use blacklist in all data and export to constant, fix flattening
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table.js
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

filter mechanism in place
  app/javascript/app/components/editor/components/viz-creator/viz-creator-actions.js
  app/javascript/app/components/editor/components/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/editor/components/viz-creator/viz-creator-initial-state.js
  app/javascript/app/components/editor/components/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/editor/components/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/editor/components/viz-creator/viz-creator-styles.scss
  app/javascript/app/components/editor/components/viz-creator/viz-creator.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/utils/redux.js
  app/javascript/app/utils/utils.js
  package-lock.json
  package.json
  public/mocks/datasets.json
  public/mocks/filters.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

filter mechanism in place
  app/javascript/app/components/editor/components/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/editor/components/viz-creator/viz-creator-selectors.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add links to scenario in model table
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP filters
  app/javascript/app/components/editor/components/viz-creator/viz-creator-component.jsx
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fixes for selector to get correct data
  app/javascript/app/components/charts/chart/chart-component.jsx
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways-model-table/emission-pathways-model-table.js
  app/javascript/app/components/emission-pathways-overview/emission-pathways-overview-component.jsx
  app/javascript/app/components/emission-pathways-overview/emission-pathways-overview-styles.scss
  app/javascript/app/components/emission-pathways-overview/emission-pathways-overview.js
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table.js
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Trendline chart - WIP
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table.js
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

First working version of the API for My Climate Watch
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/auth_controller.rb
  app/controllers/api/v1/my_climate_watch/user_stories_controller.rb
  app/controllers/api/v1/my_climate_watch/users_controller.rb
  app/controllers/api/v1/my_climate_watch/vizualizations_controller.rb
  app/controllers/api/v1/my_cw/user_stories_controller.rb
  app/controllers/api/v1/my_cw/users_controller.rb
  app/controllers/api/v1/my_cw/vizualizations_controller.rb
  app/controllers/api/v1/my_cw_controller.rb
  app/helpers/auth_helper.rb
  app/models/my_cw/user.rb
  app/models/my_cw/user_story.rb
  app/models/my_cw/vizualization.rb
  app/serializers/api/v1/my_cw/user_serializer.rb
  app/serializers/api/v1/my_cw/user_story_serializer.rb
  app/serializers/api/v1/my_cw/vizualization_serializer.rb
  config/routes.rb
Due: none

Changed the authentication method from using the sessions to using a cookie with the token.
  app/controllers/api/v1/auth_controller.rb
  app/controllers/api/v1/my_cw/user_stories_controller.rb
  app/controllers/api/v1/my_cw/users_controller.rb
  app/controllers/api/v1/my_cw/vizualizations_controller.rb
  app/controllers/api/v1/my_cw_controller.rb
  app/helpers/auth_helper.rb
  config/initializers/cookies_serializer.rb
  lib/tasks/dev_user_creation.rake
  spec/controllers/api/v1/my_cw/helpers.rb
  spec/controllers/api/v1/my_cw/user_stories_controller_spec.rb
  spec/controllers/api/v1/my_cw/users_controller_spec.rb
  spec/controllers/api/v1/my_cw/vizualizations_controller_spec.rb
  spec/factories/users.rb
Due: none

Added model specs for MyCW
  app/models/my_cw/user.rb
  app/models/my_cw/user_story.rb
  app/models/my_cw/vizualization.rb
  spec/factories/user_stories.rb
  spec/factories/users.rb
  spec/factories/vizualization.rb
  spec/models/my_cw/user_spec.rb
  spec/models/my_cw/user_story_spec.rb
  spec/models/my_cw/vizualization_spec.rb
Due: none

Updated the API.md
  API.md
Due: none

Rubocop fixes
  app/controllers/api/v1/auth_controller.rb
  app/controllers/api/v1/my_cw/user_stories_controller.rb
  app/controllers/api/v1/my_cw/users_controller.rb
  app/controllers/api/v1/my_cw_controller.rb
  app/helpers/auth_helper.rb
  app/models/my_cw/user.rb
  app/models/my_cw/user_story.rb
  app/models/my_cw/vizualization.rb
  app/serializers/api/v1/my_cw/user_serializer.rb
  app/serializers/api/v1/my_cw/user_story_serializer.rb
  app/serializers/api/v1/my_cw/vizualization_serializer.rb
  spec/controllers/api/v1/my_cw/user_stories_controller_spec.rb
  spec/controllers/api/v1/my_cw/users_controller_spec.rb
  spec/controllers/api/v1/my_cw/vizualizations_controller_spec.rb
  spec/factories/user_stories.rb
  spec/factories/users.rb
  spec/factories/vizualization.rb
  spec/models/my_cw/user_spec.rb
  spec/models/my_cw/user_story_spec.rb
  spec/models/my_cw/vizualization_spec.rb
Due: none

Starting my climate watch
  app/controllers/api/v1/auth_controller.rb
  app/controllers/api/v1/my_climate_watch/user_stories_controller.rb
  app/controllers/api/v1/my_climate_watch/users_controller.rb
  app/controllers/api/v1/my_climate_watch/vizualizations_controller.rb
  app/helpers/auth_helper.rb
  config/routes.rb
  db/migrate/20171115164712_create_users.rb
  db/migrate/20171115165304_create_vizualization.rb
  db/migrate/20171115165943_create_user_stories.rb
  db/schema.rb
Due: none

Added rpec for index in MyCw controllers
  app/controllers/api/v1/my_cw_controller.rb
  spec/controllers/api/v1/my_cw/user_stories_controller_spec.rb
  spec/controllers/api/v1/my_cw/vizualizations_controller_spec.rb
Due: none

Improved MyCW authentication and finished the tests
  app/controllers/api/v1/auth_controller.rb
  app/controllers/api/v1/my_cw/users_controller.rb
  app/controllers/api/v1/my_cw_controller.rb
  app/helpers/auth_helper.rb
  app/models/my_cw/user.rb
  config/routes.rb
  spec/controllers/api/v1/my_cw/users_controller_spec.rb
  spec/models/my_cw/user_spec.rb
Due: none

Uses VCR to create a mock of the CT response when calling 'check logged'
  .gitignore
  Gemfile
  Gemfile.lock
  spec/controllers/api/v1/my_cw/ct_spec.rb
  spec/controllers/api/v1/my_cw/user_stories_controller_spec.rb
  spec/controllers/api/v1/my_cw/users_controller_spec.rb
  spec/controllers/api/v1/my_cw/vizualizations_controller_spec.rb
  spec/spec_helper.rb
Due: none

Renamed the to
  .gitignore
  README.md
  fixtures/vcr_cassettes/user_token.yml
  spec/spec_helper.rb
Due: none

Changed the env variable to . Fixed a small bug in tests that were using VCR. Updated the readme
  .env.sample
  README.md
  app/helpers/auth_helper.rb
  fixtures/vcr_cassettes/user_token.yml.sample
  spec/controllers/api/v1/my_cw/ct_spec.rb
  spec/spec_helper.rb
Due: none

Changed VCR to allow external connections when no cassete is provided
  spec/spec_helper.rb
Due: none

Added a sample of the user_token.yml
  .gitignore
  README.md
  fixtures/vcr_cassettes/user_token.yml.sample
Due: none

Hide Faraday request logging when RAILS_ENV=test
  app/helpers/auth_helper.rb
  spec/controllers/api/v1/my_cw/ct_spec.rb
Due: none

Correct spelling of 'vizualization'
  API.md
  app/controllers/api/v1/my_cw/visualizations_controller.rb
  app/controllers/api/v1/my_cw/vizualizations_controller.rb
  app/models/my_cw/visualization.rb
  app/serializers/api/v1/my_cw/visualization_serializer.rb
  config/routes.rb
  db/migrate/20171115165304_create_visualization.rb
  db/schema.rb
  spec/controllers/api/v1/my_cw/visualizations_controller_spec.rb
  spec/factories/visualization.rb
  spec/models/my_cw/visualization_spec.rb
Due: none

Add filters to table
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Blacklist selector should always be the last
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/emission-pathways-table/emission-pathways-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Filter only if the attribute exists in the category and sanitize undefined
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get only available filter options
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sanitize categories
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create indicators trend provider - WIP
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/providers/esp-indicators-trend-provider/esp-indicators-trend-provider-actions.js
  app/javascript/app/providers/esp-indicators-trend-provider/esp-indicators-trend-provider-reducers.js
  app/javascript/app/providers/esp-indicators-trend-provider/esp-indicators-trend-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Render trendline
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/providers/esp-indicators-trend-provider/esp-indicators-trend-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add location selection: dropdown and update trend line
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways-scenario-table/emission-pathways-scenario-table.js
  app/javascript/app/data/constants.js
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/providers/esp-indicators-trend-provider/esp-indicators-trend-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix search
  app/javascript/app/components/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
