Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix search button rotation
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Open download link in new tab
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/button/button-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use path without /contained for download button
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/button-group/button-group.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove 2014 from header
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reorder and change header names. Lint ndcs-lts
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix naming and table loading
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-lts-table/ndcs-lts-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Enables basic auth for staging
  app/controllers/application_controller.rb
  k8s/staging/deployment.yaml
Due: none

Fix style mobile
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix crashing bug: Compare Libya
  app/javascript/app/components/compare/compare-ndc-content-overview/compare-ndc-content-overview-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Syle header and add back button. Previous locations stored in sessionStorage
  app/javascript/app/app.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Import icons
  app/javascript/app/assets/icons/alert.svg
  app/javascript/app/assets/icons/long-arrow-back.svg
Due: none

Fix landscape
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Removes unnecessary flags
  Dockerfile
  Jenkinsfile
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix typo
  Jenkinsfile
Due: none

Fix some strange cases on the back string
  app/javascript/app/app.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix on page links clearing back
  app/javascript/app/app.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Accept legacy styling
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Allowing importing LTS data
  app/controllers/api/v1/ndcs_controller.rb
  app/services/import_indc.rb
  config/data_uploader.yml
Due: none

use right iso fetch method
  app/services/import_indc.rb
Due: none

Filter categories by source as well
  app/controllers/api/v1/ndcs_controller.rb
Due: none

adds metadata source
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use real data for LTS - WIP
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table.js
  app/javascript/app/pages/lts-explore/lts-explore-actions.js
  app/javascript/app/pages/lts-explore/lts-explore-component.jsx
  app/javascript/app/reducers.js
  app/javascript/app/utils/map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

New LTS country page
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-actions.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion.js
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-country/lts-country-selectors.js
  app/javascript/app/pages/lts-country/lts-country-styles.scss
  app/javascript/app/pages/lts-country/lts-country.js
  app/javascript/app/routes/app-routes/LTSCountry-routes/LTSCountry-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add NDCS explore page copying LTS explore
  app/javascript/app/components/ndcs/ndcs-explore-map/donut-tooltip/donut-tooltip-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-map/donut-tooltip/donut-tooltip.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/legend-item.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table.js
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-styles.scss
  app/javascript/app/pages/ndcs-explore/ndcs-explore.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/ndcs-explore-sections/ndcs-explore-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Reuse shared components
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-map/donut-tooltip/donut-tooltip-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-map/donut-tooltip/donut-tooltip.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/legend-item.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/shared/donut-tooltip/donut-tooltip-styles.scss
  app/javascript/app/components/ndcs/shared/donut-tooltip/donut-tooltip.jsx
  app/javascript/app/components/ndcs/shared/legend-item/legend-item-styles.scss
  app/javascript/app/components/ndcs/shared/legend-item/legend-item.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix table slugs and add new styles
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-styles.scss
  app/javascript/app/styles/themes/table/explore-table-theme.scss
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Linting
  app/javascript/app/styles/themes/table/explore-table-theme.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix table height and reuse setColumnWidth
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table.js
  app/javascript/app/utils/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix setColumnWidth function
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table.js
  app/javascript/app/utils/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix lts explore fetching
  app/javascript/app/pages/lts-explore/lts-explore-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

No need to call fetch so many times
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table.js
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix crashes and style when no back button
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix some styles
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Summary title - WIP
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-selectors.js
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview.js
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/styles/themes/intro/intro-simple.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create alert message
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add subtitle and style changes
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set right source when not LTS
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove NDCS_ENHANCEMENTS flag
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
