Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move context by country to dedicated section
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-country/context-by-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add context by indicator component
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-selectors.js
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-styles.scss
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update selectors to adapt to new store
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context-component.jsx
  app/javascript/app/components/sectors-agriculture/countries-context/countries-context.js
  app/javascript/app/components/sectors-agriculture/countries-context/countries-contexts-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Run missing Migrations
  db/secondbase/structure.sql
  db/structure.sql
Due: none

Updated formating function
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add colon
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add indicator name to tooltip
  app/javascript/app/components/sectors-agriculture/countries-context/context-by-indicator/context-by-indicator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix problem with links after sort in NDC content table
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-table/ndcs-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add USER_REPORT_ID to production and dev environments
  .env.sample
  Dockerfile
  Dockerfile-dev
  app/javascript/app/components/user-report/user-report-component.jsx
  config/webpack/production.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Createw user report component and add it to homepage
  app/javascript/app/components/user-report/user-report-component.jsx
  app/javascript/app/components/user-report/user-report-styles.scss
  app/javascript/app/components/user-report/user-report.js
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adds keys to k8
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

Update button styles
  app/javascript/app/components/user-report/user-report-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add variables to jenkinsfile and webpack development
  Dockerfile
  Jenkinsfile
  config/webpack/development.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Implement metric filter
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add break by metric dropdown filter
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-data.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph.js
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Refactor
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/utils/defaults.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use METRIC_OPTIONS from constants.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/utils/defaults.js
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove commented code from agriculture selectors
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Replace local 'metrics' array with 'METRIC_OPTIONS' from utils
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-data.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/utils/defaults.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use right key name to test
  Jenkinsfile
Due: none

add user_report_key on jenkins
  Jenkinsfile
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

fixes syntax error
  Jenkinsfile
Due: none

Capitalize SDG
  app/admin/global_cw_platform/sdgs.rb
Due: none

fix typo in section name
  app/admin/global_cw_platform/ndc_sdg_targets.rb
Due: none

Adds ndc_sdg_targets config files and admin file
  app/admin/global_cw_platform/ndc_sdg_targets.rb
  config/data_uploader.yml
Due: none

adds missing migration
  db/migrate/20190207144949_add_details_to_worker_logs.data_uploader.rb
Due: none

sort out capitalizations and some titles
  app/admin/global_cw_platform/adaptation.rb
  app/admin/global_cw_platform/agriculture_profile.rb
  app/admin/global_cw_platform/historical_emissions.rb
  app/admin/global_cw_platform/indc.rb
  app/admin/global_cw_platform/locations.rb
  app/admin/global_cw_platform/locations_members.rb
  app/admin/global_cw_platform/ndc_texts.rb
  app/admin/global_cw_platform/quantifications.rb
  app/admin/global_cw_platform/socioeconomics.rb
  app/admin/global_cw_platform/timeline.rb
  app/admin/global_cw_platform/wb_extra.rb
  app/admin/global_cw_platform/wri_metadata.rb
Due: none

adds checks to migration
  db/migrate/20190207144949_add_details_to_worker_logs.data_uploader.rb
Due: none

Cleaning
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make description in video player section responsive
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make carousel section responsive
  app/javascript/app/components/tile/tile-styles.scss
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make latest updates section responsive
  app/javascript/app/components/tile/tile-component.jsx
  app/javascript/app/components/tile/tile-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix responsive padding for latest updates and users cases sections
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make user cases section responsive
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Make subscribe section responsive
  app/javascript/app/pages/home/subscribe-section/input-theme.scss
  app/javascript/app/pages/home/subscribe-section/subscribe-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add responsive fixes to carusel section
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Run migrations
  db/secondbase/structure.sql
  db/structure.sql
Due: none

Update acronyms table
  app/javascript/app/components/about/about-faq/about-faq-component.jsx
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update Tile component
  app/javascript/app/components/tile/tile-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update Rails to version 5.2.2
  Gemfile
  Gemfile.lock
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
