Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update readme
  README.md
Due: none

add install shared-mime-info just in case to Dockerfile
  Dockerfile
Due: none

Update sitemap
  public/sitemap.xml
Due: none

remove mimemagic, upgrade to the latest rails patch, clean up gemfile
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
Due: none

fix ndcs embed, use legacy component when feature disabled
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Install jest and create example
  .babelrc
  app/javascript/app/__mocks__/styleMock.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.test.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/utils/ghg-emissions.js
  jest.config.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Correct calculation of world and test
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-data-selectors.test.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.test.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update test file name
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.test.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix action
  .github/workflows/tests.yml
Due: none

Add frontend tests action
  .github/workflows/frontend tests.yml
Due: none

Update ghg-emissions-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

csrf token as header, raise error when wrong newsletter response body
  app/controllers/newsletter_controller.rb
  app/javascript/app/components/modal-download/modal-download-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Don't correct percentage change
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix webpack upgrade
  .babelrc
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table.js
  app/javascript/app/pages/home/home-component.jsx
  config/webpack/development.js
  config/webpack/loaders/assets.js
  config/webpack/production.js
  config/webpack/shared.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove SA
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add NODE_ENV to jenkinsfile
  Jenkinsfile
  app/javascript/app/utils/one-signal.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Improve styles
  app/javascript/app/components/notification-modal/notification-modal-component.jsx
  app/javascript/app/components/notification-modal/notification-modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update changelog
  CHANGELOG.md
Due: none

Fix corrected chart
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix percentage correction and update tests
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.test.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update geometries and readme
  README.md
  app/javascript/app/data/world-50m-topo.json
Due: none

Use webpack bins and defer js
  app/views/layouts/application.html.erb
  bin/webpack-dev
  bin/webpack-prod
  package.json
Due: none

Fix test text
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add one signal scripts on the application erb
  app/javascript/app/layouts/root/root.js
  app/javascript/app/utils/one-signal.js
  app/views/layouts/application.html.erb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove one signal variables for now
  .env.sample
  Dockerfile
  Jenkinsfile
  README.md
  config/webpack/production.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

safari one signal integration
  app/views/layouts/application.html.erb
Due: none

update webpacker
  .browserslistrc
  .gitignore
  Gemfile.lock
  bin/webpack
  bin/webpack-dev-server
  package.json
  yarn.lock
Due: none

Missing manifest
  .gitignore
  config/webpack/shared.js
  config/webpacker.yml
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update constants.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

change newsletter controller to API controller
  app/controllers/api/v1/newsletters_controller.rb
  app/controllers/newsletter_controller.rb
  app/javascript/app/components/modal-download/modal-download-actions.js
  config/routes.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

better error handling for download modal
  app/javascript/app/components/modal-download/modal-download-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix pathways style
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update svg titles
  app/javascript/app/assets/icons/alert.svg
  app/javascript/app/assets/icons/area_chart.svg
  app/javascript/app/assets/icons/arrow-tail-right.svg
  app/javascript/app/assets/icons/collapse.svg
  app/javascript/app/assets/icons/line_chart.svg
  app/javascript/app/assets/icons/long-arrow-back.svg
  app/javascript/app/assets/icons/yellow-wri-logo.svg
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
