Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add dotenv to capistrano
  Capfile
Due: none

Initial implementation of EB using TF
  .gitignore
  .ruby-version
  Capfile
  Dockerfile
  Gemfile
  Gemfile.lock
  config/deploy.rb
  config/deploy/production.rb
  infrastructure/.terraform.lock.hcl
  infrastructure/data.tf
  infrastructure/keys.tf
  infrastructure/locals.tf
  infrastructure/main.tf
  infrastructure/modules/bootstrap/main.tf
  infrastructure/modules/bootstrap/outputs.tf
  infrastructure/modules/bootstrap/variables.tf
  infrastructure/modules/lb/main.tf
  infrastructure/modules/lb/outputs.tf
  infrastructure/modules/lb/variables.tf
  infrastructure/modules/postgresql/iam_policy_secrets_read.json.tpl
  infrastructure/modules/postgresql/main.tf
  infrastructure/modules/postgresql/outputs.tf
  infrastructure/modules/postgresql/variables.tf
  infrastructure/modules/server/main.tf
  infrastructure/modules/server/outputs.tf
  infrastructure/modules/server/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  infrastructure/modules/vpc/variable.tf
  infrastructure/outputs.tf
  infrastructure/templates/server_setup.sh.tpl
  infrastructure/variables.tf
  infrastructure/vars/terraform.tfvars
  infrastructure/versions.tf
Due: none

Remove staging deployment config to k8s cluster
  Jenkinsfile
  k8s/production/deployment.yaml
  k8s/production/hpa.yaml
  k8s/production/service.yaml
  k8s/staging/deployment.yaml
  k8s/staging/service.yaml
Due: none

Additional capistrano depoyment config
  .gitignore
  config/environments/production.rb
  infrastructure/main.tf
  infrastructure/modules/postgresql/main.tf
  infrastructure/modules/postgresql/variables.tf
  infrastructure/templates/server_setup.sh.tpl
  k8s/production/deployment.yaml
Due: none

Attempt to make capistrano/webpack happy
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/webpacker.yml
Due: none

Attempt to add staging rails env
  config/database.yml
  config/environments/staging.rb
Due: none

Simplify infrastructure; add elastic ip
  README.md
  config/deploy/production.rb
  infrastructure/main.tf
  infrastructure/modules/lb/main.tf
  infrastructure/modules/lb/outputs.tf
  infrastructure/modules/postgresql/main.tf
  infrastructure/modules/postgresql/variables.tf
  infrastructure/modules/server/main.tf
  infrastructure/modules/server/outputs.tf
  infrastructure/modules/server/variables.tf
  infrastructure/outputs.tf
  infrastructure/templates/server_setup.sh.tpl
Due: none

update gemfile.lock following dep removal
  Gemfile.lock
Due: none

Redis config on TF
  Capfile
  Gemfile
  config/deploy.rb
  infrastructure/main.tf
  infrastructure/modules/redis/main.tf
  infrastructure/modules/redis/outputs.tf
  infrastructure/modules/redis/variables.tf
  infrastructure/outputs.tf
  infrastructure/templates/server_setup.sh.tpl
Due: none

Attempt to make capistrano/webpack happy
  Gemfile
  Gemfile.lock
Due: none

Add comparison column with indicators and tooltip
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-cell-renderer.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add min height to table
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Enhancements legend
  app/javascript/app/components/ndcs/ndcs-enhancements-table/enhancements-legend/enhancements-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/enhancements-legend/enhancements-legend.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/enhancements-legend/enhancements-legend.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-cell-renderer.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-styles.scss
  app/javascript/app/components/previous-submission-icon/previous-submission-icon-component.jsx
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Hide legend if enhancements is not visible
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix core-js version
  package.json
Due: none

Use fade on arc of ambition images
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-component.jsx
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix home hero background
  app/javascript/app/pages/home/intro-section/intro-section-component.jsx
  app/javascript/app/pages/home/intro-section/intro-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix backround prop and missing feature tags
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-cell-renderer.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  app/javascript/app/components/section/section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unneded delayHide
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Arc of ambition text and padding changes
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-component.jsx
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-data.js
  app/javascript/app/pages/home/intro-section/arc-of-ambition-section/arc-of-ambition-section-styles.scss
  app/javascript/app/pages/home/intro-section/intro-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix race condition
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Hot reload to webpack-dev
  config/webpacker.yml
Due: none

hmr not working
  config/webpacker.yml
Due: none

Resized volume to 32GB
  infrastructure/.terraform.lock.hcl
  infrastructure/modules/server/main.tf
Due: none

Merge overview and comparison sections and refactor definition lists
  app/javascript/app/components/accordion/accordion.js
  app/javascript/app/components/compare-definition-list/compare-definition-list-component.jsx
  app/javascript/app/components/compare-definition-list/compare-definition-list-styles.scss
  app/javascript/app/components/compare-definition-list/compare-definition-list.js
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-component.jsx
  app/javascript/app/components/custom-definition-list/custom-definition-list-component.jsx
  app/javascript/app/components/custom-definition-list/custom-definition-list-styles.scss
  app/javascript/app/components/custom-definition-list/custom-definition-list.js
  app/javascript/app/components/definition-list-legacy/definition-list-legacy-component.jsx
  app/javascript/app/components/definition-list-legacy/definition-list-legacy.js
  app/javascript/app/components/definition-list/definition-list-component.jsx
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-styles.scss
  app/javascript/app/routes/app-routes/NDCCountry-routes/NDCCountry-routes.js
  app/javascript/app/routes/app-routes/custom-compare-routes/custom-compare-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update to webpack 5 - WIP
  bin/webpack
  bin/webpack-dev-server
  config/webpack/configuration.js
  config/webpack/development.js
  config/webpack/loaders/sass.js
  config/webpack/production.js
  config/webpack/shared.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix webpack upgrade
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table.js
  app/javascript/app/pages/home/home-component.jsx
  config/webpack/development.js
  config/webpack/loaders/assets.js
  config/webpack/production.js
  config/webpack/shared.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix test text
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use webpack bins and defer js
  app/views/layouts/application.html.erb
  bin/webpack-dev
  bin/webpack-prod
Due: none

update webpacker
  .browserslistrc
  .gitignore
  Gemfile.lock
  bin/webpack
  bin/webpack-dev-server
Due: none

Fix pathways style
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Missing manifest
  .gitignore
  config/webpack/shared.js
  config/webpacker.yml
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Try to use HMR - WIP
  config/webpack/development.js
  config/webpack/shared.js
  config/webpacker.yml
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update webpacker - WIP
  .browserslistrc
  Gemfile
  Gemfile.lock
  app/javascript/app/app.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  app/javascript/packs/main.jsx
  app/views/layouts/application.html.erb
  bin/webpack-dev-server
  config/webpack/development.js
  config/webpack/environment.js
  config/webpack/production.js
  config/webpacker.yml
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix webpack-dev-server config
  app/views/layouts/application.html.erb
  bin/webpack-dev-server
  config/webpack/development.js
  config/webpacker.yml
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove compare prop and always use definitionCompare class
  app/javascript/app/components/compare-definition-list/compare-definition-list-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update net-zero metadata slug
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix missing summary on NDC explore
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add thank you page
  app/javascript/app/pages/thank-you/thank-you-component.jsx
  app/javascript/app/pages/thank-you/thank-you-styles.scss
  app/javascript/app/pages/thank-you/thank-you.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add thank you
  app/javascript/app/pages/thank-you/thank-you-component.jsx
  app/javascript/app/pages/thank-you/thank-you-styles.scss
  app/javascript/app/pages/thank-you/thank-you.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
