Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Update styles
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/ui-extends.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add section to home page and carousel styles to app
  app/javascript/app/app.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Format date in the updates serializer
  app/serializers/api/v1/update_serializer.rb
Due: none

linter
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Create data file and update styles
  app/javascript/app/pages/home/user-cases-section/user-cases-section-component.jsx
  app/javascript/app/pages/home/user-cases-section/user-cases-section-data.js
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Removed comments
  app/javascript/app/styles/ui-extends.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Style changes
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix rubocop
  app/admin/latest_updates.rb
Due: none

No geolocation case
  app/javascript/app/pages/home/carousel-section/carousel-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update docker file with ipstack api key
  Dockerfile
Due: none

Add user cases section
  app/javascript/app/pages/home/user-cases-section/user-cases-section-component.jsx
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add latest updates to the admin panel + create an endpoint
  app/admin/latest_updates.rb
  app/controllers/api/v1/updates_controller.rb
  app/models/update.rb
  app/serializers/api/v1/update_serializer.rb
  config/routes.rb
  db/migrate/20181218163254_create_updates.rb
  db/structure.sql
Due: none

Add assets
  app/javascript/app/assets/home/activist@2x.png
  app/javascript/app/assets/home/government@2x.jpg
  app/javascript/app/assets/home/researcher@2x.png
  app/javascript/app/assets/icons/user.svg
Due: none

Update cw-components version
  package.json
  yarn.lock
Due: none

Format date to give month in short form
  app/serializers/api/v1/update_serializer.rb
Due: none

Update jenkins file
  Jenkinsfile
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Remove stories component
  app/javascript/app/components/stories/stories-actions.js
  app/javascript/app/components/stories/stories-component.jsx
  app/javascript/app/components/stories/stories-reducers.js
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/components/stories/stories.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create stories reducer
  app/javascript/app/providers/stories-provider/stories-actions.js
  app/javascript/app/providers/stories-provider/stories-provider.js
  app/javascript/app/providers/stories-provider/stories-reducers.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix no geolocation link
  app/javascript/app/pages/home/carousel-section/carousel-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update dependencies (d3 time format & react player)
  package.json
  yarn.lock
Due: none

Add video section
  app/javascript/app/assets/home/video_background.png
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linter
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add stories section
  app/javascript/app/assets/icons/yellow-wri-logo.svg
  app/javascript/app/data/constants.js
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/home/stories/stories-component.jsx
  app/javascript/app/pages/home/stories/stories-styles.scss
  app/javascript/app/pages/home/stories/stories.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated underline styling and avoid key errors
  app/javascript/app/pages/home/user-cases-section/user-cases-section-component.jsx
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated styles
  app/javascript/app/pages/home/stories/stories-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Created new component structure
  app/javascript/app/components/site-map-footer/site-map-footer-component.jsx
  app/javascript/app/components/site-map-footer/site-map-footer-styles.scss
  app/javascript/app/components/site-map-footer/site-map-footer.js
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix height on desktop
  app/javascript/app/pages/home/stories/stories-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

linter
  app/javascript/app/components/site-map-footer/site-map-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change image to background, relative units on underlines
  app/javascript/app/pages/home/user-cases-section/user-cases-section-component.jsx
  app/javascript/app/pages/home/user-cases-section/user-cases-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix loading component position
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updated footer with site map
  app/javascript/app/assets/icons/RW_logo.svg
  app/javascript/app/assets/icons/RW_text.svg
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/footer/site-map-footer/site-map-footer-component.jsx
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
  app/javascript/app/components/footer/site-map-footer/site-map-footer-styles.scss
  app/javascript/app/components/footer/site-map-footer/site-map-footer.js
  app/javascript/app/data/constants.js
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Integrate Latest updates section with api
  app/javascript/app/components/tile/tile-component.jsx
  app/javascript/app/components/tile/tile-styles.scss
  app/javascript/app/components/tile/tile.js
  app/javascript/app/pages/home/carousel-section/carousel-section-styles.scss
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-selectors.js
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/home/intro-section/intro-section-component.jsx
  app/javascript/app/pages/home/intro-section/intro-section-styles.scss
  app/javascript/app/pages/home/intro-section/intro-section.js
  app/javascript/app/pages/home/latest-updates-section/latest-updates-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section.js
  app/javascript/app/pages/home/latest-updates-section/latest-updates-styles.scss
  app/javascript/app/pages/home/latest-updates-section/latest-updates.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider-actions.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update updates
  db/structure.sql
Due: none

Add info tile component
  app/javascript/app/assets/icons/tail-right-outline-16.svg
  app/javascript/app/components/tiles-section/tile-component.jsx
  app/javascript/app/components/tiles-section/tile-styles.scss
  app/javascript/app/components/tiles-section/tile.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Prepare latest-updates provider for fetching data from api
  app/javascript/app/components/tiles-section/tile-component.jsx
  app/javascript/app/components/tiles-section/tile-styles.scss
  app/javascript/app/pages/home/home-selectors.js
  app/javascript/app/pages/home/latest-updates-section/latest-updates-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-styles.scss
  app/javascript/app/pages/home/latest-updates-section/latest-updates.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider-actions.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider-reducers.js
  app/javascript/app/providers/latest-updates-provider/latest-updates-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add subscribe section
  app/javascript/app/assets/home/subscription-background.png
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/subscribe-section/input-theme.scss
  app/javascript/app/pages/home/subscribe-section/subscribe-section-component.jsx
  app/javascript/app/pages/home/subscribe-section/subscribe-section-styles.scss
  app/javascript/app/pages/home/subscribe-section/subscribe-section.js
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move border outside of layout
  app/javascript/app/components/footer/footer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add animation and layout features to tile-components
  app/javascript/app/assets/icons/arrow-tail-right.svg
  app/javascript/app/components/tiles-section/tile-component.jsx
  app/javascript/app/components/tiles-section/tile-styles.scss
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
