Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Add google analytics to the root - Missing real key
  app/javascript/app/pages/root/root.js
  package-lock.json
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Includes goal relation in targets
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/serializers/api/v1/ndc_sdg/target_serializer.rb
Due: none

Fix: show sdg number correctly in cards
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: hover border for SDG spilling over edge
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

change NDCSDGS -> NdcSdgLinkagesTable to remove confision with parent
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: allow change of breakby without resetting the sources selector
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix aws secret key
  k8s/production/deployment.yaml
Due: none

Fix aws variable name
  k8s/production/deployment.yaml
Due: none

Add goal-target overview endpoint
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/serializers/api/v1/ndc_sdg/goal_overview_serializer.rb
  config/routes.rb
  spec/controllers/api/v1/ndc_sdgs_controller_spec.rb
Due: none

Adds http basic auth to the front end application
  .env.sample
  app/controllers/application_controller.rb
  k8s/production/deployment.yaml
Due: none

Track only on route changes
  app/javascript/app/pages/root/root.js
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Removes unnecessary hifen
  app/javascript/app/routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

updates homepage texts
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

New ndcs autocomplete search component that suggests targets, sectors or goals to the user
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update dropdown comp to handle new use case for autocmplete
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add spec
  app/models/ndc_sdg/ndc_target.rb
  spec/controllers/api/v1/ndc_sdgs_controller_spec.rb
  spec/factories/ndc_sdg_goals.rb
  spec/factories/ndc_sdg_ndc_targets.rb
  spec/factories/ndc_sdg_targets.rb
Due: none

Scroll to highlighted text on selection
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/components/scroll-to-highlight-index/scroll-to-highlight-index.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set filter from url on first load
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make sure sectors have upper case first letter in label
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Renames endpoint to /api/v1/ndcs/sdgs_overview
  app/controllers/api/v1/ndc_sdgs_controller.rb
  config/routes.rb
  spec/controllers/api/v1/ndc_sdgs_controller_spec.rb
Due: none

Updates README file
  README.md
Due: none

Map range component
  app/javascript/app/components/map-range/map-range-component.jsx
  app/javascript/app/components/map-range/map-range-styles.scss
  app/javascript/app/components/map-range/map-range.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Intelligent map cache by default
  app/javascript/app/components/country-ghg-map/country-ghg-map-component.jsx
  app/javascript/app/components/country-ghg-map/country-ghg-map.js
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map.js
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs-map/ndcs-map.js
  app/javascript/app/pages/ndc-sdg/ndc-sdg.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get goals data from api
  app/javascript/app/actions.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/ndc-sdg/ndc-sdg-actions.js
  app/javascript/app/pages/ndc-sdg/ndc-sdg-reducers.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Ndc sdg linkages map component
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update api endpoint
  app/javascript/app/pages/ndc-sdg/ndc-sdg-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: crashing when no search entered
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add NDC SDG table interaction to display list depending on url parameter
  app/javascript/app/actions.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-actions.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-reducers.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table.js
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

We don’t want the goal number duplicated in the store as it will be always in the url
  app/javascript/app/actions.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-actions.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-reducers.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Get all the goal info from table selector and create list component
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-selectors.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Style list header and add close button functionality
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update: set search suggestions to top, styles for groups
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/styles/themes/dropdown/dropdown-links.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Check option exists
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Style list
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix styles and get selected goal to map
  app/javascript/app/components/map-range/map-range-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-component.jsx
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add endpoint with indc values for overview component
  app/controllers/api/v1/ndcs_controller.rb
  app/serializers/api/v1/indc/overview_value_serializer.rb
  config/routes.rb
Due: none

Fix bug happening in production
  app/serializers/api/v1/ndc_sdg/meta_serializer.rb
Due: none

Return first category with indicators by default
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: revert to store and push search on action not close
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-component.jsx
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add GA key
  app/javascript/app/pages/root/root.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
