Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add country profile indicators and values
  app/models/country_profile.rb
  app/models/country_profile/indicator.rb
  app/models/country_profile/value.rb
  db/migrate/20211109130022_create_country_profile_indicators.rb
  db/migrate/20211109130329_create_country_profile_values.rb
  db/structure.sql
Due: none

add country profile importer
  app/services/import_country_profile.rb
  lib/tasks/country_profile.rake
Due: none

add simple specs
  spec/controllers/api/v1/country_profile/indicators_controller_spec.rb
  spec/factories/country_profile_indicator.rb
  spec/factories/country_profile_value.rb
  spec/models/country_profile/indicator_spec.rb
  spec/models/country_profile/value_spec.rb
Due: none

use indicators endpoint
  app/controllers/api/v1/country_profile/indicators_controller.rb
  app/controllers/api/v1/country_profile/values_controller.rb
  app/serializers/api/v1/country_profile/indicator_serializer.rb
  app/serializers/api/v1/country_profile/value_serializer.rb
  config/routes.rb
Due: none

import more files
  app/controllers/api/v1/country_profile/values_controller.rb
  app/models/country_profile/indicator.rb
  app/serializers/api/v1/country_profile/value_serializer.rb
  app/services/import_country_profile.rb
Due: none

add country profile values controller
  app/controllers/api/v1/country_profile/values_controller.rb
  app/serializers/api/v1/country_profile/value_serializer.rb
  config/routes.rb
Due: none

add better testing with snapshots
  Gemfile
  Gemfile.lock
  spec/controllers/api/v1/country_profile/indicators_controller_spec.rb
  spec/factories/country_profile_indicator.rb
  spec/fixtures/snapshots/api/v1/country_profile/indicators.json
  spec/rails_helper.rb
Due: none

add missing columns to country profile indicator
  app/services/import_country_profile.rb
  db/migrate/20211109130022_create_country_profile_indicators.rb
  db/structure.sql
Due: none

import more indicators
  app/services/import_country_profile.rb
Due: none

importer specs
  spec/services/import_country_profile_spec.rb
Due: none

add admin controller and data uploader configuration
  app/admin/global_cw_platform/country_profile.rb
  config/data_uploader.yml
Due: none

filter only values by location
  app/controllers/api/v1/country_profile/indicators_controller.rb
  app/serializers/api/v1/country_profile/indicator_serializer.rb
Due: none

refactor import script
  app/services/import_country_profile.rb
Due: none

add new columns to serializer
  app/serializers/api/v1/country_profile/indicator_serializer.rb
  app/serializers/api/v1/country_profile/value_serializer.rb
  app/serializers/concerns/null_attribute_remover.rb
  app/services/import_country_profile.rb
  spec/factories/country_profile_indicator.rb
  spec/fixtures/snapshots/api/v1/country_profile/indicators.json
Due: none

fix specs
  spec/services/import_country_profile_spec.rb
Due: none

sync data from indc - not sure if good document
  app/controllers/api/v1/country_profile/indicators_controller.rb
  app/models/country_profile/indicator.rb
  app/services/import_country_profile.rb
  app/services/import_indc.rb
Due: none

add missing files
  config/data_uploader.yml
Due: none

fix webpack styles order
  config/webpack/shared.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Start vulnerability section
  app/javascript/app/components/card/card-component.jsx
  app/javascript/app/components/card/card-styles.scss
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-selectors.js
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability.js
  app/javascript/app/styles/themes/card/card-full-height.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Enhancements map changes
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Merge overview and comparison categories. Open by default
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-component.jsx
  app/javascript/app/components/custom-compare-accordion/custom-compare-accordion-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change white icons
  app/javascript/app/assets/icons/enhancement/icon-missing.svg
  app/javascript/app/assets/icons/enhancement/icon-w-enhancement.png
  app/javascript/app/assets/icons/enhancement/icon-w-missing.png
  app/javascript/app/assets/icons/enhancement/icon-w-missing.svg
  app/javascript/app/assets/icons/enhancement/icon-w-no-enhancement.png
  app/javascript/app/assets/icons/enhancement/icon-w-unclear.png
Due: none

Start subnational actions section
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-selectors.js
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions.js
  app/javascript/app/routes/app-routes/country-sections/country-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add country profile indicators provider
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions.js
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider-actions.js
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider-reducers.js
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

keep previous values for indicators
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider-actions.js
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add vulnerability and readiness sections
  app/javascript/app/components/card/card-styles.scss
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

remove info button from vulnerability section
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP subnational actions charts
  app/javascript/app/components/card/card-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add stages and targets legends, couple style changes
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-selectors.js
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions.js
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add more options to area chart to make it more customizable
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix country profile providers
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider-actions.js
  app/javascript/app/providers/country-profile-indicators-provider/country-profile-indicators-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

display no data if data not available
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

tag styles
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add error boundary to prevent white screen of death
  app/javascript/app/components/error-boundary/error-boundary-component.jsx
  app/javascript/app/components/error-boundary/error-boundary.js
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

generate missing Not Joined population for cities badge type indicator, fix colors for charts
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/models/country_profile/indicator.rb
  app/services/import_country_profile.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

keep Not Joined
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

refactor wb extra model
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/models/country_profile/indicator.rb
  app/models/wb_extra/country_data.rb
Due: none

small refactor
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-component.jsx
  app/javascript/app/components/country/country-subnational-actions/country-subnational-actions-styles.scss
  app/javascript/app/components/country/country-subnational-actions/indicator/indicator-styles.scss
  app/javascript/app/components/country/country-subnational-actions/indicator/indicator.jsx
  app/javascript/app/components/country/country-subnational-actions/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
