Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Match no-ndc 2025 tracker chart legend to the map
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-chart-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Display 2025 tracker <1% for emissions when the value got rounded to 0
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove checkbox and related code
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add two more compare indications. Change initial letters
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sort "Latest NDC submission" first by submission and then by emissions
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove extra indicator cards from 2025 but preserve logic
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Remove labels from table legend
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Display timeline button
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

(1.1) Rename module naming from '2025 NDC Tracker to NDC Tracker'
  app/javascript/app/data/seo.js
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.2) Change title of 2025 trakcer timeline
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(2.1) Title changes
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(2.2) Copy changes to subtitle
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(2.3) Adjust the titles of the white boxes
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(2.9) Update 2025 tracker metadata source
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(5.1) Change title of the module (SEO focused, follow up to 1.1)
  app/javascript/app/data/seo.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(2.7) Show a country's full name on GHG emissions tooltips for the 2025 emissions chart
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(4.3) Dont show no information countries on the table
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(4.2) Adjustments to the Initials and legends of the NDC Comparison indicators
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(3.2, 4.1) No New NDC” countries should be dark grey
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(2.10) 2025 tracker GHG Chart to display both EU as a whole and individual members
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(2.10) 2025 tracker Exclude EU from the list of total countries; not a country
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update legend and 2025 submitted label
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-chart-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(2.4) Make cards titles (left ones) spacing smaller
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

(2.5) Add 'Explore NDC Content' button to 2025 tracker chart section
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

(4.3b) Dont show comparison on the tooltip if the value is 'No New NDC'
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-map/ndcs-enhancements-tooltip/ndcs-enhancements-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.3) Add scroll if needed on timeline
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix data sorted by emissions
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add cursor pointer to switch labels
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add analytics to button and Info metadata slug
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.6) Remove ... (AbbrReplace) from 2025 NDC tracker page title
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.6) Remove ... (AbbrReplace from 2025 NDC tracker page timeline)
  app/javascript/app/components/ndcs/ndc-2025-timeline/ndc-2025-timeline-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.5) Remove trailing space in 2025 NDC Tracker chart component before a period
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.6) Ensure Intro components' descriptions can still display HTML, even if AbbrReplace is disabled
  app/javascript/app/components/intro/intro-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.1) Change main subtitle on the 2025 NDC tracker page
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.1) Add description URL + Fix visited links in an Intro's description not being visible after having been visited
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

(1.2) 2025 NDC Tracker - Adjust hyperlinks color on the timeline subtitle
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

(1.1) Fix missing rel and target tags on the 2025 NDC tracker intro links
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

(1.3) Center white 2025 tracker cards within the page
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

(1.3) Adjust 2025 Tracker TrackerChart grid first column's to better match the designs
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

(1.4) Expand clickable area on the 2025 tracker toggle switch (emissions/submission date sorting)
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/styles/themes/checkbox/toggle-checkbox.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
