Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Split stories string received from feed
  app/services/import_stories.rb
Due: none

Add filter tags to stories actions on js app
  app/javascript/app/components/stories/stories-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Address rubocop offenses
  app/controllers/api/v1/stories_controller.rb
  app/services/import_stories.rb
Due: none

Move methods from controller to model
  app/controllers/api/v1/stories_controller.rb
  app/models/story.rb
Due: none

Fix padding and move default modal css to styles file (failed at moving overlay)
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move handleOnClick to container
  app/javascript/app/components/collapse/collapse-component.jsx
  app/javascript/app/components/collapse/collapse.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix responsive table width
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Collapse destination was not working after menu changes: Keep ref in state
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Added specs to model methods
  spec/models/story_spec.rb
Due: none

Address rubocop requested changes
  spec/models/story_spec.rb
Due: none

Update not_tagged_by method and specs
  app/models/story.rb
  spec/models/story_spec.rb
Due: none

fixes viz-spec: WIP multicharting
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/render-chart/render-chart-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/render-chart/render-chart.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
  app/javascript/app/utils/utils.js
  public/mocks/datasets.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix warning
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixed Rubocop array %warning
  spec/models/story_spec.rb
Due: none

Remove unneded styles and fix class name
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/about/about-styles.scss
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change generic matches for isLandscape
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add header height variable
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
  app/javascript/app/styles/settings.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add nil checking for tags
  app/models/story.rb
Due: none

Fixed story.rb causing failing specs
  app/models/story.rb
Due: none

Rubocop fixes
  app/models/story.rb
Due: none

fixes viz-spec: WIP multicharting
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-initial-state.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-lenses.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
  public/mocks/datasets.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix recomponse and dynamic table width
  app/javascript/app/components/collapse/collapse.js
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Make all dropdowns searchable again
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fixed limit default arg and cleaning
  app/models/story.rb
Due: none

Strip empty spaces from tags
  app/services/import_stories.rb
Due: none

Add spec to stories_filter method
  spec/models/story_spec.rb
Due: none

Add goal selected precedence over goal hover
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete tap handlers
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content.js
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove indicators from menu and add get in touch button
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table.js
  app/javascript/app/pages/emission-pathways-model/emission-pathways-model-component.jsx
  app/javascript/app/routes/app-routes/emission-pathways-model-routes/emission-pathways-model-routes.js
  app/javascript/app/routes/app-routes/emission-pathways-model-sections/emission-pathways-model-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change tooltip styles
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add click behavior to full tooltip
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP multicharting: placehoder for every chart
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
  public/mocks/datasets.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete empty goal from table and update styles
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-selectors.js
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-table/ndc-sdg-linkages-table-styles.scss
  app/javascript/app/styles/themes/sdg-card/sdg-card.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fixe goalHover precedence
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Render custom message and find unavailable names for it, add clear button
  app/javascript/app/components/charts/chart/chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
  app/javascript/app/components/no-content/no-content-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add conditional styles to header and table
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-content/ndc-sdg-linkages-content-styles.scss
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show only indicators with trendLines
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include CAIT and WB sources
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix model selected null without loading
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix loading
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
