Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

ndc numbers fix
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

usa filter
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: No 2035 NDC target incorrectly shown in map tooltip and table
  app/javascript/app/components/previous-submission-icon/previous-submission-icon-component.jsx
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: Incorrect information on Net-Zero Tracker embed
  app/javascript/app/layouts/embed/embed-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: Correct emissions percentages on NDC tracker
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

feat: Add new indicator to NDC tracker
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/previous-submission-icon/previous-submission-icon-component.jsx
  app/javascript/app/data/constants.js
  app/javascript/app/providers/ndcs-2025-comparison-provider/ndcs-2025-comparison-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: Update calculation for number of countries without new NDCs
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: Consistently show the US as withdrawn with new color
  app/javascript/app/components/map-legend/map-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

chore: Change colour of the Withdrawn category
  app/javascript/app/components/map-legend/map-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/data/constants.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update ghg-emissions-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

remove PIK reference in FAQ: Update about-faq-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update about-permissions-component.jsx
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

text change removing reference to PIK (#1759)
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/components/about/about-permissions/about-permissions-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

chore: Replace PIK by PRIMAP-hist in the client code
  app/javascript/app/components/abbr-replace/abbr-replace-data.js
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/providers/ghg-emissions-meta-provider/ghg-emissions-meta-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change every mention of LUCF to LULUCF
  app/javascript/app/components/abbr-replace/abbr-replace-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix LULUCF chart colors not displaying correctly
  app/javascript/app/styles/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Increase allowed width for the ChartTooltip to account for LULUCF renaming
  app/javascript/app/styles/themes/chart-tooltip/chart-tooltip.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Increase label width for the EmissionSourcesChart in order to fit the new bigger LULUCF text
  app/javascript/app/components/country/emission-sources-chart/emission-sources-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

US amendments - fix bug causing US to be displayed in blue in all maps
  app/javascript/app/components/ndcs/shared/selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix: Exclude USA from country count and filter NDC numbers
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix(assets): vendor slick-carousel fonts at absolute URLs
  app/javascript/app/app.jsx
  app/javascript/app/styles/slick-theme.css
  config/webpack/shared.js
  public/fonts/slick/ajax-loader.gif
  public/fonts/slick/slick.eot
  public/fonts/slick/slick.svg
  public/fonts/slick/slick.ttf
  public/fonts/slick/slick.woff
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix legacy debian source list.
  Dockerfile
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
