Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Remove first approach
  app/javascript/app/layouts/contained/contained-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix total number when no document is yet selected
  app/javascript/app/components/ndcs/ndcs-search-map/ndcs-search-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Declare excludeFromContainer in routes
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/routes/app-routes/country-compare-sections/country-compare-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update config name.
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/routes/app-routes/country-compare-sections/country-compare-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

1.6.3
  package-lock.json
  package.json
Due: none

Use always isPageContained
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/data/constants.js
  app/javascript/app/layouts/contained/contained-component.jsx
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/pages/country-compare/country-compare-selectors.js
  app/javascript/app/pages/country-compare/country-compare.js
  app/javascript/app/routes/routes.js
  app/javascript/app/utils/navigation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove disclaimer from modal metadata
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove disclaimer from map
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update modal slugs on contained
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove placeholder from initial state
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-initial-state.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add default placeholder to input value
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sort selector options and fix misplaced loader
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update SEI Logo and add description
  app/javascript/app/assets/partners/sei.png
  app/javascript/app/components/about/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update All and add NDC Text HTML
  app/javascript/app/components/download-menu/download-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update sei png
  app/javascript/app/assets/partners/sei.png
Due: none

Update title on save
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix naming flow
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set undefined as initial state of viz title
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-initial-state.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update partners descriptions
  app/javascript/app/components/about/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rename Emission pathways to Pathways
  public/mocks/datasets.json
Due: none

Add location label as placeholder when single selection
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix title
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

1.6.4
  package-lock.json
  package.json
Due: none

1.6.5
  package-lock.json
  package.json
Due: none

Disable compare button from contained route
  app/javascript/app/pages/country/country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change innitial z-index so that sticky bars don't show up in front of country menu
  app/javascript/app/styles/sticky.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Remove WRI metadata source
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update disclaimer text
  app/javascript/app/components/disclaimer/disclaimer-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update rails-html-sanitizer due to vulnerability detected
  Gemfile.lock
Due: none

Add quantifications configuration to constants
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add NDC targets to download list.
  app/javascript/app/components/download-menu/download-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add quantifications tags to ghg emissions component
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add quantifications tags configuration to selectors
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated multiselect wrapper z index
  app/javascript/app/components/multiselect/multiselect-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Correct indicator values order
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add some more narrowColumns
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move to constants
  app/javascript/app/components/table/table.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Export constants
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add themr dependency to tag component and tag themes
  app/javascript/app/components/tag/tag-component.jsx
  app/javascript/app/styles/themes/tag/base-tag.scss
  app/javascript/app/styles/themes/tag/quantification-tag.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Store quantification colors in constants and add them to stacked chart
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/data/constants.js
  app/javascript/app/styles/themes/tag/quantification-tag.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
