Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Include current year in footer
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Genreralizes chart generation
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tick/tick-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tick/tick.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include changelog
  CHANGELOG.md
Due: none

Rollback stories feature
  app/javascript/app/components/stories/stories-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show a margin for negative values and widen y=0 line
  app/javascript/app/components/axis-ticks/axis-ticks-component.jsx
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Dont filter sectors in per capita or per GDP
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add country compare sections on routes
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/country-compare-sections/country-compare-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add getAnchorLink selector
  app/javascript/app/pages/country-compare/country-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add anchorLinks prop withProps
  app/javascript/app/pages/country-compare/country-compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add header and anchorlinks to layout
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix modal styles
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix merges
  app/javascript/app/components/modal/modal-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Create country compare selector
  app/javascript/app/components/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/country-compare-selector/country-compare-selector-selectors.js
  app/javascript/app/components/country-compare-selector/country-compare-selector-styles.scss
  app/javascript/app/components/country-compare-selector/country-compare-selector.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Ad country compare page
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add styles to dropdown
  app/javascript/app/components/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/pages/country-compare/country-compare-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Pie chart in
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  public/mocks/datasets.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add color dot to country selectors
  app/javascript/app/components/country-compare-selector/country-compare-selector-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/pages/country-compare/country-compare-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add color constants to data/constants
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove number adding to url
  app/javascript/app/components/country-compare-selector/country-compare-selector.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Refactor null elements adition to complete selected locations array
  app/javascript/app/components/country-compare-selector/country-compare-selector-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add color dot to dropdown
  app/javascript/app/components/dropdown/dropdown-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

2nd bar chart in
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  public/mocks/datasets.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change dot position
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add route sections
  app/javascript/app/pages/country-compare/country-compare-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Render sections and add Compare Graph component
  app/javascript/app/pages/country-compare/country-compare-component.jsx
  app/javascript/app/pages/country-compare/country-compare-selectors.js
  app/javascript/app/pages/country-compare/country-compare.js
  app/javascript/app/routes/app-routes/country-compare-sections/country-compare-sections.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

WIP last chart
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  public/mocks/datasets.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create emissions provider
  app/javascript/app/providers/emissions-provider/emissions-provider-actions.js
  app/javascript/app/providers/emissions-provider/emissions-provider-reducers.js
  app/javascript/app/providers/emissions-provider/emissions-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Draft Compare GHG Chart - WIP
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-styles.scss
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add search and path to anchor links selector
  app/javascript/app/pages/country-compare/country-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add pinned stories filter
  app/models/story.rb
Due: none

Added specs
  spec/models/story_spec.rb
Due: none

Text changes to the about page as requested
  app/javascript/app/components/about/about-description/about-description-component.jsx
  app/javascript/app/components/about/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add uniq method
  app/models/story.rb
  spec/models/story_spec.rb
Due: none

Last chart in
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

empty string is not false, so let's use present?
  app/services/import_indc.rb
Due: none

fix function signature
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rename emission pathway to pathways
  app/helpers/seo_helper.rb
  app/javascript/app/components/about/about-description/about-description-component.jsx
  app/javascript/app/components/about/about-partners/about-partners.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/routes/app-routes/app-routes.js
  app/javascript/app/routes/app-routes/emission-pathways-model-routes/emission-pathways-model-routes.js
  app/javascript/app/routes/app-routes/emission-pathways-routes/emission-pathways-routes.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show country name in embed ghg emissions
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

clean code
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Increase swiss logo size
  app/javascript/app/assets/partners/swiss.jpg
  app/javascript/app/assets/partners/swiss.png
  app/javascript/app/assets/partners/swiss@2x.png
  app/javascript/app/assets/partners/swiss@3x.png
  app/javascript/app/components/about/about-partners/about-partners-component.jsx
  app/javascript/app/components/about/about-partners/about-partners-styles.scss
  app/javascript/app/components/about/about-partners/about-partners.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
