Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Switched to sql schema
  .travis.yml
  config/application.rb
  db/schema.rb
  db/structure.sql
Due: none

Added data json root to meta endpoints and specs
  app/controllers/api/v1/data/historical_emissions/data_sources_controller.rb
  app/controllers/api/v1/data/historical_emissions/gases_controller.rb
  app/controllers/api/v1/data/historical_emissions/gwps_controller.rb
  app/controllers/api/v1/data/historical_emissions/sectors_controller.rb
  app/services/api/v1/data/historical_emissions_filter.rb
  docs/data_explorer.md
  spec/controllers/api/v1/data/historical_emissions/data_sources_controller_spec.rb
  spec/controllers/api/v1/data/historical_emissions/gases_controller_spec.rb
  spec/controllers/api/v1/data/historical_emissions/gwps_controller_spec.rb
  spec/controllers/api/v1/data/historical_emissions/sectors_controller_spec.rb
  spec/support/schemas/api/v1/data/historical_emissions_data_sources.json
  spec/support/schemas/api/v1/data/historical_emissions_gases.json
  spec/support/schemas/api/v1/data/historical_emissions_gwps.json
  spec/support/schemas/api/v1/data/historical_emissions_sectors.json
Due: none

Filter cache items to display the only if part of available data
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-cache.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add cache handling to as proxy to data fetching
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add missing categories and subcategories fetching
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add items to cache on specs filtering
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix nil exception when no value present for year
  app/services/api/v1/data/historical_emissions_csv_content.rb
Due: none

Docs fix
  docs/data_explorer.md
Due: none

Added data json root
  app/controllers/api/v1/data/ndc_sdg_controller.rb
  docs/data_explorer.md
  spec/support/schemas/api/v1/data/ndc_sdgs.json
Due: none

Extracted common Link headers helper method to superclass
  app/controllers/api/v1/data/api_controller.rb
  app/controllers/api/v1/data/historical_emissions_controller.rb
Due: none

Added data json root to meta endpoints
  app/controllers/api/v1/data/ndc_sdg/goals_controller.rb
  app/controllers/api/v1/data/ndc_sdg/sectors_controller.rb
  app/controllers/api/v1/data/ndc_sdg/targets_controller.rb
  docs/data_explorer.md
  spec/support/schemas/api/v1/data/ndc_sdg_goals.json
  spec/support/schemas/api/v1/data/ndc_sdg_goals_with_targets.json
  spec/support/schemas/api/v1/data/ndc_sdg_goals_with_targets_and_sectors.json
  spec/support/schemas/api/v1/data/ndc_sdg_sectors.json
  spec/support/schemas/api/v1/data/ndc_sdg_targets.json
  spec/support/schemas/api/v1/data/ndc_sdg_targets_with_sectors.json
Due: none

Metadata enpoints
  app/controllers/api/v1/data/ndc_sdg/goals_controller.rb
  app/controllers/api/v1/data/ndc_sdg/sectors_controller.rb
  app/controllers/api/v1/data/ndc_sdg/targets_controller.rb
  app/serializers/api/v1/data/ndc_sdg/goal_serializer.rb
  app/serializers/api/v1/data/ndc_sdg/sector_serializer.rb
  app/serializers/api/v1/data/ndc_sdg/target_serializer.rb
  config/routes.rb
  spec/controllers/api/v1/data/ndc_sdg/goals_controller_spec.rb
  spec/controllers/api/v1/data/ndc_sdg/sectors_controller_spec.rb
  spec/controllers/api/v1/data/ndc_sdg/targets_controller_spec.rb
  spec/support/schemas/api/v1/data/ndc_sdg_goals.json
  spec/support/schemas/api/v1/data/ndc_sdg_goals_with_targets.json
  spec/support/schemas/api/v1/data/ndc_sdg_goals_with_targets_and_sectors.json
  spec/support/schemas/api/v1/data/ndc_sdg_sectors.json
  spec/support/schemas/api/v1/data/ndc_sdg_targets.json
  spec/support/schemas/api/v1/data/ndc_sdg_targets_with_sectors.json
Due: none

JSON and CSV endpoints
  app/controllers/api/v1/data/ndc_sdg_controller.rb
  app/serializers/api/v1/data/ndc_sdg/ndc_sdg_serializer.rb
  app/services/api/v1/data/ndc_sdg_csv_content.rb
  app/services/api/v1/data/ndc_sdg_filter.rb
  config/routes.rb
  docs/data_explorer.md
  spec/controllers/api/v1/data/ndc_sdg_controller_spec.rb
  spec/factories/ndc_sdg_goals.rb
  spec/factories/ndc_sdg_targets.rb
  spec/support/schemas/api/v1/data/ndc_sdgs.json
  spec/support/shared_contexts/ndc_sdg/goals.rb
  spec/support/shared_contexts/ndc_sdg/ndc_targets.rb
  spec/support/shared_contexts/ndc_sdg/ndcs.rb
  spec/support/shared_contexts/ndc_sdg/sectors.rb
  spec/support/shared_contexts/ndc_sdg/targets.rb
Due: none

Rubocop exclusions
  app/controllers/api/v1/data/api_controller.rb
  app/services/api/v1/data/ndc_sdg_filter.rb
Due: none

Add recursive deletion of cache items
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-cache.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update pathways endpoint
  k8s/staging/deployment.yaml
Due: none

Add hasCache flag to render step three
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Added isEditing flag to vis initial state
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-initial-state.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Handle cache consumption depending on isEditing flag
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add editVisualization actions and reducers
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Handle indicators, years and timeseries cache update
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-cache.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Avoid visCreator breacking when no chart data
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add GHG and Pathways pane to the homepage
  app/javascript/app/assets/screenshots/ghg-bg-screenshot.jpg
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@2x.jpg
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@3x.jpg
  app/javascript/app/assets/screenshots/pathways-bg-screenshot.jpg
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@2x.jpg
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@3x.jpg
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Replaced jpgs with pngs
  app/javascript/app/assets/screenshots/ghg-bg-screenshot.jpg
  app/javascript/app/assets/screenshots/ghg-bg-screenshot.png
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@2x.jpg
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@2x.png
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@3x.jpg
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@3x.png
  app/javascript/app/assets/screenshots/pathways-bg-screenshot.jpg
  app/javascript/app/assets/screenshots/pathways-bg-screenshot.png
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@2x.jpg
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@2x.png
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@3x.jpg
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@3x.png
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add more nested options on NDC nav
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix years cache update
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-cache.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Filter selected conditional refactor
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update screenshots
  app/javascript/app/assets/screenshots/ghg-bg-screenshot.png
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@1x.png
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@2x.png
  app/javascript/app/assets/screenshots/ghg-bg-screenshot@3x.png
  app/javascript/app/assets/screenshots/pathways-bg-screenshot.png
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@1x.png
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@2x.png
  app/javascript/app/assets/screenshots/pathways-bg-screenshot@3x.png
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

button group refactor to allow using different button configs
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adding 2 more buttons to the button group
  app/javascript/app/components/button-group/button-group-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

changing first & last behaviour to pseudo elements instead of classes
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/button-group/button-group-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update state after cache filtering
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Return on filter cache to conditionally change state
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-cache.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete unused hasCacheData
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add selected indicators as default
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update images to retina version
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add myCW vis chart
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis/my-cw-vis-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis/my-cw-vis-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis/my-cw-vis.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Handle null indicators on ndc country accordion selectors
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update naming to ndcs-explorer and move ndcs routes to file
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/NDCSExplorer-routes/NDCSExplorer-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add active link logic to accept a common active id
  app/javascript/app/components/simple-menu/simple-menu-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
