Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Update secrets.yml
  config/secrets.yml
Due: none

Move dotenv gem inside development test group
  Gemfile
Due: none

Comment ref on player
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

delete public
  public/404.html
  public/422.html
  public/500.html
  public/apple-touch-icon-precomposed.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/images/social-NDCs-SDGs.png
  public/images/social-NDCs.png
  public/images/social-about.png
  public/images/social-country.png
  public/images/social-emission-pathways.png
  public/images/social-historical-emissions.png
  public/images/social-home.png
  public/mocks/data.json
  public/mocks/datasets.json
  public/mocks/filters.json
  public/mocks/indicators.json
  public/mocks/locations.json
  public/mocks/models.json
  public/mocks/my-visualisations.json
  public/mocks/scenarios.json
  public/mocks/time_series_values.json
  public/mocks/top-ghg-emmiters.json
  public/robots.txt
Due: none

Revert "delete public"
  public/404.html
  public/422.html
  public/500.html
  public/apple-touch-icon-precomposed.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/images/social-NDCs-SDGs.png
  public/images/social-NDCs.png
  public/images/social-about.png
  public/images/social-country.png
  public/images/social-emission-pathways.png
  public/images/social-historical-emissions.png
  public/images/social-home.png
  public/mocks/data.json
  public/mocks/datasets.json
  public/mocks/filters.json
  public/mocks/indicators.json
  public/mocks/locations.json
  public/mocks/models.json
  public/mocks/my-visualisations.json
  public/mocks/scenarios.json
  public/mocks/time_series_values.json
  public/mocks/top-ghg-emmiters.json
  public/robots.txt
  public/sitemap.xml
Due: none

Add main.css back to the mix
  app/assets/javascripts/application.js
  app/views/layouts/application.html.erb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Trying to unbreak staging
  config/webpack/production.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete production consumption of main stylisheet on application.html.erb
  app/views/layouts/application.html.erb
Due: none

Updates sitemap in footer
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix order of assets loading
  app/javascript/app/app.jsx
  app/views/layouts/application.html.erb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix multilevel dropdown
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters-component.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/item.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/menu.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/selector.jsx
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown-component.jsx
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown-styles.scss
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown.js
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Structure files updated
  db/secondbase/structure.sql
  db/structure.sql
Due: none

Remove duplicated entry of cw-components
  package.json
  yarn.lock
Due: none

Update intro text
  app/javascript/app/pages/home/intro-section/intro-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update latest updates title styles
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-component.jsx
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update texts on user cases section
  app/javascript/app/pages/home/latest-updates-section/latest-updates-section-styles.scss
  app/javascript/app/pages/home/user-cases-section/user-cases-section-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update video phrase
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add bigger video background
  app/javascript/app/assets/home/videobg@2x.png
  app/javascript/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update footer
  app/javascript/app/components/footer/footer.js
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change redirect from more stories button to wri blog
  app/javascript/app/data/constants.js
  app/javascript/app/pages/home/stories/stories-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Correct FAQ link on footer
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update table component maxWidth and add acronyms table
  app/javascript/app/components/about/about-faq/about-faq-component.jsx
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change contact for sign up
  app/javascript/app/components/footer/site-map-footer/site-map-footer-data.js
  app/javascript/app/routes/app-routes/about-routes/about-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove extra multi-dropdown files
  app/javascript/app/components/data-explorer-content/data-explorer-filters/data-explorer-filters-component.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/item.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/menu.jsx
  app/javascript/app/components/dropdown/multi-dropdown/components/selector.jsx
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown-component.jsx
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown-styles.scss
  app/javascript/app/components/dropdown/multi-dropdown/multi-dropdown.js
  app/javascript/app/components/multi-dropdown/components/item.jsx
  app/javascript/app/components/multi-dropdown/components/menu.jsx
  app/javascript/app/components/multi-dropdown/components/selector.jsx
  app/javascript/app/components/multi-dropdown/multi-dropdown-component.jsx
  app/javascript/app/components/multi-dropdown/multi-dropdown-styles.scss
  app/javascript/app/components/multi-dropdown/multi-dropdown.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fetching data about gas and source of ghg from meta provider
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add 'gas' guard to ghg emissions filter selector
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update cw-components
  package.json
  yarn.lock
Due: none

Updates structure files
  db/secondbase/structure.sql
  db/structure.sql
Due: none

Remove duplicate entry of cw-components
  package.json
  yarn.lock
Due: none

Fixes broken link
  app/javascript/app/components/about/about-description/about-description-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates structure.sqls
  db/secondbase/structure.sql
  db/structure.sql
Due: none

fix order of asset loading
  app/views/layouts/application.html.erb
Due: none

eslint changes
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Clear filters after emissions type change
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-styles.scss
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Put 'Total' emission type at the top of dropdown list
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Implement adding/removing filters on legend
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/location-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Filter years witout data on x-axis
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Split selectors into separate files
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/drivers-of-emissions-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/ghg-metadata-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/line-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/location-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-selectors/pie-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/historical-emissions-graph/historical-emissions-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
