Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Add 3rd NDC column to the CompareallTargets module table
  app/javascript/app/data/country-documents.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Improve Targets comparison table display
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-table/ndc-compare-all-targets-table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add global emissions importer and controller
  .gitignore
  app/controllers/api/v1/data/ndc_content/global_emissions_controller.rb
  app/models/indc/global_emission.rb
  app/serializers/api/v1/data/ndc_content/global_emissions_serializer.rb
  app/services/import_indc.rb
  config/routes.rb
  db/migrate/20250114104537_create_global_emission.rb
  db/migrate/20250114105639_change_global_emission_to_indc_global_emission.rb
  db/migrate/20250114120726_add_current_policies_scenario_to_indc_global_emissions.rb
  db/structure.sql
  package.json
Due: none

Add spec
  spec/controllers/api/v1/data/ndc_content/global_emissions_controller_spec.rb
  spec/factories/indc_global_emissions.rb
  spec/support/schemas/api/v1/data/ndc_content_global_emissions.json
Due: none

Execute migration to add column
  db/structure.sql
Due: none

Fix name of factory
  spec/controllers/api/v1/data/ndc_content/global_emissions_controller_spec.rb
Due: none

Fix name of parameter
  spec/controllers/api/v1/data/ndc_content/global_emissions_controller_spec.rb
Due: none

Fix name of parameter in serializer
  app/serializers/api/v1/data/ndc_content/global_emissions_serializer.rb
Due: none

Add test for importer
  spec/services/import_indc_spec.rb
Due: none

Call import_global_emissions in importer
  app/services/import_indc.rb
  spec/services/import_indc_spec.rb
Due: none

Convert to decimal or return nil
  app/services/import_indc.rb
Due: none

Add error reason to failure message
  app/services/import_indc.rb
Due: none

Use keys
  app/services/import_indc.rb
Due: none

Use string for key
  app/services/import_indc.rb
Due: none

Add NDC_global_emissions importer option
  config/data_uploader.yml
Due: none

Add more specific test for importer
  spec/services/import_indc_spec.rb
Due: none

Fix name :sad:
  spec/services/import_indc_spec.rb
Due: none

Call subject before checking results
  spec/services/import_indc_spec.rb
Due: none

Improve spec checks
  spec/services/import_indc_spec.rb
Due: none

Fix key references
  app/services/import_indc.rb
Due: none

Serialize to float
  app/serializers/api/v1/data/ndc_content/global_emissions_serializer.rb
Due: none

[Iconic Visuals] Fix and add more tests to global_emissions importer (#1726)
  app/serializers/api/v1/data/ndc_content/global_emissions_serializer.rb
  app/services/import_indc.rb
  spec/services/import_indc_spec.rb
Due: none

Add importer for country data
  .gitignore
  app/models/indc/country_emission.rb
  app/serializers/api/v1/data/ndc_content/global_emissions_serializer.rb
  app/services/import_indc.rb
  db/migrate/20250116191108_create_indc_country_emission.rb
  spec/services/import_indc_spec.rb
Due: none

Add config and run migration
  config/data_uploader.yml
  db/structure.sql
Due: none

Add missing trailing comma
  spec/services/import_indc_spec.rb
Due: none

Change country in spec to match factory
  spec/services/import_indc_spec.rb
Due: none

Add api for country emissions
  app/controllers/api/v1/data/ndc_content/country_emissions_controller.rb
  app/controllers/api/v1/data/ndc_content/global_emissions_controller.rb
  app/serializers/api/v1/data/ndc_content/country_emission_serializer.rb
  app/serializers/api/v1/data/ndc_content/global_emission_serializer.rb
  config/routes.rb
  spec/controllers/api/v1/data/ndc_content/country_emissions_controller_spec.rb
  spec/factories/indc_country_emissions.rb
  spec/support/schemas/api/v1/data/ndc_content_country_emissions.json
Due: none

Use factory locations
  spec/controllers/api/v1/data/ndc_content/country_emissions_controller_spec.rb
  spec/factories/indc_country_emissions.rb
  spec/support/schemas/api/v1/data/ndc_content_country_emissions.json
Due: none

[Iconic Visuals] Add importer and endpoint for country breakdown data (#1727)
  .gitignore
  app/controllers/api/v1/data/ndc_content/country_emissions_controller.rb
  app/controllers/api/v1/data/ndc_content/global_emissions_controller.rb
  app/models/indc/country_emission.rb
  app/serializers/api/v1/data/ndc_content/country_emission_serializer.rb
  app/serializers/api/v1/data/ndc_content/global_emission_serializer.rb
  app/services/import_indc.rb
  config/data_uploader.yml
  config/routes.rb
  db/migrate/20250116191108_create_indc_country_emission.rb
  db/structure.sql
  spec/controllers/api/v1/data/ndc_content/country_emissions_controller_spec.rb
  spec/factories/indc_country_emissions.rb
  spec/services/import_indc_spec.rb
  spec/support/schemas/api/v1/data/ndc_content_country_emissions.json
Due: none

Refactor 2025 NDC Tracker layout to better support the iconic visuals implementation
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table-styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Initial iconic visual sections/components for switchers, buttons & charts placeholders
  app/javascript/app/assets/placeholders/iconic-country-placeholder.png
  app/javascript/app/assets/placeholders/iconic-global-placeholder.png
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/ndcs-enhancements-2025-country-breakdown-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/ndcs-enhancements-2025-country-breakdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add historical data component to the global iconic chart
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/historical-data/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/historical-data/index.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add reductions component to the global iconic chart
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/reductions/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/reductions/index.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add d3-shape to package.json
  package.json
  yarn.lock
Due: none

Add targets component to the global iconic chart
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/targets/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/targets/index.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add target-gaps component to the global iconic chart
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/target-gaps/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/target-gaps/index.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add projected data component to the global iconic chart
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/projected-data/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/projected-data/index.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add Tags component to draw tags below the chart for the global iconic chart
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/tags/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/tags/index.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/tags/styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Draw ongoing version of the Global chart (Iconic Visuals)
  app/javascript/app/assets/placeholders/iconic-country-placeholder.png
  app/javascript/app/assets/placeholders/iconic-global-placeholder.png
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/index.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/global-view/styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/ndcs-enhancements-2025-country-breakdown-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Country breakdown chart mocked setup
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/index.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/styles.scss
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/tags/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/tags/index.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/tags/styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
