Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Start country dropdown - WIP
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add new card's style to the NDC/Country page
  app/javascript/app/components/card/card-row-light/card-row-light-component.jsx
  app/javascript/app/components/card/card-row-light/card-row-light-styles.scss
  app/javascript/app/components/card/card-row-light/card-row-light.js
  app/javascript/app/components/country/country-lts-overview/country-lts-overview-component.jsx
  app/javascript/app/components/country/country-lts-overview/country-lts-overview-selectors.js
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/themes/card/card-light.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix wrong slug for sectors data
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/styles/themes/content.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add ndc-overview page
  .env.sample
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
  app/javascript/app/pages/ndc-overview/ndc-overview-styles.scss
  app/javascript/app/pages/ndc-overview/ndc-overview.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Rename menu group NDCs to COMMITMENTES unde FEATURE_LTS_EXPLORE flag
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add and style country dropdown
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/styles/themes/dropdown/dropdown-country.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adjust caret position
  app/javascript/app/styles/themes/dropdown/dropdown-country.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add ndcs-commities component
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-component.jsx
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-data.js
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-styles.scss
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments.js
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Renaming
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-component.jsx
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix padding in NDC/country cards
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Finish Overview Page
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-component.jsx
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-styles.scss
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update GHG FAQ
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix legend order and missing country on table
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add ndcs explore embed
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix ndcs explore legend and abstract sort function
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/shared/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show all last column header
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove comma on header text
  app/javascript/app/pages/lts-explore/lts-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix some NDC styles
  app/javascript/app/components/country/country-lts-overview/country-lts-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create share button
  app/javascript/app/components/button/share-button/share-button-component.jsx
  app/javascript/app/components/button/share-button/share-button-styles.scss
  app/javascript/app/components/button/share-button/share-button.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use share button in lts explore page
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Finish share button and fix ndcs explore styles
  app/javascript/app/components/button/share-button/share-button-component.jsx
  app/javascript/app/components/button/share-button/share-button-styles.scss
  app/javascript/app/components/button/share-button/share-button.js
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix overflow
  app/javascript/app/components/button/share-button/share-button-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Replace the current path to keep the tab selection
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add back button and links to LTS country
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-country/lts-country-selectors.js
  app/javascript/app/pages/lts-country/lts-country-styles.scss
  app/javascript/app/pages/lts-country/lts-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

mark TODO
  app/javascript/app/pages/lts-country/lts-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add back button and styles to LTS and abstract history funtions
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-country/lts-country-styles.scss
  app/javascript/app/pages/lts-country/lts-country.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/utils/history.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Start country dropdown - WIP
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update NDC overview cards
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add and style country dropdown
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add back button and styles to LTS and abstract history funtions
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add dropdown to LTS country header
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-country/lts-country-selectors.js
  app/javascript/app/pages/lts-country/lts-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Start ndcs commitments question cards
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-component.jsx
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-data.js
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-styles.scss
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments.js
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card-component.jsx
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card-selectors.js
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix error
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-styles.scss
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create cards, update data and progress component
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-component.jsx
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-data.js
  app/javascript/app/components/ndcs/ndcs-commitments/ndcs-commitments-styles.scss
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card-component.jsx
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card-selectors.js
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card.scss
  app/javascript/app/components/progress/progress-component.jsx
  app/javascript/app/components/progress/progress-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add total parties number and fix answer number
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card-selectors.js
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card.scss
  app/javascript/app/components/progress/progress-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

FIx percentage
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card-component.jsx
  app/javascript/app/components/ndcs/ndcs-commitments/question-card/question-card-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
