Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add extra column and fix columns width
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-component.jsx
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-selectors.js
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table.js
  app/javascript/app/styles/themes/table/explore-table-two-highlighted-theme.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Tweak share modal layout on mobiles
  app/javascript/app/components/modal-share/modal-share-component.jsx
  app/javascript/app/components/modal-share/modal-share-styles.scss
  app/javascript/app/components/modal-share/modal-share.js
  app/javascript/app/components/modal/modal-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix not applicable label color
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-selectors.js
  app/javascript/app/components/ndcs/shared/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix overview share modal
  app/javascript/app/components/button/share-button/share-button-component.jsx
  app/javascript/app/components/modal-share/modal-share-reducers.js
  app/javascript/app/components/modal-share/modal-share.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-component.jsx
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix LTS color in emissions
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/shared/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Guard in laws and policies
  app/javascript/app/providers/laws-and-policies-provider/laws-and-policies-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix modal on overview
  app/javascript/app/components/modal-share/modal-share.js
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-component.jsx
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

withHandlers conflict with hooks
  app/javascript/app/components/modal-share/modal-share-component.jsx
  app/javascript/app/components/modal-share/modal-share.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Commit temporary state of work
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove "Custom compare" option from "Commitments" menu
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add selectedTargets to the URL params
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-selectors.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update LTS metadata
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Use array as a target params in URL for Custom comparison page
  app/javascript/app/pages/custom-compare/custom-compare-component.jsx
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add comment & guards
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix query issues in custom compare page
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix back button link in custom compare page
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change parties to countries only in LTS explore
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/shared/donut-tooltip/donut-tooltip.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

[Custom compare] Remove redundant conditions from selectors
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

[Custom compare] - Set default document after changing the country
  app/javascript/app/pages/custom-compare/custom-compare-selectors.js
  app/javascript/app/pages/custom-compare/custom-compare.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updates laws endpoint to fetch updated targets
  app/controllers/api/v1/lse_laws_and_policies_controller.rb
Due: none

Updates spec
  spec/controllers/api/v1/lse_laws_and_policies_controller_spec.rb
Due: none

Add F-gases to KYOTOGHG gas aggregates
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Changes to Jenkinsfile to support deployment to different cloud providers
  Jenkinsfile
  k8s/production/deployment.yaml
  k8s/production/hpa.yaml
  k8s/production/service.yaml
  k8s/staging/deployment.yaml
  k8s/staging/service.yaml
Due: none

Fix typo in jenkinsfile update
  Jenkinsfile
Due: none

Fix numbers on legend
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
  app/javascript/app/components/ndcs/shared/legend-item/legend-item.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change puma version on Gemfile
  Gemfile
  Gemfile.lock
Due: none

Adds blog stories management page on Admin side
  Gemfile
  Gemfile.lock
  app/admin/global_cw_platform/blog_stories.rb
  app/views/admin/_blog_stories.html.erb
  config/data_uploader.yml
Due: none

Updates NDC texts admin page to enable importing from interface
  app/admin/global_cw_platform/ndc_texts.rb
  app/services/import_ndc_texts.rb
  app/views/admin/_blog_stories.html.erb
  app/views/admin/_form_upload_ndc_texts.html.erb
Due: none

Fixes config for ndc_texts
  config/data_uploader.yml
Due: none

Rubocop warnings and comments
  app/admin/global_cw_platform/ndc_texts.rb
Due: none

Add back button and remove 2020 tracker from menu
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-styles.scss
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-styles.scss
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linting
  app/javascript/app/pages/ndcs-explore/ndcs-explore-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update header description
  app/javascript/app/pages/lts-explore/lts-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update info map text
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix underline on table link
  app/javascript/app/styles/themes/table/explore-table-two-highlighted-theme.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix legend text and dynamic height
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-component.jsx
  app/javascript/app/components/ndcs/shared/legend-item/legend-item-styles.scss
  app/javascript/app/components/ndcs/shared/legend-item/legend-item.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linting
  app/javascript/app/components/ndcs/shared/legend-item/legend-item-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
