Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change NDC (texts) schema and import process
  app/models/ndc.rb
  app/services/import_ndc_texts.rb
  db/migrate/20170927170311_change_ndcs_table.rb
  db/schema.rb
Due: none

Add ndc text attributes to endpoint serializer
  app/serializers/api/v1/ndc_text_search_result_serializer.rb
  app/serializers/api/v1/ndc_text_serializer.rb
Due: none

Refactor
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-reducers.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-selectors.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Point import process to correct prefix on S3 bucket
  app/services/import_ndc_texts.rb
  spec/services/import_ndc_texts_spec.rb
Due: none

Fix: stop duplicate graph config when fetching new data
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: clear filters correctly when changing break value
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/utils/navigation.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: country names/region correctly showing and removing in legend
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/serializers/api/v1/historical_emissions/record_serializer.rb
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix: dynamic values for default selectors
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix location helper
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/utils/navigation.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix european countries
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/ndcs-map/ndcs-map.js
  app/javascript/app/data/european-countries.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Update prettier lint config
  .lintstagedrc
Due: none

Simple multiselect component using react selectize
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
  app/javascript/app/components/multiselect/multiselect.js
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Multiselect component with ghg emissions data
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
  app/javascript/app/components/multiselect/multiselect.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update images
  app/javascript/app/assets/backgrounds/home_bg_1.jpg
  app/javascript/app/assets/backgrounds/home_bg_2.jpg
  app/javascript/app/assets/backgrounds/home_bg_3.jpg
  app/javascript/app/assets/backgrounds/home_image_2.png
  app/javascript/app/assets/backgrounds/home_image_3.png
  app/javascript/app/assets/headers/about.jpg
  app/javascript/app/assets/headers/countries.jpg
  app/javascript/app/assets/headers/emission-pathways.jpg
  app/javascript/app/assets/headers/emissions.jpg
  app/javascript/app/assets/headers/home.jpg
  app/javascript/app/assets/headers/ndc-sdg.jpg
  app/javascript/app/assets/headers/ndc.jpg
  app/javascript/app/assets/news/1.jpg
  app/javascript/app/assets/news/2.jpg
  app/javascript/app/assets/news/3.jpg
  app/javascript/app/assets/news/4.jpg
  app/javascript/app/assets/news/5.jpg
  app/javascript/app/assets/screenshots/country.jpg
  app/javascript/app/assets/screenshots/ndc.jpg
Due: none

Migrate react select to React Selectize and update components
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use new images and fix styles folder
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/result-card/result-card-styles.scss
  app/javascript/app/components/section/section-component.jsx
  app/javascript/app/components/section/section-styles.scss
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-styles.scss
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/styles/base.scss
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/themes/content.scss
  app/javascript/app/styles/themes/country-explorer.scss
  app/javascript/app/styles/themes/intro/intro-dark.scss
  app/javascript/app/styles/themes/results-list/results-list-light.scss
  app/javascript/app/styles/themes/search/search-dark.scss
  app/javascript/app/styles/themes/search/search-light.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Handle links on hover icons
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/styles/themes/dropdown-links.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Make the page headers dynamic
  app/javascript/app/components/header/header-styles.scss
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/routes.js
  app/javascript/app/utils/header.js
  app/javascript/app/utils/react.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

sort data correctly
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-utils.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Get header image automatically using recompose
  app/javascript/app/assets/headers/ndc.jpg
  app/javascript/app/assets/screenshots/ndc-explore.jpg
  app/javascript/app/components/header/header.js
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/ndc-compare/ndc-compare-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/routes.js
  app/javascript/app/utils/header.js
  package-lock.json
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Use recompose to add about sections
  app/javascript/app/pages/about/about.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Update styles for selectize to use themes
  app/javascript/app/components/autocomplete-search/autocomplete-search-component.jsx
  app/javascript/app/components/autocomplete-search/autocomplete-search-styles.scss
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
  app/javascript/app/components/multiselect/multiselect.js
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/styles/themes/dropdown/dropdown-links.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Styles for multi select
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

remove autoprefixer from base styles
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Import all header images automatically
  app/javascript/app/components/header/header.js
  app/javascript/app/pages/about/about.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fix: multi select always set to open
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update sdg card dots to always show even with filter, and then set to show as small when does not contain matching sector to filter
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Joint initiatives component
  app/javascript/app/components/footer/initiators/initiators-component.jsx
  app/javascript/app/components/footer/initiators/initiators-styles.scss
  app/javascript/app/components/footer/initiators/initiators.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Bottom bar component
  app/javascript/app/components/footer/bottom-bar/bottom-bar-component.jsx
  app/javascript/app/components/footer/bottom-bar/bottom-bar-styles.scss
  app/javascript/app/components/footer/bottom-bar/bottom-bar.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Refactor nav to make it reusable
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/navbar/navbar-component.jsx
  app/javascript/app/components/navbar/navbar-styles.scss
  app/javascript/app/components/navbar/navbar.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Include footer component and icons
  app/javascript/app/assets/icons/contact.svg
  app/javascript/app/assets/icons/legend-close.svg
  app/javascript/app/assets/icons/link-arrow.svg
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/footer/footer.js
  app/javascript/app/components/footer/initiators/initiators-styles.scss
  app/javascript/app/pages/about/about-styles.scss
  app/javascript/app/pages/root/root-component.jsx
  app/javascript/app/styles/settings.scss
  package-lock.json
  package.json
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move secotr selector value to url
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-actions.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-reducers.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Hide partners footer in about page
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/footer/initiators/initiators-component.jsx
  app/javascript/app/components/footer/initiators/initiators-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set selector to top, update header styles, allow clear of filter
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update icons to svgs
  app/javascript/app/assets/sdg-icons/icon_1.png
  app/javascript/app/assets/sdg-icons/icon_10.png
  app/javascript/app/assets/sdg-icons/icon_11.png
  app/javascript/app/assets/sdg-icons/icon_12.png
  app/javascript/app/assets/sdg-icons/icon_13.png
  app/javascript/app/assets/sdg-icons/icon_14.png
  app/javascript/app/assets/sdg-icons/icon_15.png
  app/javascript/app/assets/sdg-icons/icon_16.png
  app/javascript/app/assets/sdg-icons/icon_17.png
  app/javascript/app/assets/sdg-icons/icon_2.png
  app/javascript/app/assets/sdg-icons/icon_3.png
  app/javascript/app/assets/sdg-icons/icon_4.png
  app/javascript/app/assets/sdg-icons/icon_5.png
  app/javascript/app/assets/sdg-icons/icon_6.png
  app/javascript/app/assets/sdg-icons/icon_7.png
  app/javascript/app/assets/sdg-icons/icon_8.png
  app/javascript/app/assets/sdg-icons/icon_9.png
  app/javascript/app/assets/sdg-icons/sdg1.svg
  app/javascript/app/assets/sdg-icons/sdg10.svg
  app/javascript/app/assets/sdg-icons/sdg11.svg
  app/javascript/app/assets/sdg-icons/sdg12.svg
  app/javascript/app/assets/sdg-icons/sdg13.svg
  app/javascript/app/assets/sdg-icons/sdg14.svg
  app/javascript/app/assets/sdg-icons/sdg15.svg
  app/javascript/app/assets/sdg-icons/sdg16.svg
  app/javascript/app/assets/sdg-icons/sdg17.svg
  app/javascript/app/assets/sdg-icons/sdg2.svg
  app/javascript/app/assets/sdg-icons/sdg3.svg
  app/javascript/app/assets/sdg-icons/sdg4.svg
  app/javascript/app/assets/sdg-icons/sdg5.svg
  app/javascript/app/assets/sdg-icons/sdg6.svg
  app/javascript/app/assets/sdg-icons/sdg7.svg
  app/javascript/app/assets/sdg-icons/sdg8.svg
  app/javascript/app/assets/sdg-icons/sdg9.svg
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Enforce usage of filter parameters
  app/controllers/api/v1/historical_emissions_controller.rb
Due: none

Box shadow styles for selectors
  app/javascript/app/components/autocomplete-search/autocomplete-search-styles.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Show all selected text
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: styles for multi select search
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix styles and new hideActive prop to nav
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/footer/footer-styles.scss
  app/javascript/app/components/nav/nav-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
