Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

--amend
  app/javascript/app/components/intro/intro-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Move sortBy sdgs number logic to selector to keep component clean
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-selectors.js
  app/javascript/app/components/sdg-card/sdg-card-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update SDG number sort to handle complex ordering. Sort SDG selector on search page
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-selectors.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Background color for home video
  app/javascript/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Show point labels
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Row padding for tables, remove unecessary border
  app/javascript/app/components/table/table-styles.scss
  app/javascript/app/components/teaser/teaser-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Small adjustments to rendering docs on timeline
  app/javascript/app/components/country-timeline/country-timeline-selectors.js
  app/serializers/api/v1/timeline/document_serializer.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: button width must be 100% with fixes square prop to all used cases
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/button/info-button/info-button-component.jsx
  app/javascript/app/components/country-climate-vulnerability/country-climate-vulnerability-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg-map/country-ghg-map-styles.scss
  app/javascript/app/components/country-ghg/country-ghg-component.jsx
  app/javascript/app/components/country-ghg/country-ghg-styles.scss
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-component.jsx
  app/javascript/app/components/loading/loading-styles.scss
  app/javascript/app/components/map/map-styles.scss
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add loader to countrys graph
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/loading/loading-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix multiselect styles
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/components/multiselect/multiselect-component.jsx
  app/javascript/app/components/multiselect/multiselect-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: menu styles
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Time line padding
  app/javascript/app/components/country-timeline/country-timeline-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Correct feedback on no results for ndcs search
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix logo color
  app/javascript/app/assets/icons/cw-logo.svg
  app/javascript/app/assets/icons/logo-climate-watch.svg
Due: none

fix video border
  app/javascript/app/components/ndcs-country-accordion/ndcs-country-accordion-component.jsx
  app/javascript/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: inconsistency in button, selector, and menu styles
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/button/info-button/info-button-styles.scss
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/search/search-styles.scss
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
  app/javascript/app/components/tag/tag-styles.scss
  app/javascript/app/components/tools-nav/tools-nav-styles.scss
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

hide dropdown arrow when nothing to select
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix: hover for search
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/result-card/result-card-styles.scss
  app/javascript/app/styles/themes/search/search-light.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix: map not loading countries on when no document in selector
  app/javascript/app/components/ndcs-search-map/ndcs-search-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Transition and fix for NDC search styles
  app/javascript/app/components/result-card/result-card-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-component.jsx
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: siabled button in ndcs search
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/button/button-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix IE and ff bugs
  app/javascript/app/components/about-partners/about-partners-styles.scss
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg-map/country-ghg-map-styles.scss
  app/javascript/app/components/country-ghg/country-ghg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

removes sampledata from file names
  app/services/import_historical_emissions.rb
Due: none

Fixes file name
  spec/services/import_historical_emissions_spec.rb
Due: none

Fix: remove box shadow hover on compare selectors
  app/javascript/app/styles/themes/dropdown/react-selectize.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix: map padding on countries pages
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg-map/country-ghg-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix: button group hover interactions and disabling
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/button-group/button-group-styles.scss
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: background colors for selectors on ndcs table
  app/javascript/app/components/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/search/search-component.jsx
  app/javascript/app/components/search/search-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix: ndcs content overview height
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/search/search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Loader for NDC full content page only on first fetch
  app/javascript/app/pages/ndc-country-full/ndc-country-full-component.jsx
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

NDC autcomplete search borders
  app/javascript/app/components/ndcs-autocomplete-search/ndcs-autocomplete-search-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Set UNFCCC process to the default for NDCs map
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix: sticky nav anchor links scrolling to correct position in page
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/country/country-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update: disable info button correctly in button group
  app/javascript/app/components/button-group/button-group-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Send 404 when slug is not found
  app/controllers/api/v1/metadata_controller.rb
Due: none

Avoid n+1 and remove some data from the group_by - Serializer can be improved
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/models/location.rb
Due: none

Update provider to fetch all countries
  app/javascript/app/providers/wb-country-data-provider/wb-country-data-provider-actions.js
  app/javascript/app/providers/wb-country-data-provider/wb-country-data-provider-reducers.js
  app/javascript/app/providers/wb-country-data-provider/wb-country-data-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

update k8s: Add hpa and disable chaoskube
  k8s/production/deployment.yaml
  k8s/production/hpa.yaml
Due: none

Fix huge IE map
  app/javascript/app/components/map/map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix circle vulnerability graph
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-component.jsx
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
