Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Add focus handler on mobile to avoid triggering map click event
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete compare ndcs button on mobile
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

1.4.1
  package-lock.json
  package.json
Due: none

Fix disclaimer layout and use grid
  app/javascript/app/components/disclaimer/disclaimer-component.jsx
  app/javascript/app/components/disclaimer/disclaimer-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix disclaimer styles and add grid
  app/javascript/app/components/disclaimer/disclaimer-component.jsx
  app/javascript/app/components/disclaimer/disclaimer-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

SortBy year to prevent errors in the rendering of the x axis
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix disclaimer margins
  app/javascript/app/components/country/country-ghg/country-ghg-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add layout content to disclaimer
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix risk meter in IE and extra space in circular chart
  app/javascript/app/components/circular-chart/circular-chart-styles.scss
  app/javascript/app/components/vulnerability-graph/vulnerability-graph-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Specify if horizontal scroll is needed for the table
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Clean disclaimer box
  app/javascript/app/components/disclaimer/disclaimer-component.jsx
  app/javascript/app/components/disclaimer/disclaimer-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show disclaimer on ghg under the feature quantifications flags
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

1.4.2
  package-lock.json
  package.json
Due: none

Fix feature quantifications flag
  app/javascript/app/components/country/country-ghg/country-ghg-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix linkages map height
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix position of circular chart inside wrapper and overflow
  app/javascript/app/components/circular-chart/circular-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Revert Don't connect nulls in Compare graph
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix prep card width and map height
  app/javascript/app/components/country/country-climate-vulnerability/country-climate-vulnerability-styles.scss
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Use same param to pass properties in action
  app/javascript/app/components/ndcs/ndcs-autocomplete-search/ndcs-autocomplete-search.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full-actions.js
  app/javascript/app/pages/ndc-country-full/ndc-country-full.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update and fix redux-tool dependency
  package.json
Due: none

Add n/a when no data in tooltip for a country
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use n/a also for area charts and fix total if no data
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

SortBy year to prevent errors in compare graph
  app/javascript/app/components/compare-ghg-chart/compare-ghg-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set row height and width depending on the activeColumn
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-component.jsx
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix n/a for 0 values
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Better calculate needed decimal places on y axis - WIP
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete unused column height
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add missing div to avoid search jump
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add brower detection flag to set stroke
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set stackable and preselt all years
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
  public/mocks/datasets.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add description to fullTextColumns on models
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

2 to 4 decimals in tooltip, calculate and apply precision to Y axis
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Set default name for visualization
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-four.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change on touch event to on blur to allow selection on mobile
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add margins to domain according to needed precision
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix y scale
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix precision with no decimals and more than 2 whole digits
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Force at least precision 2
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update method to include ie11. move it to utils
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update function (no param)
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
