Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add subcategories to pathways
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Split categories on data explorer content selectors
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add links for INDC text to document
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add INDC to the replacements list to fix the column capitalization
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add getSearch function to navigation utils. use it on data explorer cont
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/utils/navigation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Treat subcategories as category on selector before provider fetching
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change dependency to subcategory
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Small style fixes
  app/javascript/app/components/data-explorer-content/data-explorer-content-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Show country values in the correct order and dash if empty
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Extracted parsing logic to update link query filter
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix nav layout forcing horizontal scroll when data_explorer=true
  app/javascript/app/components/navbar/navbar-component.jsx
  app/javascript/app/components/navbar/navbar-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use dash for all empty definitions
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update DATA_EXPLORER_SECTIONS constant
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adapt selectors and actions to new object structure
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Reverse years and fix firstColumn ordering in table
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change subcategories to category
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Refactor to filter instead forEach
  app/javascript/app/components/table/table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Substitute if statements for switch
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move strings to constants
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adds document type and document language to api response on data side
  app/serializers/api/v1/data/ndc_sdg/ndc_sdg_serializer.rb
  app/services/api/v1/data/ndc_sdg_filter.rb
Due: none

Remove gwp from table on historical emissions
  app/serializers/api/v1/data/historical_emissions/record_serializer.rb
Due: none

Sortable historical emissions
  app/controllers/api/v1/data/historical_emissions_controller.rb
  app/services/api/v1/data/column_helpers.rb
  app/services/api/v1/data/historical_emissions_filter.rb
  app/services/api/v1/data/sanitised_sorting.rb
  docs/data_explorer.md
  spec/controllers/api/v1/data/historical_emissions_controller_spec.rb
  spec/support/schemas/api/v1/data/historical_emissions.json
Due: none

Sortable NDC Content
  app/controllers/api/v1/data/ndc_content_controller.rb
  app/services/api/v1/data/ndc_content_csv_content.rb
  app/services/api/v1/data/ndc_content_filter.rb
  docs/data_explorer.md
  spec/controllers/api/v1/data/ndc_content_controller_spec.rb
  spec/support/schemas/api/v1/data/ndc_content.json
Due: none

Sortable NDC-SDG linkages
  app/controllers/api/v1/data/ndc_sdg_controller.rb
  app/services/api/v1/data/ndc_sdg_csv_content.rb
  app/services/api/v1/data/ndc_sdg_filter.rb
  docs/data_explorer.md
  spec/controllers/api/v1/data/ndc_sdg_controller_spec.rb
  spec/support/schemas/api/v1/data/ndc_sdgs.json
Due: none

Allow sorting historical emissions by year
  app/models/historical_emissions/searchable_record.rb
  app/services/api/v1/data/historical_emissions_filter.rb
  app/services/api/v1/data/sanitised_sorting.rb
  app/services/import_historical_emissions.rb
  db/migrate/20180803123629_create_historical_emissions_searchable_records.rb
  db/structure.sql
  db/views/historical_emissions_searchable_records_v01.sql
  spec/controllers/api/v1/data/historical_emissions_controller_spec.rb
  spec/services/api/v1/data/historical_emissions_filter_spec.rb
Due: none

Changed format of sorting-related meta information in response
  app/controllers/api/v1/data/historical_emissions_controller.rb
  app/controllers/api/v1/data/ndc_content_controller.rb
  app/controllers/api/v1/data/ndc_sdg_controller.rb
  app/services/api/v1/data/column_helpers.rb
  app/services/api/v1/data/historical_emissions_filter.rb
  app/services/api/v1/data/ndc_content_filter.rb
  app/services/api/v1/data/ndc_sdg_filter.rb
  docs/data_explorer.md
  spec/support/schemas/api/v1/data/historical_emissions.json
  spec/support/schemas/api/v1/data/ndc_content.json
  spec/support/schemas/api/v1/data/ndc_sdgs.json
Due: none

Update options with models and scenarios dependencies
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move data explorer constants to new file, refactor and rename constants
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix moduleName in constant
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add language and document type to link query
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add dependency to category and subcategory
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change structure.sql after migration
  db/structure.sql
Due: none

Speed up migration which creates a materialized views for historical emissions
  app/models/historical_emissions/searchable_record.rb
  db/migrate/20180803123629_create_historical_emissions_searchable_records.rb
  db/migrate/20180807150412_create_historical_emissions_searchable_records_more_quickly.rb
  db/structure.sql
  db/views/historical_emissions_records_emissions_v01.sql
  db/views/historical_emissions_searchable_records_v01.sql
Due: none

Enable sort via backend
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/components/table/table.js
  app/javascript/app/providers/data-explorer-provider/data-explorer-provider.js
  app/javascript/app/utils/data-explorer.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update constants for apropriate category/subcategory splitting
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Dont sort the year columns in pathways
  app/javascript/app/components/data-explorer-content/data-explorer-content.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update API documentation in the frontend
  app/javascript/app/components/data-explorer-content/api-documentation/api-documentation.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add multiselector for groups in region - WIP
  app/javascript/app/components/data-explorer-content/data-explorer-content-component.jsx
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updated dependencies and added indicators
  app/javascript/app/components/data-explorer-content/data-explorer-content-selectors.js
  app/javascript/app/data/data-explorer-constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move pathway functions to new file
  app/javascript/app/components/data-explorer-content/pathway-selector-utils/pathway-selector-utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
