Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix ndcs table search
  app/javascript/app/components/ndcs-table/ndcs-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix sdgs feach coming from ndcs
  app/javascript/app/pages/ndc-sdg/ndc-sdg-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add attribution metadata slug to emissions metadata
  app/serializers/api/v1/historical_emissions/metadata_serializer.rb
Due: none

Remove memory limit to production env
  k8s/production/deployment.yaml
Due: none

Get emissions metadata source from API
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/data/source-slugs.js
  app/javascript/app/providers/ghg-emissions-meta-provider/ghg-emissions-meta-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Show metadata in ghg emissions page
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Align default map styles
  app/javascript/app/components/map/map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include colour in goal serializer
  app/serializers/api/v1/ndc_sdg/goal_overview_serializer.rb
  app/serializers/api/v1/ndc_sdg/goal_serializer.rb
Due: none

Show sdgs color in map and list header
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-map/legend-range/legend-range-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-map/legend-range/legend-range-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-map/legend-steps/legend-steps-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-map/legend-steps/legend-steps-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map-selectors.js
  app/javascript/app/components/ndc-sdg-linkages-map/ndc-sdg-linkages-map.js
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Implement search by sector, goal and target
  app/controllers/api/v1/ndc_texts_controller.rb
  app/models/ndc.rb
  app/serializers/api/v1/ndc_text_search_result_serializer.rb
Due: none

Make rubocop happy
  app/serializers/api/v1/ndc_text_search_result_serializer.rb
Due: none

Include autoprefixer config
  .postcssrc
  config/webpack/loaders/sass.js
  config/webpacker.yml
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Awesome ms grid columns mixin
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix grid columns in ms
  app/javascript/app/components/accordion/accordion-styles.scss
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg/country-ghg-styles.scss
  app/javascript/app/components/country-ndc-overview/country-ndc-overview-styles.scss
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/ghg-emissions/ghg-emissions-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-styles.scss
  app/javascript/app/components/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/components/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/components/section/section-styles.scss
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/pages/about/about-styles.scss
  app/javascript/app/pages/country/country-styles.scss
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/pages/ndc-compare/ndc-compare-styles.scss
  app/javascript/app/pages/ndc-country-full/ndc-country-full-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
  app/javascript/app/pages/ndc-sdg/ndc-sdg-styles.scss
  app/javascript/app/pages/ndc-search/ndc-search-styles.scss
  app/javascript/app/pages/ndcs/ndcs-styles.scss
  app/javascript/app/styles/themes/header/header.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Hacking ie grid styles
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
  app/javascript/app/components/country-ghg/country-ghg-styles.scss
  app/javascript/app/components/country-ndc-sdg-linkages/country-ndc-sdg-linkages-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-list/ndc-sdg-linkages-list-styles.scss
  app/javascript/app/components/ndc-sdg-linkages-table/ndc-sdg-linkages-table-styles.scss
  app/javascript/app/components/sdg-card/sdg-card-styles.scss
  app/javascript/app/components/stories/stories-styles.scss
  app/javascript/app/styles/layout.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Restore webpacker ip config
  config/webpacker.yml
Due: none

Add model and migration for wb extra country data
  app/models/wb_extra.rb
  app/models/wb_extra/country_data.rb
  db/migrate/20171018141030_create_wb_extra_country_data.rb
  db/schema.rb
  spec/factories/world_bank_data.rb
Due: none

Create import wb extra task, test and fix factory
  app/services/import_wb_extra.rb
  lib/tasks/wb_extra.rake
  spec/factories/wb_extra_country_data.rb
  spec/services/import_wb_extra_spec.rb
Due: none

More style fixing
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/services/import_wb_extra.rb
  spec/controllers/api/v1/wb_extra_country_data_controller.rb
Due: none

Test wb extra country data controller
  spec/controllers/api/v1/wb_extra_country_data_controller.rb
Due: none

Making the dog happy
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/services/import_wb_extra.rb
Due: none

Update readme
  README.md
Due: none

Fix factory and route make method private
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  config/routes.rb
  spec/factories/wb_extra_country_data.rb
Due: none

Country data route, controller and serializer - Missing group by year
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/serializers/api/v1/wb_extra/country_data_serializer.rb
  config/routes.rb
Due: none

Howling the style
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/services/import_wb_extra.rb
  spec/controllers/api/v1/wb_extra_country_data_controller.rb
  spec/factories/wb_extra_country_data.rb
  spec/services/import_wb_extra_spec.rb
Due: none

Fix controller logic
  app/controllers/api/v1/wb_extra_country_data_controller.rb
Due: none

Fix style and specs
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  spec/controllers/api/v1/wb_extra_country_data_controller.rb
Due: none

Move filter logic to the model
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/models/wb_extra/country_data.rb
Due: none

Change gdp to lowercase and year to int. style routes
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/models/wb_extra/country_data.rb
  app/serializers/api/v1/wb_extra/country_data_serializer.rb
  app/services/import_wb_extra.rb
  config/routes.rb
  db/migrate/20171018141030_create_wb_extra_country_data.rb
  spec/factories/wb_extra_country_data.rb
Due: none

Add wb_extra import task to the main import task
  lib/tasks/db.rake
Due: none

Bone to the hound
  app/controllers/api/v1/wb_extra_country_data_controller.rb
  app/models/wb_extra/country_data.rb
  app/services/import_wb_extra.rb
Due: none

Fix tasks file
  lib/tasks/db.rake
Due: none

Fix breaking tests
  app/services/import_wb_extra.rb
Due: none

Add calculation dropdown and style
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-selectors.js
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions.js
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix ghg emissions style
  app/javascript/app/components/country-ghg-emissions/country-ghg-emissions-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Change pop and gdp to bigint, remove extra import task
  config/routes.rb
  db/migrate/20171018141030_create_wb_extra_country_data.rb
  db/schema.rb
  lib/tasks/db.rake
  spec/factories/wb_extra_country_data.rb
Due: none

add underscores in factories
  spec/factories/wb_extra_country_data.rb
Due: none

Make rubocop happy
  app/controllers/api/v1/ndc_sdgs_controller.rb
  app/models/ndc.rb
  app/serializers/api/v1/ndc_sdg/goal_overview_serializer.rb
  app/serializers/api/v1/ndc_sdg/ndc_serializer.rb
  app/serializers/api/v1/ndc_sdg/sdgs_serializer.rb
  app/serializers/api/v1/ndc_sdg/target_serializer.rb
Due: none

Remove unused method
  app/serializers/api/v1/ndc_sdg/ndc_serializer.rb
Due: none
