Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add document to link and always show all buttons
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix warning
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Taller table
  app/javascript/app/components/ndcs/lts-explore-table/lts-explore-table-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-table/ndcs-explore-table-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix parties count
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add bold style to options with data
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-country/lts-country-selectors.js
  app/javascript/app/pages/lts-country/lts-country-styles.scss
  app/javascript/app/pages/lts-country/lts-country.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show only english documents on the dropdown
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Explore LTS/NDCs: show dropdown tooltip only when value longer than 14 characters
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-explore-map/ndcs-explore-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove isEUUSubmitted as it always be submitted from now on
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update emissions donut chart adding EU data
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change the summary phrasing
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove repeated clause
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add new ghg feature flag
  .env.sample
  Dockerfile
  Jenkinsfile
Due: none

Add Data zoom chart
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-component.js
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add draggable handlers and calculate year
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-component.js
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.scss
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix stylew
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-component.js
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

sync documents with the right slug
  app/models/ndc.rb
  app/services/import_indc.rb
Due: none

Move ghg component to hooks
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-component.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix remove filter and doc data
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-actions.js
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-selectors.js
  app/javascript/app/providers/documents-provider/documents-provider-reducers.js
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix URL param
  app/javascript/app/components/ndcs/ndcs-country-accordion/ndcs-country-accordion-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add handle
  app/javascript/app/assets/icons/handle.svg
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-component.js
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.scss
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add throttle and remove steps
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-component.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add grab cursor
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Update lts metadata slug
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-styles.scss
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change country lts indicators
  app/javascript/app/components/country/country-lts-overview/country-lts-overview-component.jsx
  app/javascript/app/components/country/country-lts-overview/country-lts-overview-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update tooltip and fix table names underline
  app/javascript/app/components/ndcs/shared/donut-tooltip/donut-tooltip.jsx
  app/javascript/app/styles/themes/table/explore-table-theme.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add last indicator slug and answers
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
  app/javascript/app/components/ndcs/ndcs-overview-section/question-card/question-card-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move Data Zoom and tweak styles
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.scss
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move logic to container
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-component.jsx
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fixe issues with importing net zero tracker indicators
  app/services/import_indc.rb
Due: none

Create function for container. Fix warning
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom-component.jsx
  app/javascript/app/components/ghg-emissions/data-zoom/data-zoom.js
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move logic to container
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fixed missing build-arg
  Jenkinsfile
Due: none

Add checkbox and filter paths
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-component.jsx
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map-selectors.js
  app/javascript/app/components/ndcs/lts-explore-map/lts-explore-map.js
  app/javascript/app/styles/themes/checkbox/blue-checkbox.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Linting
  app/javascript/app/styles/themes/checkbox/blue-checkbox.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Upgrade travis postgresql
  .travis.yml
Due: none

reimport ndc_sdg_targets as well, otherwise they don't work
  app/services/import_ndc_texts.rb
Due: none

postgres service missing
  .travis.yml
Due: none

rename postgres to the right name
  .travis.yml
Due: none

upgrade postgresql
  .travis.yml
Due: none

Change os version
  .travis.yml
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
