Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update intro-section-component.jsx
  app/javascript/app/pages/home/intro-section/intro-section-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update ndcs-enhancements-2025-component.jsx
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Merge pull request #1750 from ClimateWatch-Vizzuality/wri-text-092225
  app/javascript/app/pages/home/intro-section/intro-section-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Switch to official NodeJS distribution
  Dockerfile
Due: none

Update docs
  _docs/dev/architecture/index.md
  _docs/domain-description.md
  _docs/import-and-rake-tasks.md
  _docs/release.md
Due: none

fix: chart type
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  public/visualizations/per-capita-charts-2019/index.html
  public/visualizations/sunburst-world-emitters-2022/index.html
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

rewording, default chart type GHGemissions
  app/javascript/app/components/abbr-replace/abbr-replace-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/components/country/country-emission-drivers/country-emission-drivers-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-actions.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

defaultIso to WORLD, ndc tracker
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-actions.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/selectors.js
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

LULUCF rewording
  Gemfile
  Gemfile.lock
  app/javascript/app/components/abbr-replace/abbr-replace-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/components/country/country-emission-drivers/country-emission-drivers-component.jsx
  app/javascript/app/components/country/country-ghg-map/country-ghg-map-actions.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/pages/country/country-header/country-header-selectors.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider-actions.js
  app/javascript/app/providers/countries-documents-provider/countries-documents-provider-actions.js
  app/javascript/app/providers/ghg-emissions-meta-provider/ghg-emissions-meta-provider-actions.js
  app/javascript/app/providers/ndcs-2025-comparison-provider/ndcs-2025-comparison-provider-actions.js
  app/javascript/app/providers/socioeconomics-provider/socioeconomics-provider-actions.js
  app/javascript/app/styles/constants.js
  app/javascript/app/utils/ghg-emissions.js
  config/webpack/development.js
  public/visualizations/per-capita-charts-2019/index.html
  public/visualizations/sunburst-world-emitters-2022/index.html
  public/visualizations/top-emitters-2018/circle_state_config.htm
  public/visualizations/top-emitters-2018/circle_state_config_german.htm
  spec/services/import_historical_emissions_spec.rb
  spec/support/schemas/api/v1/data/historical_emissions.json
  spec/support/schemas/api/v1/data/historical_emissions_sectors.json
  spec/support/shared_contexts/historical_emissions/sectors.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

rewording
  Gemfile
  Gemfile.lock
  app/javascript/app/components/country/country-emission-drivers/country-emission-drivers-component.jsx
  app/javascript/app/components/country/country-ghg-map/country-ghg-map-actions.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/emission-pathways-graph/emission-pathways-graph-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/pages/country/country-header/country-header-selectors.js
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
  app/javascript/app/styles/constants.js
  config/webpack/development.js
  public/visualizations/top-emitters-2018/circle_state_config.htm
  public/visualizations/top-emitters-2018/circle_state_config_german.htm
  spec/services/import_historical_emissions_spec.rb
  spec/support/schemas/api/v1/data/historical_emissions_sectors.json
  spec/support/shared_contexts/historical_emissions/sectors.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

runner update
  .github/workflows/frontend tests.yml
  .github/workflows/tests.yml
Due: none

workflow update
  .github/workflows/tests.yml
Due: none

workflow update
  .github/workflows/frontend tests.yml
Due: none

gems added
  Gemfile
Due: none

gemfile.lock update
  Gemfile.lock
Due: none

unused code removed
  app/javascript/app/components/abbr-replace/abbr-replace-data.js
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/components/country/country-emission-drivers/country-emission-drivers-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-country-breakdown/country-breakdown/component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/card-pie-chart-component.jsx
  app/javascript/app/components/sectors-agriculture/drivers-of-emissions/card-pie-chart/pie-chart-selectors.js
  app/javascript/app/data/constants.js
  app/javascript/app/data/data-explorer-constants.js
  app/javascript/app/pages/country/country-header/country-header-selectors.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
  app/javascript/app/providers/agriculture-countries-context-provider/agriculture-countries-context-provider-actions.js
  app/javascript/app/providers/ghg-emissions-meta-provider/ghg-emissions-meta-provider-actions.js
  app/javascript/app/providers/ndcs-2025-comparison-provider/ndcs-2025-comparison-provider-actions.js
  app/javascript/app/providers/socioeconomics-provider/socioeconomics-provider-actions.js
  spec/services/import_historical_emissions_spec.rb
  spec/support/schemas/api/v1/data/historical_emissions_sectors.json
  spec/support/shared_contexts/historical_emissions/sectors.rb
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

LUCF to LULUCF
  app/javascript/app/data/constants.js
  app/javascript/app/pages/sectors-agriculture/sectors-agricuture-selectors.js
  public/visualizations/per-capita-charts-2019/index.html
  public/visualizations/sunburst-world-emitters-2022/index.html
  public/visualizations/top-emitters-2018/circle_state_config.htm
  public/visualizations/top-emitters-2018/circle_state_config_german.htm
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

gems update
  Gemfile
  Gemfile.lock
  _docs/dev/api.md
  app/controllers/api/v1/data/ndc_sdg_controller.rb
Due: none

url link removed
  app/controllers/api/v1/data/ndc_sdg_controller.rb
Due: none

Add rescue and logging for failing endpoint
  Gemfile.lock
  app/controllers/api/v1/ndc_documents_controller.rb
  app/serializers/api/v1/indc/countries_documents_serializer.rb
  app/services/single_record_fetcher.rb
Due: none

Try to recover from failed cached responses
  app/controllers/api/v1/ndc_documents_controller.rb
  app/services/single_record_fetcher.rb
Due: none

Add rescue and logging for failing endpoint
  app/controllers/api/v1/ndc_documents_controller.rb
  app/serializers/api/v1/indc/countries_documents_serializer.rb
  app/services/single_record_fetcher.rb
Due: none

Update ndcs-explore-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Mengping patch text 01272026 (#1755)
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

US amendments
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/map-legend/map-legend-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map-selectors.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-map/ndcs-enhancements-2025-map.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-table/ndcs-enhancements-2025-table.js
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/shared/selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

US amendments - Country page intro description
  app/javascript/app/pages/country/country-header/country-header-selectors.js
  app/javascript/app/pages/country/country-header/country-header-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

US amendments - Skip AbbrReplace from country page intro (US extended)
  app/javascript/app/pages/country/country-header/country-header-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

US amendments - Tweak NDC tracker GHG Emissions breakdown
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

US amendments - Add date to country specific description
  app/javascript/app/pages/country/country-header/country-header-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

US amendments - Adjust styling for country NDC US note
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-component.jsx
  app/javascript/app/components/country/country-ndc-overview/country-ndc-overview-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

US amendments - Adjust NDC Tracker GHG bar color
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update ndcs-enhancements-2025-component.jsx (#1756)
  app/javascript/app/pages/ndcs-enhancements-2025/ndcs-enhancements-2025-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

FIX: exclude USA from country count
  app/javascript/app/components/ndcs/ndcs-enhancements-2025-tracker-chart/ndcs-enhancements-2025-tracker-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
