Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Eliminate fill inside sidebar-close svg
  app/javascript/app/assets/icons/hamburger.svg
  app/javascript/app/assets/icons/sidebar-close.svg
  app/javascript/app/components/hamburger/hamburger-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Include iframe resizer in contained version
  app/controllers/application_controller.rb
  app/views/layouts/application.html.erb
  package-lock.json
Due: none

Connected navbar with store
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile.js
  app/javascript/app/layouts/app/app-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update subcategory and extract defaults to constant
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Open table options select on mouse enter
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Include touch event for mobile
  app/javascript/app/components/table/table-component.jsx
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Always start graph with min value instead of 0
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Rearranged navbarMobile structure
  app/javascript/app/components/hamburger/hamburger-initial-state.js
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/navbar/navbar-component.jsx
  app/javascript/app/components/navbar/navbar-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Set grid position for latest element in ie
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-styles.scss
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Hide t in the yaxis and label unless absolute value is selected
  app/javascript/app/components/charts/line/line-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add contact component
  app/javascript/app/components/contact/contact-component.jsx
  app/javascript/app/components/contact/contact-styles.scss
  app/javascript/app/components/contact/contact.js
  app/javascript/app/components/footer/footer-component.jsx
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add second best subcategory
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update responsive component to handle tablet only scenarios
  app/javascript/app/components/hamburger/hamburger-component.jsx
  app/javascript/app/components/hamburger/hamburger-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/responsive/responsive.js
  app/javascript/app/components/tools-nav/tools-nav-component.jsx
  app/javascript/app/layouts/app/app-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix temporal line in line graph
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove unsupported viewport meta tag
  app/views/layouts/application.html.erb
Due: none

Anchor gradient color prop
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Move header gradient to its own component
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/components/header/header-styles.scss
  app/javascript/app/components/header/header.js
  app/javascript/app/components/intro/intro-component.jsx
  app/javascript/app/pages/about/about-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use gradient color from routes config
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update navbarmobile styles
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/layouts/app/app-styles.scss
  app/javascript/app/layouts/app/app.js
  app/javascript/app/styles/base.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Refactor Modal and adjust to responsive, fixed on mobile
  app/javascript/app/components/emission-pathways/emission-pathways-overview/modal-overview/modal-overview-component.jsx
  app/javascript/app/components/modal-metadata/modal-metadata-component.jsx
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal-header-component.jsx
  app/javascript/app/components/modal/modal-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix width and add fakeHeader to adjust content position
  app/javascript/app/components/modal/modal-component.jsx
  app/javascript/app/components/modal/modal-header-component.jsx
  app/javascript/app/components/modal/modal-styles.scss
  app/javascript/app/components/tab/tab-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Create nav with child menu component
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-component.jsx
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-styles.scss
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update logos
  app/javascript/app/assets/partners/google.png
  app/javascript/app/assets/partners/vizzuality.png
  app/javascript/app/components/about/about-partners/about-partners-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add closing menu actions to nav and navbar mobile
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/nav/nav.js
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-styles.scss
  app/javascript/app/components/navbar-mobile/navbar-mobile.js
  app/javascript/app/components/simple-menu/simple-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Include text description and button link
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-table-menu/emission-pathways-table-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add scenario overview, abstract sanitizer and remove empty fields from modal
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-selectors.js
  app/javascript/app/components/table/cell-renderer-component.jsx
  app/javascript/app/routes/app-routes/emission-pathways-scenario-sections/emission-pathways-scenario-sections.js
  app/javascript/app/utils/utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add some layout styles to anchorNav
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Restructure ndcs component to adjust to new styles
  app/javascript/app/pages/ndcs/ndcs-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

allow CORS on the API
  app/controllers/api/v1/api_controller.rb
Due: none

Add maintainer data to scenario overview
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-overview/emission-pathways-overview.js
  app/javascript/app/pages/emission-pathways-scenario/emission-pathways-scenario-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

use an enviroment variable to set the CORS header
  .env.sample
  app/controllers/api/v1/api_controller.rb
Due: none

Include cors env variables
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
Due: none

Use same layout variable in anchor
  app/javascript/app/components/anchor-nav/anchor-nav-component.jsx
  app/javascript/app/components/anchor-nav/anchor-nav-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add sanitizer for dropdown options and make sure location is an id
  app/javascript/app/components/dropdown/dropdown.js
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix camelcase warnings
  app/javascript/app/components/contact/contact-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix compilation errors
  app/javascript/app/components/contact/contact-component.jsx
  app/javascript/app/components/navbar-mobile/navbar-mobile-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Adress PR coments and corrections
  app/javascript/app/components/hamburger/hamburger-component.jsx
  app/javascript/app/components/nav/nav-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Uppercased child menu items
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-component.jsx
  app/javascript/app/components/navbar-mobile/nav-with-child-menu/nav-with-child-menu-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adds description to viz, validates empty fields, display form errors
  app/javascript/app/components/fieldset/fieldset-component.jsx
  app/javascript/app/components/fieldset/fieldset-styles.scss
  app/javascript/app/components/fieldset/fieldset.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-initial-state.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-lenses.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
  package.json
  yarn.lock
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Adds description to viz, validates empty fields, display form errors
  app/javascript/app/components/fieldset/fieldset-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
