Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Allow more tags than provided colors
  app/javascript/app/utils/graphs.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Allow pointer events on chart
  app/javascript/app/components/my-climate-watch/viz-creator/components/render-chart/render-chart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Create theme for tooltip
  app/javascript/app/styles/themes/chart-tooltip/chart-tooltip.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Create tooltip component
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tooltip/tooltip-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tooltip/tooltip.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add tooltip to line chart
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add yLabel and update title - WIP
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

In the first chart you can only select one indicator
  public/mocks/datasets.json
Due: none

Add tooltip config
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tooltip/tooltip-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add tooltip to stack bar chart
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Export unit in line chart config
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix vertical label and add label for unit
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Delete tooltip styles to use theme
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-component.jsx
  app/javascript/app/components/charts/tooltip-chart/tooltip-chart-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add tooltip to pie chart
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add mock unit
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change tooltip html
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tooltip/tooltip-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add styles to cursor
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Avoid tooltip display on small
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update custom scroll script src
  app/views/layouts/application.html.erb
Due: none

Abstract labels, fix stack-bar
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/labels.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add units to line and stack
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add payload to render values
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tooltip/tooltip-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix non espGraph
  app/javascript/app/components/charts/line/line-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Put labels in horizontal stacked bars
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update tooltip config on charts
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Sort tooltip values
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/tooltip/tooltip-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add min with to avoid values breaking
  app/javascript/app/styles/themes/chart-tooltip/chart-tooltip.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix editing instead of creating visualization
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix horizontal bars and margins
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add composite name and definition to dynamic heigh
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add label to pie charts
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Clear description when creating a new visualization
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix stacked bar labels and line small visualization
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/stack-bar/stack-bar-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Move label and unit to chart config
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/line/line-config.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update rows height and full text categories
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
  app/javascript/app/components/table/table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update gemfile.lock dependency
  Gemfile.lock
Due: none

Add fulltext categories to scenario and model tables
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-model-table/emission-pathways-model-table.js
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table-selectors.js
  app/javascript/app/components/emission-pathways/emission-pathways-scenario-table/emission-pathways-scenario-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Refactor labels
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/labels.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/labels/label-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/labels/labels-component.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/labels/labels.js
  app/javascript/app/components/my-climate-watch/viz-creator/components/charts/pie/pie-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Change name of selector
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update texts for visualization editor
  public/mocks/datasets.json
Due: none

Add policy coverage on model
  app/javascript/app/components/emission-pathways/emission-pathways-table/emission-pathways-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
