Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Fix search and list styles
  app/javascript/app/assets/icons/search.svg
  app/javascript/app/components/results-list/results-list-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix autocomplete selector
  app/javascript/app/components/autocomplete-search/autocomplete-search-selectors.js
  app/javascript/app/components/autocomplete-search/autocomplete-search.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Country selector styles
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map-styles.scss
  app/javascript/app/components/nav/nav-component.jsx
  app/javascript/app/components/nav/nav-styles.scss
  app/javascript/app/components/results-list/results-list-component.jsx
  app/javascript/app/components/search/search-component.jsx
  app/javascript/app/pages/home/home-styles.scss
  app/javascript/app/styles/settings.scss
  app/javascript/app/styles/themes/results-list-light.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show country on list hover
  app/javascript/app/components/countries-select/countries-select-actions.js
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-reducers.js
  app/javascript/app/components/countries-select/countries-select-selectors.js
  app/javascript/app/components/countries-select/countries-select.js
  app/javascript/app/components/results-list/results-list-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix country-select-styles layout
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix countries link path
  app/javascript/app/components/countries-select/countries-select.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Ndc page boilerplate
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/components/header/header-styles.scss
  app/javascript/app/pages/ndc/ndc-component.jsx
  app/javascript/app/pages/ndc/ndc-styles.scss
  app/javascript/app/pages/ndc/ndc.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

set header for ndcs country pages
  app/javascript/app/components/button/button-styles.scss
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

NDC nested routes
  app/javascript/app/components/ndc-map/ndc-map-component.jsx
  app/javascript/app/components/ndc-map/ndc-map-styles.scss
  app/javascript/app/components/ndc-map/ndc-map.js
  app/javascript/app/components/ndc-table/ndc-table-component.jsx
  app/javascript/app/components/ndc-table/ndc-table-styles.scss
  app/javascript/app/components/ndc-table/ndc-table.js
  app/javascript/app/components/results-list/results-list-component.jsx
  app/javascript/app/pages/ndc/ndc-component.jsx
  app/javascript/app/pages/ndc/ndc.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

move data fetch to container
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fi map styles
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
  app/javascript/app/components/map/map-component.jsx
  app/javascript/app/components/map/map-styles.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add initial data reducers
  app/javascript/app/actions.js
  app/javascript/app/components/data/data-actions.js
  app/javascript/app/components/data/data-component.jsx
  app/javascript/app/components/data/data-reducers.js
  app/javascript/app/components/data/data.js
  app/javascript/app/data/countries.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/data/iso-countries.js
  app/javascript/app/pages/container/container.jsx
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

fixes: icon color, move logic to selectors, change button square to bool
  app/javascript/app/assets/icons/back.svg
  app/javascript/app/components/button/button-component.jsx
  app/javascript/app/components/intro/intro-styles.scss
  app/javascript/app/pages/home/home-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country-styles.scss
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Get ndcs data
  .eslintrc.yml
  app/javascript/app/actions.js
  app/javascript/app/components/ndc-map/ndc-map.js
  app/javascript/app/components/ndc-table/ndc-table.js
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/components/ndcs-map/ndcs-map.js
  app/javascript/app/components/ndcs-table/ndcs-table-component.jsx
  app/javascript/app/components/ndcs-table/ndcs-table-styles.scss
  app/javascript/app/components/ndcs-table/ndcs-table.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/data/ndc-country.json
  app/javascript/app/data/ndcs.json
  app/javascript/app/pages/ndc-country/ndc-country-actions.js
  app/javascript/app/pages/ndc/ndc.js
  app/javascript/app/pages/ndcs/ndcs-actions.js
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/pages/ndcs/ndcs-reducers.js
  app/javascript/app/pages/ndcs/ndcs-styles.scss
  app/javascript/app/pages/ndcs/ndcs.js
  app/javascript/app/reducers.js
  app/javascript/app/routes.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix item list zindex
  app/javascript/app/components/results-list/results-list-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Fix country select height
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

create data provider for countries
  app/javascript/app/actions.js
  app/javascript/app/components/data/data-component.jsx
  app/javascript/app/components/data/data-reducers.js
  app/javascript/app/components/data/data.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/pages/container/container-component.jsx
  app/javascript/app/pages/container/container.js
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country.js
  app/javascript/app/providers/countries-provider/countries-provider-actions.js
  app/javascript/app/providers/countries-provider/countries-provider-reducers.js
  app/javascript/app/providers/countries-provider/countries-provider.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Dropdown labels and buttons styles
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/dropdown/dropdown-component.jsx
  app/javascript/app/components/dropdown/dropdown-styles.scss
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs-map/ndcs-map-styles.scss
  app/javascript/app/styles/settings.scss
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: use reselect for the country filtering
  app/javascript/app/pages/ndc-country/ndc-country-selectors.js
  app/javascript/app/pages/ndc-country/ndc-country.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix imports
  app/javascript/app/actions.js
  app/javascript/app/data/initial-state.js
  app/javascript/app/reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Header size by props
  app/javascript/app/components/header/header-component.jsx
  app/javascript/app/components/header/header-styles.scss
  app/javascript/app/pages/ndcs/ndcs-component.jsx
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Added endpoint /api/v1/countries
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/api_controller.rb
  app/controllers/api/v1/countries_controller.rb
  app/serializers/api/v1/location_serializer.rb
  config/routes.rb
  spec/controllers/api/v1/countries_controller_spec.rb
Due: none

Location import process now imports topojson
  app/services/import_locations.rb
  db/migrate/20170823145414_add_topojson_to_location.rb
  db/schema.rb
Due: none

Optionally include topojson info
  app/controllers/api/v1/countries_controller.rb
  app/serializers/api/v1/location_serializer.rb
  app/services/import_locations.rb
Due: none

Create migrations and models for HE data
  app/models/he_data_source.rb
  app/models/he_gas.rb
  app/models/he_record.rb
  app/models/he_sector.rb
  app/models/location.rb
  config/initializers/inflections.rb
  db/migrate/20170822104417_create_he_data_sources.rb
  db/migrate/20170822104454_create_he_sectors.rb
  db/migrate/20170822105304_create_he_gases.rb
  db/migrate/20170822105358_create_he_records.rb
  db/schema.rb
  spec/factories/data_sources.rb
  spec/factories/gases.rb
  spec/factories/historical_emissions.rb
  spec/factories/sectors.rb
  spec/models/data_source_spec.rb
  spec/models/gas_spec.rb
  spec/models/historical_emission_spec.rb
  spec/models/sector_spec.rb
Due: none

Rake task to import HE data
  app/models/data_source.rb
  app/models/gas.rb
  app/models/he_data_source.rb
  app/models/he_gas.rb
  app/models/he_record.rb
  app/models/he_sector.rb
  app/models/historical_emission.rb
  app/models/location.rb
  app/models/sector.rb
  app/services/import_historical_emissions.rb
  db/migrate/20170822104417_create_he_data_sources.rb
  db/migrate/20170822104454_create_he_sectors.rb
  db/migrate/20170822105304_create_he_gases.rb
  db/migrate/20170822105358_create_he_records.rb
  db/migrate/20170822134417_create_data_sources.rb
  db/migrate/20170822134454_create_sectors.rb
  db/migrate/20170822135304_create_gases.rb
  db/migrate/20170822135358_create_historical_emissions.rb
  db/schema.rb
  lib/tasks/historical_emissions.rake
  spec/factories/data_sources.rb
  spec/factories/gases.rb
  spec/factories/historical_emissions.rb
  spec/factories/sectors.rb
Due: none

Import year and value as number types
  app/services/import_historical_emissions.rb
Due: none

Populate filters
  app/javascript/app/components/ndcs-map/ndcs-map-component.jsx
  app/javascript/app/components/ndcs-map/ndcs-map-selectors.js
  app/javascript/app/components/ndcs-map/ndcs-map.js
  app/javascript/app/pages/ndcs/ndcs-reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Added spec for models
  app/models/data_source.rb
  app/models/gas.rb
  app/models/sector.rb
  spec/factories/data_sources.rb
  spec/factories/gases.rb
  spec/factories/historical_emissions.rb
  spec/factories/sectors.rb
  spec/models/data_source_spec.rb
  spec/models/gas_spec.rb
  spec/models/historical_emission_spec.rb
  spec/models/sector_spec.rb
Due: none

Add spec to import process
  app/services/import_historical_emissions.rb
  spec/rails_helper.rb
  spec/services/import_historical_emissions_spec.rb
  spec/services/import_location_members_spec.rb
  spec/services/import_locations_spec.rb
  spec/services/import_ndc_content_spec.rb
Due: none

add docker
  Dockerfile-dev
  Jenkinsfile
  docker-compose.yml
  k8s/production/deployment.yaml
  k8s/staging/deployment.yaml
  yarn.lock
Due: none

Update readme with docker
  README.md
Due: none

remove unnecesary arg env
  Dockerfile
  Dockerfile-dev
  docker-compose.yml
Due: none

Added endpoint to render html content of an NDC file
  Gemfile
  Gemfile.lock
  app/controllers/base_controller.rb
  app/controllers/ndcs_controller.rb
  config/application.rb
  config/initializers/aws.rb
  config/routes.rb
  lib/modules/climate_watch_render.rb
  spec/controllers/nds_controller_spec.rb
Due: none

Import & serve html version of NDC
  Gemfile
  Gemfile.lock
  app/controllers/ndcs_controller.rb
  app/services/import_ndc_content.rb
  lib/modules/climate_watch_render.rb
  spec/controllers/nds_controller_spec.rb
  spec/services/import_ndc_content_spec.rb
Due: none

Amended route and applied consistent naming to avoid confusion with NDC overviews
  app/controllers/ndc_full_texts_controller.rb
  app/services/import_ndc_full_texts.rb
  config/routes.rb
  lib/tasks/ndc_content.rake
  lib/tasks/ndcs.rake
  spec/controllers/ndc_full_texts_controller_spec.rb
  spec/services/import_ndc_full_texts_spec.rb
Due: none

Renamed content to full_text in ndcs table
  app/controllers/ndc_full_texts_controller.rb
  app/services/import_ndc_full_texts.rb
  db/migrate/20170824095252_rename_content_to_full_text_in_ndcs.rb
  db/schema.rb
  spec/controllers/ndc_full_texts_controller_spec.rb
  spec/factories/ndcs.rb
Due: none

Return 404 status if iso code not recognised
  app/controllers/ndc_full_texts_controller.rb
  spec/controllers/ndc_full_texts_controller_spec.rb
Due: none

move initial state to data
  app/javascript/app/data/countries.json
  app/javascript/app/providers/countries-provider/countries-provider-reducers.js
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix

Fix styles in production
  Dockerfile
  app/views/layouts/application.html.erb
  config/webpack/loaders/sass.js
  config/webpack/production.js
  docker-compose-pro.yml
Due: prettier --parser flow --write, eslint --ext .js --ext .jsx --fix
