Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

add key visualizations migration, model and importer
  app/admin/global_cw_platform/key_visualizations.rb
  app/models/key_visualization.rb
  app/services/csv_importer_utils.rb
  app/services/import_key_visualizations.rb
  config/data_uploader.yml
  db/migrate/20201023101133_create_key_visualizations.rb
  db/structure.sql
  lib/tasks/key_visualizations.rake
Due: none

add key visualizations controller
  app/controllers/api/v1/key_visualizations_controller.rb
  config/routes.rb
Due: none

add specs
  app/models/key_visualization.rb
  spec/controllers/api/v1/key_visualizations_controller_spec.rb
  spec/factories/key_visualizations.rb
  spec/models/key_visualization_spec.rb
  spec/services/import_key_visualizations_spec.rb
Due: none

do not forget to import key visualizations along the rest of the data
  lib/tasks/db.rake
Due: none

strip n/a from parsed text
  app/services/import_key_visualizations.rb
Due: none

better n/a detection
  app/services/import_key_visualizations.rb
Due: none

fix reset sequence
  app/services/csv_importer_utils.rb
  app/services/import_key_visualizations.rb
Due: none

test commit to revise the intro text for net-zero
  app/javascript/app/pages/net-zero/net-zero-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Updated .gitignore for IntelliJ-based editors.
  .gitignore
Due: none

Scaffolding for KeyVisualizations.
  app/javascript/app/data/SEO.js
  app/javascript/app/pages/key-visualizations/key-visualizations-component.jsx
  app/javascript/app/pages/key-visualizations/key-visualizations-styles.scss
  app/javascript/app/pages/key-visualizations/key-visualizations.js
  app/javascript/app/routes/app-routes/NDCS-routes/NDCS-routes.js
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use label source for submitted second NDC
  app/javascript/app/components/ndcs/ndcs-overview-section/ndcs-overview-section-data.js
  app/javascript/app/components/ndcs/ndcs-overview-section/question-card/question-card-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix sorting for date in 2020 page table
  app/javascript/app/components/ndcs/ndcs-enhancements-table/ndcs-enhancements-table-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Started on KeyVisualizationsTable.
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-styles.scss
  app/javascript/app/components/key-visualizations/key-visualizations-table.js
  app/javascript/app/pages/key-visualizations/key-visualizations-component.jsx
  app/javascript/app/pages/key-visualizations/key-visualizations-styles.scss
  config/database.yml
  db/secondbase/structure.sql
  db/structure.sql
  package-lock.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Started on provider.
  app/javascript/app/providers/key-visualizations-provider/key-visualizations-actions.js
  app/javascript/app/providers/key-visualizations-provider/key-visualizations-provider.js
  app/javascript/app/providers/key-visualizations-provider/key-visualizations-reducers.js
  app/javascript/app/reducers.js
  config/database.yml
  db/secondbase/structure.sql
  db/structure.sql
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Revert.
  package-lock.json
Due: none

Selectors.
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-selectors.js
  app/javascript/app/components/key-visualizations/key-visualizations-table.js
  app/javascript/app/pages/key-visualizations/key-visualizations-component.jsx
  app/javascript/app/providers/key-visualizations-provider/key-visualizations-actions.js
  app/javascript/app/providers/key-visualizations-provider/key-visualizations-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

revise a small typo in compare all intro text
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

change net-zero intro text
  app/javascript/app/pages/net-zero/net-zero-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add LTS/Net-zero FAQ text
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Dropdowns.
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-component.jsx
  app/javascript/app/components/key-visualizations/key-visualizations-table-selectors.js
  app/javascript/app/components/key-visualizations/key-visualizations-table-styles.scss
  app/javascript/app/components/key-visualizations/key-visualizations-table.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Typo.
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

typo in emissions module FAQ
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix FAQ
  app/javascript/app/components/about/about-faq/about-faq-data.js
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/routes/app-routes/about-routes/about-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fixing travis
  .travis.yml
Due: none

use new NET ZERO source code: ECIU
  app/services/import_indc.rb
Due: none

use net zero on the frontend
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
  app/javascript/app/components/ndcs/net-zero-table/net-zero-table-selectors.js
  app/javascript/app/pages/net-zero/net-zero-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

improving performance of importing indc data
  app/services/import_indc.rb
  lib/tasks/indc.rake
Due: none

remove temporary timelog from indc importer
  app/services/import_indc.rb
Due: none

comment about nz_ghg indicator
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add Covid info text and tooltip
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-component.jsx
  app/javascript/app/components/ndcs/ndcs-enhancements-viz/ndcs-enhancements-viz-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update FAQ text. Add dot outside the link
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Remove validation of population and gdp and update spec
  app/models/wb_extra/country_data.rb
  spec/services/import_wb_extra_spec.rb
Due: none

fix typo in FAQ per request
  app/javascript/app/components/about/about-faq/about-faq-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

We were double counting regions (counting the expanded region is not needed anymory)
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data-utils.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Refactor to extract function
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data-utils.js
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-data.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

use ndcs api to get single ndce_ghg indicator
  app/javascript/app/components/ndcs/net-zero-map/net-zero-map-selectors.js
  app/javascript/app/pages/net-zero/net-zero-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Change default to countries
  app/javascript/app/components/ghg-emissions/ghg-emissions-selectors/ghg-emissions-selectors-filters.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add new training question to form
  app/javascript/app/components/modal-download/modal-download-component.jsx
  app/javascript/app/components/modal-download/modal-download-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use just one component for SEO
  app/javascript/app/components/seo/seo-component.jsx
  app/javascript/app/components/seo/seo.js
  app/javascript/app/data/SEO.js
  app/javascript/app/layouts/app/app-component.jsx
  app/javascript/app/layouts/contained/contained-component.jsx
  app/javascript/app/pages/about/about-component.jsx
  app/javascript/app/pages/country/country-component.jsx
  app/javascript/app/pages/emission-pathways/emission-pathways-component.jsx
  app/javascript/app/pages/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/pages/lts-country/lts-country-component.jsx
  app/javascript/app/pages/lts-explore/lts-explore-component.jsx
  app/javascript/app/pages/ndc-compare-all-targets/ndc-compare-all-targets-component.jsx
  app/javascript/app/pages/ndc-country/ndc-country-component.jsx
  app/javascript/app/pages/ndc-overview/ndc-overview-component.jsx
  app/javascript/app/pages/ndc-sdg/ndc-sdg-component.jsx
  app/javascript/app/pages/ndcs-enhancements/ndcs-enhancements-component.jsx
  app/javascript/app/pages/ndcs-explore/ndcs-explore-component.jsx
  app/javascript/app/pages/net-zero/net-zero-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix
