Repository ClimateWatch-Vizzuality/climate-watch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Delete uneeded labels and update explorer intro title
  app/javascript/app/pages/ndcs/ndcs-component.jsx
  app/javascript/app/routes/app-routes/app-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix serializer
  app/controllers/api/v1/my_cw/visualizations_controller.rb
Due: none

remove hardcode color
  app/javascript/app/assets/icons/edit.svg
Due: none

disabled status improvements
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/button/button-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

MyVis component improvements (styles & isEmbed status)
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis/my-cw-vis-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis/my-cw-vis-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

allows to pass a className to the RenderChart component
  app/javascript/app/components/my-climate-watch/viz-creator/components/render-chart/render-chart-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adding the MyVisGraph component
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-actions.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-initial-state.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-reducers.js
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph.js
  app/javascript/app/reducers.js
  app/javascript/app/routes/embed-routes/embed-routes.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

get param from the url
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Cache refactor WIP
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Put the lighter shades at the end
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

keep the view with cards
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

remove unneeded component
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis/my-cw-vis-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis/my-cw-vis-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis/my-cw-vis.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

embed graph styles
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

mobile adjusts
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-styles.scss
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

mobile first fix
  app/javascript/app/components/my-climate-watch/my-visualisations/my-visualisations-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Removed old cache remains
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-cache.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Moved logic to reducers
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add cache functions to utils
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

button-group refactor (again)
  app/javascript/app/components/button-group/button-group-component.jsx
  app/javascript/app/components/compare/compare-ghg-chart/compare-ghg-chart-component.jsx
  app/javascript/app/components/country/country-ghg-emissions/country-ghg-emissions-component.jsx
  app/javascript/app/components/emission-pathways/emission-pathways-graph/emission-pathways-graph-component.jsx
  app/javascript/app/components/ghg-emissions/ghg-emissions-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/ndc-sdg/ndc-sdg-linkages-map/ndc-sdg-linkages-map-component.jsx
  app/javascript/app/components/ndcs/ndcs-map/ndcs-map-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

adding description with ellipsis
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-component.jsx
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-styles.scss
  package.json
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix typo
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-graph/my-cw-vis-graph-actions.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

fix chart margin
  app/javascript/app/components/my-climate-watch/my-visualisations/my-cw-vis-card/my-cw-vis-card-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add filtering logic to utils file
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add filtering to reducer
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Clean old logic from selectors
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add info text to lense filter config
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add tooltip to step 3 selectors
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

linter happiness
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Unify filtermodel func on multiple and single selections
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

add compare button
  app/javascript/app/components/countries-select/countries-select-component.jsx
  app/javascript/app/components/countries-select/countries-select-styles.scss
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add logic to avoid undefined properties on selected locations
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Small refactor of reducers
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-initial-state.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Add clear condition
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Ensure there are previous props on componentDidUpdate
  app/javascript/app/providers/ndc-content-overview-provider/ndc-content-overview-provider.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Update lense child building conditions
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Fix one more scenario
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Cache user selections when building visualisations
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/step-three.jsx
  app/javascript/app/components/my-climate-watch/viz-creator/components/steps/steps-styles.scss
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-actions.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-reducers.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-selectors.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator-utils.js
  app/javascript/app/components/my-climate-watch/viz-creator/viz-creator.js
  app/javascript/app/data/constants.js
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

force tick values on yAxis to show value 0
  app/javascript/app/components/charts/stacked-area/stacked-area-component.jsx
Due: prettier --parser flow --write --single-quote, eslint --ext .js --ext .jsx --fix

Create migration to add name and organization to users table
  db/migrate/20180611080520_add_name_and_organization_to_users.rb
Due: none

Apply migration
  db/structure.sql
Due: none

Path conditions:
  prettier --parser flow --write --single-quote: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
